Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

fix: add #nullable enable to WebApiAotFixture to resolve CS8632
  Tests/Opc.Ua.Aot.Tests/WebApiAotFixture.cs
Due: azure-pipelines.yml

PubSub diagnostics S1: opt-in transport capture seam
  Libraries/Opc.Ua.PubSub.Mqtt/DependencyInjection/MqttTransportServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttBrokerTransport.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttPubSubTransportFactory.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpPubSubTransportFactory.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/OpcUaPubSubBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/Transports/Capture/IPubSubCaptureObserver.cs
  Libraries/Opc.Ua.PubSub/Transports/Capture/IPubSubCaptureRegistry.cs
  Libraries/Opc.Ua.PubSub/Transports/Capture/PubSubCaptureContext.cs
  Libraries/Opc.Ua.PubSub/Transports/Capture/PubSubCaptureDirection.cs
  Libraries/Opc.Ua.PubSub/Transports/Capture/PubSubCaptureRegistry.cs
  Tests/Opc.Ua.PubSub.Tests/Transports/PubSubCaptureRegistryTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PubSub diagnostics S2 + MCP S6: capture library scaffold + PubSub MCP tools
  Applications/McpServer/Program.cs
  Applications/McpServer/Tools/PubSubActionTools.cs
  Applications/McpServer/Tools/PubSubKeyServiceTools.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/IPubSubCaptureSource.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/InProcessPubSubCaptureSource.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/PubSubCaptureFrame.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/PubSubCaptureSessionManager.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/PubSubKeyMaterial.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/NugetREADME.md
  Libraries/Opc.Ua.PubSub.Diagnostics/Opc.Ua.PubSub.Diagnostics.csproj
  Libraries/Opc.Ua.PubSub.Diagnostics/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.PubSub/Transports/Capture/PubSubCaptureContext.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(history): fix macOS post-test process hang by setting ShutdownDelay=0 in ServerFixture
  Tests/Opc.Ua.Client.TestFramework/ClientFixture.cs
  Tests/Opc.Ua.Server.TestFramework/ServerFixture.cs
Due: azure-pipelines.yml

PubSub diagnostics S3: offline dissection + pcap/json/text formats + tests
  Libraries/Opc.Ua.PubSub.Diagnostics/Dissection/PubSubDissectionResult.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Dissection/PubSubOfflineDissector.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Formats/PubSubJsonFormatter.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Formats/PubSubPcapWriter.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Formats/PubSubTextFormatter.cs
  Tests/Opc.Ua.PubSub.Diagnostics.Tests/Capture/InProcessPubSubCaptureSourceTests.cs
  Tests/Opc.Ua.PubSub.Diagnostics.Tests/Capture/PubSubKeyMaterialTests.cs
  Tests/Opc.Ua.PubSub.Diagnostics.Tests/Opc.Ua.PubSub.Diagnostics.Tests.csproj
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PubSub diagnostics S4 + S5: encrypted UADP decryption, SKS keys, DI/env auto-start
  Libraries/Opc.Ua.PubSub.Diagnostics/DependencyInjection/PubSubPcapEnvironmentAutoStartHostedService.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/DependencyInjection/PubSubPcapEnvironmentOptions.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/DependencyInjection/PubSubPcapEnvironmentVariableNames.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/DependencyInjection/PubSubPcapServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Dissection/CapturedKeyLogKeyResolver.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Dissection/IPubSubKeyResolver.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Dissection/PubSubOfflineDissector.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Dissection/SksKeyResolver.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/KeyLog/PubSubKeyLogReader.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/KeyLog/PubSubKeyLogWriter.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PubSub diagnostics S9 (docs): add Docs/PubSubDiagnostics.md
  Docs/PubSubDiagnostics.md
  Docs/README.md
  UA.slnx
Due: azure-pipelines.yml

PubSub diagnostics S8: MCP capture / dissection tools
  Applications/McpServer/Opc.Ua.Mcp.csproj
  Applications/McpServer/Program.cs
  Applications/McpServer/Tools/PubSubCaptureTools.cs
  Applications/McpServer/Tools/PubSubDecodeTools.cs
Due: azure-pipelines.yml

PubSub diagnostics S7 + S9: MCP publish/subscribe runtime + diagnostics coverage to 83.55%
  Applications/McpServer/Opc.Ua.Mcp.csproj
  Applications/McpServer/Program.cs
  Applications/McpServer/PubSubRuntimeManager.cs
  Applications/McpServer/Tools/PubSubRuntimeTools.cs
  Tests/Opc.Ua.PubSub.Diagnostics.Tests/Dissection/KeyResolverAndKeyLogTests.cs
  Tests/Opc.Ua.PubSub.Diagnostics.Tests/Dissection/PubSubOfflineDissectorTests.cs
  Tests/Opc.Ua.PubSub.Diagnostics.Tests/Formats/FormatterPcapAndDependencyInjectionTests.cs
Due: azure-pipelines.yml

[Server] Fix #3896: send full certificate chain when CA is in the issuer store (#3897)
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): two flaky-test fixes for build 14814
  Tests/Opc.Ua.History.Tests/AlarmEventCollector.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAcknowledgeTests.cs
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
Due: azure-pipelines.yml

fix
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server] Fix NRE in ActivateSession if Session times out before activation completes (#3844)
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

extend servercapabilities
  Applications/ConsoleReferenceServer/Ctt.ReferenceServer.Config.xml
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
Due: azure-pipelines.yml

cleanup
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Apply suggestions from code review
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests.cs
Due: azure-pipelines.yml

[Server] Fix #3896: send full certificate chain when CA is in the issuer store (1.5.x) (#3898)
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateTypesProviderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Bulk-write primitive numeric arrays and skip nesting guard for scalar variants
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(history-tests): bound Session.CloseAsync in OneTimeTearDown to prevent macOS post-test hang
  Tests/Opc.Ua.Client.TestFramework/TestFixture.cs
Due: azure-pipelines.yml

Make server session creation async instead of sync-over-async
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Apply suggestions from code review
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Potential fix for pull request finding
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3900 review feedback: capturing decorator, single MCP ref, docs merge
  Applications/McpServer/Opc.Ua.Mcp.csproj
  Applications/McpServer/PubSubRuntimeManager.cs
  Docs/Diagnostics.md
  Docs/McpServer.md
  Docs/PubSubDiagnostics.md
  Docs/README.md
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/CapturingPubSubTransport.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/CapturingPubSubTransportFactory.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/IPubSubCaptureObserver.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/IPubSubCaptureRegistry.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/InProcessPubSubCaptureSource.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/PubSubCaptureContext.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/PubSubCaptureDirection.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/PubSubCaptureFrame.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/PubSubCaptureRegistry.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Capture/PubSubCaptureSessionManager.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/DependencyInjection/PubSubPcapEnvironmentAutoStartHostedService.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/DependencyInjection/PubSubPcapServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Dissection/PubSubDissectionResult.cs
  Libraries/Opc.Ua.PubSub.Diagnostics/Formats/PubSubPcapWriter.cs
  Libraries/Opc.Ua.PubSub.Mqtt/DependencyInjection/MqttTransportServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttBrokerTransport.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttPubSubTransportFactory.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpPubSubTransportFactory.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/OpcUaPubSubBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/Transports/Capture/PubSubCaptureRegistry.cs
  Tests/Opc.Ua.PubSub.Diagnostics.Tests/Capture/CapturingPubSubTransportTests.cs
  Tests/Opc.Ua.PubSub.Diagnostics.Tests/Capture/PubSubCaptureRegistryTests.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Snapshot NodeId values during binary encoding
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Pool the in-memory JsonEncoder buffer instead of MemoryStream
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Reduce per-session allocations on activation path
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(pubsub-tests): increase WaitForAsync timeouts in FakeTimeProviderDrivesDeterministicSchedulingAsync
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
Due: azure-pipelines.yml

Address review: drop NodeIdSnapshot struct, fix OpaqueIdentifier typo
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(tests): add 15 s wall-clock watchdog to TestFixture session teardown
  Tests/Opc.Ua.Client.TestFramework/TestFixture.cs
Due: azure-pipelines.yml

MCP PubSub tools: drop redundant config wrappers, add discovery; plan Actions
  Applications/McpServer/Program.cs
  Applications/McpServer/PubSubRuntimeManager.cs
  Applications/McpServer/Tools/PubSubActionTools.cs
  Applications/McpServer/Tools/PubSubDiscoveryTools.cs
  Applications/McpServer/Tools/PubSubKeyServiceTools.cs
  Docs/McpServer.md
  Docs/PubSub.md
  Libraries/Opc.Ua.PubSub/Application/IPubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubDiscoveryRequest.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubDiscoveryResult.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Tests/Opc.Ua.PubSub.Tests/Application/PubSubDiscoveryTests.cs
  plans/28-pubsub-actions.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: add Benchmarks.md (2.0 vs 1.5.378 perf analysis + future work)
  Docs/Benchmarks.md
  Docs/README.md
Due: none

Docs: rewrite Benchmarks.md per review feedback
  Docs/Benchmarks.md
Due: none

PubSub Actions S1-S3: JSON + UADP action messages + PublishedAction source
  Libraries/Opc.Ua.PubSub/Application/PubSubApplicationBuilder.cs
  Libraries/Opc.Ua.PubSub/Configuration/PubSubConfigurationBuilder.cs
  Libraries/Opc.Ua.PubSub/DataSets/PublishedActionSource.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonActionNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/ExtendedFlags2EncodingMask.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionCoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionRequestMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionResponseMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDiscoveryCoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpNetworkMessageType.cs
  Tests/Opc.Ua.PubSub.Tests/Application/PubSubApplicationBuilderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubConfigurationBuilderPublishedActionTests.cs
  Tests/Opc.Ua.PubSub.Tests/DataSets/PublishedActionSourceTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonActionNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpActionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: note higher binary-decode allocation on net48/netstandard2.0
  Docs/Benchmarks.md
Due: none

PubSub Actions S4: requester/responder runtime + correlation
  Libraries/Opc.Ua.PubSub/Application/DelegatePubSubActionHandler.cs
  Libraries/Opc.Ua.PubSub/Application/IPubSubActionHandler.cs
  Libraries/Opc.Ua.PubSub/Application/IPubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubActionHandlerResult.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubActionInvocation.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubActionRequest.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubActionResponse.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubActionTarget.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Connections/IPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Tests/Opc.Ua.PubSub.Tests/Application/PubSubActionRuntimeTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Measure session lifecycle without endpoint discovery
  Tests/Opc.Ua.Sessions.Tests/SecurityPolicyBenchmarks.cs
Due: azure-pipelines.yml

Pool external JsonEncoder writers
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Encoders.Tests/JsonEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Cache DataValue fields during binary encode
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
