Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Add benchmark for services under varied Security Policies
  Tests/Opc.Ua.Client.Tests/SecurityPolicyBenchmarks.cs
Due: azure-pipelines.yml

Split in Latency and Throughput
  Tests/Opc.Ua.Client.Tests/SecurityPolicyBenchmarks.cs
Due: azure-pipelines.yml

Normalize distinguished name field abbreviations for platform compatibility of attribute State/ProvinceName
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

mark TestFixture Explicit
  Tests/Opc.Ua.Client.Tests/SecurityPolicyBenchmarks.cs
Due: azure-pipelines.yml

Fix warning ca1845
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

netstandard2.1 doesn’t support string.Concat with spans.
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add support for SessionTransferToken. Removed obsolete SoftwareCertificate code.
  Applications/ConsoleReferenceClient/RunTest.cs
  Applications/ConsoleReferenceClient/generate_user_certificate.ps1
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/ISession.cs
  Libraries/Opc.Ua.Server/Session/ISessionManager.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Schema/SecuredApplicationHelpers.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CryptoUtils.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicies.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicyInfo.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageType.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix NonceLength for None.
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicyInfo.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ServerProperties.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Normalize distinguished name field abbreviations for platform compatibility of attribute State/ProvinceName (#3358)
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

make UnitTests run
  Tests/Opc.Ua.Client.Tests/SecurityPolicyBenchmarks.cs
Due: azure-pipelines.yml

Make EndpointIncomingRequest a readonly struct
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Stack/Server/IServerBase.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove asyncresultbase as now broken
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Switch to ValueTask & pool ValueTasks using ValueTaskSource
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Stack/Server/IServerBase.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportListenerCallback.cs
  Stack/Opc.Ua.Core/Types/Utils/ManualResetValueTaskSource.cs
  Stack/Opc.Ua.Core/Types/Utils/ObjectPool.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Types/Utils/ObjectPool.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use specific ValueTaskSource with integrated pooling to ensure concurrent behaviour
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Types/Utils/ValueTask/ManualResetValueTaskSource.cs
  Stack/Opc.Ua.Core/Types/Utils/ValueTask/ObjectPool.cs
  Stack/Opc.Ua.Core/Types/Utils/ValueTask/ServiceResponsePooledValueTaskSource.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove localhost restriction from LDS registration certificate validation (#3352)
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix GetDataTypeId to return specific DataTypeId for IEncodeable types (#3353)
  Stack/Opc.Ua.Types/Utils/TypeInfo.cs
  Tests/Opc.Ua.Core.Tests/Types/Constants/DataTypesTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix: Allow calling methods with only output parameters (#3354)
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/CallMethodRequestTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added security policy benchmarks (#3357)
  Tests/Opc.Ua.Client.Tests/SecurityPolicyBenchmarks.cs
Due: azure-pipelines.yml

update
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

improve load test stability
  Tests/Opc.Ua.Client.Tests/LoadTest.cs
Due: azure-pipelines.yml

[Server] Make EndpointIncomingRequest a ReadonlyStruct & pool ValueTaks (#3363)
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Stack/Server/IServerBase.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportListenerCallback.cs
  Stack/Opc.Ua.Core/Types/Utils/ValueTask/ManualResetValueTaskSource.cs
  Stack/Opc.Ua.Core/Types/Utils/ValueTask/ObjectPool.cs
  Stack/Opc.Ua.Core/Types/Utils/ValueTask/ServiceResponsePooledValueTaskSource.cs
  Tests/Opc.Ua.Client.Tests/LoadTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Downgrade PublishNetworkMessage log level from Information to Debug (#3365)
  Libraries/Opc.Ua.PubSub/UaPublisher.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Performance: Reduce memory allocations (logging, etc.)
  Libraries/Opc.Ua.Client/OpcUaClientEventSource.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Server/OpcUaServerEventSource.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/QueueHandler/DataChangeQueueHandler.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  PERFORMANCE.md
  Stack/Opc.Ua.Core/Types/Utils/LoggerUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use temp folder for GDS test certificate storage (#3368)
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
Due: azure-pipelines.yml

Fix KeyFrame not sent if no changed values (#3367)
  Libraries/Opc.Ua.PubSub/WriterGroupPublishState.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/WriterGroupPublishedStateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

improvements
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  PERFORMANCE.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

revert
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  PERFORMANCE.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Build quickstarts
  UA Core Library.slnx
Due: azure-pipelines.yml

fix
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update docs and remove appveyor
  Docs/NugetREADME.md
  Docs/README.md
  Fuzzing/Fuzzing.md
  README.md
  appveyor.yml
Due: azure-pipelines.yml

Readd appveyor
  appveyor.yml
Due: azure-pipelines.yml

Add provisioning mode support for certificate provisioning and initial server configuration (#3375)
  Applications/ConsoleReferenceServer/Program.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Applications/Quickstarts.Servers/Utils.cs
  Docs/ProvisioningMode.md
  Docs/README.md
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
  Tests/Opc.Ua.Server.Tests/ServerFixture.cs
Due: azure-pipelines.yml

Remove hardcoded Retain=true in ConditionState.UpdateStateAfterEnable (#3370)
  Stack/Opc.Ua.Core/Stack/State/ConditionState.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add comprehensive documentation for ComplexTypes library (#3373)
  Docs/ComplexTypes.md
  Docs/README.md
Due: none

Fix console reference client cli args conflict
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

rename for merge
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests2.cs
Due: azure-pipelines.yml
