Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Add async read/write hooks to BaseVariableState and AsyncCustomNodeManager
  Libraries/Opc.Ua.Server/Fluent/INodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Stack/Opc.Ua.Types/State/BaseVariableState.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Core CertificateManager test: mark refcount-counter test [NonParallelizable]
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
Due: azure-pipelines.yml

Widen 6 production API params to nullable for null-tolerant methods
  Stack/Opc.Ua.Types/BuiltIn/EnumHelper.cs
  Stack/Opc.Ua.Types/BuiltIn/RelativePath.cs
  Stack/Opc.Ua.Types/Utils/ServiceResultException.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix RCS0056 line-too-long in ContentFilter.cs:164
  Stack/Opc.Ua/Types/ContentFilter.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix 9 nullable build errors in Configuration + Bindings.Https
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add typed IVariableBuilder<T> fluent surface
  Libraries/Opc.Ua.Server/Fluent/INodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/IVariableBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/VariableBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add relative-child traversal API on INodeBuilder
  Libraries/Opc.Ua.Server/Fluent/INodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeManagerBuilder.cs
  Tests/Opc.Ua.Server.Tests/Fluent/NodeManagerBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Mix old + new fluent APIs in MinimalBoilerServer demo
  Applications/MinimalBoilerServer/BoilerNodeManager.Configure.cs
Due: azure-pipelines.yml

Fix 20 GDS nullable build errors after CertManager merge
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/ICertificateGroup.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add async-hook tests for BaseVariableState
  Tests/Opc.Ua.Types.Tests/State/BaseVariableStateAsyncHooksTests.cs
Due: azure-pipelines.yml

Add round-trip tests for typed IVariableBuilder<T>
  Tests/Opc.Ua.Server.Tests/Fluent/TypedBuilderTests.cs
Due: azure-pipelines.yml

Erroneous debug.assert in SessionManager
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  plans/24-subscription-v2-gc-reduction.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix 10 nullable build errors in Quickstarts.Servers after CertManager merge
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferBrowser.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
Due: azure-pipelines.yml

Fix CS8600 in ConsoleReferenceServer/Program.cs:200
  Applications/ConsoleReferenceServer/Program.cs
Due: azure-pipelines.yml

Add typed model-traversal source generator
  Applications/MinimalBoilerServer/BoilerNodeManager.Configure.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeManagerTemplates.cs
Due: azure-pipelines.yml

Add tests for the typed model-traversal source generator
  Tests/Opc.Ua.Aot.Tests/BoilerNodeManagerAotTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/FluentBuilderGeneratorTests.cs
Due: azure-pipelines.yml

Document the typed model-traversal Configure(I{Manager}NodeManagerBuilder) partial
  Docs/SourceGeneratedNodeManagers.md
Due: none

Fix remaining nullable + missing #endif errors after CertManager merge
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/McpServer/OpcUaSessionManager.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Build Solutions pipeline: build only UA.slnx + include SgenTester
  .azurepipelines/sln.yml
  UA.slnx
Due: azure-pipelines.yml

Fix ConnectAndCloseSessionAsync AOT test
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove GlobalUsings.cs; use explicit ISession aliases per file
  Tests/Opc.Ua.Conformance.Tests/AttributeServices/AttributeReadComplexTests.cs
  Tests/Opc.Ua.Conformance.Tests/Auditing/AuditingOperationTests.cs
  Tests/Opc.Ua.Conformance.Tests/GDS/GdsDepthTests.cs
  Tests/Opc.Ua.Conformance.Tests/GDS/GdsTestFixture.cs
  Tests/Opc.Ua.Conformance.Tests/GlobalUsings.cs
  Tests/Opc.Ua.Conformance.Tests/InformationModel/BaseInfoEnabledFlagToggleTests.cs
  Tests/Opc.Ua.Conformance.Tests/InformationModel/BaseInfoParityTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/RoleManagementDepthTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/RoleManagementTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/SecurityRoleServerAppMgmtTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/SecurityRoleServerAuthTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/SecurityRoleServerBase2Tests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/SecurityRoleServerDefaultPermsTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/SecurityRoleServerEndpointMgmtTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/SecurityRoleServerEventingTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/SecurityRoleServerTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/UserManagementDepthTests.cs
  Tests/Opc.Ua.Conformance.Tests/Security/UserManagementTests.cs
  Tests/Opc.Ua.Conformance.Tests/SessionPublishHelper.cs
  Tests/Opc.Ua.Conformance.Tests/SubscriptionServices/SubscriptionBasicDepthTests.cs
  Tests/Opc.Ua.Conformance.Tests/SubscriptionServices/SubscriptionDurableTests.cs
  Tests/Opc.Ua.Conformance.Tests/SubscriptionServices/SubscriptionTransferDepthTests.cs
Due: azure-pipelines.yml

Emit fluent wrapper classes as nested types
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/FluentBuilderGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
Due: azure-pipelines.yml

Conformance: wrap PublishMin05AsyncPublishFiveConcurrentAsync
  Tests/Opc.Ua.Conformance.Tests/SubscriptionServices/SubscriptionPublishTests.cs
Due: azure-pipelines.yml

Add snapshot tests for typed OnCall with method arguments
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/FluentBuilderGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/TestModel.xml
Due: azure-pipelines.yml

Add FileSystemClient: System.IO-style async client over OPC UA file APIs
  Docs/FileSystemClient.md
  Libraries/Opc.Ua.Client/FileSystem/FileMetadata.cs
  Libraries/Opc.Ua.Client/FileSystem/FileSystemClient.cs
  Libraries/Opc.Ua.Client/FileSystem/FileSystemClientOptions.cs
  Libraries/Opc.Ua.Client/FileSystem/FileSystemErrors.cs
  Libraries/Opc.Ua.Client/FileSystem/PathCache.cs
  Libraries/Opc.Ua.Client/FileSystem/TemporaryFileTransferClient.cs
  Libraries/Opc.Ua.Client/FileSystem/UaDirectoryInfo.cs
  Libraries/Opc.Ua.Client/FileSystem/UaFileInfo.cs
  Libraries/Opc.Ua.Client/FileSystem/UaFileMode.cs
  Libraries/Opc.Ua.Client/FileSystem/UaFileStream.cs
  Libraries/Opc.Ua.Client/FileSystem/UaFileSystemInfo.cs
  Libraries/Opc.Ua.Client/FileSystem/UaPath.cs
  Libraries/Opc.Ua.Client/FileSystem/UaTemporaryWriteFile.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemClientCrudTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemClientEnumerationTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemClientMetadataTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemClientOptionsTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemClientPathResolutionTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemErrorsTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemSessionHarness.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileTypeSessionMock.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/PathCacheTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/TemporaryFileTransferClientTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/UaFileStreamTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/UaPathTests.cs
  Tools/Opc.Ua.SourceGeneration/readme.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add .github/agents/dotnet-format.agent.md
  .github/agents/dotnet-format.agent.md
Due: azure-pipelines.yml

Add MinimalCalcServer sample with typed method-with-args wiring
  Applications/MinimalCalcServer/CalcNodeManager.Configure.cs
  Applications/MinimalCalcServer/MinimalCalcServer.csproj
  Applications/MinimalCalcServer/Model/Calc.xml
  Applications/MinimalCalcServer/Program.cs
  Applications/MinimalCalcServer/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Aot.Tests/CalculatorNodeManagerAotTests.cs
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/FluentBuilderGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
  UA.slnx
Due: azure-pipelines.yml

Document method-with-arguments typed OnCall path
  Docs/SourceGeneratedNodeManagers.md
Due: none

fix: preserve wire encoding TypeId in ExtensionObject on decode
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix flaky GetIssuersAsyncReturnedReferencesAreCallerOwnedAndDisposable
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
Due: azure-pipelines.yml

Address review: use ByteString.Span/IsEmpty instead of temp byte[]
  Libraries/Opc.Ua.Client/FileSystem/UaFileStream.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix: preserve encoding TypeId for XML-in-binary body path
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Drop run of trigger on branches
  azure-pipelines-preview.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Build Solutions pipeline: enable parallel MSBuild
  .azurepipelines/sln.yml
Due: azure-pipelines.yml

Add Publish runtime foundation for fluent event notifiers
  Libraries/Opc.Ua.Server/Fluent/EventNotifierBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/EventPublishOptions.cs
  Libraries/Opc.Ua.Server/Fluent/EventSourceRegistry.cs
  Libraries/Opc.Ua.Server/Fluent/FluentNodeManagerBase.cs
  Libraries/Opc.Ua.Server/Fluent/NodeManagerBuilder.cs
  Tests/Opc.Ua.Server.Tests/Fluent/TypedBuilderTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeManagerTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Build Solutions pipeline: matrix-fan-out over slnx files
  .azurepipelines/get-matrix.ps1
  .azurepipelines/sln.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

get-matrix.ps1: restore default AgentTable fallback for ci.yml
  .azurepipelines/get-matrix.ps1
Due: azure-pipelines.yml

Add PublishTests covering EventSourceRegistry behavior
  Tests/Opc.Ua.Server.Tests/Fluent/PublishTests.cs
Due: azure-pipelines.yml
