Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Source generator option to override instance modelling rules with type definition modelling rules (default opt in for stack) (#3799)
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesign.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
  Tools/Opc.Ua.SourceGeneration.Stack/StackGeneration.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/OPCFoundation.Opc.Ua.SourceGeneration.props
  Tools/Opc.Ua.SourceGeneration/readme.md
Due: azure-pipelines.yml

update
  .azurepipelines/ci.yml
  .azurepipelines/sln.yml
  .azurepipelines/test-aot.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Filter security tests to RSA endpoints to fix macOS failures
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertValidationDepthTests.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertValidationTests.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertificateTests.cs
Due: azure-pipelines.yml

Add tests
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Tests/Opc.Ua.Client.Tests/Session/LoadTest.cs
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

log noise
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Tests/Opc.Ua.Client.Tests/Session/LoadTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Restructure Azure pipelines: merge build stages, slim Fast PR test, bump timeouts
  .azurepipelines/ci.yml
  .azurepipelines/sln.yml
  .azurepipelines/test-aot.yml
  .azurepipelines/test.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Increase initial delay in ReconnectUsesBackoffDelays to 100 ms
  .gitignore
  Tests/Opc.Ua.Client.Tests/Session/ConnectionStateMachineTests.cs
Due: azure-pipelines.yml

Potential fix for pull request finding
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Potential fix for pull request finding
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroup.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fixes
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/INodeNotification.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNodeMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Tests/Opc.Ua.Client.Tests/Session/LoadTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

timeouts
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
Due: azure-pipelines.yml

Part 9 docs and decoder polish for master merge
  Docs/AlarmsAndConditions.md
  Docs/MigrationGuide.md
  Docs/ModelChangeTracking.md
  Docs/README.md
  Docs/StreamingSubscription.md
  Libraries/Opc.Ua.Client/Alarms/AlarmEventDecoder.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmEventFilterBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/Streaming/StreamingSubscriptionExtensionsTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/AlarmConditionStateMethodTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmRateTrackerTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmSuppressionEngineTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use clone
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adapt post-merge: AddOpcUa().AddServer pattern + NUnit analyzer fixes
  Applications/MinimalPumpServer/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.Server/Fluent/PropertyInitBuilderExtensions.cs
  Tests/Opc.Ua.Di.Tests/DiModelLoadingTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/EngineeringUnitsBuilderExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/InstanceCreationBuilderExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PropertyInitBuilderExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/SupervisionBuilderExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
Due: azure-pipelines.yml

Docs: refresh fluent API surface guide; add CompanionSpecLibraries.md; MinimalPumpServer README
  Applications/MinimalPumpServer/README.md
  Docs/CompanionSpecLibraries.md
  Docs/FluentApiGaps.md
  Docs/README.md
  Docs/SourceGeneratedNodeManagers.md
Due: azure-pipelines.yml

Identity provider interfaces (OPC UA Part 6 §6.5) — Phase 1
  Docs/AuthorizationService.md
  Docs/IdentityProviders.md
  Docs/KeyCredentialService.md
  Docs/MigrationGuide.md
  Docs/README.md
  Docs/RoleBasedUserManagement.md
  Stack/Opc.Ua.Core/Security/Identity/AccessToken.cs
  Stack/Opc.Ua.Core/Security/Identity/AuthorizationServerMetadata.cs
  Stack/Opc.Ua.Core/Security/Identity/IAccessTokenProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/IClientIdentityProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/IIdentityClaims.cs
  Stack/Opc.Ua.Core/Security/Identity/IIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Security/Identity/IServerIdentityRegistry.cs
  Stack/Opc.Ua.Core/Security/Identity/ITokenIssuer.cs
  Stack/Opc.Ua.Core/Security/Identity/IUserTokenAuthenticator.cs
  Stack/Opc.Ua.Core/Security/Identity/ServerIdentityRegistry.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/AccessTokenTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/AuthorizationServerMetadataTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/IssuerVerificationKeyTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/ServerIdentityRegistryTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

instruction update
  .github/copilot-instructions.md
Due: azure-pipelines.yml

Phase 8.0/8B: DI compliance matrix + Device builder fluent API
  Applications/MinimalPumpServer/MinimalPumpServer.csproj
  Applications/MinimalPumpServer/PumpNodeManager.cs
  Docs/Opc.Ua.Di/ComplianceMatrix.md
  Docs/plans/StateMachineBuilder.md
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderDeviceStateExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceIdentificationData.cs
  Libraries/Opc.Ua.Di.Server/Builders/FunctionalGroupBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/IDeviceBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/IFunctionalGroupBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/WellKnownFunctionalGroups.cs
  Libraries/Opc.Ua.Di.Server/DiNodeManager.cs
  Libraries/Opc.Ua.Di.Server/Topology/DiDeviceTopology.cs
  Libraries/Opc.Ua.Di.Server/Topology/IDeviceTopology.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderTests.cs
  Tests/Opc.Ua.Di.Tests/DiServerFixture.cs
  Tests/Opc.Ua.Di.Tests/Opc.Ua.Di.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix TypeInfo.Construct for generic encodeable (#3802)
  Stack/Opc.Ua.Types/BuiltIn/TypeInfo.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/TypeInfoTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Refactor TypeInfo to simplify type checks
  Stack/Opc.Ua.Types/BuiltIn/TypeInfo.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Merge tests
  Tests/Opc.Ua.Types.Tests/BuiltIn/TypeInfoTests.cs
Due: azure-pipelines.yml

test: remove dead code from TypeInfo regression helper
  Tests/Opc.Ua.Types.Tests/BuiltIn/TypeInfoTests.cs
Due: azure-pipelines.yml

Client identity provider + coordinated refresh — Phase 4
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Client/Fluent/CompositeClientIdentityProviderBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSessionOptions.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Stack/Opc.Ua.Core/Security/Identity/CompositeClientIdentityProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/AnonymousIdentityProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/IssuedTokenIdentityProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/UserNamePasswordIdentityProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/X509ClientIdentityProvider.cs
  Tests/Opc.Ua.Client.Tests/Session/CompositeClientIdentityProviderTests.cs
  Tests/Opc.Ua.Client.Tests/Session/DefaultClientIdentityProviderTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ProactiveRefreshTests.cs
  Tests/Opc.Ua.Client.Tests/Session/UpdateIdentityAsyncTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Server-side identity provider registry — Phase 2
  Libraries/Opc.Ua.Server/Hosting/DefaultAuthenticatorOptions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerIdentityAuthenticatorRegistration.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/AnonymousAuthenticator.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/JwtAuthenticator.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/JwtUserIdentity.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/UserNamePasswordAuthenticator.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/X509Authenticator.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/ServerIdentityRegistryTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/AnonymousAuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/UserNamePasswordAuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/X509AuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/SessionManagerRoleResolutionTests.cs
  Tests/Opc.Ua.Server.Tests/TrustedApplicationRoleTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Source-generate event/alarm record types via EventRecordGenerator
  Applications/ConsoleReferenceClient/AlarmClientSample.cs
  Docs/AlarmsAndConditions.md
  Docs/MigrationGuide.md
  Docs/StreamingSubscription.md
  Libraries/Opc.Ua.Client/Alarms/AlarmEventDecoder.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmEventFilterBuilder.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmStreamExtensions.cs
  Libraries/Opc.Ua.Client/Alarms/TypedAlarmRecords.cs
  Stack/Opc.Ua.Core/Stack/Client/EventRecord.cs
  Stack/Opc.Ua.Core/Stack/Client/EventRecordExtensions.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmEventDecoderTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 8H: DI hosting integration (AddOpcUaDi + ConfigureDevicesFor)
  Applications/MinimalPumpServer/Program.cs
  Applications/MinimalPumpServer/PumpNodeManager.cs
  Docs/CompanionSpecLibraries.md
  Libraries/Opc.Ua.Di.Client/Hosting/DiDiscoveryService.cs
  Libraries/Opc.Ua.Di.Client/Hosting/IDiDiscoveryService.cs
  Libraries/Opc.Ua.Di.Client/Hosting/OpcUaClientDiBuilderExtensions.cs
  Libraries/Opc.Ua.Di.Server/DiNodeManager.cs
  Libraries/Opc.Ua.Di.Server/DiNodeManagerFactory.cs
  Libraries/Opc.Ua.Di.Server/Hosting/DiPostSetupContext.cs
  Libraries/Opc.Ua.Di.Server/Hosting/DiPostSetupRunner.cs
  Libraries/Opc.Ua.Di.Server/Hosting/IDiPostSetupConfigurator.cs
  Libraries/Opc.Ua.Di.Server/Hosting/IDiPostSetupContext.cs
  Libraries/Opc.Ua.Di.Server/Hosting/IDiPostSetupRunner.cs
  Libraries/Opc.Ua.Di.Server/Hosting/OpcUaServerDiBuilderExtensions.cs
  Tests/Opc.Ua.Di.Tests/HostingIntegrationTests.cs
  Tests/Opc.Ua.Pumps.Tests/PumpHostingIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Role-based security claim mapping (Part 18 §4.4.4) — Phase 3
  Docs/MigrationGuide.md
  Docs/RoleBasedUserManagement.md
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleConfigurationOptions.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleManager.cs
  Tests/Opc.Ua.Server.Tests/RoleAuthorizationGateTests.cs
  Tests/Opc.Ua.Server.Tests/RoleManagerTests.cs
  Tests/Opc.Ua.Server.Tests/Roles/AccessTokenRoleCriteriaTests.cs
  Tests/Opc.Ua.Server.Tests/Roles/ClaimsTestIdentity.cs
  Tests/Opc.Ua.Server.Tests/Roles/GroupIdCriteriaTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Wire Part 9 alarms into the unified DI surface
  Docs/AlarmsAndConditions.md
  Docs/DependencyInjection.md
  Libraries/Opc.Ua.Client/Alarms/AlarmClientFactory.cs
  Libraries/Opc.Ua.Client/Alarms/OpcUaAlarmsBuilderExtensions.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AddAlarmsBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: list AddComplexTypes/AddAlarms in the README DI summary
  README.md
Due: none

instructions
  .github/copilot-instructions.md
Due: azure-pipelines.yml

Phase 8C/8D: DI Lock service + DiLockClient/DiTopologyClient
  Libraries/Opc.Ua.Di.Client/DiLockClient.cs
  Libraries/Opc.Ua.Di.Client/DiTopologyClient.cs
  Libraries/Opc.Ua.Di.Client/Hosting/OpcUaClientDiBuilderExtensions.cs
  Libraries/Opc.Ua.Di.Server/Locking/DefaultLockService.cs
  Libraries/Opc.Ua.Di.Server/Locking/ILockService.cs
  Libraries/Opc.Ua.Di.Server/Locking/LockState.cs
  Libraries/Opc.Ua.Di.Server/Locking/LockStatus.cs
  Libraries/Opc.Ua.Di.Server/Locking/LockingServicesExtensions.cs
  Tests/Opc.Ua.Di.Tests/ClientHelpersTests.cs
  Tests/Opc.Ua.Di.Tests/DefaultLockServiceTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Modernize quickstart AlarmNodeManager: async base class + group suppression
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Docs/AlarmsAndConditions.md
  Docs/MigrationGuide.md
Due: azure-pipelines.yml

GDS-server DI integration for identity providers — Phase PI (gds subset)
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsIdentityForwardingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
