Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

P3: inject ASP.NET Core rate limiter into the HTTPS/Kestrel transport via DI
  Stack/Opc.Ua.Bindings.Https/DependencyInjection/OpcUaHttpsBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsRateLimiterStartupContributor.cs
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/DependencyInjection/OpcUaHttpsBuilderExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

P4: client-wide connect admission gate (ramp bulk connects)
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
  Libraries/Opc.Ua.Client/Session/IClientConnectGate.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSessionOptions.cs
  Libraries/Opc.Ua.Client/Session/RateLimiterClientConnectGate.cs
  Tests/Opc.Ua.Client.Tests/ClientConnectRateLimiterTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix ManagedSession test reflection for the new IClientConnectGate ctor param
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionTests.cs
Due: azure-pipelines.yml

Docs: document HTTPS AddHttpsRateLimiter, client connect gate, and B4 as delivered
  Docs/RateLimiting.md
  Docs/ServerScalability.md
Due: none

Fix GDS Push UpdateCertificate ignoring configured SecurityConfiguration policy (master378) (#3936)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement Kafka PubSub transport, dual-source by TFM (#3942)
  Directory.Packages.props
  Libraries/Opc.Ua.PubSub.Kafka/DependencyInjection/KafkaTransportServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub.Kafka/Internal/ConfluentKafkaClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Kafka/Internal/ConfluentKafkaClientFactory.cs
  Libraries/Opc.Ua.PubSub.Kafka/Internal/DekafKafkaClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Kafka/Internal/DekafKafkaClientFactory.cs
  Libraries/Opc.Ua.PubSub.Kafka/Internal/IKafkaClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Kafka/Internal/IKafkaClientFactory.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaBrokerTransport.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaConnectionOptions.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaConnectionStateChangedEventArgs.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaEncoding.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaEndpoint.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaEndpointParser.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaIncomingMessageEventArgs.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaMessage.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaPubSubTransportFactory.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaQualityOfService.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaTlsOptions.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaTopicOptions.cs
  Libraries/Opc.Ua.PubSub.Kafka/Opc.Ua.PubSub.Kafka.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add PubSub redundancy/HA coordination abstraction (#3942, #3924)
  Libraries/Opc.Ua.PubSub/Redundancy/AlwaysActiveCoordinator.cs
  Libraries/Opc.Ua.PubSub/Redundancy/IPubSubActivationCoordinator.cs
  Libraries/Opc.Ua.PubSub/Redundancy/IPubSubLeaseStore.cs
  Libraries/Opc.Ua.PubSub/Redundancy/InMemoryPubSubLeaseStore.cs
  Libraries/Opc.Ua.PubSub/Redundancy/PubSubComponentRole.cs
  Libraries/Opc.Ua.PubSub/Redundancy/PubSubLease.cs
  Libraries/Opc.Ua.PubSub/Redundancy/PubSubRedundancyMode.cs
  Libraries/Opc.Ua.PubSub/Redundancy/PubSubRoleChangedEventArgs.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

B1: fix teardown ObjectDisposedException in Session.ReconnectCoreAsync
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add lease-based PubSub activation coordinator (#3942, #3924)
  Libraries/Opc.Ua.PubSub/Redundancy/LeaseActivationCoordinator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

A3: AOT tests for the rate-limiting code paths
  Tests/Opc.Ua.Aot.Tests/RateLimitingAotTests.cs
Due: azure-pipelines.yml

Wire PubSub HA coordination into the DI builder (#3942, #3924)
  Libraries/Opc.Ua.PubSub/DependencyInjection/IPubSubBuilder.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/OpcUaPubSubBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/PubSubBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

A1: structured Retry-After hint on BadServerTooBusy (best-effort)
  Libraries/Opc.Ua.Client/Session/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/ReconnectPolicy.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.Client.Tests/AdaptiveReconnectPolicyTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Wire Kafka into the reference sample + docs; AOT-validated (#3942)
  Applications/ConsoleReferencePubSubClient/ConsoleReferencePubSubClient.csproj
  Applications/ConsoleReferencePubSubClient/Program.cs
  Applications/ConsoleReferencePubSubClient/PublisherConfigurationBuilder.cs
  Applications/ConsoleReferencePubSubClient/SubscriberConfigurationBuilder.cs
  Docs/PubSub.md
  Docs/PubSubKafka.md
  Docs/README.md
  Libraries/Opc.Ua.PubSub.Eth/DependencyInjection/EthTransportBuilder.cs
  Libraries/Opc.Ua.PubSub.Udp/DependencyInjection/UdpTransportBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

A2: integration tests for session-establishment admission
  Tests/Opc.Ua.Server.Tests/SessionAdmissionRateLimitTests.cs
Due: azure-pipelines.yml

Add coverage tests for base Raft lib, Core/Redundancy, and Server SentMessageQueue/SessionContinuationPoints (raises PR diff coverage further above 80%)
  Tests/Opc.Ua.Core.Tests/Redundancy/InMemorySharedKeyValueStoreTests.cs
  Tests/Opc.Ua.Core.Tests/Redundancy/KeyRingRecordProtectorTests.cs
  Tests/Opc.Ua.Core.Tests/Redundancy/SharedStoreLeaseElectionTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/Raft/DefaultRaftConsensusTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/Raft/HybridSharedKeyValueStoreTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/Raft/InProcessRaftConsensusTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/Raft/RaftLeaderElectionTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/Raft/RaftSharedKeyValueStoreTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/ReplicatedClientKeyValueStoreTests.cs
  Tests/Opc.Ua.Server.Tests/SessionContinuationPointsTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/Opc.Ua.Subscriptions.Tests.csproj
  Tests/Opc.Ua.Subscriptions.Tests/SentMessageQueueTests.cs
Due: azure-pipelines.yml

Validate issuer/CA certificate KeyUsage (keyCertSign, cRLSign)
  Docs/Certificates.md
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationHelpers.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Validate issuer/CA certificate KeyUsage (keyCertSign, cRLSign)
  Docs/Certificates.md
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Opc.Ua.PubSub.Kafka transport tests + Testcontainers Docker test (#3942)
  Tests/Opc.Ua.PubSub.Kafka.Tests/FakeKafkaClientAdapter.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaBrokerTransportEdgeTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaBrokerTransportLifecycleTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaBrokerTransportRoundTripTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaClientAdapterGuardTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaConnectionOptionsTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaEncodingTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaEndpointParserTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaIntegrationDockerTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaPubSubTransportFactoryTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaQosMappingTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaTestHelper.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaTransportServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/Opc.Ua.PubSub.Kafka.Tests.csproj
Due: azure-pipelines.yml

Address PR #3946 review feedback
  Docs/README.md
  Docs/RateLimiting.md
  Docs/ServerScalability.md
  Libraries/Opc.Ua.Client/Session/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/IAdaptiveReconnectPolicy.cs
  Libraries/Opc.Ua.Client/Session/IReconnectPolicy.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/ReconnectPolicy.cs
  Tests/Opc.Ua.Aot.Tests/RateLimitingAotTests.cs
  Tests/Opc.Ua.Client.Tests/AdaptiveReconnectPolicyTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Wire active/standby HA activation into the PubSub runtime + failover tests (#3942, #3924)
  Libraries/Opc.Ua.PubSub.Kafka/KafkaQualityOfService.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/OpcUaPubSubBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/Groups/ReaderGroup.cs
  Libraries/Opc.Ua.PubSub/Groups/WriterGroup.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaQosMappingTests.cs
  Tests/Opc.Ua.PubSub.Tests/Redundancy/PubSubActivationFailoverTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Server: fully asynchronous change-notification and event push path (#3941)
  Docs/AsyncServerSupport.md
  Docs/Benchmarks.md
  Docs/README.md
  Docs/ServerScalability.md
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredentialPushSubject.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Stack/Opc.Ua.Types/State/BaseInstanceState.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeStateChangeNotificationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

C2/S1: tests for held-Publish worker decoupling
  Tests/Opc.Ua.Core.Tests/Stack/Server/RequestQueueTests.cs
  Tests/Opc.Ua.Server.Tests/SessionPublishQueueTests.cs
Due: azure-pipelines.yml

C2/S1: decouple held long-poll Publishes from the request-queue worker budget
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Subscription/ISubscriptionManager.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.xsd
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.EndpointIncomingRequest.cs
  Stack/Opc.Ua.Core/Stack/Server/RequestParkSink.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.RequestQueue.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Types/BuiltIn/IRequestParkSink.cs
  Stack/Opc.Ua.Types/BuiltIn/RequestLifetime.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

C2/S1: gate park machinery to Publish requests to keep the non-Publish hot path free
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.EndpointIncomingRequest.cs
  Stack/Opc.Ua.Core/Stack/Server/RequestParkSink.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.RequestQueue.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: mark S1 (held-Publish worker decoupling) delivered in ServerScalability.md
  Docs/ServerScalability.md
Due: none

Address PR #3949 Kafka review feedback
  Docs/PubSubKafka.md
  Libraries/Opc.Ua.PubSub.Kafka/KafkaPubSubTransportFactory.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaQualityOfService.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaTlsOptions.cs
  Libraries/Opc.Ua.PubSub.Kafka/KafkaTopicOptions.cs
  Libraries/Opc.Ua.PubSub.Kafka/NugetREADME.md
  Libraries/Opc.Ua.PubSub/Groups/ReaderGroup.cs
  Libraries/Opc.Ua.PubSub/Groups/WriterGroup.cs
  Libraries/Opc.Ua.PubSub/Redundancy/InMemoryPubSubLeaseStore.cs
  Libraries/Opc.Ua.PubSub/Redundancy/LeaseActivationCoordinator.cs
  Tests/Opc.Ua.PubSub.Tests/Redundancy/PubSubActivationFailoverTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Test: cover absent KeyUsage extension and use deterministic cert validity
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

Test: cover absent KeyUsage extension, deterministic validity, detach event in finally
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

Retry-after signaling: research doc, spec proposal, and client foundation
  Docs/README.md
  Docs/RateLimiting.md
  Docs/RetryAfterSignaling.md
  Docs/proposals/RetryAfter.md
  Libraries/Opc.Ua.Client/Session/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Tests/Opc.Ua.Client.Tests/Session/ConnectionStateMachineTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3950 review feedback
  Docs/ServerScalability.md
  Libraries/Opc.Ua.Server/Subscription/ISubscriptionManager.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Tests/Opc.Ua.Server.Tests/SessionPublishQueueBenchmarks.cs
  Tests/Opc.Ua.Server.Tests/SessionPublishQueueTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fold Kafka transport doc into PubSub.md and document PubSub redundancy
  Docs/PubSub.md
  Docs/PubSubKafka.md
  Docs/README.md
  Libraries/Opc.Ua.PubSub.Kafka/NugetREADME.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Retry-after signaling P2: HTTP Retry-After for the HTTPS transport
  Stack/Opc.Ua.Bindings.Https/Https/HttpsRateLimiterStartupContributor.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportChannelTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Retry-after signaling P3 (part 1): RetryAfterHeader carrier + constant
  Stack/Opc.Ua.Core/Security/Constants/AdditionalParameterNames.cs
  Stack/Opc.Ua.Core/Stack/Server/RetryAfterHeader.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/RetryAfterHeaderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Retry-after signaling P3 (part 2): server emits structured retry-after on faults
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBusyException.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/EndpointBaseTests.cs
  Tests/Opc.Ua.Server.Tests/SessionAdmissionRateLimitTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Retry-after signaling P3 (part 3): client honors the fault AdditionalHeader
  Stack/Opc.Ua.Core/Stack/Client/ClientBase.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientBaseTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: mark structured retry-after (additionalHeader + HTTP) as delivered
  Docs/RateLimiting.md
  Docs/RetryAfterSignaling.md
Due: none

Fix net48: use manual null check instead of ArgumentNullException.ThrowIfNull in RetryAfterHeader
  Stack/Opc.Ua.Core/Stack/Server/RetryAfterHeader.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement P5 ServiceLevel load signaling
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/ServerServiceLevelCalculator.cs
  Tests/Opc.Ua.Server.Tests/ServerServiceLevelCalculatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

P4 honor UA-TCP ERR retry-after hints
  Stack/Opc.Ua.Core/Stack/Client/Channels/IChannelReconnectPolicy.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ChannelEntry.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/RetryAfterHint.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/RetryAfterHintTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Retry-after signaling P6 (finalize): CA1032 justification + docs
  Docs/RateLimiting.md
  Docs/RetryAfterSignaling.md
  Stack/Opc.Ua.Core/Stack/Server/ServerBusyException.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
