Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

update
  Tests/Opc.Ua.Server.Tests/Fluent/NodeManagerBuilderTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration/ModelSourceGenerator.cs
Due: azure-pipelines.yml

Fix build
  Directory.Packages.props
Due: azure-pipelines.yml

Fix JsonEncodingId mappings.
  Applications/Quickstarts.Servers/TestData/Generated/TestData.DataTypes.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.DataTypes.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Gds.DataTypes.cs
  Stack/Opc.Ua.Types/BuiltIn/Argument.cs
  Stack/Opc.Ua.Types/BuiltIn/BrowseDescription.cs
  Stack/Opc.Ua.Types/BuiltIn/DataTypeDefinition.cs
  Stack/Opc.Ua.Types/BuiltIn/EnumDefinition.cs
  Stack/Opc.Ua.Types/BuiltIn/EnumField.cs
  Stack/Opc.Ua.Types/BuiltIn/EnumValueType.cs
  Stack/Opc.Ua.Types/BuiltIn/ReferenceDescription.cs
  Stack/Opc.Ua.Types/BuiltIn/RelativePath.cs
  Stack/Opc.Ua.Types/BuiltIn/RelativePathElement.cs
  Stack/Opc.Ua.Types/BuiltIn/RolePermissionType.cs
  Stack/Opc.Ua.Types/BuiltIn/StructureDefinition.cs
  Stack/Opc.Ua.Types/BuiltIn/StructureField.cs
  Stack/Opc.Ua.Types/BuiltIn/ViewDescription.cs
  Stack/Opc.Ua.Types/Encoders/EncodeableFactory.cs
  Stack/Opc.Ua.Types/Nodes/DataTypeNode.cs
  Stack/Opc.Ua.Types/Nodes/InstanceNode.cs
  Stack/Opc.Ua.Types/Nodes/MethodNode.cs
  Stack/Opc.Ua.Types/Nodes/Node.cs
  Stack/Opc.Ua.Types/Nodes/ObjectNode.cs
  Stack/Opc.Ua.Types/Nodes/ObjectTypeNode.cs
  Stack/Opc.Ua.Types/Nodes/ReferenceNode.cs
  Stack/Opc.Ua.Types/Nodes/ReferenceTypeNode.cs
  Stack/Opc.Ua.Types/Nodes/TypeNode.cs
  Stack/Opc.Ua.Types/Nodes/VariableNode.cs
  Stack/Opc.Ua.Types/Nodes/VariableTypeNode.cs
  Stack/Opc.Ua.Types/Nodes/ViewNode.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/NodeCacheResolverTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncodeableFactoryTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/EncodeableFactoryTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix build
  Libraries/Opc.Ua.Gds.Client.Common/IServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/RegisteredApplication.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update migration guide
  Docs/MigrationGuide.md
Due: none

Fix failing test.
  Tests/Opc.Ua.Types.Tests/Encoders/EncodeableFactoryTests.cs
Due: azure-pipelines.yml

Fix a bug where a Task.Delay is left over infinitely. (#3690)
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix some CTT Tests, fix netstandard 2.1 CI by using net 10 targets instead of net 8
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataObjectState.cs
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Server/Diagnostics/ParsedNodeId.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  targets.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

udpate
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix test
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
Due: azure-pipelines.yml

Opc ua client Mcp Server
  .azurepipelines/preview.yml
  .azurepipelines/signlistDebug.txt
  .azurepipelines/signlistRelease.txt
  .github/agents/opcua-interop-tester.agent.md
  Applications/McpServer/.mcp/server.json
  Applications/McpServer/McpREADME.md
  Applications/McpServer/Opc.Ua.Mcp.Config.xml
  Applications/McpServer/Opc.Ua.Mcp.csproj
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Program.cs
  Applications/McpServer/README.md
  Applications/McpServer/Serialization/OpcUaJsonHelper.cs
  Applications/McpServer/Tools/AttributeServiceTools.cs
  Applications/McpServer/Tools/ConfigurationTools.cs
  Applications/McpServer/Tools/ConnectionTools.cs
  Applications/McpServer/Tools/ConvenienceTools.cs
  Applications/McpServer/Tools/DiscoveryServiceTools.cs
  Applications/McpServer/Tools/MethodServiceTools.cs
  Applications/McpServer/Tools/MonitoredItemServiceTools.cs
  Applications/McpServer/Tools/NodeManagementServiceTools.cs
  Applications/McpServer/Tools/NodeSetExportTools.cs
  Applications/McpServer/Tools/PkiTools.cs
  Applications/McpServer/Tools/SubscriptionServiceTools.cs
  Applications/McpServer/Tools/ViewServiceTools.cs
  Directory.Packages.props
  Docs/McpServer.md
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/SemVer.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  UA Core Library.slnx
  UA.slnx
  azure-pipelines-preview.yml
Due: azure-pipelines.yml

fix for #3699
  Tests/coverlet.runsettings.xml
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
Due: azure-pipelines.yml

Add multi-session support and MCP session resources
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Program.cs
  Applications/McpServer/Tools/AttributeServiceTools.cs
  Applications/McpServer/Tools/ConnectionTools.cs
  Applications/McpServer/Tools/ConvenienceTools.cs
  Applications/McpServer/Tools/DiscoveryServiceTools.cs
  Applications/McpServer/Tools/MethodServiceTools.cs
  Applications/McpServer/Tools/MonitoredItemServiceTools.cs
  Applications/McpServer/Tools/NodeManagementServiceTools.cs
  Applications/McpServer/Tools/NodeSetExportTools.cs
  Applications/McpServer/Tools/SessionResources.cs
  Applications/McpServer/Tools/SubscriptionServiceTools.cs
  Applications/McpServer/Tools/ViewServiceTools.cs
Due: azure-pipelines.yml

udpate
  Docs/McpServer.md
Due: none

udpate
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Program.cs
  Applications/McpServer/Serialization/OpcUaJsonHelper.cs
  Applications/McpServer/Tools/AttributeServiceTools.cs
  Applications/McpServer/Tools/ConfigurationTools.cs
  Applications/McpServer/Tools/MethodServiceTools.cs
  Applications/McpServer/Tools/MonitoredItemServiceTools.cs
  Applications/McpServer/Tools/SessionResources.cs
Due: azure-pipelines.yml

update
  Applications/McpServer/Tools/ConvenienceTools.cs
Due: azure-pipelines.yml

udpate
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateCache.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Tests for cp null vs empty
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Tests/Opc.Ua.Client.Tests/ReferenceServerWithLimits.cs
  Tests/Opc.Ua.Client.Tests/Session/BrowserTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Re-apply Certificate.Equals fix and remove stale cache Set in AddAsync
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix s&e
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Tools/ConnectionTools.cs
Due: azure-pipelines.yml

addecc
  Applications/McpServer/Opc.Ua.Mcp.Config.xml
Due: azure-pipelines.yml

Fix CertificateCollection ownership and lifetime management
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateEntry.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateCollection.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/TrustListTransaction.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/CertificateEntryTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateWrapperTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Tests for cp null vs empty (#3703)
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Tests/Opc.Ua.Client.Tests/ReferenceServerWithLimits.cs
  Tests/Opc.Ua.Client.Tests/Session/BrowserTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/Program.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Gds.Client.Common/GdsClientServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/TrustListFileTransferHelper.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateCollection.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add a MCP server that enables LLM/Copilot to be a OPC UA client (#3701)
  .azurepipelines/preview.yml
  .azurepipelines/signlistDebug.txt
  .azurepipelines/signlistRelease.txt
  .github/agents/opcua-interop-tester.agent.md
  Applications/McpServer/.mcp/server.json
  Applications/McpServer/McpREADME.md
  Applications/McpServer/Opc.Ua.Mcp.Config.xml
  Applications/McpServer/Opc.Ua.Mcp.csproj
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Program.cs
  Applications/McpServer/README.md
  Applications/McpServer/Serialization/OpcUaJsonHelper.cs
  Applications/McpServer/Tools/AttributeServiceTools.cs
  Applications/McpServer/Tools/ConfigurationTools.cs
  Applications/McpServer/Tools/ConnectionTools.cs
  Applications/McpServer/Tools/ConvenienceTools.cs
  Applications/McpServer/Tools/DiscoveryServiceTools.cs
  Applications/McpServer/Tools/MethodServiceTools.cs
  Applications/McpServer/Tools/MonitoredItemServiceTools.cs
  Applications/McpServer/Tools/NodeManagementServiceTools.cs
  Applications/McpServer/Tools/NodeSetExportTools.cs
  Applications/McpServer/Tools/PkiTools.cs
  Applications/McpServer/Tools/SessionResources.cs
  Applications/McpServer/Tools/SubscriptionServiceTools.cs
  Applications/McpServer/Tools/ViewServiceTools.cs
  Directory.Packages.props
  Docs/McpServer.md
  Tests/coverlet.runsettings.xml
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/SemVer.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  UA Core Library.slnx
  UA.slnx
  azure-pipelines-preview.yml
Due: azure-pipelines.yml

Systematic certificate resource management
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateWrapperTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Convert V2 test project from xUnit to NUnit and fix naming conventions
  Tests/Opc.Ua.Client.V2.Tests/Channels/ChannelDiagnosticTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Channels/ChannelFactoryTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Channels/Obsolete/NullChannelTests.cs
  Tests/Opc.Ua.Client.V2.Tests/GlobalSuppressions.cs
  Tests/Opc.Ua.Client.V2.Tests/Nodes/NodeCacheContextTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Nodes/NodeCacheTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Nodes/Obsolete/TypeTreeTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Nodes/TypeSystem/DataTypeDescriptionResolverTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Nodes/TypeSystem/DefaultBinaryTypeSystemTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Nodes/TypeSystem/EnumDescriptionTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Nodes/TypeSystem/StructureDescriptionTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Nodes/TypeSystem/StructureFieldDescriptionTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Opc.Ua.Client.V2.Tests.csproj
  Tests/Opc.Ua.Client.V2.Tests/Sessions/Obsolete/SessionClientTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Sessions/ResultSetTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Sessions/SessionBaseTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Sessions/SessionClientTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Subscriptions/MessageProcessorTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Subscriptions/MonitoredItems/MonitoredItemManagerTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Subscriptions/MonitoredItems/MonitoredItemTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Subscriptions/SubscriptionManagerTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Subscriptions/SubscriptionTests.cs
  Tests/Opc.Ua.Client.V2.Tests/Utils/EncodeableTestData.cs
  Tests/Opc.Ua.Client.V2.Tests/Utils/XunitSerializableEncodeable.cs
Due: azure-pipelines.yml

Replace fire-and-forget SaveCertificatesAsync with Channel-based writer
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove .X509 internal access after InternalsVisibleTo removal
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Extract ClassicSubscriptionEngine from Session.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/Engine/ClassicSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Subscription/Engine/ClassicSubscriptionEngineFactory.cs
  Libraries/Opc.Ua.Client/Subscription/Engine/ISubscriptionEngineContext.cs
  Libraries/Opc.Ua.Client/Subscription/Engine/SessionEngineContext.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Certificate leak detection for all TFMs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Tests/Opc.Ua.Client.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Configuration.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Core.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Gds.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Security.Certificates.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Server.Tests/LeakDetectionSetup.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test: Add subscription engine integration tests
  Tests/Opc.Ua.Client.Tests/Subscription/Engine/SubscriptionEngineIntegrationTests.cs
Due: azure-pipelines.yml

fix missing mandatory children
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
Due: azure-pipelines.yml
