Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Fix CI: register ITelemetryContext in UseDistributedSubscriptionMirroring test (extension now needs it for the failover monitored-item-queue factory merged from #3939)
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/DistributedBuilderExtensionsTests.cs
Due: azure-pipelines.yml

test: raise coverage on FilterEvaluator, EncryptedSecret and classic monitored item/subscription
  Tests/Opc.Ua.Client.Tests/Subscription/Classic/ClassicMonitoredItemCoverageTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Classic/ClassicSubscriptionCoverageTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/EncryptedSecretTests.cs
  Tests/Opc.Ua.Core.Tests/Types/ContentFilter/FilterEvaluatorCoverageTests.cs
Due: azure-pipelines.yml

test: raise coverage on CertificateValidationCore and PubSubConnection
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateValidationCoreTests.cs
  Tests/Opc.Ua.PubSub.Tests/Connections/PubSubConnectionCoverageTests.cs
Due: azure-pipelines.yml

test: raise coverage on StreamingSubscription and GDS push/discovery clients
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryServerClientOfflineTests.cs
  Tests/Opc.Ua.Gds.Tests/ServerPushConfigurationClientOfflineTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/StreamingSubscriptionCoverageTests.cs
Due: azure-pipelines.yml

Server complex types: add resolver unit tests, drop unreachable status branch
  Libraries/Opc.Ua.Server/ComplexTypes/AddressSpaceComplexTypeResolver.cs
  Tests/Opc.Ua.Server.Tests/ServerComplexTypeSystemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test: cover SubscriptionManager offline + harden durable session-close race assertion
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionManagerCoverageTests.cs
Due: azure-pipelines.yml

test: raise EncryptedSecret (ECC) and GDS ApplicationsNodeManager coverage
  Tests/Opc.Ua.Core.Tests/Security/Certificates/EncryptedSecretTests.cs
  Tests/Opc.Ua.Gds.Tests/ApplicationsNodeManagerCoverageTests.cs
Due: azure-pipelines.yml

Address PR review: projector/receive-hook fixes + merge transcoding doc
  Docs/PubSub.md
  Docs/PubSubTranscoding.md
  Docs/README.md
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transcoding/FieldProjectionTransform.cs
  Libraries/Opc.Ua.PubSub/Transcoding/NetworkMessageProfileProjector.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/NetworkMessageProfileProjectorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Tests: deterministic offline coverage for CustomNodeManager and UA-SC/TCP server channels
  Tests/Opc.Ua.Core.Tests/Stack/Transport/TcpServerChannelDeterministicTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/UaSCBinaryClientChannelDeterministicTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/CustomNodeManagerDeterministicTests.cs
Due: azure-pipelines.yml

Tests: deterministic offline coverage for MasterNodeManager and PubSubNodeManager
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubNodeManagerDeterministicTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/MasterNodeManagerDeterministicTests.cs
Due: azure-pipelines.yml

Add distributed certificate store over ISharedKeyValueStore (shared trusted/issuer/rejected + CRLs)
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/SharedKeyValue/SharedKeyValueCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/SharedKeyValue/SharedKeyValueCertificateStoreProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateStoreIdentifier.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/SharedKeyValueCertificateStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test: deterministic Tcp/Https transport listener coverage
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/HttpsTransportListenerDeterministicTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/TcpTransportListenerDeterministicTests.cs
Due: azure-pipelines.yml

docs: add Distributed certificate store guide (shared trust lists) + link from README and HighAvailability.md
  Docs/DistributedCertificateStore.md
  Docs/HighAvailability.md
  Docs/README.md
Due: none

test: deterministic ServerUtils diagnostics coverage
  Tests/Opc.Ua.Server.Tests/ServerUtilsDeterministicTests.cs
Due: azure-pipelines.yml

Server complex types: fix CA1508/CA1861 analyzer warnings (PR feedback)
  Libraries/Opc.Ua.Server/ComplexTypes/AddressSpaceComplexTypeResolver.cs
  Tests/Opc.Ua.Server.Tests/ServerComplexTypeSystemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address review: lean UA-TCP retry-after capture; verify parked-Publish cancel
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Tests/Opc.Ua.Server.Tests/SessionPublishQueueTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Tests: apply review feedback (deterministic paths, monotonic waits, accurate names)
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionReconnectHandlerCoverageTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsTestFixture.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/ModelDesignValidatorTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/NodeSetToModelDesignTests.cs
Due: azure-pipelines.yml

Fix Kafka Docker round-trip test: create topic before subscribing (CI)
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaIntegrationDockerTests.cs
Due: azure-pipelines.yml

Tests: add 5000/8000 ManySessions cases and opt-in benchmark result capture
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines.yml

docs: fold distributed certificate store into HighAvailability.md; link from CertificateManager.md; remove standalone doc (PR #3918 review feedback)
  Docs/CertificateManager.md
  Docs/DistributedCertificateStore.md
  Docs/HighAvailability.md
  Docs/README.md
Due: none

MCP Server Stdio transport: configure all logs to go to stderr
  Applications/McpServer/Program.cs
Due: azure-pipelines.yml

Add reloadable transcoding config and MQTT field promotion
  Docs/PubSub.md
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/MqttClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttBrokerTransport.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttMessage.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/PubSubTranscodingBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/Transcoding/Configuration/PubSubTranscodingOptions.cs
  Libraries/Opc.Ua.PubSub/Transcoding/Configuration/TranscodeRouteOptions.cs
  Libraries/Opc.Ua.PubSub/Transcoding/Configuration/TranscodeRouteOptionsFactory.cs
  Libraries/Opc.Ua.PubSub/Transcoding/ConnectionTranscodeEgress.cs
  Libraries/Opc.Ua.PubSub/Transcoding/PubSubTranscoder.cs
  Libraries/Opc.Ua.PubSub/Transcoding/PubSubTranscoderBuilder.cs
  Libraries/Opc.Ua.PubSub/Transcoding/PubSubTranscodingReloadCoordinator.cs
  Libraries/Opc.Ua.PubSub/Transcoding/PubSubTranscodingReloadHostedService.cs
  Libraries/Opc.Ua.PubSub/Transcoding/TranscodePromotion.cs
  Libraries/Opc.Ua.PubSub/Transcoding/TranscodeResult.cs
  Libraries/Opc.Ua.PubSub/Transcoding/TranscodeSpec.cs
  Libraries/Opc.Ua.PubSub/Transcoding/TranscodingBridgeActivator.cs
  Libraries/Opc.Ua.PubSub/Transports/IPubSubHeaderTransport.cs
  Libraries/Opc.Ua.PubSub/Transports/PubSubMessageProperty.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttClientAdapterTests.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttHeaderTransportTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/TranscodeConfigurationTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/TranscodePromotionTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/TranscodingTestUtilities.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/TranscodingWiringCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Tests: capture first connect error in benchmark ESTABLISH result line
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines.yml

Docs: Benchmarks.md - keep only the 1.5.378 comparison, drop step-by-step development story
  Docs/Benchmarks.md
Due: none

Fix CI: NativeAOT trim annotation and NoHttps Docker build
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Opc.Ua.Gds.Server.Common.csproj
  Libraries/Opc.Ua.PubSub/DependencyInjection/PubSubTransportFactoryServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerTransportBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix three high-severity audit findings in new 2.0 pub sub/GDS code (#3954)
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/AuthorizationServiceOptions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/InMemoryAccessTokenProvider.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Stack/Opc.Ua.Types/Schema/BinarySchemaValidator.cs
  Stack/Opc.Ua.Types/Schema/SchemaValidator.cs
  Stack/Opc.Ua.Types/Schema/XmlSchemaValidator.cs
  Stack/Opc.Ua.Types/Utils/FileSystem/NullFileSystem.cs
  Tests/Opc.Ua.Core.Schema.Tests/BsdSchemaValidationTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/InMemoryAccessTokenProviderRefreshTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/StartRequestTokenTests.cs
  Tests/Opc.Ua.PubSub.Tests/Connections/PubSubConnectionSecurityReceiveTests.cs
  Tests/Opc.Ua.Types.Tests/Utils/FileSystem/NullFileSystemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR review feedback
  Docs/ClientDiFluentApi.md
  Docs/DependencyInjection.md
  Docs/README.md
  Docs/ServerDiFluentApi.md
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/Audit/HashChainedAuditFileSinkTests.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/DependencyInjection/PcapServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/KeyLog/EncryptedKeyLogTests.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/KeyLog/FilePermissionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Tests: prove the Cancel service cancels a parked Publish request
  Tests/Opc.Ua.Server.Tests/SessionPublishQueueTests.cs
Due: azure-pipelines.yml

Docs: remove proposals/RetryAfter.md (filed as an OPC Foundation Mantis issue)
  Docs/README.md
  Docs/RateLimiting.md
  Docs/Sessions.md
  Docs/proposals/RetryAfter.md
Due: none

Fix CTT data-layer failures: Variant array write, DiagnosticInfos gating, multi-dim arrays (#3960)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Stack/Opc.Ua.Types/BuiltIn/TypeInfo.cs
  Tests/Opc.Ua.Client.TestFramework/Constants.cs
  Tests/Opc.Ua.InformationModel.Tests/AttributeReadTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/MasterNodeManagerNodeManagementTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/TypeInfoTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Strengthen Attribute Write conformance tests with real array round-trips (#3960)
  Tests/Opc.Ua.Client.TestFramework/Constants.cs
  Tests/Opc.Ua.InformationModel.Tests/AttributeWriteValuesTests.cs
Due: azure-pipelines.yml

Use ConfigureLogging method to redirect to stderr
  Applications/McpServer/Program.cs
Due: azure-pipelines.yml

Server-side complex types via the shared native-AOT path (#1306) (#3955)
  Applications/ConsoleReferenceClient/Program.cs
  Docs/ComplexTypes.md
  Docs/SchemaGeneration.md
  Docs/migrate/2.0.x/encoders.md
  Libraries/Opc.Ua.Client.ComplexTypes/ComplexTypeSystemFactory.cs
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystemClientExtensions.cs
  Libraries/Opc.Ua.Server/ComplexTypes/AddressSpaceComplexTypeResolver.cs
  Libraries/Opc.Ua.Server/ComplexTypes/ServerComplexTypeOptions.cs
  Libraries/Opc.Ua.Server/ComplexTypes/ServerComplexTypeSystem.cs
  Libraries/Opc.Ua.Server/ComplexTypes/ServerDataTypeDefinitionResolver.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerComplexTypesBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/ComplexTypeSystem.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DataDictionary.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DataTypeDefinitionExtension.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DataTypeException.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DefaultComplexTypeBuilder.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DefaultComplexTypeFactory.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DefaultComplexTypeFieldBuilder.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/IComplexTypeFactory.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/IComplexTypeResolver.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/readme.md
  Stack/Opc.Ua.Core.Schema/Opc.Ua.Core.Schema.csproj
  Stack/Opc.Ua.Core.Schema/Resolution/EncodeableFactoryDefinitionSource.cs
  Stack/Opc.Ua.Core.Types/Types/OptionSet.cs
  Stack/Opc.Ua.Types/Encoders/Structure.cs
  Tests/Opc.Ua.Aot.Tests/ComplexTypeAotTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolverTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/SchemaRegistrationTests.cs
  Tests/Opc.Ua.Core.Schema.Tests/EncodeableFactoryDefinitionSourceTests.cs
  Tests/Opc.Ua.Server.Tests/ServerComplexTypeSystemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix Condition comment overwritten by null Acknowledge/Confirm comment (#3960)
  Stack/Opc.Ua.Core.Types/State/AcknowledgeableConditionState.cs
  Tests/Opc.Ua.Features.Tests/AlarmConditionStateMethodTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Historize the full scalar type set for HA raw read + aggregates (#3960)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Tests/Opc.Ua.History.Tests/AggregateTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsConfirmTests.cs
  Tests/Opc.Ua.History.Tests/HistoricalAccessTests.cs
Due: azure-pipelines.yml

Wire CTT HA Profile Scalar nodes to the historized reference-server nodes (#3960)
  Applications/UAReferenceServer.ctt.xml
Due: azure-pipelines.yml
