Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Test PubSub HA provider registrations
  Tests/Opc.Ua.PubSub.Tests/Configuration/InMemoryPubSubProviderTests.cs
  Tests/Opc.Ua.PubSub.Tests/DependencyInjection/OpcUaPubSubBuilderExtensionsTests.cs
Due: azure-pipelines.yml

Add DTLS handshake message codecs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsHandshakeCodec.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsHandshakeReader.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsHandshakeTypes.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsHandshakeCodecTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add DTLS ECDHE key share support
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsEcdheKeyExchange.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsEcdheKeyExchangeTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add DTLS handshake reliability helpers
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsAckCodec.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsHandshakeReassembler.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsHandshakeReliabilityTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add DTLS certificate authentication helpers
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsCertificateAuthenticator.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsCertificateAuthenticatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add DTLS retry timer and HRR cookie helpers
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsHelloRetryCookieProtector.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsRetransmissionTimer.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsHandshakeCookieAndTimerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add DTLS Finished and KeyUpdate helpers
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsHandshakeKeyingContext.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsHandshakeKeyingContextTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Complete DTLS handshake flight driver
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DefaultDtlsContextFactory.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsDatagramTransport.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsHandshakeContext.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsTransportOptions.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/IDtlsContextFactory.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsHandshakeContextTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Optimize DTLS record protection
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsRecordProtection.cs
  Tests/Opc.Ua.PubSub.Bench/Opc.Ua.PubSub.Bench.csproj
  Tests/Opc.Ua.PubSub.Bench/Program.cs
  Tests/Opc.Ua.PubSub.Bench/Properties/AssemblyInfo.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Expand DTLS test and AOT coverage
  Tests/Opc.Ua.Aot.Tests/PubSubAotTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsHandshakeContextTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsProfileRegistryTests.cs
Due: azure-pipelines.yml

Document PubSub DTLS transport
  Docs/PubSub.md
  Docs/migrate/2.0.x/pubsub.md
  plans/dtls-profiles.md
Due: azure-pipelines.yml

Wire PubSub runtime state providers
  Docs/PubSub.md
  Libraries/Opc.Ua.PubSub.Server/DependencyInjection/OpcUaServerBuilderPubSubExtensions.cs
  Libraries/Opc.Ua.PubSub.Server/DependencyInjection/PubSubServerBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManager.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManagerFactory.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Configuration/IPubSubConfigurationStore.cs
  Libraries/Opc.Ua.PubSub/Configuration/InMemoryPubSubStores.cs
  Libraries/Opc.Ua.PubSub/Configuration/XmlPubSubConfigurationStore.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/OpcUaPubSubBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/PubSubSecurityServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/InMemoryPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/StateMachine/PubSubStateMachine.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Test PubSub provider failover rebuild
  Tests/Opc.Ua.PubSub.Tests/Application/PubSubApplicationProviderFailoverTests.cs
Due: azure-pipelines.yml

Certificate validator: lock-free validation + cache trust material/CRLs
  Docs/CertificateManager.md
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidationConcurrencyBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/DirectoryCertificateStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Synchronize ConditionState branch collection access (port to master) (#3901)
  Stack/Opc.Ua.Core.Types/State/ConditionState.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(history-tests): poll ConfirmedState after Confirm to bridge server race
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsConfirmTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsTestFixture.cs
Due: azure-pipelines.yml

Docs: restructure Benchmarks.md (How to run / 2.0 vs 1.5.378 / Pooled encodeable)
  Docs/Benchmarks.md
  Docs/README.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
  Docs/perf/PooledNotificationBenchmarks.md
Due: none

Move DTLS ZeroMemory/FixedTimeEquals into stack CryptoUtils; remove PubSub DtlsCryptographicOperations
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsCertificateAuthenticator.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsCryptographicOperations.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsEcdheKeyExchange.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsHandshakeContext.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsHandshakeKeyingContext.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsHelloRetryCookieProtector.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsHkdf.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsKeySchedule.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsProfileRegistry.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsRecordProtection.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsTranscriptHash.cs
  Stack/Opc.Ua.Core/Security/Certificates/CryptoUtils.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CryptoUtilsTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Dtls/DtlsKeyScheduleTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Tests/Opc.Ua.Core.Security.Tests/PushCertManagementTests.cs
Due: azure-pipelines.yml

chore: remove .testagent/coverage-after artifacts per review feedback
  .testagent/coverage-after.csv
  .testagent/coverage-after.md
Due: azure-pipelines.yml

Address PR review feedback
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/ISession.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/DirectoryCertificateStoreTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/NodeIdTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Cap client operation limits to the server's MaxArrayLength
  Docs/Sessions.md
  Libraries/Opc.Ua.Client/Session/Session.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(channel-manager): non-throwing ReconnectAsync must not surface SwapFaultedEntryAsync open failures
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR feedback: clarify MaxArrayLength docs and simplify cast
  Docs/Sessions.md
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix High PubSub security findings SA-REGR-01 and SA-ACT-01
  Applications/McpServer/PubSubRuntimeManager.cs
  Libraries/Opc.Ua.PubSub/Application/IPubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplicationBuilder.cs
  Libraries/Opc.Ua.PubSub/Connections/IPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/IPubSubBuilder.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/PubSubBuilder.cs
  Tests/Opc.Ua.PubSub.Server.Tests/ServerMethodActionHandlerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Application/PubSubActionRuntimeTests.cs
  Tests/Opc.Ua.PubSub.Tests/Connections/PubSubConnectionSecurityReceiveTests.cs
  Tests/Opc.Ua.PubSub.Tests/DependencyInjection/PubSubActionResponderBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove binlog
  msbuild.binlog
Due: azure-pipelines.yml

Add ObjectDesign to NodeState generator LoadTemplate_ReplaceChild
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
Due: azure-pipelines.yml

Security: clear pooled encoder secrets + bound cert/CRL cache freshness
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
  Stack/Opc.Ua.Types/Utils/Buffers/ArrayPoolBufferWriter{T}.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/DirectoryCertificateStoreTests.cs
  Tests/Opc.Ua.Types.Tests/Utils/Buffers/ArrayPoolBufferTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(pubsub-tests): add Task.Delay before first fake.Advance in FakeTimeProviderDrivesDeterministicSchedulingAsync
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
Due: azure-pipelines.yml

fix(sessions-tests): catch expected SocketException from exhausted first ReconnectAsync, revert manager swallow
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Tests/Opc.Ua.Sessions.Tests/ChannelManagerTransparentReconnectIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(channel-manager): preserve channel entry after failed swap open
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(channel-manager): restore original entry when swap open fails
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(sessions-tests): drop racy GetDiagnostic-Faulted assertion
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Tests/Opc.Ua.Sessions.Tests/ChannelManagerTransparentReconnectIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Apply suggestions from code review
  Libraries/Opc.Ua.Client/Session/Session.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/Capture/InProcessClientCaptureSourceTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove vestigial in-memory trusted/issuer cert list from CertificateValidationCore
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remediate Info DTLS findings SA-DTLS-CRYPTO-03 and SA-DTLS-HS-07
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsAntiReplayWindow.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsHandshakeReassembler.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsRecordProtection.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Dtls/DtlsRecordProtectionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix net48 build: use Span.Fill instead of Array.Fill in CRL cache test
  Tests/Opc.Ua.Core.Tests/Security/Certificates/DirectoryCertificateStoreTests.cs
Due: azure-pipelines.yml

Synchronize ConditionState branch collection access (#3895)
  Libraries/Opc.Ua.Client/CoreClientUtils.NodeSetExport.cs
  Stack/Opc.Ua.Core/Stack/State/ConditionState.cs
  Stack/Opc.Ua.Types/State/NodeStateCollection.cs
  Tests/Opc.Ua.Client.Tests/NodeSetExportTest.cs
  Tests/Opc.Ua.Client.Tests/SessionTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
