Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Skip concurrent NodeCache stress tests on HTTPS variants
  Tests/Opc.Ua.Client.Tests/NodeCache/NodeCacheAsyncTest.cs
Due: azure-pipelines.yml

Fix CS8625 in ConfiguredEndpoint test calls
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/OpcUaClientServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ServerRedundancyHandlerTests.cs
Due: azure-pipelines.yml

test: stabilize Client CI flakes after master merge
  Tests/Opc.Ua.Client.Tests/NodeCache/NodeCacheAsyncTest.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MessageProcessorTests.cs
Due: azure-pipelines.yml

fix(tcp-listener): send fault response on request handler exception
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement Phases 1, 2, 5, 6, 7 of the certificate-manager migration
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/ConsoleReferenceServer/UAServer.cs
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Docs/CertificateManagerMigration.md
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Tests/Opc.Ua.Aot.Tests/AotTestFixture.cs
  Tests/Opc.Ua.Aot.Tests/BoilerNodeManagerAotTests.cs
  Tests/Opc.Ua.Aot.Tests/GdsTestFixture.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/TemporaryCertificateManager.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 3: retire CertificateTypesProvider from transports
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateLifecycle.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateRegistry.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ITransportBindings.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServiceHost.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportListener.cs
  Stack/Opc.Ua.Core/Stack/Transport/TransportListenerSettings.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 4: drop ApplicationConfiguration.CertificateValidator init
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/ApplicationConfigurationEncodingTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/ApplicationConfigurationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Fluent/ServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Utils/AsyncReaderWriterLock.cs
  Libraries/Opc.Ua.Client/Utils/OptionsFactory.cs
  Libraries/Opc.Ua.Client/Utils/OptionsMonitor.cs
  Libraries/Opc.Ua.Client/Utils/OptionsReader.cs
  Tests/Opc.Ua.Client.Tests/Utils/AsyncReaderWriterLockTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 1 cleanup (partial): add new validation knobs to CertificateManager
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateLifecycle.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/RejectedCertificateProcessor.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/TemporaryCertificateManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update CertificateManagerMigration doc to reflect current state
  Docs/CertificateManagerMigration.md
Due: none

cleanup
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/LocalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509Extensions.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Crl/CrlBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/CryptoUtils.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeManagedSubscription.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateValidatorAdapterTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/TrustListTransactionTests.cs
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateWrapperTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Pkcs10CertificationRequestTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ModelDependencyGeneratorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Tools/NodeSetExportTools.cs
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/LocalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateCache.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateChangeSubject.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Stack/Opc.Ua/Types/OptionSet.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateIdentifierTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/DirectoryCertificateStoreTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateWrapperTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/GeneratedManagerHybridTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeSubscriptionManagerContext.cs
  Tests/Opc.Ua.Core.Tests/LeakDetectionSetup.cs
Due: azure-pipelines.yml

Phase 1 finish: retire TemporaryCertValidator
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/RejectedCertificateProcessor.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/TemporaryCertValidator.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/TemporaryCertificateManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase B (partial Phase 8): delete CertificateValidator obsolete forwarders
  Docs/CertificateManager.md
  Docs/CertificateManagerMigration.md
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/ApplicationConfigurationEncodingTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/ApplicationConfigurationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/ConsoleReferenceServer/UAServer.cs
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Tools/ConnectionTools.cs
  Applications/McpServer/Tools/ConvenienceTools.cs
  Applications/McpServer/Tools/NodeSetExportTools.cs
  Applications/McpServer/Tools/SessionResources.cs
  Applications/MinimalBoilerServer/BoilerNodeManager.Configure.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateCache.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidatorAdapter.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidationExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicies.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ITransportBindings.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Diagnostics/DiagnosticsExtensions.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServiceHost.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportListener.cs
  Stack/Opc.Ua.Core/Stack/Transport/TransportListenerSettings.cs
  Stack/Opc.Ua.Types/Utils/UnsecureRandom.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Serialization/OpcUaJsonHelper.cs
  Applications/McpServer/Tools/ConvenienceTools.cs
  Applications/McpServer/Tools/DiscoveryServiceTools.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Server/Fluent/BrowsePathResolver.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTrustList.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 8 commit A: add CertificateValidationCore + helpers
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationHelpers.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 8 commit B: CertificateManager uses CertificateValidationCore
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/RejectedCertificateProcessor.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 8 commit C: centralise rejected-store enqueue in CertificateManager
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 8 commit D: simplify CertificateValidationExtensions
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidationExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 8 commit E: retire X509TestUtils legacy validator usage
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateValidatorAdapterTests.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
Due: azure-pipelines.yml

Phase 8 commit F: delete the legacy CertificateValidator bridge
  Docs/CertificateManager.md
  Docs/CertificateManagerMigration.md
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateUpdateEventArgs.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidatorAdapter.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateValidatorEx.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/ICertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove CertificateManagerMigration.md now that migration is complete
  Docs/CertificateManagerMigration.md
Due: none

fix: NRE on PubSub Mqtt dispose and ReferenceServer node-manager dispose
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(SubscriptionTests): fix indefinite hang in OnKeepAlive callback
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTests.cs
Due: azure-pipelines.yml

cleanup
  Applications/McpServer/Tools/DiscoveryServiceTools.cs
  Stack/Opc.Ua.Types/BuiltIn/DataContractSurrogates.cs
  Stack/Opc.Ua.Types/BuiltIn/Matrix.cs
  Tests/Opc.Ua.Aot.Tests/EncodingAotTests.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionBuilderTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubApplicationEventTests.cs
  Tests/Opc.Ua.Server.Tests/LeakDetectionSetup.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix: resolve baseline analyzer errors blocking RunAnalyzersDuringBuild
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/X509IdentityTokenHandlerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(server): share CertificateManager across ServerBase, refresh cert ids on Update
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: dotnet format style IDE0032 IDE0049 (using directive ordering)
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
  Applications/McpServer/Program.cs
  Fuzzing/Encoders/Fuzz.Tests/TestUtils.cs
  Fuzzing/common/Fuzz.Tools/Program.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/X509PfxUtils.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Stack/Diagnostics/DiagnosticsExtensions.cs
  Stack/Opc.Ua.Types/Schema/TypeDictionaryValidator.cs
  Stack/Opc.Ua.Types/Schema/XmlSchemaValidator2.cs
  Stack/Opc.Ua.Types/Utils/Buffers/ReadOnlySpan.cs
  Tests/Opc.Ua.Client.Tests/Session/DefaultSubscriptionEngineTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTests.cs
  Tests/Opc.Ua.Core.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientChannelManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderCompactTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderEscapeStringBenchmarks.cs
  Tests/Opc.Ua.Security.Certificates.Tests/TestUtils.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemIdFactoryTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/DesignFileTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/BinaryResourceTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ResourceExtensionsTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/StreamResourceTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/TextFileResourceTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/TextReaderResourceTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/TextResourceTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/TypeGeneratorTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/ArrayOfTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/MatrixOfTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/XmlElementTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlDecoderTests.cs
  Tests/Opc.Ua.Types.Tests/Utils/Buffers/ReadOnlySpanTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/NodesetFile.cs
  Tools/Opc.Ua.SourceGeneration.Stack/StackSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration/SourceGeneratorTelemetry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: dotnet format analyzers RCS1043 RCS1061 RCS1090
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicies.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: dotnet format analyzers RCS1132 RCS1140 RCS1142
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Types/BuiltIn/TypeInfo.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/ApplicationConfigurationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(certs): add CertificateIdentifierResolver helper (additive)
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: dotnet format analyzers RCS1049 RCS1085
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleBasedIdentity.cs
  Stack/Opc.Ua/Types/OptionSet.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
