Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .Net Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .Net Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
        buildoption: -p:NoHttps=true
  ...

Updated Documentation as requested
  Stack/Opc.Ua.Core/Stack/State/AcknowledgeableConditionState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix issue setting empty comments Issue #1264 (#1265)
  Stack/Opc.Ua.Core/Stack/State/AcknowledgeableConditionState.cs
  Stack/Opc.Ua.Core/Stack/State/ConditionState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feedback
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ReferenceServer/SerilogTraceLogger.cs
Due: azure-pipelines.yml

Fix LGTM build warnings for PubSub
  Applications/ConsoleReferencePublisher/PublishedValuesWrites.cs
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurator.cs
  Libraries/Opc.Ua.PubSub/Uadp/UadpDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Uadp/UadpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Uadp/UdpClientBroadcast.cs
  Libraries/Opc.Ua.PubSub/Uadp/UdpClientCreator.cs
  Tests/Opc.Ua.PubSub.Tests/PubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/PubSubStateMachineTests.Subscriber.cs
  Tests/Opc.Ua.PubSub.Tests/UaPublisherTests.cs
  Tests/Opc.Ua.PubSub.Tests/UadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/UadpPubSubConnectionTests.Publisher.cs
  Tests/Opc.Ua.PubSub.Tests/UadpPubSubConnectionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Serilog sample to ref servers (#1263)
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Applications/ConsoleReferenceServer/Dockerfile
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceServer/dockerbuild.bat
  Applications/ConsoleReferenceServer/dockerbuild.sh
  Applications/ConsoleReferenceServer/dockerrun.bat
  Applications/ConsoleReferenceServer/dockerrun.sh
  Applications/ReferenceServer/Program.cs
  Applications/ReferenceServer/Reference Server.csproj
  Applications/ReferenceServer/SerilogTraceLogger.cs
  UA Reference.sln
Due: azure-pipelines.yml

Avoid DoScan() loop in DiagnosticsNodeManager.OnReadDiagnosticsArray() . Fixes #1258
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

TranslateBrowsePath fix. IncludeSubtypes should be ignored when ReferenceTypeId is not specified.
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix comment spelling mistakes - 'refernces' to 'references'
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/v10/CustomNodeManager.cs
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Avoid DoScan() loop in DiagnosticsNodeManager.OnReadDiagnosticsArray() . Fixes #1258 (#1270)
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

TranslateBrowsePath fix. IncludeSubtypes should be ignored when ReferenceTypeId is not specified. (#1271)
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix comment spelling mistakes - 'refernces' to 'references' (#1273)
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/v10/CustomNodeManager.cs
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix Issues 1274 and 1275
  Stack/Opc.Ua.Core/Stack/State/AlarmConditionState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update Documentation for Publicly visible UnshelveTimeUpdateRate
  Stack/Opc.Ua.Core/Stack/State/AlarmConditionState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix Issues 1274 and 1275 (#1277)
  Stack/Opc.Ua.Core/Stack/State/AlarmConditionState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Merge model compiler fixes with latest code.
  Stack/Opc.Ua.Core/Stack/State/ModelCompilerExtension.cs
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
  Stack/Opc.Ua.Core/Stack/State/NodeStateCollection.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix XmlEncoder.
  Stack/Opc.Ua.Core/Types/Encoders/XmlEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix unit tests errors.
  Stack/Opc.Ua.Core/Schema/UANodeSetHelpers.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Core/Types/Schemas/SchemaValidator.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adds proper TPL usage, decouples dependencies on Console and ClientBase, and uses string interpolation versus String.Format.
  Applications/ConsoleReferenceClient/Output.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
Due: azure-pipelines.yml

Update PubSub to use new autogenerated APIs.
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
  Libraries/Opc.Ua.PubSub/PublishedData/DataCollector.cs
  Libraries/Opc.Ua.PubSub/Uadp/UadpDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Uadp/UadpPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix build errors in tests.
  Tests/Opc.Ua.PubSub.Tests/DataCollectorTests.cs
  Tests/Opc.Ua.PubSub.Tests/UadpPubSubConnectionTests.Publisher.cs
  Tests/Opc.Ua.PubSub.Tests/UadpPubSubConnectionTests.Subscriber.cs
  Tests/Opc.Ua.PubSub.Tests/UadpPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/UdpClientCreatorTests.cs
Due: azure-pipelines.yml

NetCoreReferenceServer no more exist
  README.md
Due: none

fix issue with https binding .net core 3.0 support #1283
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix issue with https binding .net core 3.0 #1283 (#1286)
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add a certificate password provider.
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Applications/ConsoleReferenceServer/Program.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

simplify solution
  Applications/ConsoleReferenceServer/Program.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificatePasswordProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Renames private members to standard naming convention.
  Applications/ConsoleReferenceClient/UAClient.cs
Due: azure-pipelines.yml

Proper TPL usage and dependency injection for ConsoleReferenceClient (#1281)
  Applications/ConsoleReferenceClient/Output.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
Due: azure-pipelines.yml

CR feedback
  README.md
Due: none

fix ambiguity of LoadPrivateKey
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback
  Applications/ConsoleReferenceServer/Program.cs
Due: azure-pipelines.yml

Add certificate password provider interface to support password protected pfx files. (#1291)
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Applications/ConsoleReferenceServer/Program.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificatePasswordProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Limit recursion level in XmlDecoder.ReadMatrix() and XmlEncoder.WriteMatrix()
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove Profiles.UadpTransport constant and add pub sub transport profiles
  Applications/ConsoleReferencePublisher/Program.cs
  Libraries/Opc.Ua.PubSub/ObjectFactory.cs
  Libraries/Opc.Ua.PubSub/UaPubSubApplication.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityConstants.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Refactor existing PubSub classes, Add Encoding and Transport folders (namespaces) rename pt UapdPubSyubConnection to UdpPubSubConnection
  Applications/ConsoleReferencePublisher/Program.cs
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurationHelper.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpDataEventArgs.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/ObjectFactory.cs
  Libraries/Opc.Ua.PubSub/Opc.Ua.PubSub.csproj
  Libraries/Opc.Ua.PubSub/Transport/UdpClientBroadcast.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientCreator.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientMulticast.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientUnicast.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Ag MQTT connection and first draft of Json encoding
  Applications/ConsoleReferencePublisher/Program.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Enums.cs
  Libraries/Opc.Ua.PubSub/Opc.Ua.PubSub.csproj
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaDataSerMessage.cs
  Libraries/Opc.Ua.PubSub/UaNetworkMessage.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
