Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

test: fix stale ManagedSession reflection constructor signatures
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionTests.cs
Due: azure-pipelines.yml

ci(test): fix large-TRX parse failure in the result gate
  .azurepipelines/test.yml
Due: azure-pipelines.yml

build: fix RestrictForLegacyTfm no-op shell on netstandard2.x (CS8021)
  Directory.Build.targets
Due: azure-pipelines.yml

test: cover K8s builder registration; exclude integration-only K8s IO from codecov
  Tests/Opc.Ua.Server.Redundancy.K8s.Tests/KubernetesServerBuilderExtensionsTests.cs
  codecov.yml
Due: azure-pipelines.yml

build: make RedundantServer sample follow CustomTestTarget (fix net8 Lock ambiguity)
  Applications/RedundantServer/RedundantServer.csproj
Due: azure-pipelines.yml

build: don't build net10-only McpServer on net8/net9 all-TFM legs
  Tests/Opc.Ua.Core.Diagnostics.Tests/McpServerTools/McpServerOptionsTests.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/McpServerTools/PacketDecodePathValidationTests.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/Opc.Ua.Core.Diagnostics.Tests.csproj
Due: azure-pipelines.yml

Add Bad_MethodInvalid interop fallback for generated ObjectType proxy method calls (#3917)
  Docs/WoTConnectivity.md
  Stack/Opc.Ua.Core/Stack/Client/ObjectTypeClient.cs
  Tests/Opc.Ua.Client.Tests/ObjectTypeClientCallFallbackTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ObjectTypeProxyGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: address PR review - remove redundancy migration section, TFM-availability line, and Kubernetes stub
  Docs/HighAvailability.md
  Docs/KubernetesDeployment.md
  Docs/MigrationGuide.md
Due: none

fix(webapi-tests): build empty net10 shell for netstandard2.0/2.1 CustomTestTarget
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/Opc.Ua.Bindings.Https.WebApi.Tests.csproj
Due: azure-pipelines.yml

test: widen CRDT convergence deadline 10s->30s to fix CI starvation flake
  Tests/Opc.Ua.Server.Redundancy.Crdt.Tests/AddressSpace/CrdtAddressSpaceSynchronizerTests.cs
  Tests/Opc.Ua.Server.Redundancy.Crdt.Tests/Sessions/CrdtSharedKeyValueStoreTests.cs
Due: azure-pipelines.yml

StatusCode equality compares code bits by default; expose all-bits comparison (#3921)
  Docs/migrate/2.0.x/types.md
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonEncoder.cs
  Libraries/Opc.Ua.Server/Aggregates/AggregateCalculator.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Stack/Opc.Ua.Types/BuiltIn/DiagnosticInfo.cs
  Stack/Opc.Ua.Types/BuiltIn/StatusCode.cs
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Stack/Opc.Ua.Types/State/BaseVariableState.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemValueChangedTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/DataValueTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/DiagnosticInfoTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/StatusCodeTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(core-tests): add Microsoft.Extensions.Hosting reference for net8+ TFMs
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
Due: azure-pipelines.yml

fix(sessions-tests): gate WebApi/Kestrel-TCP tests with !NET_STANDARD_TESTS
  Tests/Opc.Ua.Sessions.Tests/ClientTestKestrelTcp.cs
  Tests/Opc.Ua.Sessions.Tests/HttpsWebApiIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/KestrelTcpIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/KestrelTcpReverseConnectIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/WssOpenApiIntegrationTests.cs
Due: azure-pipelines.yml

fix(pr-feedback): remove unimplemented options, obsolete aliases, add Content-Length hint to WebApi body decode
  Docs/Transports.md
  Libraries/Opc.Ua.Client/WebApi/WebApiClient.cs
  Stack/Opc.Ua.Bindings.Https/WebApi/Endpoints/WebApiEndpointDispatcher.cs
  Stack/Opc.Ua.Bindings.Https/WebApi/WebApiTransportOptions.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityConstants.cs
  Stack/Opc.Ua.Core/Stack/WebApi/WebApiBodyCodec.cs
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/WebApiTransportOptionsTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/WebApi/WebApiMediaTypeTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(crdt): guarantee value convergence under concurrent multi-writer load
  Libraries/Opc.Ua.Server.Redundancy.Crdt/AddressSpace/CrdtAddressSpaceSynchronizer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Harden DTLS Certificate handle ownership and disposal
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DefaultDtlsContextFactory.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsCertificateAuthenticator.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsHandshakeContext.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsTransportOptions.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Dtls/DtlsCertificateAuthenticatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Format/diagnostic sweep on DTLS Certificate ownership changes
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsCertificateAuthenticator.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsHandshakeContext.cs
  Libraries/Opc.Ua.PubSub.Udp/Dtls/DtlsTransportOptions.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Dtls/DtlsCertificateAuthenticatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add CA trust chain to MQTT TLS configuration surface (#3920)
  Docs/PubSub.md
  Libraries/Opc.Ua.PubSub.Mqtt/DependencyInjection/MqttTransportServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/IMqttTrustedIssuerResolver.cs
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/MqttClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/MqttClientAdapterFactory.cs
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/TrustedIssuerStoreResolver.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttTlsOptions.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttTlsOptionsTests.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/TrustedIssuerStoreResolverTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(#3923): async ITransportListener + profile-aware MatchEndpoints
  Docs/migrate/2.0.x/README.md
  Docs/migrate/2.0.x/transport-listener-async.md
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Lds.Server/LdsServer.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Https/SharedKestrelHostRegistry.cs
  Stack/Opc.Ua.Bindings.Https/Tcp/KestrelTcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ITransportBindings.cs
  Stack/Opc.Ua.Core/Stack/Client/ReverseConnectHost.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServiceHost.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportListener.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportListenerCertificateRotation.cs
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/HttpsListenerStartupContributorTests.cs
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/RealHttpsListenerIntegrationTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Bindings/TransportBindingRegistryTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ReverseConnectHostTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/SharedKestrelHostTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/TransportListenerCertificateRotationTests.cs
  Tests/Opc.Ua.Sessions.Tests/KestrelTcpIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server] Clean up node creation in ConfigurationNodeManager and DiagnosticsNodeManager (#3833)
  Applications/ConsoleReferenceServer/Ctt.ReferenceServer.Config.xml
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Tests/Opc.Ua.Core.Security.Tests/PushCertManagementDepthTests.cs
  Tests/Opc.Ua.Core.Security.Tests/PushCertManagementTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

samples: simplify RedundantClient to a transparent ManagedSession; add docker-compose; document client HA
  Applications/RedundantClient/ClientFailoverMode.cs
  Applications/RedundantClient/Dockerfile
  Applications/RedundantClient/Program.cs
  Applications/RedundantClient/README.md
  Applications/RedundantClient/SeededRedundantServerEndpointResolver.cs
  Applications/RedundantServer/Dockerfile
  Applications/RedundantServer/Program.cs
  Applications/RedundantServer/README.md
  Applications/RedundantServer/docker-compose.active-active.yml
  Applications/RedundantServer/docker-compose.active-passive.yml
  Docs/HighAvailability.md
Due: azure-pipelines.yml

fix(pr-feedback): CA2000 suppressions, record struct, doc cleanups
  Docs/migrate/2.0.x/README.md
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): MatchEndpoints reflection signature, OpenAPI carve-out, cert disposal
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ConfiguredEndpointTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(pr-feedback): prefer #pragma warning over SuppressMessage attribute
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Https/SharedKestrelHostRegistry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(client-redundancy): add Opc.Ua.Client.Redundancy coordinator library
  Libraries/Opc.Ua.Client.Redundancy/ClientReplicaCoordinator.cs
  Libraries/Opc.Ua.Client.Redundancy/ClientReplicaOptions.cs
  Libraries/Opc.Ua.Client.Redundancy/ClientStandbyMode.cs
  Libraries/Opc.Ua.Client.Redundancy/NugetREADME.md
  Libraries/Opc.Ua.Client.Redundancy/Opc.Ua.Client.Redundancy.csproj
  Libraries/Opc.Ua.Client.Redundancy/Properties/AssemblyInfo.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(client-redundancy): fluent builder, unit tests, HA.md how-to
  Docs/HighAvailability.md
  Libraries/Opc.Ua.Client.Redundancy/ClientReplicaSetBuilder.cs
  Tests/Opc.Ua.Client.Redundancy.Tests/ClientReplicaCoordinatorTests.cs
  Tests/Opc.Ua.Client.Redundancy.Tests/Opc.Ua.Client.Redundancy.Tests.csproj
  Tests/Opc.Ua.Client.Redundancy.Tests/Properties/AssemblyInfo.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(client-redundancy): token-reuse fast-activate on promotion
  Libraries/Opc.Ua.Client.Redundancy/ClientReplicaCoordinator.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

build: add Opc.Ua.Redundancy using to remaining seam consumers (Aot/Sessions tests)
  Tests/Opc.Ua.Aot.Tests/DistributedRedundancyAotTests.cs
  Tests/Opc.Ua.Sessions.Tests/DistributedSessionFailoverIntegrationTests.cs
Due: azure-pipelines.yml

refactor: tidy Opc.Ua.Client/Session into Redundancy/Subscription/Reconnect subfolders
  Libraries/Opc.Ua.Client/Session/Reconnect/ConnectionState.cs
  Libraries/Opc.Ua.Client/Session/Reconnect/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/Reconnect/IReconnectPolicy.cs
  Libraries/Opc.Ua.Client/Session/Reconnect/ReconnectPolicy.cs
  Libraries/Opc.Ua.Client/Session/Reconnect/ReconnectPolicyOptions.cs
  Libraries/Opc.Ua.Client/Session/Reconnect/SessionReconnectHandler.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ClientFailoverCoordinator.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ClientRedundancyTransferOptions.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/DefaultRedundantManagedClientSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/DefaultRedundantServerEndpointResolver.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/DefaultServerRedundancyHandler.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/IClientFailoverCoordinator.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/IRedundantManagedClientSession.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/IRedundantManagedClientSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/IRedundantServerEndpointResolver.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/IServerRedundancyHandler.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ManagedSessionRedundantClientSession.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/NetworkRedundancyEndpointSelector.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/NetworkRedundancyOptions.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/RedundantManagedClient.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/RedundantManagedClientNotificationEventArgs.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/RedundantManagedClientOptions.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/RedundantServer.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ServerFailoverDecision.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ServerRedundancyInfo.cs
  Libraries/Opc.Ua.Client/Session/Subscription/ClassicSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/Subscription/ClassicSubscriptionEngineFactory.cs
  Libraries/Opc.Ua.Client/Session/Subscription/DefaultSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/Subscription/DefaultSubscriptionEngineFactory.cs
  Libraries/Opc.Ua.Client/Session/Subscription/ISubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/Subscription/ISubscriptionEngineContext.cs
  Libraries/Opc.Ua.Client/Session/Subscription/ISubscriptionEngineFactory.cs
  Libraries/Opc.Ua.Client/Session/Subscription/SessionEngineContext.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor: fold Opc.Ua.Client.Redundancy into Opc.Ua.Client/Session/Redundancy
  Libraries/Opc.Ua.Client.Redundancy/NugetREADME.md
  Libraries/Opc.Ua.Client.Redundancy/Opc.Ua.Client.Redundancy.csproj
  Libraries/Opc.Ua.Client.Redundancy/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ClientReplicaCoordinator.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ClientReplicaOptions.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ClientReplicaSetBuilder.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ClientStandbyMode.cs
  Tests/Opc.Ua.Client.Redundancy.Tests/Opc.Ua.Client.Redundancy.Tests.csproj
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(client): add IManagedSession:ISession entry-point exposing RedundancySupport
  Libraries/Opc.Ua.Client/Session/IManagedSession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor!: remove RedundantManagedClient; ManagedSession is sole entry point; merge Crdt folders + rename AddressSpace->State
  Docs/HighAvailability.md
  Docs/README.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/DefaultRedundantManagedClientSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/IRedundantManagedClientSession.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/IRedundantManagedClientSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ManagedSessionRedundantClientSession.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/RedundantManagedClient.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/RedundantManagedClientNotificationEventArgs.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/RedundantManagedClientOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Sessions/CrdtSessionManagerFactory.cs
  Libraries/Opc.Ua.Redundancy.Server/Sessions/CrdtSharedKeyValueStore.cs
  Libraries/Opc.Ua.Redundancy.Server/Sessions/ReplicatedSessionOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/State/AddressSpaceSynchronizer.cs
  Libraries/Opc.Ua.Redundancy.Server/State/ByteStringCrdtSerializer.cs
  Libraries/Opc.Ua.Redundancy.Server/State/CrdtAddressSpaceStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/State/CrdtAddressSpaceSynchronizer.cs
  Libraries/Opc.Ua.Redundancy.Server/State/DictionaryAddressSpace.cs
  Libraries/Opc.Ua.Redundancy.Server/State/DistributedAddressSpaceOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/State/DistributedAddressSpaceStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/State/IAddressSpaceSynchronizer.cs
  Libraries/Opc.Ua.Redundancy.Server/State/INodeStateStore.cs
  Libraries/Opc.Ua.Redundancy.Server/State/INodeStateStoreRegistry.cs
  Libraries/Opc.Ua.Redundancy.Server/State/IStoredNode.cs
  Libraries/Opc.Ua.Redundancy.Server/State/InMemoryNodeStateStore.cs
  Libraries/Opc.Ua.Redundancy.Server/State/NodeStateChange.cs
  Libraries/Opc.Ua.Redundancy.Server/State/NodeStateSerializer.cs
  Libraries/Opc.Ua.Redundancy.Server/State/NodeStateStoreRegistry.cs
  Libraries/Opc.Ua.Redundancy.Server/State/ReplicatedAddressSpaceOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/State/StoredNode.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionBuilderRedundancyTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionRedundantClientSessionTests.cs
  Tests/Opc.Ua.Client.Tests/Session/RedundantManagedClientTests.cs
  Tests/Opc.Ua.Redundancy.Server.Integration.Tests/RedundantServerSetIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat: add Opc.Ua.Redundancy.Client (CRDT gossip client store for replica sets)
  Libraries/Opc.Ua.Redundancy.Client/ByteStringCrdtSerializer.cs
  Libraries/Opc.Ua.Redundancy.Client/CrdtClientKeyValueStore.cs
  Libraries/Opc.Ua.Redundancy.Client/NugetREADME.md
  Libraries/Opc.Ua.Redundancy.Client/Opc.Ua.Redundancy.Client.csproj
  Libraries/Opc.Ua.Redundancy.Client/Properties/AssemblyInfo.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): dedup listener disposal in ServerBase.StopAsync
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(client): redundancy transparent + on by default in ConnectAsync
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: migration note for redundancy package re-topology + RedundantManagedClient removal
  Docs/MigrationGuide.md
Due: none

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
