Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Address PR review feedback (round 3)
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AcknowledgeableConditionHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServerConfigurationNodeManager.cs
  Applications/UAReferenceServer.ctt.xml
Due: azure-pipelines.yml

Improve V2 triggering test coverage and fix options-change diff semantics
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTriggeringTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add unit tests for V2 SetTriggering fluent helpers
  Tests/Opc.Ua.Client.Tests/Subscription/SetTriggeringFluentHelperTests.cs
Due: azure-pipelines.yml

Add unit tests for V2 Subscription.SetTriggeringAsync imperative API
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTests.cs
Due: azure-pipelines.yml

Scope auto-reconnect to ApplicationCertificateUpdated only
  Docs/CertificateManager.md
  Libraries/Opc.Ua.Client/Session/ManagedSession.CertificateChanges.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make Add{Child} chainable and accept optional NodeId
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AlarmConditionTypeHolder.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Historian/HistoricalDataConfigurationInstaller.cs
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredentialPushSubject.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetRegistry.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityNodeManager.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CTT conformance issues #3719, #3720, #3723, #3841 (#3851)
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AcknowledgeableConditionHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AcknowledgeableConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AlarmConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/ConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServerConfigurationNodeManager.cs
  Applications/UAReferenceServer.ctt.xml
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Stack/Opc.Ua.Core.Types/State/AcknowledgeableConditionState.cs
  Stack/Opc.Ua.Core/Schema/Opc.Ua.NodeSet2.xml
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Tests/Opc.Ua.History.Tests/AlarmEventCollector.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAcknowledgeTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsConfirmTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsEnableTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsNonExclusiveLimitTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsTestFixture.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInfoServerTests.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInfoStateMachineInstanceTests.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInformationTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServerConfigurationNodeManager.cs
  UA.slnx
Due: azure-pipelines.yml

Address PR review feedback (3 unresolved threads)
  Docs/McpServer.md
  Docs/MigrationGuide.md
  Docs/PacketCapture.md
  Docs/PacketCaptureFileFormats.md
  Docs/README.md
Due: none

Re-enable auto-reconnect on trust/CRL changes via debounced revalidation
  Docs/CertificateManager.md
  Libraries/Opc.Ua.Client/Session/ManagedSession.CertificateChanges.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Replace AddAndGet{Child} with chainable Add{Child} callback overloads
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Historian/HistoricalDataConfigurationInstaller.cs
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredentialPushSubject.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityNodeManager.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Simplify token-activated subscription (channel is always ISecureChannel) (CA1508)
  Stack/Opc.Ua.Bindings.Pcap/Bindings/PcapTransportChannelBinding.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: cross-reference Pcap binding integration with IClientChannelManager
  Docs/PacketCapture.md
  Docs/Sessions.md
Due: none

style: fix whitespace and final-newline formatting (WHITESPACE, FINALNEWLINE)
  Applications/ConsoleReferenceClient/AlarmClientSample.cs
  Libraries/Opc.Ua.Client/Historian/HistoryClient.Extras.cs
  Libraries/Opc.Ua.Client/Subscription/Streaming/StreamingSubscription.cs
  Libraries/Opc.Ua.Di.Client/DiTopologyClient.cs
  Libraries/Opc.Ua.Di.Client/DiTransferClient.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateBuilder.cs
  Libraries/Opc.Ua.Di.Server/Hosting/DiPostSetupContext.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/FileSystemSoftwareFolder.cs
  Libraries/Opc.Ua.Server/Fluent/PropertyInitBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/ReferenceBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core.Types/State/AlarmConditionState.Methods.cs
  Stack/Opc.Ua.Core/Stack/Client/EventRecord.cs
  Tests/Opc.Ua.Client.Tests/Streaming/StreamingSubscriptionExtensionsTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Diagnostics/OpcUaServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Features.Tests/AlarmConditionStateMethodTests.cs
  Tests/Opc.Ua.History.Tests/AlarmClientIntegrationTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmRateTrackerTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmSuppressionEngineTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/StateMachineBuilderExtensionsTests.cs
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionStabilityTest.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/ClassicOnEngineBridgeGapTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/MonitoredItemConditionRefreshLiveTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionFailoverTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Dependency/ModelDependencyV1.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Cert rotation: force renegotiate (#3562) + auto-detect on client (#3160) (#3849)
  Docs/CertificateManager.md
  Libraries/Opc.Ua.Client/Session/ManagedSession.CertificateChanges.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/IConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/ITransportListenerRegistryProvider.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/TrustListTransaction.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportListenerCertificateRotation.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/TransportListenerCertificateRotationTests.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Split Roslyn.slnx into SourceGeneration.slnx + MigrationAnalyzer.slnx
  Tools/MigrationAnalyzer.slnx
  Tools/SourceGeneration.slnx
Due: azure-pipelines.yml

Add unit tests for the revalidation loop
  Libraries/Opc.Ua.Client/Session/ManagedSession.CertificateChanges.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionRevalidationLoopTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix DeviceBuilder for chainable Add{Child} return type
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR feedback: RPC->request, CA2007, stale para
  Docs/Subscriptions.md
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTriggeringTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SetTriggeringFluentHelperTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/ClassicOnEngineBridgeGapTests.cs
Due: azure-pipelines.yml

[Server] Part 13 Aggregates compliance fixes, full test coverage and docs
  Docs/Aggregates.md
  Docs/HistoricalAccess.md
  Docs/MigrationGuide.md
  Docs/README.md
  Libraries/Opc.Ua.Server/Aggregates/AggregateManager.cs
  Libraries/Opc.Ua.Server/Aggregates/CountAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Historian/HistorianDispatcher.cs
  Tests/Opc.Ua.History.Tests/HistoryClientIntegrationTests.cs
  Tests/Opc.Ua.Server.Tests/AggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/AggregatorsTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherBranchTests.cs
  Tests/Opc.Ua.Server.Tests/MinMaxAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/StatusAggregateCalculatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Apply dotnet format (whitespace, style, analyzers) + fix CA2000 in tests
  Stack/Opc.Ua.Bindings.Pcap/Capture/CaptureSession.cs
  Stack/Opc.Ua.Bindings.Pcap/Capture/CaptureSessionManager.cs
  Stack/Opc.Ua.Bindings.Pcap/Capture/ICaptureSource.cs
  Stack/Opc.Ua.Bindings.Pcap/Capture/Sources/InProcessCaptureSource.cs
  Stack/Opc.Ua.Bindings.Pcap/Capture/Sources/NicCaptureSource.cs
  Stack/Opc.Ua.Bindings.Pcap/Dissection/OfflineDecodedChunk.cs
  Stack/Opc.Ua.Bindings.Pcap/Dissection/OfflineSecureChannel.cs
  Stack/Opc.Ua.Bindings.Pcap/Formats/CsvFormatter.cs
  Stack/Opc.Ua.Bindings.Pcap/Formats/ITraceFormatter.cs
  Stack/Opc.Ua.Bindings.Pcap/Formats/JsonFormatter.cs
  Stack/Opc.Ua.Bindings.Pcap/Formats/ServiceTimelineFormatter.cs
  Stack/Opc.Ua.Bindings.Pcap/Formats/TextFormatter.cs
  Stack/Opc.Ua.Bindings.Pcap/Formats/TraceFormatterRegistry.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/CaptureFrame.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/OpcUaFrameParser.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/PcapFileReader.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/PcapFileWriter.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/TcpStreamReassembler.cs
  Stack/Opc.Ua.Bindings.Pcap/KeyLog/UaKeyLogJsonWriter.cs
  Stack/Opc.Ua.Bindings.Pcap/Replay/MockClientReplay.cs
  Stack/Opc.Ua.Bindings.Pcap/Replay/MockServerReplay.cs
  Stack/Opc.Ua.Bindings.Pcap/Replay/ReplaySession.cs
  Stack/Opc.Ua.Bindings.Pcap/Replay/ReplaySessionManager.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/CapturingMessageSocketTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix PumpNodeManager for chainable Add{Child} return type
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
Due: azure-pipelines.yml

PR feedback: expand single-line summary docs to multi-line form
  Stack/Opc.Ua.Bindings.Pcap/Capture/CaptureSession.cs
  Stack/Opc.Ua.Bindings.Pcap/Formats/ITraceFormatter.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/OpcUaFrameParser.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/PcapFileReader.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/PcapFileWriter.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/TcpStreamReassembler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  .github/workflows/buildandtest.yml
  Directory.Packages.props
  UA.slnx
Due: azure-pipelines.yml

[Server] Part 13: StdDev/Variance use all Good raw values (5.4.3.37/.39)
  Libraries/Opc.Ua.Server/Aggregates/StdDevAggregateCalculator.cs
  Tests/Opc.Ua.Server.Tests/AggregateCalculatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Tests] Part 13: tighten basecase aggregate suites and add D7 validation
  Tests/Opc.Ua.History.Tests/AggregateBaseTests.cs
Due: azure-pipelines.yml

Close channel-manager production gaps and eliminate Tests/.../Gaps/
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServerConfigurationNodeManager.cs
  Docs/Sessions.md
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/IChannelReconnectPolicy.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/IReconnectParticipant.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ChannelEntry.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ClientChannelManagerMetrics.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/IChannelEntryHost.cs
  Tests/Opc.Ua.Sessions.Tests/ChannelManagerSessionLifecycleIntegrationTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Contract/ContractTestBase.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Contract/FaultedEntryRecoveryTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Contract/HungParticipantTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Contract/ParticipantResultAggregationTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Contract/RecreateDispatchTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Gaps/GapTestBase.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Gaps/ParticipantTimeoutGapTests.cs
  Tests/Opc.Ua.Stress.Tests/README.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add coverage tests for Opc.Ua.Bindings.Pcap (224 new tests)
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/CapturingMessageSocketFactoryTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/ChannelCaptureRegistryTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/PcapBindingsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/PcapTransportChannelBindingTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Capture/CaptureSessionManagerTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Capture/CaptureSessionTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Capture/DefaultCaptureSourceFactoryTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Capture/ReplayCaptureSourceTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Dissection/DecodedServiceCallTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Dissection/OfflineDecodedChunkTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Dissection/OfflineSecureChannelNegativeTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Dissection/ServiceCallReassemblerTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Formats/CsvFormatterTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Formats/FormatKindExtensionsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Formats/JsonFormatterTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Formats/PcapFormatterTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Formats/PcapNgFormatterTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Formats/ServiceTimelineFormatterTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Formats/TextFormatterTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Formats/TraceFormatterRegistryTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Frame/CaptureFrameTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Frame/PcapNgFileWriterTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/KeyLog/UaKeyLogJsonReaderNegativeTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/KeyLog/UaKeyLogTextReaderNegativeTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Replay/ReplaySessionTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/TestSupport/InMemoryCaptureSource.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/TestSupport/TestTelemetryContext.cs
Due: azure-pipelines.yml

style: apply dotnet format analyzers fixes (RCS blank-line formatting)
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: convert comments to doc comments and inline local vars (RCS1181, RCS1124)
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.Configure.cs
  Libraries/Opc.Ua.Client/StateMachines/FiniteStateMachineTypeClientExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateStateMachineDispatcher.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/ApplicationsDatabaseBase.cs
  Libraries/Opc.Ua.Gds.Server.Common/IManagedApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/Onboarding/MemoryTicketStore.cs
  Libraries/Opc.Ua.Lds.Server/LdsServer.cs
  Libraries/Opc.Ua.Server/Fluent/BrowsePathResolver.cs
  Libraries/Opc.Ua.Server/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/StateMachineBuilder.cs
  Libraries/Opc.Ua.Server/Historian/InMemory/InMemoryHistorianProvider.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
  Stack/Opc.Ua.Core.Types/State/AlarmConditionState.Methods.cs
  Stack/Opc.Ua.Core/Stack/Client/EventRecordDecoderRegistry.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertValidationTests.cs
  Tests/Opc.Ua.Di.Tests/HostingIntegrationTests.cs
  Tests/Opc.Ua.Di.Tests/PackageStoreTests.cs
  Tests/Opc.Ua.Gds.Tests/Onboarding/MemoryManagedApplicationRegistryTests.cs
  Tests/Opc.Ua.Gds.Tests/Onboarding/MemoryTicketStoreTests.cs
  Tests/Opc.Ua.History.Tests/AggregateBaseTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/SimulationBuilderExtensionsTests.cs
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionStabilityTest.cs
  Tests/Opc.Ua.Stress.Tests/SubscriptionTransferDepthTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Tests] Part 13: add coverage for AnnotationCount edge paths and StdDev Bad-data
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherBranchTests.cs
  Tests/Opc.Ua.Server.Tests/StdDevAggregateCalculatorTests.cs
Due: azure-pipelines.yml

docs(agent): correct --diagnostics flag form and verify Roslynator 4.x code fixers
  .github/agents/opc-ua-codestyle-enforcer.agent.md
Due: azure-pipelines.yml

Apply suggestions from code review
  Docs/README.md
  Tests/Opc.Ua.History.Tests/AggregateBaseTests.cs
Due: azure-pipelines.yml

Address PR #3864 review feedback
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionRevalidationLoopTests.cs
Due: azure-pipelines.yml

Address PR #3828 review feedback
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback: multi-target net8/9/10, wire MaxActiveSessions, restore bindings + async dispose in tests
  Docs/McpServer.md
  Stack/Opc.Ua.Bindings.Pcap/Capture/CaptureSessionManager.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapServiceCollectionExtensions.cs
  Stack/Opc.Ua.Bindings.Pcap/Opc.Ua.Bindings.Pcap.csproj
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/PcapBindingsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Capture/CaptureSessionManagerTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Capture/DefaultCaptureSourceFactoryTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapServiceCollectionExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
