Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Revise MigrationGuide for breaking changes and updates
  Docs/MigrationGuide.md
Due: none

Revise MigrationGuide.md for complex type updates
  Docs/MigrationGuide.md
Due: none

Fix source generator generated structures with optional fields (#3674)
  .github/workflows/buildandtest.yml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/DesignFileTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/GenerateCodeTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/GeneratorsTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/WotConnection.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/WotConnection.xml
  Tools/Opc.Ua.SourceGeneration.Core/DesignFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration.Tester/Program.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
Due: azure-pipelines.yml

Revert partial init properties to set to fix reconnect tests
  Libraries/Opc.Ua.Client/Session/SessionConfiguration.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemOptions.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemState.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionState.cs
  Tests/Opc.Ua.Aot.Tests/SubscriptionAotTests.cs
  Tests/Opc.Ua.Client.Tests/OptionsContextTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionStateEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Replace session state encoder with IEncodable generation using source generators (#3673)
  Docs/MigrationGuide.md
  Docs/SourceGeneratedDataTypes.md
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionConfiguration.cs
  Libraries/Opc.Ua.Client/Session/SessionStateEncoder.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemOptions.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemState.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionState.cs
  Tests/Opc.Ua.Client.Tests/OptionsContextTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionStateEncoderTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTest.cs
  Tests/Opc.Ua.SourceGeneration.Tests/TypeGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceModel.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration/DataTypeCompilation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove duplicate GDS type registration commit in server startup path (#3676)
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Tests/Opc.Ua.Gds.Tests/CustomCertificateGroupIntegrationTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

testfixes
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

Add Certificate.AddRef() reference counting for shared cert lifetime management
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix boolean default should be false instead of true
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurationHelper.cs
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurator.cs
  Libraries/Opc.Ua.PubSub/UaPubSubApplication.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.StateChangeMethods.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfigurationHelperTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfiguratorCrudTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfiguratorStateTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
  Tests/Opc.Ua.PubSub.Tests/DataSetDecodeErrorEventArgsTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonDataSetMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderFinalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonEncoderAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/WriterGroupPublishedStateTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.Mqtts.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubApplicationTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/WriterGroupPublishStateTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/ModelDesignExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update MigrationGuide for boolean default value changes
  Docs/MigrationGuide.md
Due: none

Add CertificateManager with segregated interfaces, implementations, and tests
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateChangeEvent.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateEntry.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateValidationOptions.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateValidationResult.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/DefaultCertificateFactory.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/DefaultCertificateIssuer.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/ICertificateFactory.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/ICertificateIssuer.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/TrustListIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateChangeSubject.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationResult.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidatorAdapter.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/DirectoryStoreProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateLifecycle.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateRegistry.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateStoreProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateTrustListManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateValidatorEx.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ITrustListTransaction.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/InMemoryStoreProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/RejectedCertificateProcessor.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/TrustListTransaction.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/X509StoreProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateStoreIdentifier.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/StoreProviderTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/CertificateChangeEventTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/CertificateEntryTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/CertificateValidationResultTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/DefaultCertificateFactoryTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/DefaultCertificateIssuerTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/TrustListIdentifierTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add source-generated NodeManagers and fluent wiring API
  .gitignore
  Applications/ConsoleBoilerServer/BoilerNodeManager.Configure.cs
  Applications/ConsoleBoilerServer/ConsoleBoilerServer.csproj
  Applications/ConsoleBoilerServer/Design/BoilerDesign.csv
  Applications/ConsoleBoilerServer/Design/BoilerDesign.xml
  Applications/ConsoleBoilerServer/Program.cs
  Docs/README.md
  Docs/SourceGeneratedNodeManagers.md
  Libraries/Opc.Ua.Server/NodeManager/Fluent/BrowsePathResolver.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/FluentDelegates.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/IFluentDispatcher.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/INodeBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/INodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/NodeManagerAttribute.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/NodeManagerBuilder.cs
  Tests/Opc.Ua.Server.Tests/Fluent/BrowsePathResolverTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/GeneratedManagerHybridTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/NodeManagerBuilderTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeManagerGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/DesignFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeManagerGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeManagerTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/NodeManagerAttributeBinding.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration.Tester/Program.cs
  Tools/Opc.Ua.SourceGeneration/AnalyzerReleases.Unshipped.md
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/ModelSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration/NodeManagerAttributeDiscovery.cs
  Tools/Opc.Ua.SourceGeneration/OPCFoundation.Opc.Ua.SourceGeneration.props
  Tools/Opc.Ua.SourceGeneration/SourceGenerator.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Wire CertificateManager into Server, Client, Configuration, and GDS libraries
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update SourceGenerator dependencies resolution mechanism.
  Directory.Packages.props
  Stack/Opc.Ua.Types/Attributes/OpcUaModelDependencyAttribute.cs
  Stack/Opc.Ua.Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/QualifiedName.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetHelpers.cs
  Tools/Opc.Ua.SourceGeneration.Core/ModelDependencyReference.cs
  Tools/Opc.Ua.SourceGeneration.Core/Opc.Ua.SourceGeneration.Core.csproj
  Tools/Opc.Ua.SourceGeneration.Core/ReferenceMetadataScanner.cs
  Tools/Opc.Ua.SourceGeneration.Core/SemVer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix publish/dispose race that hangs Client tests
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix multi-TFM build, remove #region directives, add test coverage
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateCollection.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/TrustListTransaction.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateValidatorAdapterTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/TrustListTransactionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add ConsoleBoilerServer AOT smoke test
  Applications/ConsoleBoilerServer/BoilerNodeManager.Configure.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/INodeBuilder.cs
  Tests/Opc.Ua.Aot.Tests/BoilerNodeManagerAotTests.cs
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

XmlDecoder/XmlParser: throw BadDecodingError for empty/non-element enumerated arrays (#3677)
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlDecoderTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlParserTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/Opc.Ua.Gds.Client.Common.csproj
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Stack/Opc.Ua.Core/Stack/Client/ObjectTypeClient.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ObjectMethodProxyGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectMethodProxyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectMethodProxyTemplates.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/OPCFoundation.Opc.Ua.SourceGeneration.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Emit *TypeClient proxies into model namespace; move ObjectTypeClient base to Opc.Ua
  Libraries/Opc.Ua.Gds.Client.Common/Opc.Ua.Gds.Client.Common.csproj
  Stack/Opc.Ua.Core/Stack/Client/ObjectTypeClient.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ObjectMethodProxyGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectMethodProxyGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Complete remaining plan items: lifecycle monitor, trust-list file access, deeper wiring, obsolete attrs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateLifecycleMonitor.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ITrustListFileAccess.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateStoreIdentifier.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Document ObjectType client proxy generation
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/readme.md
Due: azure-pipelines.yml

Suppress CS0618 in test files that exercise obsolete CertificateFactory methods
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/TrustListTransactionTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientChannelManagerTests.cs
  Tests/Opc.Ua.Gds.Tests/CertificateWrapperTests.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.Gds.Tests/RegisteredApplicationTests.cs
  Tests/Opc.Ua.Gds.Tests/TrustListValidationTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Pkcs10CertificationRequestTests.cs
Due: azure-pipelines.yml

Fix boolean default should be false instead of true (#3679)
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurationHelper.cs
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurator.cs
  Libraries/Opc.Ua.PubSub/UaPubSubApplication.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.StateChangeMethods.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfigurationHelperTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfiguratorCrudTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfiguratorStateTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
  Tests/Opc.Ua.PubSub.Tests/DataSetDecodeErrorEventArgsTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonDataSetMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderFinalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonEncoderAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/WriterGroupPublishedStateTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.Mqtts.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubApplicationTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/WriterGroupPublishStateTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/ModelDesignExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add CertificateManager API documentation and usage guide
  Docs/CertificateManager.md
Due: none

Migrate generated NodeManager to AsyncCustomNodeManager
  Libraries/Opc.Ua.Server/NodeManager/Fluent/INodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/NodeManagerBuilder.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeManagerGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/DesignFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeManagerGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeManagerTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: refresh source-gen NodeManager guide for AsyncCustomNodeManager
  Docs/README.md
  Docs/SourceGeneratedNodeManagers.md
Due: none

Update Certificates.md and MigrationGuide.md for CertificateManager migration
  Docs/Certificates.md
  Docs/MigrationGuide.md
Due: none

fix lockout test
  Directory.Packages.props
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientLockoutIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(sg): stub ObjectTypeClient/ISessionClient for SG test compilation
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/StackGeneratorTests.cs
Due: azure-pipelines.yml

Update SourceGenerator dependencies resolution mechanism. (#3680)
  Directory.Packages.props
  Stack/Opc.Ua.Types/Attributes/OpcUaModelDependencyAttribute.cs
  Stack/Opc.Ua.Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/QualifiedName.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetHelpers.cs
  Tools/Opc.Ua.SourceGeneration.Core/ModelDependencyReference.cs
  Tools/Opc.Ua.SourceGeneration.Core/Opc.Ua.SourceGeneration.Core.csproj
  Tools/Opc.Ua.SourceGeneration.Core/ReferenceMetadataScanner.cs
  Tools/Opc.Ua.SourceGeneration.Core/SemVer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server/Client] Support RSAEncryptedSecret format and unify EncryptedSecret RSA/ECC API with legacy .NET and test compatibility (#3678)
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Stack/Types/UserNameIdentityTokenHandler.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/UserNameIdentityTokenHandlerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add GDS updates.
  Libraries/Opc.Ua.Gds.Server.Common/Model/Opc.Ua.Gds.Classes.cs
  Libraries/Opc.Ua.Gds.Server.Common/Model/Opc.Ua.Gds.PredefinedNodes.cs
  Libraries/Opc.Ua.Gds.Server.Common/Model/Opc.Ua.Gds.PredefinedNodes.uanodes
  Libraries/Opc.Ua.Gds.Server.Common/Model/Opc.Ua.Gds.PredefinedNodes.xml
  Stack/Opc.Ua.Core/Schema/Opc.Ua.Gds.NodeSet2.xml
  Stack/Opc.Ua.Core/Schema/Opc.Ua.Gds.Types.bsd
  Stack/Opc.Ua.Core/Schema/Opc.Ua.Gds.Types.xsd
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Gds.Constants.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Gds.DataTypes.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fluent: type INodeManagerBuilder.NodeManager as IAsyncNodeManager
  Docs/SourceGeneratedNodeManagers.md
  Libraries/Opc.Ua.Server/NodeManager/Fluent/INodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/NodeManagerBuilder.cs
  Tests/Opc.Ua.Server.Tests/Fluent/GeneratedManagerHybridTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/NodeManagerBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix: use UserName token for SuccessfulAuthenticationClearsFailedAttempts test
  Tests/Opc.Ua.Server.Tests/ClientLockoutTests.cs
Due: azure-pipelines.yml

Fix ExtraStore.AddRange ref-counting: dispose intermediate CertificateCollection
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Certificate.Export(), replace .X509.AsLogSafeString() with ToString()
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Audit.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Rsa.cs
  Stack/Opc.Ua.Core/Types/Utils/LoggerUtils.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.Mqtts.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix DirectoryCertificateStore cache staleness across instances
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

hosting: add AddOpcUaServer DI helpers + slim ConsoleBoilerServer
  Applications/ConsoleBoilerServer/ConsoleBoilerServer.csproj
  Directory.Packages.props
  Docs/SourceGeneratedNodeManagers.md
  Libraries/Opc.Ua.Server/Hosting/HostTelemetryContext.cs
  Libraries/Opc.Ua.Server/Hosting/IOpcUaServerBuilder.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerOptions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml
