Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

add custom builds
  .azurepipelines/test.yml
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  azure-pipelines.yml
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix
  azure-pipelines.yml
Due: azure-pipelines.yml

custom tests
  .azurepipelines/customtest.yml
  Tests/benchmarks.cmd
  Tests/customtest.bat
  UA Core Library.sln
  azure-pipelines.yml
  targets.props
Due: azure-pipelines.yml

env
  .azurepipelines/customtest.yml
Due: azure-pipelines.yml

param
  .azurepipelines/customtest.yml
Due: azure-pipelines.yml

typo
  azure-pipelines.yml
Due: azure-pipelines.yml

how to create simple opc client add readme in docs folder
  Docs/SampleClient.md
  README.md
Due: none

test actions
  .github/workflows/buildandtest.yml
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines.yml

build netstandard2.0 with net6.0
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForRSA.cs
  UA Core Library.sln
  targets.props
Due: azure-pipelines.yml

netstandard2.0 runtime issue
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateFactoryRandomGenerator.cs
  Tests/customtest.bat
  azure-pipelines.yml
Due: azure-pipelines-preview.yml, azure-pipelines.yml

support .NET 8 builds
  .azurepipelines/signlistDebug.txt
  .azurepipelines/signlistRelease.txt
  targets.props
Due: azure-pipelines.yml

fix docker build
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-image.yml
  Applications/ConsoleReferenceServer/Dockerfile
Due: azure-pipelines.yml

fix test and nuget build
  .azurepipelines/preview.yml
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
Due: azure-pipelines.yml

docker 8.0 custom build
  Applications/ConsoleReferenceServer/Dockerfile
Due: azure-pipelines.yml

fix .NET 8
  .azurepipelines/test.yml
Due: azure-pipelines.yml

test variable
  .azurepipelines/test.yml
Due: azure-pipelines.yml

fixes
  .azurepipelines/customtest.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  Applications/ConsoleReferenceServer/Dockerfile
  azure-pipelines.yml
Due: azure-pipelines.yml

fix restore
  .azurepipelines/preview.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
Due: azure-pipelines.yml

restore v2
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  Applications/ConsoleReferenceServer/Dockerfile
Due: azure-pipelines.yml

push
  .azurepipelines/test.yml
Due: azure-pipelines.yml

fix netstandard2.0
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateFactoryRandomGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use ubuntu base image
  Applications/ConsoleReferenceServer/Dockerfile
Due: azure-pipelines.yml

fix docker, run only on schedule
  .github/workflows/docker-image.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

try armv8
  .github/workflows/docker-image.yml
  Tests/customtest.bat
Due: azure-pipelines.yml

fix test cases
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForRSA.cs
Due: azure-pipelines.yml

try env variable
  Applications/ConsoleReferenceServer/Dockerfile
  Docs/Build.md
Due: azure-pipelines.yml

fix scripts
  .azurepipelines/preview.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

update text
  Docs/Build.md
Due: none

fixed typo from merge
  Libraries/Opc.Ua.Client/TraceableSession.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

link to README
  Docs/PlatformBuild.md
  Docs/README.md
  README.md
Due: none

ignore failing test on macOS
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
Due: azure-pipelines.yml

Update PlatformBuild.md
  Docs/PlatformBuild.md
Due: none

fix typo
  targets.props
Due: azure-pipelines.yml

force rebuild
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix transfer delay
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines.yml

pull macos from the test matrix
  azure-pipelines.yml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
