Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

PR feedback
  Libraries/Opc.Ua.Client/NodeCache/ILruNodeCache.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Removed unused ValidateServerCertificateApplicationUri(X509Certificate2 serverCertificate)
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

First working copy
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.DataTypes.cs
  Stack/Opc.Ua.Core/Stack/Nodes/INode.cs
  Stack/Opc.Ua.Core/Stack/Nodes/Node.cs
  Stack/Opc.Ua.Core/Stack/Nodes/TypeTable.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageLimits.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageType.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/StatusCode.cs
  Stack/Opc.Ua.Core/Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/BinaryEncoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Core/Types/State/BaseInstanceState.cs
  Stack/Opc.Ua.Core/Types/State/BaseObjectState.cs
  Stack/Opc.Ua.Core/Types/State/BaseObjectTypeState.cs
  Stack/Opc.Ua.Core/Types/State/BaseTypeState.cs
  Stack/Opc.Ua.Core/Types/State/BaseVariableState.cs
  Stack/Opc.Ua.Core/Types/State/BaseVariableTypeState.cs
  Stack/Opc.Ua.Core/Types/State/DataTypeState.cs
  Stack/Opc.Ua.Core/Types/State/INodeIdFactory.cs
  Stack/Opc.Ua.Core/Types/State/ISystemContext.cs
  Stack/Opc.Ua.Core/Types/State/MethodState.cs
  Stack/Opc.Ua.Core/Types/State/ModelCompilerExtension.cs
  Stack/Opc.Ua.Core/Types/State/NodeBrowser.cs
  Stack/Opc.Ua.Core/Types/State/NodeState.cs
  Stack/Opc.Ua.Core/Types/State/NodeStateCollection.cs
  Stack/Opc.Ua.Core/Types/State/ReferenceTypeState.cs
  Stack/Opc.Ua.Core/Types/State/ViewState.cs
  Stack/Opc.Ua.Core/Types/Utils/ServiceResult.cs
  Stack/Opc.Ua.Core/Types/Utils/TraceLoggerProvider.cs
  Stack/Opc.Ua.Core/Types/Utils/TypeInfo.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Stack/Opc.Ua.Core/Types/Utils/UtilsObsolete.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Constants.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.DataTypes.cs
  Stack/Opc.Ua.Core/Types/Generated/Opc.Ua.Attributes.cs
  Stack/Opc.Ua.Core/Types/Generated/Opc.Ua.StatusCodes.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added RejectCertificateUriMismatch property and explicit ApplicationUri validation after certificates are loaded (#3244)
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Client.Common/CertificateWrapper.cs
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509SubjectAltNameExtension.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderTests.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
  Tests/Opc.Ua.Server.Tests/Opc.Ua.Server.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionConfiguration.cs
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add an Explicit deterministic load test
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/LoadTest.cs
  Tests/Opc.Ua.Server.Tests/CommonTestWorkers.cs
Due: azure-pipelines.yml

Wait 10s between create session attempts
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
Due: azure-pipelines.yml

Increase session retry delay to 10000ms
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
Due: azure-pipelines.yml

Revert channel attachment in Session.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Populate ServerCapabilities->ModellingRules with stack-used modelling rules (#3291)
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/ModellingRulesManager.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.Server.Tests/ModellingRulesTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add TryParse methods to NodeId and ExpandedNodeId (#3302)
  Stack/Opc.Ua.Core/Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/NodeId.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Apply suggestion from @romanett
  .github/copilot-instructions.md
Due: azure-pipelines.yml

Nullable session
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Revert
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
Due: azure-pipelines.yml

enable all 500 nodes
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/LoadTest.cs
  Tests/Opc.Ua.Server.Tests/CommonTestWorkers.cs
Due: azure-pipelines.yml

Fix
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add GitHub Copilot instructions for repository context (#3305)
  .github/copilot-instructions.md
Due: azure-pipelines.yml

Fix flaky failing CreateSessionApplicationUriValidationTests: Wait 10s between create session attempts (#3307)
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
Due: azure-pipelines.yml

parallel create and close of sessions
  Tests/Opc.Ua.Client.Tests/LoadTest.cs
Due: azure-pipelines.yml

cleanup
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/LoadTest.cs
Due: azure-pipelines.yml

Update
  Libraries/Opc.Ua.Client/Session/SessionClientBatched.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Configure Thread Pool for better Server Performance
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add unit tests for standard deviation and variance aggregates (#3309)
  Tests/Opc.Ua.Server.Tests/AggregateCalculatorTests.cs
Due: azure-pipelines.yml

Document custom versioning scheme in NuGet README (#3308)
  Docs/NugetREADME.md
Due: none

Add an Explicit deterministic load test to test Server Performance (#3306)
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/LoadTest.cs
  Tests/Opc.Ua.Server.Tests/CommonTestWorkers.cs
Due: azure-pipelines.yml

Configure Thread Pool for better Server Performance (#3310)
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add batching, telemetry, and enhanced unit tests
  Libraries/Opc.Ua.Client/CoreClientUtils.cs
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionClientBatched.cs
  Libraries/Opc.Ua.Client/Session/SessionClientExtensions.cs
  Libraries/Opc.Ua.Client/Session/SessionReconnectHandler.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Client.Common/CertificateWrapper.cs
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509SubjectAltNameExtension.cs
  Libraries/Opc.Ua.Server/Server/ModellingRulesManager.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientBase.cs
  Stack/Opc.Ua.Core/Stack/Client/SessionClient.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Client.cs
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/NodeId.cs
  Tests/Opc.Ua.Client.Tests/ClientBatchTest.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/SessionClientBatchTests.cs
  Tests/Opc.Ua.Client.Tests/TraceableRequestHeaderClientSession.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientBaseTests.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
  Tests/Opc.Ua.Server.Tests/ModellingRulesTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Cleanup
  Libraries/Opc.Ua.Client/CoreClientUtils.cs
  Libraries/Opc.Ua.Client/Session/SessionClientBatched.cs
  Libraries/Opc.Ua.Gds.Client.Common/CertificateWrapper.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientBase.cs
  Tests/Opc.Ua.Client.Tests/SessionClientBatchTests.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientBaseTests.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Clean up copyright notice formatting
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Client.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Stack/Opc.Ua.Core/Stack/Client/ClientBase.cs
  Tests/Opc.Ua.Client.Tests/SessionClientBatchTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Allow sending while connecting.
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Test
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Types/Encoders/EncodeableFactory.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Test2
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Revert
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
