Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Migrate Opc.Ua.Client to source-generated logging (#3908)
  .editorconfig
  Libraries/Opc.Ua.Client/Browser.cs
  Libraries/Opc.Ua.Client/ClientLog.cs
  Libraries/Opc.Ua.Client/ComplexTypes/NodeCacheResolver.cs
  Libraries/Opc.Ua.Client/EventIds.cs
  Libraries/Opc.Ua.Client/Identity/ClientIdentityProviderExtensions.cs
  Libraries/Opc.Ua.Client/ModelChange/ModelChangeTracker.cs
  Libraries/Opc.Ua.Client/NodeCache/NodeCache.cs
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.CertificateChanges.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.Streaming.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/Reconnect/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/Reconnect/SessionReconnectHandler.cs
  Libraries/Opc.Ua.Client/Session/Redundancy/ClientReplicaCoordinator.cs
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/Subscription/ClassicSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/Subscription/SessionEngineContext.cs
  Libraries/Opc.Ua.Client/Subscription/Classic/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/Classic/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/MessageProcessor.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiTransportChannel.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate Opc.Ua.Core.Diagnostics to source-generated logging (#3908)
  Stack/Opc.Ua.Core.Diagnostics/Audit/HashChainedAuditFileSink.cs
  Stack/Opc.Ua.Core.Diagnostics/Audit/LoggerPcapAuditSink.cs
  Stack/Opc.Ua.Core.Diagnostics/Bindings/CapturingByteTransport.cs
  Stack/Opc.Ua.Core.Diagnostics/Capture/CaptureSession.cs
  Stack/Opc.Ua.Core.Diagnostics/Capture/CaptureSessionManager.cs
  Stack/Opc.Ua.Core.Diagnostics/Capture/PcapServerCapture.cs
  Stack/Opc.Ua.Core.Diagnostics/Capture/Sources/InProcessCaptureSource.cs
  Stack/Opc.Ua.Core.Diagnostics/Capture/Sources/NicCaptureSource.cs
  Stack/Opc.Ua.Core.Diagnostics/Capture/Sources/ReplayCaptureSource.cs
  Stack/Opc.Ua.Core.Diagnostics/DependencyInjection/PcapEnvironmentAutoStartHostedService.cs
  Stack/Opc.Ua.Core.Diagnostics/Dissection/ServiceCallReassembler.cs
  Stack/Opc.Ua.Core.Diagnostics/EventIds.cs
  Stack/Opc.Ua.Core.Diagnostics/Formats/CsvFormatter.cs
  Stack/Opc.Ua.Core.Diagnostics/Formats/JsonFormatter.cs
  Stack/Opc.Ua.Core.Diagnostics/Formats/PcapFormatter.cs
  Stack/Opc.Ua.Core.Diagnostics/Formats/PcapNgFormatter.cs
  Stack/Opc.Ua.Core.Diagnostics/Formats/ServiceTimelineFormatter.cs
  Stack/Opc.Ua.Core.Diagnostics/Formats/TextFormatter.cs
  Stack/Opc.Ua.Core.Diagnostics/Frame/OpcUaFrameParser.cs
  Stack/Opc.Ua.Core.Diagnostics/KeyLog/StandaloneKeyLogObserver.cs
  Stack/Opc.Ua.Core.Diagnostics/Replay/MockClientReplay.cs
  Stack/Opc.Ua.Core.Diagnostics/Replay/MockServerReplay.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate Opc.Ua.PubSub to source-generated logging (#3908)
  .editorconfig
  Libraries/Opc.Ua.PubSub/Application/MetaDataPublisher.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplicationHostedService.cs
  Libraries/Opc.Ua.PubSub/Configuration/XmlPubSubConfigurationStore.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/EventIds.cs
  Libraries/Opc.Ua.PubSub/Groups/DataSetReader.cs
  Libraries/Opc.Ua.PubSub/Groups/DataSetReaderTimeoutWatcher.cs
  Libraries/Opc.Ua.PubSub/Groups/ReaderGroup.cs
  Libraries/Opc.Ua.PubSub/Groups/WriterGroup.cs
  Libraries/Opc.Ua.PubSub/MetaData/DataSetMetaDataRegistry.cs
  Libraries/Opc.Ua.PubSub/Redundancy/LeaseActivationCoordinator.cs
  Libraries/Opc.Ua.PubSub/Scheduling/PubSubScheduler.cs
  Libraries/Opc.Ua.PubSub/Security/PubSubSecurityWrapperResolver.cs
  Libraries/Opc.Ua.PubSub/Security/SecurityLog.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/InMemoryPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/OpcUaSecurityKeyServiceClient.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/PubSubSecurityKeyProviderStarter.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/PullSecurityKeyProvider.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/PushSecurityKeyProvider.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksMethodHandler.cs
  Libraries/Opc.Ua.PubSub/Security/UadpSecurityWrapper.cs
  Libraries/Opc.Ua.PubSub/StateMachine/PubSubStateMachine.cs
  Libraries/Opc.Ua.PubSub/Transcoding/PubSubTranscoder.cs
  Libraries/Opc.Ua.PubSub/Transcoding/PubSubTranscodingBridge.cs
  Libraries/Opc.Ua.PubSub/Transcoding/PubSubTranscodingReloadCoordinator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test: use complete ISA95 JobControl fixture
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/Isa95JobControl.NodeSet2.xml
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
Due: azure-pipelines.yml

test: cover canceled managed session creation
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionTests.cs
Due: azure-pipelines.yml

Migrate Opc.Ua.Redundancy to source-generated logging (#3908)
  .editorconfig
  Libraries/Opc.Ua.Redundancy/EventIds.cs
  Libraries/Opc.Ua.Redundancy/Raft/RaftLeaderElection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix companion spec compliance in pump
  Applications/PumpDeviceIntegrationServer/Program.cs
  Docs/DeviceIntegration.md
  Docs/SourceGeneratedNodeManagers.md
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Libraries/Opc.Ua.Di.Server/DiNodeManager.cs
  Libraries/Opc.Ua.Server/Fluent/AccessLevelBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/PropertyInitBuilderExtensions.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderTests.cs
  Tests/Opc.Ua.Di.Tests/DeviceComplianceTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/AccessLevelBuilderExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PropertyCreateRegistrationTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PropertyInitBuilderExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncCustomNodeManagerNodeManagementTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement buffer manager review architecture
  Docs/DependencyInjection.md
  Stack/Opc.Ua.Bindings.Https/DependencyInjection/OpcUaHttpsBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Https/DependencyInjection/OpcUaKestrelTcpBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Https/WebSocketByteTransport.cs
  Stack/Opc.Ua.Bindings.Https/Https/WssTransportChannel.cs
  Stack/Opc.Ua.Bindings.Https/Tcp/KestrelTcpTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Tcp/PipeByteTransport.cs
  Stack/Opc.Ua.Core.Diagnostics/Frame/LoopbackFrameBuilder.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ArrayPoolBufferManagerBase.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferManager.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferManagerFactoryOptions.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferManagerMemoryLimiter.cs
  Stack/Opc.Ua.Core/Stack/Bindings/CookieBufferManager.cs
  Stack/Opc.Ua.Core/Stack/Bindings/DefaultBufferManagerFactory.cs
  Stack/Opc.Ua.Core/Stack/Bindings/FastBufferManager.cs
  Stack/Opc.Ua.Core/Stack/Bindings/IBufferManager.cs
  Stack/Opc.Ua.Core/Stack/Bindings/IBufferManagerFactory.cs
  Stack/Opc.Ua.Core/Stack/Bindings/LimitingBufferManager.cs
  Stack/Opc.Ua.Core/Stack/Bindings/OpcUaTransportBuilderExtensions.cs
  Stack/Opc.Ua.Core/Stack/Bindings/TracingBufferManager.cs
  Stack/Opc.Ua.Core/Stack/Diagnostics/OpcUaServiceCollectionExtensions.cs
  Stack/Opc.Ua.Core/Stack/Tcp/IUaSCByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/InProcessTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Tests/Opc.Ua.Core.Tests/Stack/Diagnostics/OpcUaServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/InProcessTransportTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/BufferManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Wrap long Assert.That lines in AccessLevelBuilderExtensionsTests
  Tests/Opc.Ua.Server.Tests/Fluent/AccessLevelBuilderExtensionsTests.cs
Due: azure-pipelines.yml

Address code review: end-to-end Avro transcoder coverage; drop dead hex helper
  Stack/Opc.Ua.Types/Encoders/EncoderCompat.cs
  Tests/Opc.Ua.PubSub.Tests/DependencyInjection/OpcUaPubSubBuilderExtensionsTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/AvroTranscodingTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/TranscodingTestUtilities.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test: exclude uninjectable secondary cleanup guard
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix configuration timer and options feedback
  Libraries/Opc.Ua.Server/Configuration/ApplicationConfigurationFile.cs
  Libraries/Opc.Ua.Server/Hosting/DependencyInjectionStandardServer.cs
  Tests/Opc.Ua.Server.Tests/Configuration/ServerConfigurationSurfaceTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/ServerConfigurationOptionsResolutionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CTT conformance: access rights, X509, aggregates, and matrix diagnostics (#3978)
  Applications/ConsoleReferenceServer/Ctt.ReferenceServer.Config.xml
  Applications/ConsoleReferenceServer/README.md
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Client/Historian/HistoryClient.Extras.cs
  Libraries/Opc.Ua.Client/Historian/HistoryClientInfo.cs
  Libraries/Opc.Ua.Server/Aggregates/AggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/MinMaxAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/StatusAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Historian/HistorianContinuationState.cs
  Libraries/Opc.Ua.Server/Historian/HistorianDispatcher.cs
  Libraries/Opc.Ua.Server/Historian/HistorianNodeCapabilities.cs
  Libraries/Opc.Ua.Server/Historian/HistoricalDataConfigurationInstaller.cs
  Libraries/Opc.Ua.Server/Historian/InMemory/InMemoryHistorianProvider.cs
  Stack/Opc.Ua.Core/Stack/Types/X509IdentityTokenHandler.cs
  Tests/Opc.Ua.Client.Tests/Historian/HistoryClientUnitTests.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityX509UserTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/X509IdentityTokenHandlerTests.cs
  Tests/Opc.Ua.History.Tests/AggregateBaseTests.cs
  Tests/Opc.Ua.History.Tests/HistoryClientIntegrationTests.cs
  Tests/Opc.Ua.InformationModel.Tests/AddressSpaceWriteMaskTests.cs
  Tests/Opc.Ua.Server.Tests/AggregateCalculatorCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/AggregateCttRegressionTests.cs
  Tests/Opc.Ua.Server.Tests/AggregateRun14ResidualOracleTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherBranchTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderTests.cs
  Tests/Opc.Ua.Server.Tests/MinMaxAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncCustomNodeManagerHistoryRoutingTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
  Tests/Opc.Ua.Server.Tests/StatusAggregateCalculatorTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BinaryEncoderTests.cs
  plans/ctt-issues.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate Opc.Ua.Configuration to source-generated logging (#3908)
  .editorconfig
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Configuration/EventIds.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate GDS/DI/LDS/WotCon libraries to source-generated logging (#3908)
  .editorconfig
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFileTransferManager.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateStateMachineDispatcher.cs
  Libraries/Opc.Ua.Di.Server/EventIds.cs
  Libraries/Opc.Ua.Di.Server/Hosting/DiPostSetupRunner.cs
  Libraries/Opc.Ua.Di.Server/Locking/DefaultLockService.cs
  Libraries/Opc.Ua.Gds.Client.Common/EventIds.cs
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Gds.Server.Common/EventIds.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsServerHostedService.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/GdsApplicationSelfAdminProvider.cs
  Libraries/Opc.Ua.Lds.Server/EventIds.cs
  Libraries/Opc.Ua.Lds.Server/Hosting/LdsServerHostedService.cs
  Libraries/Opc.Ua.Lds.Server/LdsServer.cs
  Libraries/Opc.Ua.Lds.Server/MulticastDiscovery.cs
  Libraries/Opc.Ua.Lds.Server/RegisteredServerStore.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetRegistry.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/WotAssetFileManager.cs
  Libraries/Opc.Ua.WotCon.Server/EventIds.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate Redundancy.Server/Kubernetes/PubSub to source-generated logging (#3908)
  .editorconfig
  Libraries/Opc.Ua.Redundancy.Kubernetes/EventIds.cs
  Libraries/Opc.Ua.Redundancy.Kubernetes/Health/KubernetesReadinessServer.cs
  Libraries/Opc.Ua.Redundancy.Kubernetes/LeaderElection/KubernetesLeaseLeaderElection.cs
  Libraries/Opc.Ua.Redundancy.PubSub/EventIds.cs
  Libraries/Opc.Ua.Redundancy.PubSub/LeaderElectionActivationCoordinator.cs
  Libraries/Opc.Ua.Redundancy.PubSub/SharedStorePubSubSecurityKeyStore.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/PeerDiscoveryStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/EventIds.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/LoadDirectionStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/PeerDirectionPublishStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/ServerLoadDirector.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/ServerRedundancyStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/Sessions/DistributedSessionManager.cs
  Libraries/Opc.Ua.Redundancy.Server/State/AddressSpaceSynchronizer.cs
  Libraries/Opc.Ua.Redundancy.Server/State/ReplicatedAddressSpaceSynchronizer.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/SharedKeyValueMonitoredItemQueueFactory.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/SharedKeyValueSubscriptionStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Ignore missing raw bounds in aggregate calculations
  Libraries/Opc.Ua.Server/Aggregates/AggregateCalculator.cs
  Tests/Opc.Ua.Server.Tests/AggregateRun14ResidualOracleTests.cs
  plans/ctt-issues.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improve coverage of new code: drop dead EncoderCompat helpers, add unit tests
  Stack/Opc.Ua.Types/Encoders/EncoderCompat.cs
  Tests/Opc.Ua.Core.Encoders.Tests/Arrow/ArrowRoundTripTests.cs
  Tests/Opc.Ua.Core.Encoders.Tests/Avro/AvroRoundTripTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/AvroTranscodingTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/EncoderCompatTests.cs
  Tests/Opc.Ua.Types.Tests/Polyfills/EncodingStreamPolyfillTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix Linux netstandard test shell build
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Stack/Transport/TransportListenerPeerCertificateRotationTests.cs
Due: azure-pipelines.yml

Preserve Variant matrices when copying
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/VariantCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate Quickstarts.Servers to source-generated logging (#3908)
  .editorconfig
  Applications/Quickstarts.Servers/Alarms/AlarmControllers/AlarmController.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AlarmHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/ConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/DiscreteHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/NonExclusiveLevelHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Applications/Quickstarts.Servers/Boiler/BoilerState.cs
  Applications/Quickstarts.Servers/DurableSubscription/BatchPersistor.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableDataChangeMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableEventMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableMonitoredItemQueueFactory.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableMonitoredItemQueueLog.cs
  Applications/Quickstarts.Servers/DurableSubscription/SubscriptionStore.cs
  Applications/Quickstarts.Servers/EventIds.cs
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferState.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
  Applications/Quickstarts.Servers/Utils.cs
Due: azure-pipelines.yml

fixed source generator to use per instance NodeIds
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Libraries/Opc.Ua.Di.Server/DiNodeManager.cs
  Stack/Opc.Ua.Types/State/NodeInstanceExtensions.cs
  Tests/Opc.Ua.Types.Tests/State/NodeInstanceExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address capture review feedback
  Stack/Opc.Ua.Core.Diagnostics/Bindings/CapturingByteTransport.cs
  Stack/Opc.Ua.Core.Diagnostics/Capture/Sources/InProcessCaptureSource.cs
  Stack/Opc.Ua.Core.Diagnostics/Frame/LoopbackFrameBuilder.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/Bindings/CapturingByteTransportFactoryTests.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/Bindings/CapturingByteTransportTests.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/Capture/InProcessClientCaptureSourceTests.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/Frame/LoopbackFrameBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate remaining sample applications to source-generated logging (#3908)
  .editorconfig
  Applications/ConsoleLdsServer/EventIds.cs
  Applications/ConsoleLdsServer/Program.cs
  Applications/ConsoleReferenceClient/AlarmClientSample.cs
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/EventIds.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/ConsoleReferencePubSubClient/ConsoleLoggingSink.cs
  Applications/ConsoleReferencePubSubClient/EventIds.cs
  Applications/ConsoleReferencePubSubClient/Program.cs
  Applications/ConsoleReferenceServer/ConsoleUtils.cs
  Applications/ConsoleReferenceServer/EventIds.cs
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceServer/UAServer.cs
  Applications/McpServer/EventIds.cs
  Applications/McpServer/OpcUaSessionManager.cs
  Applications/McpServer/Program.cs
  Applications/McpServer/PubSubRuntimeManager.cs
  Applications/MinimalBoilerServer/BoilerNodeManager.Configure.cs
  Applications/MinimalBoilerServer/EventIds.cs
  Applications/PumpDeviceIntegrationServer/EventIds.cs
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.Configure.cs
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
  Applications/RedundantPubSub/EventIds.cs
  Applications/RedundantPubSub/HaSubscriberSink.cs
  Applications/RedundantPubSub/Program.cs
  Applications/RedundantPubSub/RawUdpSequenceMonitor.cs
  Applications/RedundantPubSub/SequenceContinuityMonitor.cs
  Applications/RedundantServer/EventIds.cs
  Applications/RedundantServer/HaSampleNodeManager.cs
Due: azure-pipelines.yml

Fix AddNodes namespace and reference validation
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncCustomNodeManagerNodeManagementTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/MasterNodeManagerNodeManagementTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add matrix codec and batched read regressions
  Tests/Opc.Ua.Core.Encoders.Tests/VariantMatrixConformanceTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
  plans/ctt-issues.md
Due: azure-pipelines.yml

Document exact invalid Variant matrix encoding
  plans/ctt-issues.md
Due: azure-pipelines.yml

Document Node Management CTT configuration defects
  plans/ctt-issues.md
Due: azure-pipelines.yml

Harden Variant matrix codec validation
  Stack/Opc.Ua.Types/BuiltIn/MatrixOf.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Tests/Opc.Ua.Core.Encoders.Tests/VariantMatrixConformanceTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/MatrixVariantCodecValidationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add XmlParser decode coverage to matrix codec validation tests
  Tests/Opc.Ua.Types.Tests/Encoders/MatrixVariantCodecValidationTests.cs
Due: azure-pipelines.yml

Fix netstandard duplicate LoggerMessage generator and shared-file EventIds (#3908)
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Directory.Build.targets
Due: azure-pipelines.yml

Add DataValue-wrapped XmlParser matrix parity tests
  Tests/Opc.Ua.Types.Tests/Encoders/MatrixVariantCodecValidationTests.cs
Due: azure-pipelines.yml

Document dynamic-level, shared-file and netstandard generator logging gotchas (#3908)
  Docs/Diagnostics.md
Due: none

CTT: Support Historical Access for arrays and configure NodeManagement root (#4001)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/UAReferenceServer.ctt.xml
  Tests/Opc.Ua.History.Tests/HistoricalAccessTests.cs
Due: azure-pipelines.yml

Fix Core CI and patch coverage
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/BufferManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Reject whitespace in NumericRange syntax
  Stack/Opc.Ua.Types/BuiltIn/NumericRange.cs
  Tests/Opc.Ua.History.Tests/HistoricalAccessTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/NumericRangeTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Document run 18 CTT script and configuration defects
  plans/ctt-issues.md
Due: azure-pipelines.yml

Fix Kestrel test guards across all TFMs
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
Due: azure-pipelines.yml
