Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Fix companion spec compliance bugs in pump sample application (#3999)
  Docs/DeviceIntegration.md
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Libraries/Opc.Ua.Di.Server/DiNodeManager.cs
  Stack/Opc.Ua.Types/State/NodeInstanceExtensions.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderTests.cs
  Tests/Opc.Ua.Di.Tests/DeviceComplianceTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/AccessLevelBuilderExtensionsTests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeInstanceExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI failures from source-generated logging migration (#3908)
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Tests/Opc.Ua.Core.Diagnostics.Tests/Frame/OpcUaFrameParserTests.cs
  Tests/Opc.Ua.Server.Tests/MasterNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Docs/DeveloperGuide.md contributor guide; merge and remove PlatformBuild.md (#3908)
  .github/copilot-instructions.md
  Docs/ComplexTypes.md
  Docs/DeveloperGuide.md
  Docs/Diagnostics.md
  Docs/PlatformBuild.md
  Docs/README.md
  README.md
  UA.slnx
Due: azure-pipelines.yml

Address PR review feedback
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Stack/Opc.Ua.Types/BuiltIn/MatrixOf.cs
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/MasterNodeManagerNodeManagementTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fully implement experimental Arrow codec (IEncodeable/ExtensionObject/Enumeration)
  Docs/migrate/2.0.x/encoders.md
  Docs/migrate/2.0.x/pubsub.md
  Stack/Opc.Ua.Types/Encoders/Arrow/A.cs
  Stack/Opc.Ua.Types/Encoders/Arrow/ArrowDecoder.cs
  Stack/Opc.Ua.Types/Encoders/Arrow/ArrowEncoder.cs
  Stack/Opc.Ua.Types/Encoders/readme.md
  Tests/Opc.Ua.Core.Encoders.Tests/Arrow/ArrowRoundTripTests.cs
  Tests/Opc.Ua.Core.Encoders.Tests/EncodeableTests.cs
  Tests/Opc.Ua.Core.Encoders.Tests/EncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Restore redaction in migrated log calls to fix CodeQL clear-text alerts (#3908)
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServiceHost.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Dispose canceled managed session creation and expand server utility coverage (#3995)
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionTests.cs
  Tests/Opc.Ua.Server.Tests/QuickstartsServerUtilitiesTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PubSub sparse DataSets: nullable keys keep one stable schema/SchemaId
  Libraries/Opc.Ua.PubSub/Encoding/Arrow/ArrowNetworkMessageEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Avro/AvroNetworkMessageEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/SchemaExchange/SchemaExchangeMessages.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Arrow/ArrowPubSubRoundTripTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Avro/AvroNetworkMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Enable CA1873 solution-wide and move logging recipe to DeveloperGuide (#3908)
  .editorconfig
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceServer/UAServer.cs
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferState.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
  Applications/RedundantServer/HaSampleNodeManager.cs
  Docs/Diagnostics.md
  Fuzzing/Common/Fuzz.Tools/Logging.cs
  Fuzzing/Common/Fuzz.Tools/Playback.cs
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Libraries/Opc.Ua.Redundancy.Server/Sessions/DistributedSessionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/NodeCacheResolverTests.cs
  Tests/Opc.Ua.Client.TestFramework/ClientFixture.cs
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Client.TestFramework/TestFixture.cs
  Tests/Opc.Ua.Gds.Tests/Common.cs
  Tests/Opc.Ua.Gds.Tests/GdsTestFixture.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
  Tests/Opc.Ua.Lds.Tests/LdsTestFixture.cs
  Tests/Opc.Ua.Server.TestFramework/ServerFixture.cs
  Tests/Opc.Ua.Server.TestFramework/ServerFixtureUtils.cs
  Tests/Opc.Ua.Server.Tests/MasterNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Fakes/TcpChaosProxy.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/NodesetFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/NodeSetToModelDesign.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Correct DeveloperGuide versioning section for v2.0 (nbgv/SemVer) (#3908)
  Docs/DeveloperGuide.md
Due: none

Increase buffer manager patch coverage
  Stack/Opc.Ua.Core/Stack/Bindings/BufferManager.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferManagerMemoryLimiter.cs
  Stack/Opc.Ua.Core/Stack/Bindings/TracingBufferManager.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/ArrayPoolBufferManagerBaseCoverageTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/BufferManagerFacadeFactoryCoverageTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/BufferManagerMemoryLimiterCoverageTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/TracingCookieBufferManagerCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use TimeProvider for tracing diagnostics
  Stack/Opc.Ua.Core/Stack/Bindings/TracingBufferManager.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/TracingCookieBufferManagerCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate merged master logging to source-generated LoggerMessage (#3908)
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Redundancy.Server/EventIds.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/DistributedPushConfigurationTransactionCoordinator.cs
  Libraries/Opc.Ua.Server/Configuration/ApplicationConfigurationFile.cs
  Libraries/Opc.Ua.Server/Configuration/CertificateGroupAlarmMonitor.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/PushConfigurationTransactionCoordinator.cs
  Libraries/Opc.Ua.Server/Configuration/PushConfigurationTrustListEffectHandler.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Libraries/Opc.Ua.Server/EventIds.cs
  Stack/Opc.Ua.Bindings.Https/Tcp/KestrelTcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR review: #if TFM guards for Arrow, Avro/SchemaExchange on all TFMs, doc moves
  Docs/PubSub.md
  Docs/migrate/2.0.x/encoders.md
  Docs/migrate/2.0.x/pubsub.md
  Libraries/Opc.Ua.PubSub/Encoding/SchemaExchange/SchemaCache.cs
  Stack/Opc.Ua.Types/Encoders/Arrow/A.cs
  Stack/Opc.Ua.Types/Encoders/Arrow/ArrowDecoder.cs
  Stack/Opc.Ua.Types/Encoders/Arrow/ArrowEncoder.cs
  Stack/Opc.Ua.Types/Encoders/Arrow/Slot.cs
  Stack/Opc.Ua.Types/Encoders/SchemaExchange/ArrowSchemaAnnouncement.cs
  Stack/Opc.Ua.Types/Encoders/SchemaExchange/ArrowSchemaRequest.cs
  Stack/Opc.Ua.Types/Opc.Ua.Types.csproj
  Tests/Opc.Ua.PubSub.Tests/Encoding/Arrow/ArrowPubSubRoundTripTests.cs
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
  Tests/Opc.Ua.PubSub.Tests/SchemaExchange/SchemaExchangeHandshakeTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR review: Arrow column ordering, IPC alignment, Avro doc wording
  Libraries/Opc.Ua.PubSub/Encoding/Arrow/ArrowNetworkMessageDecoder.cs
  Stack/Opc.Ua.Types/Encoders/Arrow/ArrowEncoder.cs
  Stack/Opc.Ua.Types/Encoders/Avro/AvroBinaryReader.cs
  Stack/Opc.Ua.Types/Encoders/Avro/AvroBinaryWriter.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Register DeviceHealth node, use HasAddIn for SoftwareUpdate
  Applications/PumpDeviceIntegrationServer/Program.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderSoftwareUpdateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI: guard Arrow tests for netstandard2.1 host and scope complex-type tests to standard encoders
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultComplexTypesEncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/EncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolverTests.cs
  Tests/Opc.Ua.Core.Encoders.Tests/Opc.Ua.Core.Encoders.Tests.csproj
  Tests/Opc.Ua.Core.TestFramework/EncoderCommon.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Arrow/ArrowPubSubRoundTripTests.cs
  Tests/Opc.Ua.PubSub.Tests/SchemaExchange/SchemaExchangeHandshakeTests.cs
Due: azure-pipelines.yml

Potential fix for pull request finding
  Applications/PumpDeviceIntegrationServer/Program.cs
Due: azure-pipelines.yml

Address MinimalClient review feedback
  Applications/MinimalClient/Program.cs
  Applications/MinimalClient/README.md
  Docs/DependencyInjection.md
  Libraries/Opc.Ua.Client/Discovery/OpcUaDiscoveryService.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientApplicationConfigurationFeature.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientOptions.cs
  Libraries/Opc.Ua.Client/NugetREADME.md
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IOpcUaApplicationConfigurationFeature.cs
  Libraries/Opc.Ua.Configuration/IOpcUaApplicationConfigurationProvider.cs
  Libraries/Opc.Ua.Configuration/NugetREADME.md
  Libraries/Opc.Ua.Configuration/OpcUaApplicationConfigurationProvider.cs
  Libraries/Opc.Ua.Configuration/OpcUaApplicationOptions.cs
  Libraries/Opc.Ua.Configuration/OpcUaConfigurationServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerApplicationConfigurationFeature.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/OpcUaClientBuilderTests.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationConfigurationBuilderTests.cs
  Tests/Opc.Ua.Configuration.Tests/OpcUaApplicationConfigurationProviderTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/ServerFluentApiHostingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CTT run 19 model validation
  Applications/UAReferenceServer.ctt.xml
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleStateBinding.cs
  Stack/Opc.Ua.Types/State/NodeInstanceExtensions.cs
  Tests/Opc.Ua.Di.Tests/DeviceComplianceTests.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInfoBehavioralTests.cs
  Tests/Opc.Ua.Server.Tests/Roles/RoleStateBindingTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeManagerGeneratorTests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeInstanceExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
  plans/ctt-issues.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PumpDeviceIntegrationServer - Register DeviceHealth node, use HasAddIn for SoftwareUpdate (#4008)
  Applications/PumpDeviceIntegrationServer/Program.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderSoftwareUpdateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fail fast on reverse connect listener startup
  Docs/ReverseConnect.md
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Stack/Opc.Ua.Core/Stack/Client/ReverseConnectHost.cs
  Tests/Opc.Ua.Client.TestFramework/ClientFixture.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ReverseConnectManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ReverseConnectHostTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Restore client validation message compatibility
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Move the remaining duplicate binary assets
  fuzzing/Opc.Ua.Network.Fuzz.Corpus/Testcases.Tcp.Ack/chunk-000.bin
  tests/Opc.Ua.Security.Certificates.Tests/Assets/test_rsa.csr
Due: azure-pipelines.yml

Address reverse connect review feedback
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Stack/Opc.Ua.Core/Stack/Client/ReverseConnectHost.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ReverseConnectManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ReverseConnectHostTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address review feedback for regression tests
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
Due: azure-pipelines.yml

Address NodeId factory review feedback
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleStateBinding.cs
  Tests/Opc.Ua.Server.Tests/Roles/RoleStateBindingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix coverage collection for pruned Logging.Abstractions; cover experimental encoders
  Tests/Directory.Build.props
  Tests/Directory.Build.targets
  Tests/Opc.Ua.PubSub.Tests/DependencyInjection/OpcUaPubSubBuilderExtensionsTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Arrow/ArrowPubSubRoundTripTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Avro/AvroNetworkMessageTests.cs
Due: azure-pipelines.yml

Address close cleanup review feedback
  Stack/Opc.Ua.Core/Stack/Client/ReverseConnectHost.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use ConfigureApplication in fluent API samples
  docs/SourceGeneratedNodeManagers.md
  samples/MinimalBoilerServer/Program.cs
  samples/MinimalCalcServer/Program.cs
  samples/PumpDeviceIntegrationServer/Program.cs
  samples/PumpDeviceIntegrationServer/README.md
  samples/RedundantServer/Program.cs
  samples/RedundantServer/README.md
Due: azure-pipelines.yml

Cover reverse connect startup diagnostics
  tests/Opc.Ua.Client.Tests/ClientBuilder/ReverseConnectManagerTests.cs
Due: azure-pipelines.yml

Add optional JSON schema exchange (real JSON Schema 2020-12)
  Docs/MigrationGuide.md
  Docs/PubSub.md
  Docs/README.md
  Libraries/Opc.Ua.PubSub/Application/JsonSchemaExchangeOptions.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplicationOptions.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/OpcUaPubSubBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/Encoding/DataSetJsonSchemaProvider.cs
  Libraries/Opc.Ua.PubSub/Encoding/IDataSetJsonSchemaProvider.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/SchemaExchange/SchemaCache.cs
  Libraries/Opc.Ua.PubSub/Encoding/SchemaExchange/SchemaExchangeMessages.cs
  Libraries/Opc.Ua.PubSub/Opc.Ua.PubSub.csproj
  Libraries/Opc.Ua.PubSub/Transcoding/TranscodeEncoding.cs
  Stack/Opc.Ua.Types/Encoders/SchemaExchange/JsonSchemaAnnouncement.cs
  Stack/Opc.Ua.Types/Encoders/SchemaExchange/JsonSchemaRequest.cs
  Stack/Opc.Ua.Types/Encoders/SchemaId.cs
  Tests/Opc.Ua.Core.Encoders.Tests/SchemaExchange/JsonSchemaRoundTripTests.cs
  Tests/Opc.Ua.Core.Encoders.Tests/SchemaExchange/SchemaIdTests.cs
  Tests/Opc.Ua.PubSub.Tests/DependencyInjection/OpcUaPubSubBuilderExtensionsTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonDecoderTests.cs
  Tests/Opc.Ua.PubSub.Tests/SchemaExchange/SchemaExchangeHandshakeTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/AvroTranscodingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address AddClient configuration feedback
  docs/DependencyInjection.md
  docs/SourceGeneratedNodeManagers.md
  samples/MinimalBoilerServer/Program.cs
  samples/MinimalCalcServer/Program.cs
  samples/MinimalClient/Program.cs
  samples/MinimalClient/README.md
  samples/PumpDeviceIntegrationServer/Program.cs
  samples/PumpDeviceIntegrationServer/README.md
  samples/RedundantServer/Program.cs
  samples/RedundantServer/README.md
  src/Opc.Ua.Client/Fluent/OpcUaClientApplicationConfigurationFeature.cs
  src/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  src/Opc.Ua.Client/Fluent/OpcUaClientOptions.cs
  src/Opc.Ua.Client/NugetREADME.md
  src/Opc.Ua.Configuration/OpcUaConfigurationServiceCollectionExtensions.cs
  tests/Opc.Ua.Client.Tests/ClientBuilder/OpcUaClientBuilderTests.cs
Due: azure-pipelines.yml

Fix latest CTT monitored item and alarm regressions
  Applications/Quickstarts.Servers/SampleNodeManager/DataChangeMonitoredItem.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Stack/Opc.Ua.Core.Types/State/AcknowledgeableConditionState.cs
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Tests/Opc.Ua.Core.Encoders.Tests/JsonEncoderTests.cs
  Tests/Opc.Ua.Features.Tests/AlarmConditionStateMethodTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAcknowledgeTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAlarmTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsCertificateExpirationTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsConfirmTests.cs
  Tests/Opc.Ua.Server.Tests/Configuration/CertificateAlarmMonitoringTests.cs
  Tests/Opc.Ua.Server.Tests/DiagnosticsNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeStateGeneratorTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/MonitoredItemServicesTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BinaryEncoderTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlEncoderTests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeInstanceExtensionsTests.cs
  plans/ctt-issues.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml
