Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'Stack/' 
    - 'Libraries/' 

stages:
- stage: nugetpreview
  displayName: 'Push Nuget Preview'
  jobs:
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'

azure-pipelines.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'Docs/*' 
    - 'README.md' 

pr: 
  autoCancel: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 

variables:
  FullBuild: ${{ or(ne(variables['Build.Reason'], 'PullRequest'), ne(variables['System.PullRequest.IsFork'], 'False')) }}
  ScheduledBuild: ${{ eq(variables['Build.Reason'], 'Schedule') }}

stages:
- stage: build
  displayName: 'Build .NET Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
- stage: buildnohttps
  dependsOn: []
  displayName: 'Build NoHttps .NET Core Samples'
  condition: ne(variables.FullBuild, 'False')
  jobs:
  - template: .azurepipelines/ci.yml
    parameters:
      buildoption: '-p:NoHttps=true'
      agents: '@{ linux = "ubuntu-22.04" }'
- stage: solutions
  dependsOn: []
  displayName: 'Build Solutions'
  jobs:
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2022'
      jobnamesuffix: win2022
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2019'
      jobnamesuffix: win2019
- stage: testrelease
  dependsOn: [build]
  displayName: 'Test Core and SDK Release'
  condition: and(succeeded(), ne(variables.FullBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net462
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net462
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net48
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net48  
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: netcoreapp3.1
      jobnamesuffix: core3
- stage: test6release
  dependsOn: [build]
  displayName: 'Test .NET 6 Core and SDK Release'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-22.04"; mac = "macOS-12"}'
      jobnamesuffix: net60
- stage: testreleasepr
  dependsOn: []
  displayName: 'Fast PR Test Core and SDK Release'
  condition: and(eq(variables.FullBuild, 'False'), eq(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-20.04"}'
      jobnamesuffix: net60pr
- stage: testdebug
  dependsOn: [build]
  displayName: 'Test Core and SDK Debug'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      framework: netcoreapp3.1
      configuration: Debug
- stage: coverage
  dependsOn: [testdebug,testrelease]
  displayName: 'Code Coverage'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      poolImage: 'ubuntu-20.04'
      jobnamesuffix: netcore31

fix build
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed typos in file names.
  Applications/ClientControls.Net4/Browse/AttributeListCtrl.Designer.cs
  Applications/ClientControls.Net4/Common/Client/AttributesListViewCtrl.Designer.cs
  Applications/ClientControls.Net4/Common/Client/AttributesListViewCtrl.cs
  Applications/ClientControls.Net4/Common/Client/AttributesListViewCtrl.resx
  Applications/ClientControls.Net4/UA Client Controls.csproj
  Stack/Opc.Ua.Core/Stack/Types/SoftwareCertificate.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove const chars
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improve JsonEncoder.WriteDateTime (#2514)
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed typos in file names. (#2519)
  Applications/ClientControls.Net4/Browse/AttributeListCtrl.Designer.cs
  Applications/ClientControls.Net4/Common/Client/AttributesListViewCtrl.Designer.cs
  Applications/ClientControls.Net4/Common/Client/AttributesListViewCtrl.cs
  Applications/ClientControls.Net4/Common/Client/AttributesListViewCtrl.resx
  Applications/ClientControls.Net4/UA Client Controls.csproj
  Stack/Opc.Ua.Core/Stack/Types/SoftwareCertificate.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

reduce usage of EscapString
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

changes
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicies.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

asenumare
  Libraries/Opc.Ua.Client/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update buildandtest.yml
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml

Update codecov action to use token secret (#2521)
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml

Check for bad chunk headers and provide remote endpoint in `IMessageSocket` (#2510)
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageSocket.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageType.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/IMessageSocket.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

more static
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add well known roles
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/ApplicationsDatabaseBase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/IApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/JsonApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/LinqApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/GdsRole.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleBasedIdentity.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

updated EscapeString
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add missing roles to standard gds users to fix failing tests
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Typos in names of functions.
  Applications/ClientControls.Net4/Configuration/CertificateListCtrl.cs
  Applications/ClientControls.Net4/Configuration/CertificateListFilter.cs
  Applications/ClientControls.Net4/Configuration/Common (OLD)/GuiUtils.cs
  Applications/ClientControls.Net4/Configuration/ViewCertificateDlg.cs
  Applications/ClientControls.Net4/Endpoints/ConfiguredServerDlg.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Client.Common/CertificateWrapper.cs
  Libraries/Opc.Ua.Gds.Client.Common/RegisteredApplicationExtensions.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncodeableTests.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

reuse the identity plicy that has been used earlier
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

pass the existing cancellation token to the sessionfactories createasync call
  Applications/ConsoleReferenceClient/UAClient.cs
Due: azure-pipelines.yml

fixed memory issue in benchmark test
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

updated variable name
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines.yml

clean up
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines.yml

more updates
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fixed concurency issue
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add new Standard Users delete obsolete roles document WellKnownRoles
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/GdsRole.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/GDSwellKnownRoles.xlsx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

try fix gethostname
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Ensure endpoints are returned when alternate url port does not match (#2511)
  Libraries/Opc.Ua.Client/CoreClientUtils.cs
  Stack/Opc.Ua.Core/Stack/Configuration/EndpointConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/ServerBaseTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

reverting Thread local code for stringbuilder
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

moved stream flush from tear down setup to the benchmark test
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines.yml

add Method State before creating node
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

register Method revoke certificate improve execution time handle all cases where revocation fails improve test
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix merge conflict
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

minor optimizations & cleanup & documentation improvements
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

document role based user mangement
  Docs/README.md
  Docs/RoleBasedUserManagement.md
  README.md
Due: none

fix code md
  Docs/RoleBasedUserManagement.md
Due: none

use correct certificate store for validation
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

more variantions
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

added resultSpanCharsInline and conditonal for NETCOREAPP2_1_OR_GREATER
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines.yml

reduce locking in send/receive codepath
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove lock from servicemessagecontext
  Stack/Opc.Ua.Core/Types/Utils/IServiceMessageContext.cs
  Stack/Opc.Ua.Core/Types/Utils/ServiceMessageContext.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
