Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Phase 7: PubSub security subsystem
  Libraries/Opc.Ua.PubSub/Security/AesCtrNonceLayout.cs
  Libraries/Opc.Ua.PubSub/Security/Internal/AesCtrTransform.cs
  Libraries/Opc.Ua.PubSub/Security/Internal/HmacSha256.cs
  Libraries/Opc.Ua.PubSub/Security/Internal/SecureComparison.cs
  Libraries/Opc.Ua.PubSub/Security/Policies/PubSubAes128CtrPolicy.cs
  Libraries/Opc.Ua.PubSub/Security/Policies/PubSubAes256CtrPolicy.cs
  Libraries/Opc.Ua.PubSub/Security/Policies/PubSubNonePolicy.cs
  Libraries/Opc.Ua.PubSub/Security/Policies/PubSubSecurityPolicyRegistry.cs
  Libraries/Opc.Ua.PubSub/Security/PubSubSecurityKeyRing.cs
  Libraries/Opc.Ua.PubSub/Security/RandomNonceProvider.cs
  Libraries/Opc.Ua.PubSub/Security/SecurityTokenWindow.cs
  Libraries/Opc.Ua.PubSub/Security/StaticSecurityKeyProvider.cs
  Libraries/Opc.Ua.PubSub/Security/UadpSecurityFlagsEncodingMask.cs
  Libraries/Opc.Ua.PubSub/Security/UadpSecurityHeader.cs
  Libraries/Opc.Ua.PubSub/Security/UadpSecurityWrapper.cs
  Tests/Opc.Ua.PubSub.Tests/Security/AesCtrNonceLayoutTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Internal/AesCtrTransformTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Policies/PubSubAes128CtrPolicyTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Policies/PubSubAes256CtrPolicyTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Policies/PubSubNonePolicyTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Policies/PubSubSecurityPolicyRegistryTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/PubSubSecurityKeyRingTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/RandomNonceProviderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/SecurityTokenWindowTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/StaticSecurityKeyProviderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/TestSecurityKeyFactory.cs
  Tests/Opc.Ua.PubSub.Tests/Security/UadpSecurityHeaderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/UadpSecurityWrapperTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add env-var-driven Pcap auto-capture and stand-alone keylog
  Docs/PacketCapture.md
  Stack/Opc.Ua.Bindings.Pcap/Capture/Sources/InProcessCaptureSource.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapEnvironmentAutoStartHostedService.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapEnvironmentDefaults.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapEnvironmentVariableNames.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapServiceCollectionExtensions.cs
  Stack/Opc.Ua.Bindings.Pcap/KeyLog/StandaloneKeyLogObserver.cs
  Stack/Opc.Ua.Bindings.Pcap/Models/StartCaptureRequest.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Capture/InProcessCaptureSourceExplicitPathsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapEnvironmentAutoStartHostedServiceTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapEnvironmentDefaultsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/KeyLog/StandaloneKeyLogObserverTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: provisioning instructions for preview-publish workflow secrets
  plans/28-preview-publish-secrets.md
Due: azure-pipelines.yml

Address PR #3888 feedback: rename AddOpcUaBindingsPcapXXX to AddPcapXXX
  Applications/McpServer/Program.cs
  Docs/PacketCapture.md
  Stack/Opc.Ua.Bindings.Pcap/Bindings/ChannelCaptureRegistry.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/PcapBindings.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/PcapTransportChannelBinding.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapEnvironmentAutoStartHostedService.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapEnvironmentVariableNames.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapServiceCollectionExtensions.cs
  Stack/Opc.Ua.Bindings.Pcap/KeyLog/IKeyEscrowProvider.cs
  Stack/Opc.Ua.Bindings.Pcap/KeyLog/StandaloneKeyLogObserver.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapEnvironmentAutoStartHostedServiceTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapOptionsDiagnosticsToolsGateTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/KeyLog/KeyEscrowProviderTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/KeyLog/StandaloneKeyLogObserverTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 8: Security Key Service (SKS) client and in-memory server
  Libraries/Opc.Ua.PubSub/Opc.Ua.PubSub.csproj
  Libraries/Opc.Ua.PubSub/Security/Sks/IPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/ISecurityKeyService.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/InMemoryPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/OpcUaSecurityKeyServiceClient.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/OpcUaSksException.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/PullSecurityKeyProvider.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/PullSecurityKeyProviderOptions.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksAvailabilityChangedEventArgs.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksKeyGenerator.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksKeyRequest.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksKeyResponse.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksMethodHandler.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksSecurityGroup.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/FakeSecurityKeyService.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/InMemoryPubSubKeyServiceServerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/OpcUaSecurityKeyServiceClientTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/PullSecurityKeyProviderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/SksKeyGeneratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/SksKeyRequestTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/SksKeyResponseTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/SksMethodHandlerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(bindings): merge Kestrel.Tcp project into Https binding
  Stack/Opc.Ua.Bindings.Https/DependencyInjection/OpcUaKestrelTcpBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Https/NugetREADME.md
  Stack/Opc.Ua.Bindings.Https/Stack/KestrelTcp/KestrelTcpConnectionHandler.cs
  Stack/Opc.Ua.Bindings.Https/Stack/KestrelTcp/KestrelTcpTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Stack/KestrelTcp/PipeByteTransport.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/NugetREADME.md
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/Opc.Ua.Bindings.Kestrel.Tcp.csproj
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/Properties/AssemblyInfo.cs
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Sessions.Tests/Opc.Ua.Sessions.Tests.csproj
  UA Core Library.slnx
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(transports): ship Kestrel opc.tcp listener in the Https package
  Docs/ReverseConnect.md
  Docs/Transports.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
Due: none

update
  plans/28-preview-publish-secrets.md
Due: azure-pipelines.yml

Merge PacketCapture.md and Observability.md into Docs/Diagnostics.md
  Docs/ComplexTypes.md
  Docs/DependencyInjection.md
  Docs/Diagnostics.md
  Docs/McpServer.md
  Docs/MigrationGuide.md
  Docs/Observability.md
  Docs/PacketCapture.md
  Docs/README.md
  Docs/Sessions.md
  Docs/WhatsNewIn2.0.md
  Stack/Opc.Ua.Core.Diagnostics/DependencyInjection/PcapServiceCollectionExtensions.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add metrics inventory + exporter samples; normalize all metric names to opc.ua.* prefix
  Docs/Diagnostics.md
  Docs/Sessions.md
  Libraries/Opc.Ua.Client/NodeCache/NodeCache.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateCache.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ClientChannelManagerMetrics.cs
  Tests/Opc.Ua.Client.Tests/NodeCache/NodeCacheTests.cs
  Tests/Opc.Ua.Client.Tests/Stack/Client/ClientChannelManagerManagedTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Helpers/MetricsCollector.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Integration/CertRotationLiveTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Integration/FailoverLeaseSwapTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3888 review feedback
  .agents/skills/opcua-v20-migration/SKILL.md
  Docs/Diagnostics.md
  Docs/MigrationGuide.md
  Docs/migrate/2.0.x/README.md
  Docs/migrate/2.0.x/telemetry.md
Due: azure-pipelines.yml

fix(transports): edge security hardening for HTTPS/WSS/JSON transports
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/JsonRequestMapper.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WebSocketByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/JsonRequestMapperTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/WebSocketByteTransportTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(transports): document TLS revocation delegation and legacy-TFM WSS validation
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WebSocketByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(bindings): merge Opc.Ua.Bindings.WebApi into Opc.Ua.Bindings.Https
  Docs/NativeAoT.md
  Docs/Profiles.md
  Docs/WebApi.md
  Stack/Opc.Ua.Bindings.Https/Authentication/BasicAuthenticationHandler.cs
  Stack/Opc.Ua.Bindings.Https/Authentication/JwtClaimSessionlessIdentityProvider.cs
  Stack/Opc.Ua.Bindings.Https/DependencyInjection/OpcUaWebApiAuthenticationBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Https/DependencyInjection/OpcUaWebApiBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Https/NugetREADME.md
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/Endpoints/WebApiEndpointDispatcher.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/Endpoints/WebApiEndpointRouteBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/ISessionlessIdentityProvider.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/IWebApiServer.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/WebApiHttpsStartupContributor.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/WebApiServer.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/WebApiTransportOptions.cs
  Stack/Opc.Ua.Bindings.WebApi/NugetREADME.md
  Stack/Opc.Ua.Bindings.WebApi/Opc.Ua.Bindings.WebApi.csproj
  Stack/Opc.Ua.Bindings.WebApi/Properties/AssemblyInfo.cs
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
  Tests/Opc.Ua.Bindings.WebApi.Tests/Opc.Ua.Bindings.WebApi.Tests.csproj
  Tests/Opc.Ua.Sessions.Tests/Opc.Ua.Sessions.Tests.csproj
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CI: name the test that hangs/crashes the testhost (full --blame + crash collector)
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
Due: azure-pipelines.yml

Tests: stabilize FakeTimeProviderDrivesDeterministicSchedulingAsync on slow CI
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
Due: azure-pipelines.yml

Revert "Tests: stabilize FakeTimeProviderDrivesDeterministicSchedulingAsync on slow CI"
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
Due: azure-pipelines.yml

fix(security): WebApiWssTransportChannel TLS bypass (sec-1, CRITICAL)
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannel.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiWssTransportChannelTlsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): validate WSS opcua+openapi bearer access token (sec-2, HIGH)
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/WebApiHttpsStartupContributor.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Authentication/WssBearerTokenValidationTests.cs
  Tests/Opc.Ua.Sessions.Tests/WssOpenApiIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): install WebApi default auth scheme + policy forwarder (sec-5, HIGH)
  Stack/Opc.Ua.Bindings.Https/Authentication/BasicAuthenticationHandler.cs
  Stack/Opc.Ua.Bindings.Https/DependencyInjection/OpcUaWebApiAuthenticationBuilderExtensions.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Authentication/WebApiAuthDefaultSchemeTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): plumb upstream identity from WebApi to SecureChannelContext (sec-6, HIGH)
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/WebApiServer.cs
  Stack/Opc.Ua.Core/Stack/Server/SecureChannelContext.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiServerUpstreamIdentityTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): RequireAuthorization + UseAuthorization on WebApi routes (sec-7, MEDIUM)
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/Endpoints/WebApiEndpointRouteBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/WebApiHttpsStartupContributor.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiRouteAuthorizationMetadataTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): remove empty-password UserName fallback in sessionless providers (sec-4, HIGH)
  Stack/Opc.Ua.Bindings.Https/Authentication/JwtClaimSessionlessIdentityProvider.cs
  Stack/Opc.Ua.Bindings.Https/Stack/WebApi/ISessionlessIdentityProvider.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Authentication/DefaultSessionlessIdentityProviderTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Authentication/JwtClaimSessionlessIdentityProviderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): Kestrel mTLS adapter uses RequireCertificate (sec-8, MEDIUM)
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/HttpsTransportListenerMutualTlsModeTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): WebApi client validates server cert via CertificateValidator (sec-10, MEDIUM)
  Libraries/Opc.Ua.Client/WebApi/WebApiTransportChannel.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiTransportChannelTlsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix non-reflexive IsEqual breaking binary encoder fuzz idempotency gate
  Stack/Opc.Ua.Types/BuiltIn/ExtensionObject.cs
  Stack/Opc.Ua.Types/Nodes/VariableNode.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/GeneratedTypeFloatingPointEqualityTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/ExtensionObjectTests.cs
  Tests/Opc.Ua.Types.Tests/Nodes/VariableNodeTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CI: drop --blame-crash from dotnet test invocations (rejects 'none' dump type)
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
Due: azure-pipelines.yml

fix(ci): restore HTTPS discovery TLS accept when no UA validator is configured
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): WebApi REST + WSS request-size and zero-progress hardening (sec-9, MEDIUM)
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannel.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Stack/WebApi/WebApiBodyCodec.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiBodyCodecBoundedReadTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiWssTransportChannelZeroProgressTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(security): WSS bearer-prefix sub-protocol HTTPS-only + doc warning (sec-3, HIGH)
  Docs/WebApi.md
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannel.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiWssTransportChannelTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 14: Runtime integration of orphaned security + chunking + KeepAlive + timeout
  Libraries/Opc.Ua.PubSub.Mqtt/MqttConnectionOptions.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Groups/DataSetReaderTimeoutWatcher.cs
  Libraries/Opc.Ua.PubSub/Groups/ReaderGroup.cs
  Libraries/Opc.Ua.PubSub/Groups/WriterGroup.cs
  Libraries/Opc.Ua.PubSub/Security/IPubSubSecurityWrapperResolver.cs
  Libraries/Opc.Ua.PubSub/Security/UadpSecurityWrapOptions.cs
  Libraries/Opc.Ua.PubSub/Security/UadpSecurityWrapper.cs
  Tests/Opc.Ua.PubSub.Tests/Groups/DataSetReaderTimeoutWatcherTests.cs
  Tests/Opc.Ua.PubSub.Tests/Groups/WriterGroupKeepAliveTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/UadpSecurityWrapperSignOnlyTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpChunkedRoundTripTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpSecuredLoopbackTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 16 follow-up: complete sub-tasks 16b-g
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonActionNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDiscoveryMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpApplicationInformation.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDiscoveryCoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDiscoveryProbeFilter.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDiscoveryResponseMessage.cs
  Libraries/Opc.Ua.PubSub/Groups/WriterGroup.cs
  Tests/Opc.Ua.PubSub.Tests/Connections/PubSubConnectionInboundMetadataTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonActionNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonDiscoveryMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonSingleNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpDiscoveryFamilyTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpDatagramTransportV2Tests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
