Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

[ci] Fix Pcap test failures: 5 production / test-infra bugs
  Applications/McpServer/Tools/NodeSetExportTools.cs
  Stack/Opc.Ua.Bindings.Pcap/Audit/HashChainedAuditFileSink.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapServiceCollectionExtensions.cs
  Stack/Opc.Ua.Bindings.Pcap/Frame/PcapFileReader.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Opc.Ua.Bindings.Pcap.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[ci] Fix 3 Pcap test cross-platform / timing issues
  Tests/Opc.Ua.Bindings.Pcap.Tests/McpServerTools/PacketDecodePathValidationTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Replay/MockServerReplayTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Replay/ReplaySessionManagerTests.cs
Due: azure-pipelines.yml

Support unbounded monitored items per subscription via automatic partitioning (#3869)
  Docs/README.md
  Docs/Sessions.md
  Docs/UnboundedSubscriptions.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Subscription/CompositeMonitoredItemCollection.cs
  Libraries/Opc.Ua.Client/Subscription/ILogicalSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/IPartitionedSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionNotificationHandler.cs
  Libraries/Opc.Ua.Client/Subscription/LogicalSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemOptions.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStateSnapshot.cs
  Libraries/Opc.Ua.Client/Subscription/PartitionForwardingHandler.cs
  Libraries/Opc.Ua.Client/Subscription/PartitionPlacementPolicy.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManagerSerializer.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionStateSnapshot.cs
  Tests/Opc.Ua.Aot.Tests/AotTestFixture.cs
  Tests/Opc.Ua.Aot.Tests/SubscriptionAotTests.cs
  Tests/Opc.Ua.Client.Tests/Opc.Ua.Client.Tests.csproj
  Tests/Opc.Ua.Client.Tests/Subscription/CompositeMonitoredItemCollectionTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/LogicalSubscriptionTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/PartitionPlacementPolicyTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/ReactiveFallbackTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SecondaryPartitionIdleDeleteTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SnapshotGroupValidationTests.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionFailoverTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/UnboundedSubscriptionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-helpers: add WSS/JSON transport profile constants and predicates
  Stack/Opc.Ua.Core/Security/Constants/SecurityConstants.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Security/TransportProfileHelpersTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-iuasc-transport: define internal IUaSCByteTransport abstraction
  Stack/Opc.Ua.Core/Stack/Tcp/IUaSCByteTransport.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-tcp-byte-transport: add internal TcpByteTransport (sealed)
  Stack/Opc.Ua.Core/Stack/Tcp/TcpByteTransport.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-retarget-channel: route UASC chunk I/O through IUaSCByteTransport
  Stack/Opc.Ua.Core/Stack/Tcp/IUaSCByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/MessageSocketByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-tcp-transport-listener-rewire: drop TcpMessageSocket from TCP runtime
  Stack/Opc.Ua.Core/Stack/Tcp/ITcpChannelListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/IUaSCByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-tcp-transport-channel-rewire: move client channel to IUaSCByteTransport
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageSocket.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-remove-imessagesocket: delete IMessageSocket public API surface
  Stack/Opc.Ua.Core/Stack/Client/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Tcp/MessageSocketByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageSocket.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/IMessageSocket.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientChannelManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ConfiguredEndpointCollectionAdditionalTests.cs
  Tests/Opc.Ua.Sessions.Tests/ClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-json-mapper: add JsonRequestMapper for OPC UA Part 6 JSON wire format
  Stack/Opc.Ua.Bindings.Https/Stack/Https/JsonRequestMapper.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/JsonRequestMapperTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p1-refactor-startup: dispatch HTTPS pipeline on (upgrade, contentType)
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p2-ws-byte-transport-client: add WebSocket-backed IUaSCByteTransport
  Directory.Packages.props
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WebSocketByteTransport.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p2-ws-byte-transport-server: add WebSocketServerByteTransport
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WebSocketByteTransport.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p2-wss-client: register WSS client transport channel for opc.wss/wss
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WssTransportChannel.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p2-wss-listener-handler: end-to-end WSS opcua+uacp upgrade and session
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p2-wss-listener-factory: register WSS listener factories for wss/opc.wss
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p3-https-json-handler: implement HTTPS-JSON request handler
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p3-https-json-client: support HTTPS-JSON in HttpsTransportChannel
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p3-discovery-json: advertise JSON endpoint descriptions
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p3-wss-json-handler: implement WSS opcua+uajson server handler
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p3-wss-json-client: add WssJsonTransportChannel for opcua+uajson
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WssJsonTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientChannelManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

p4-refserver-config: expose opc.wss endpoint on the reference server
  Applications/ConsoleReferenceServer/Ctt.ReferenceServer.Config.xml
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
Due: azure-pipelines.yml

p6-profiles: document WSS and HTTPS-JSON transport support
  Docs/Profiles.md
Due: none

p6-migration: document the WSS/HTTPS-JSON additions and IMessageSocket removal
  Docs/MigrationGuide.md
Due: none

p6-readme: highlight WSS / HTTPS-JSON support in the top-level README
  README.md
Due: none

fix(p3-discovery-json): remove extra JSON endpoint emission to keep test fixtures happy
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CI: Fix pipeline cannot be cancelled regression and flaky tests (#3872)
  .azurepipelines/preview.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  .github/workflows/buildandtest.yml
  .github/workflows/codeql-analysis.yml
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Directory.Packages.props
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAcknowledgeTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAlarmTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsBranchTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsConfirmTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsEnableTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsNonExclusiveLimitTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsTestFixture.cs
  Tools/Opc.Ua.MigrationAnalyzer/Opc.Ua.MigrationAnalyzer.csproj
  azure-pipelines.yml
Due: azure-pipelines.yml

p6-transports: add developer guide for the transport profiles
  Docs/README.md
  Docs/Transports.md
Due: none

CI: default managedPool to true again in non-preview pipeline
  azure-pipelines.yml
Due: azure-pipelines.yml

p5-unit-byte-transport-tcp: add TcpByteTransport unit tests
  Tests/Opc.Ua.Core.Tests/Stack/Transport/TcpByteTransportTests.cs
Due: azure-pipelines.yml

[ci] Drop duplicate Microsoft.Extensions.TimeProvider.Testing PackageReference
  Tests/Opc.Ua.Client.Tests/Opc.Ua.Client.Tests.csproj
Due: azure-pipelines.yml

test(p5-unit-byte-transport-ws): add WebSocketServerByteTransport tests
  Tests/Opc.Ua.Core.Tests/Stack/Transport/WebSocketByteTransportTests.cs
Due: azure-pipelines.yml

fix(json-decoder): read UaTypeId from message envelope
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(p5-unit-jsonmapper): extend JsonRequestMapper coverage
  Tests/Opc.Ua.Core.Tests/Stack/Transport/JsonRequestMapperTests.cs
Due: azure-pipelines.yml

style: re-apply format on files merged from master (conflict resolution)
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionFailoverTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTests.cs
Due: azure-pipelines.yml

test(p5-unit-listener): cover new JSON and WSS dispatch paths
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
Due: azure-pipelines.yml

[ci] Gate Opc.Ua.Network.Fuzz* projects on CustomTestTarget like Pcap
  Fuzzing/Opc.Ua.Network.Fuzz.Tests/Opc.Ua.Network.Fuzz.Tests.csproj
  Fuzzing/Opc.Ua.Network.Fuzz.Tools/Opc.Ua.Network.Fuzz.Tools.csproj
  Fuzzing/Opc.Ua.Network.Fuzz/Opc.Ua.Network.Fuzz.csproj
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
