Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

feat(wss-client-tls): wire OPC UA cert validation into ClientWebSocket
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WebSocketByteTransport.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WssTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Tests/Opc.Ua.Server.TestFramework/ServerFixture.cs
  Tests/Opc.Ua.Sessions.Tests/WssTransportIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(wss-json-client-tls): wire OPC UA cert validation into WssJson channel + integ test
  Stack/Opc.Ua.Bindings.Https/Stack/Https/WssJsonTransportChannel.cs
  Tests/Opc.Ua.Server.TestFramework/ServerFixture.cs
  Tests/Opc.Ua.Sessions.Tests/WssJsonTransportIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(p5-integ-httpsjson): add HTTPS-JSON end-to-end integration tests
  Tests/Opc.Ua.Sessions.Tests/HttpsJsonTransportIntegrationTests.cs
Due: azure-pipelines.yml

test(p5-integ-mtls): document mutual-TLS coverage in WSS+uacp test
  Tests/Opc.Ua.Sessions.Tests/WssTransportIntegrationTests.cs
Due: azure-pipelines.yml

docs(p4-refclient): document new transport schemes in ConsoleReferenceClient
  Applications/ConsoleReferenceClient/README.md
Due: azure-pipelines.yml

fix(tests): make new transport unit tests build on net472/net48
  Tests/Opc.Ua.Core.Tests/Stack/Transport/TcpByteTransportTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/WebSocketByteTransportTests.cs
Due: azure-pipelines.yml

[test] Poll channel.State for Ready after channel-manager swap
  Tests/Opc.Ua.Sessions.Tests/ChannelManagerTransparentReconnectIntegrationTests.cs
Due: azure-pipelines.yml

feat(fu-shared-kestrel-host): share Kestrel IHost across HttpsTransportListeners on the same (host, port)
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/SharedKestrelHostRegistry.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/SharedKestrelHostTests.cs
  Tests/Opc.Ua.Sessions.Tests/SharedKestrelHostIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(fu-wss-reverse): server-side WSS reverse-connect (outbound)
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(fu-custom-transport-extensibility): publish IUaSCByteTransport extension contract + worked example
  Docs/CustomTransport.md
  Docs/MigrationGuide.md
  Docs/Transports.md
  Tests/Opc.Ua.Core.Tests/Stack/Transport/InProcessTransportExample.cs
Due: azure-pipelines.yml

feat(fu-kestrel-tcp): new Opc.Ua.Bindings.Kestrel.Tcp package (opt-in)
  Directory.Packages.props
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpConnectionHandler.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpTransportListener.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/Opc.Ua.Bindings.Kestrel.Tcp.csproj
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/PipeByteTransport.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/Properties/AssemblyInfo.cs
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Sessions.Tests/KestrelTcpIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/Opc.Ua.Sessions.Tests.csproj
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: remove WoT migration sub-doc; WoT is brand-new in 2.0
  .agents/skills/opcua-v20-migration/SKILL.md
  Docs/MigrationGuide.md
  Docs/WhatsNewIn2.0.md
  Docs/migrate/2.0.x/README.md
  Docs/migrate/2.0.x/wot.md
  README.md
Due: azure-pipelines.yml

feat(pe): KestrelTcp reverse-connect listener mode
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpConnectionHandler.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpTransportListener.cs
  Tests/Opc.Ua.Sessions.Tests/KestrelTcpReverseConnectIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(pg2): KestrelTcpTransportListenerFactory inherits TcpServiceHost for endpoint emission
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpTransportListener.cs
  Tests/Opc.Ua.Sessions.Tests/KestrelTcpIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(pg1): KestrelTcp listener cert hot-update + CloseChannelsForCertificate
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpTransportListener.cs
  Tests/Opc.Ua.Sessions.Tests/KestrelTcpIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(pg3): re-enable JSON sub-profile discovery emission
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
  Tests/Opc.Ua.Sessions.Tests/HttpsJsonTransportIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/WssJsonTransportIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(pf): WSS client-side reverse-connect listener
  Libraries/Opc.Ua.Client/Fluent/ClientReverseConnectOptions.cs
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Client/ReverseConnectHost.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpReverseConnectChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Tests/Opc.Ua.Client.TestFramework/ClientFixture.cs
  Tests/Opc.Ua.Sessions.Tests/WssReverseConnectIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(pg4): ClientTestKestrelTcp - representative subset against Kestrel-TCP listener
  Tests/Opc.Ua.Sessions.Tests/ClientTestKestrelTcp.cs
Due: azure-pipelines.yml

docs(phase10): WSS reverse-connect + Kestrel-TCP package documentation
  Docs/MigrationGuide.md
  Docs/README.md
  Docs/ReverseConnect.md
  Docs/Transports.md
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpREADME.md
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/Opc.Ua.Bindings.Kestrel.Tcp.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(review): address PR #3880 review feedback
  .github/copilot-instructions.md
  Docs/CustomTransport.md
  Docs/MigrationGuide.md
  Docs/Profiles.md
  Docs/Transports.md
  Stack/Opc.Ua.Bindings.Https/Stack/Https/SharedKestrelHostRegistry.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/Opc.Ua.Bindings.Kestrel.Tcp.csproj
  Stack/Opc.Ua.Core/Stack/Tcp/InProcessTransport.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/InProcessTransportExample.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/InProcessTransportTests.cs
  common.props
  plans/24-transport-binding-registry-and-di-extensions.md
  plans/25-wss-openapi-subprotocols.md
  plans/26-per-nuget-package-readmes.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(merge): stage post-merge edits missed from the merge commit
  Fuzzing/Opc.Ua.Network.Fuzz.Tools/Network.Testcases.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/CapturingByteTransport.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/CapturingByteTransportFactory.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/CapturingMessageSocket.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/ChannelCaptureRegistry.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/IChannelCaptureRegistry.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/PcapTransportChannelBinding.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapServiceCollectionExtensions.cs
  Stack/Opc.Ua.Core/Stack/Bindings/IFrameCaptureSink.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/CapturingByteTransportFactoryTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/CapturingByteTransportTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/CapturingMessageSocketFactoryTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/CapturingMessageSocketTests.cs
  Tests/Opc.Ua.Client.Tests/Stack/Client/ClientChannelManagerManagedTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientChannelManagerCertRotationTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Fakes/FakeTransport.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): SharedKestrelHostRegistry routes single-listener requests on any path
  Stack/Opc.Ua.Bindings.Https/Stack/Https/SharedKestrelHostRegistry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): revert Phase G3 JSON discovery emission - it bypassed security policy enforcement
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
  Tests/Opc.Ua.Sessions.Tests/HttpsJsonTransportIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/WssJsonTransportIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): guard WSS integration tests with #if NET5_0_OR_GREATER
  Tests/Opc.Ua.Sessions.Tests/WssJsonTransportIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/WssReverseConnectIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/WssTransportIntegrationTests.cs
Due: azure-pipelines.yml

fix(ci): Kestrel.Tcp csproj builds as no-op shell on legacy TFMs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/Opc.Ua.Bindings.Kestrel.Tcp.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(transports)!: replace static TransportBindings with ITransportBindingRegistry + DI extensions
  Libraries/Opc.Ua.Client/Fluent/HttpsTransportChannelBindings.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Lds.Server/LdsServer.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Bindings.Https/DependencyInjection/OpcUaHttpsBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/DependencyInjection/OpcUaKestrelTcpBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/PcapBindings.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/PcapTransportChannelBinding.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapServiceCollectionExtensions.cs
  Stack/Opc.Ua.Core/Stack/Bindings/DefaultTransportBindingRegistry.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ITransportBindingConfigurator.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ITransportBindingRegistry.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ITransportBindings.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ITransportChannelBindings.cs
  Stack/Opc.Ua.Core/Stack/Bindings/OpcUaTransportBuilderExtensions.cs
  Stack/Opc.Ua.Core/Stack/Bindings/TransportBindings.cs
  Stack/Opc.Ua.Core/Stack/Bindings/TransportBindingsBase.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Client/ReverseConnectHost.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Bindings/PcapBindingsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Client.TestFramework/ClientFixture.cs
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Server.TestFramework/ServerFixture.cs
  Tests/Opc.Ua.Sessions.Tests/ClientTestKestrelTcp.cs
  Tests/Opc.Ua.Sessions.Tests/KestrelTcpReverseConnectIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test+docs(transports): registry unit tests, doc/migration updates, plan + Utils.DefaultBindings cleanup
  Docs/MigrationGuide.md
  Docs/PacketCapture.md
  Docs/ReverseConnect.md
  Docs/Sessions.md
  Docs/Transports.md
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpREADME.md
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Stack/Bindings/TransportBindingRegistryTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilsConversionTests.cs
  plans/24-transport-binding-registry-and-di-extensions.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(transports): WithDefaultBindings auto-discovery for legacy CreateUaBinaryChannelAsync fallback
  Stack/Opc.Ua.Core/Stack/Bindings/DefaultTransportBindingRegistry.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Tests/Opc.Ua.Client.TestFramework/ClientFixture.cs
  Tests/Opc.Ua.Server.TestFramework/ServerFixture.cs
  Tests/Opc.Ua.Server.TestFramework/TestTransportBindings.cs
  Tests/Opc.Ua.Sessions.Tests/WssReverseConnectIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(review): address PR #3880 latest review feedback
  UA Core Library.slnx
  plans/25-wss-openapi-subprotocols.md
  plans/26-per-nuget-package-readmes.md
Due: azure-pipelines.yml

chore(editorconfig): batch A - promote 69 RCS rules suggestion->warning
  .editorconfig
Due: azure-pipelines.yml

chore(editorconfig): batch B - lock in 8 RCS warning rules -> error
  .editorconfig
Due: azure-pipelines.yml

chore(editorconfig): batch D - promote IDE0046, IDE0049 -> warning
  .editorconfig
Due: azure-pipelines.yml

chore(editorconfig): batch E - lock in IDE1005 -> error
  .editorconfig
Due: azure-pipelines.yml

chore(editorconfig): batch G - lock in CA1001, CA1507 -> error
  .editorconfig
Due: azure-pipelines.yml

Docs: address PR #3874 review feedback on WhatsNewIn2.0
  Docs/WhatsNewIn2.0.md
Due: none

chore(editorconfig): batch H - promote 32 NUnit suggestions -> warning (and dedupe NUnit2035)
  .editorconfig
Due: azure-pipelines.yml
