Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

merge update
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests2.cs
Due: azure-pipelines.yml

ignore faulty test
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
Due: azure-pipelines.yml

performance: Reduce allocations (logger factory reuse, check enabled) (#3387)
  Libraries/Opc.Ua.Client/OpcUaClientEventSource.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Server/OpcUaServerEventSource.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/QueueHandler/DataChangeQueueHandler.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Stack/Opc.Ua.Core/Types/Utils/LoggerUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add reverse connect command line support to ConsoleReferenceServer (#3376)
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceServer/README.md
Due: azure-pipelines.yml

Include failed value in XmlDecoder error messages (#3374)
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix BaseEventState.MemberwiseClone() to pass Parent to Activator.CreateInstance (#3361)
  Stack/Opc.Ua.Core/Stack/State/BaseEventState.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix console reference client cli args conflict (#3389)
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

Make Network Socket in UdpPubSubConnection reachable (#3385)
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix BaseVariableState to return correct BuiltInType for Byte arrays vs ByteString (#3384)
  Stack/Opc.Ua.Types/State/BaseVariableState.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/BaseDataVariableTypeStateSerializationTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix: State helper methods now update timestamps and clear change masks (#3371)
  Stack/Opc.Ua.Core/Stack/State/AcknowledgeableConditionState.cs
  Stack/Opc.Ua.Core/Stack/State/AlarmConditionState.cs
  Stack/Opc.Ua.Core/Stack/State/ConditionState.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix: Enable historical data access for historizing nodes in Reference Server (#3383)
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines.yml

Fix ExtractValueFromVariant method call condition (#3382)
  Stack/Opc.Ua.Types/State/BaseVariableState.cs
  Tests/Opc.Ua.Types.Tests/State/ExtractValueFromVariantTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add support for restoring triggered monitored items on session reconnect (#3377)
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemState.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add support for private encodeable factory in server initialization (#3366)
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Types/Utils/ServiceMessageContext.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/ServiceMessageContextTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix and update serilog package
  Directory.Packages.props
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix SourceTimestamp and ServerTimestamp mismatch in ServerStatus children (#3386)
  Directory.Packages.props
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CoreNodeManager.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add support for RSA_DH, more fixes from IOP testings.
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/RunTest.cs
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/ISession.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Core/Schema/SecuredApplicationHelpers.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CryptoUtils.cs
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicies.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicyInfo.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Server/SecureChannelContext.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageType.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Rsa.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/NullChannel.cs
  Stack/Opc.Ua.Core/Stack/Types/UserNameIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Only treat an actual StatusCode value equal to Good as null to avoid misencoding
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonDataSetMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Removed orhpaned #endregion
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonDataSetMessageTests.cs
Due: azure-pipelines.yml

Add client-based NodeSet2 export functionality (#3400)
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Docs/NodeSetExport.md
  Docs/README.md
  Libraries/Opc.Ua.Client/CoreClientUtils.NodeSetExport.cs
  Tests/Opc.Ua.Client.Tests/NodeSetExportTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add comprehensive OPC UA Profiles and Facets documentation (#3397)
  Docs/Profiles.md
  Docs/README.md
  README.md
Due: none

Disable mac os actions
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml

Fix race condition causing duplicate MonitoredItems in concurrent CreateItemsAsync calls (#3399)
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStatus.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CallMethodResult.InputArgumentResults to comply with OPC UA Part 4 Section 5.12 (#3398)
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add optional parent-child linking when importing NodeSet2.xml (#3396)
  Stack/Opc.Ua.Types/Schema/UANodeSetHelpers.cs
  Tests/Opc.Ua.Core.Tests/Stack/Schema/UANodeSetHelpersTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Disable mac os actions (#3404)
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml

Only treat an actual StatusCode value equal to Good as null to avoid mis-encoding (#3403)
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonDataSetMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix thread pool exhaustion with many MQTT writer groups (#3395)
  Libraries/Opc.Ua.PubSub/IUaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/IntervalRunner.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttMetadataPublisher.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpDiscoveryPublisher.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpDiscoverySubscriber.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPublisher.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.Publisher.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improve RSA/ECDSA CSR parsing and .NET Framework test logic
  Libraries/Opc.Ua.Security.Certificates/PKCS10/Pkcs10CertificationRequest.cs
  Libraries/Opc.Ua.Security.Certificates/X509Crl/X509Signature.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove BouncyCastle dependency from GDS Server (#3393)
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/Opc.Ua.Gds.Server.Common.csproj
  Libraries/Opc.Ua.Security.Certificates/PKCS10/Pkcs10CertificationRequest.cs
  Libraries/Opc.Ua.Security.Certificates/PKCS10/Pkcs10Utils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Crl/X509Signature.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Assets/test_rsa.csr
  Tests/Opc.Ua.Security.Certificates.Tests/Pkcs10CertificationRequestTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
Due: azure-pipelines.yml

Finish implementation of SecureChannelEnhancements.
  Applications/ConsoleReferenceClient/RunTest.cs
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/ISession.cs
  Libraries/Opc.Ua.Server/Session/ISessionManager.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Security/Constants/AdditionalParameterNames.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicyInfo.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Server/SecureChannelContext.cs
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelToken.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/NullChannel.cs
  UA Reference.sln
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Rename EccUtils.cs to CryptoUtils.cs
  Stack/Opc.Ua.Core/Security/Certificates/EccUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix MinNonceLength for SecurityPolicies.Basic128Rsa15
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix MinNonceLength for SecurityPolicies.Basic128Rsa15 (#3410)
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix client returning BadUserAccessDenied when SecurityPolicy or SecurityMode not matching (#3270)
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ConfiguredEndpointTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Restore clean console output in ConsoleReferenceServer and ConsoleReferenceClient (#3409)
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceServer/UAServer.cs
Due: azure-pipelines.yml

Refactor ApplicationConfiguration serialization for deprecated settings and add tests for configuration behavior
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Tests/Opc.Ua.Configuration.Tests/SecurityConfigurationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update ApplicationConfiguration to prefer modern elements in "hybrid" configurations and add corresponding tests
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Tests/Opc.Ua.Configuration.Tests/SecurityConfigurationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
