Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

save certificates async
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

sec group feedback
  Applications/ConsoleReferenceClient/Quickstarts.ReferenceClient.Config.xml
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.xsd
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/ICertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

improve code
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

allow for greater than due to Task based checks
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

non parallel and cleanup parameter
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

retry async
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove client changes
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove code duplication
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServiceHost.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix linebreaks
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServiceHost.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

reverse order of write and delete, make test enums async
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Unified SessionConfiguration
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Unified UserIdentityToken Encrypt/Decrypt
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update NuGets.
  Libraries/Opc.Ua.Configuration/Opc.Ua.Configuration.csproj
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Schema/Opc.Ua.NodeSet2.xml
Due: azure-pipelines-preview.yml, azure-pipelines.yml

switch to cached stores
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/ICertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/SecuredApplicationHelpers.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateStoreIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTrustList.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/ICertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix checks
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

Update README.md
  README.md
Due: none

AddRejected method for ICertificateStore (#2720)
  Applications/ConsoleReferenceClient/Quickstarts.ReferenceClient.Config.xml
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/ICertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.xsd
  Stack/Opc.Ua.Core/Schema/SecuredApplicationHelpers.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateStoreIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTrustList.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/ICertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add a 1.05 update notice (#2709)
  README.md
Due: none

Update to truly test DurableSubscriptions
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
Due: azure-pipelines.yml

return BadInvalidType if a value type returned by an attribute is null
  Libraries/Opc.Ua.Client/Session/Session.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/DataValue.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Client.ReadNodes: Check that DataValue.Value is not null when verifying the event notifier for an object (#2729)
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

revert previous fix
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use concurrentdict as underlying dict for NodeIdDictionary
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/Server/ReverseConnectServer.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/NodeIdDictionary.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/QualifiedName.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update client config
  Applications/ConsoleReferenceClient/Quickstarts.ReferenceClient.Config.xml
Due: azure-pipelines.yml

typo
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

perf opt
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix cert blob decoding hot path and cert validator semaphore
  Libraries/Opc.Ua.Security.Certificates/Common/AsnUtils.cs
  Libraries/Opc.Ua.Server/Server/OpcUaServerEventSource.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
Due: azure-pipelines.yml

check if semaphore was entered
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use HiresClock instead of DateTime for IntervalRunner publish time calculation.
  Libraries/Opc.Ua.PubSub/IntervalRunner.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

disable ValidateUaPublisherPublishIntervalDeviation for local execution only
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
Due: azure-pipelines.yml

August release testing: Improve cert blob decoding hot path and fix cert validator semaphore regression (#2748)
  Libraries/Opc.Ua.Security.Certificates/Common/AsnUtils.cs
  Libraries/Opc.Ua.Server/Server/OpcUaServerEventSource.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

channel fault and concurrent channel close issue
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove https package from dependencies, causes issues.
  nuget/Opc.Ua.Symbols.nuspec
  nuget/Opc.Ua.nuspec
Due: azure-pipelines.yml

improve publish operation to avoid discards with large MI Queue sizes
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove https package from OPCFoundation.NetStandard.Opc.Ua dependencies to avoid build issues. (#2751)
  nuget/Opc.Ua.Symbols.nuspec
  nuget/Opc.Ua.nuspec
Due: azure-pipelines.yml

Release testing: Fix channel remove issue and channel exhaustion on reconnect (#2749)
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
