Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

sync with local changes
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/ConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Boiler/BoilerNodeManager.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataObjectState.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Opc.Ua.Client.ComplexTypes.csproj
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
  Libraries/Opc.Ua.Configuration/Opc.Ua.Configuration.csproj
  Libraries/Opc.Ua.Gds.Client.Common/Opc.Ua.Gds.Client.Common.csproj
  Libraries/Opc.Ua.Gds.Server.Common/Opc.Ua.Gds.Server.Common.csproj
  Libraries/Opc.Ua.PubSub/Opc.Ua.PubSub.csproj
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Stack/Types/ContentFilter.Evaluate.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Uuid.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Client.Tests/RequestHeaderTest.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubDataStoreTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  common.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix netstandard2.0 tests
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderDateTimeBenchmark.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
Due: azure-pipelines.yml

fix langversion
  common.props
Due: azure-pipelines.yml

Generate ECC Certificates in Client Tests
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
Due: azure-pipelines.yml

use official asp.net packages for ,NET Framework
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update common comments
  common.props
Due: azure-pipelines.yml

Fix net462 build
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilderBase.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CRLTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Revert "Generate ECC Certificates in Client Tests"
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
Due: azure-pipelines.yml

Fix net462 build (#2949)
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilderBase.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CRLTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix crl tests on platforms not supporting ECC
  Tests/Opc.Ua.Security.Certificates.Tests/CRLTests.cs
Due: azure-pipelines.yml

fix crl test
  Tests/Opc.Ua.Security.Certificates.Tests/CRLTests.cs
Due: azure-pipelines.yml

Update READMEs for ECC
  Docs/EccProfiles.md
  Docs/README.md
  README.md
Due: none

[Server] Allow Subject Name Change of Application Certificate in GDS Push scenario (#2833)
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/ICertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Extend ServerConfiguration & GDS Server for ECC (#2817)
  Docs/EccProfiles.md
  Docs/README.md
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoveryServerConfiguration.cs
  Libraries/Opc.Ua.Gds.Server.Common/ICertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/Opc.Ua.Gds.Server.Common.csproj
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/X509Crl/X509Signature.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  README.md
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/EccUtils.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestClient.Config.xml
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestClientX509Stores.Config.xml
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestServer.Config.xml
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestServerX509Stores.Config.xml
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.ServerConfigurationPushTestClient.Config.xml
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CRLTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Made changes non-breaking.
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
  Stack/Opc.Ua.Core/Stack/Client/RegistrationClient.cs
  Stack/Opc.Ua.Core/Stack/Client/UaChannelBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageSocket.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added a new setting MessageTransportMode which enables the user to decide if DataEfficiency or TimeCriticality is the important factor in their use-case.
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.xsd
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
  Stack/Opc.Ua.Core/Stack/Client/RegistrationClient.cs
  Stack/Opc.Ua.Core/Stack/Client/SessionChannel.cs
  Stack/Opc.Ua.Core/Stack/Client/UaChannelBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageSocket.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/IMessageSocket.cs
  Stack/Opc.Ua.Core/Stack/Transport/TransportChannelSettings.cs
  Stack/Opc.Ua.Core/Stack/Transport/TransportListenerSettings.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed wrong comment.
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added to configuration builder.
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Client/SessionChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Minimized changes.
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
  Stack/Opc.Ua.Core/Stack/Client/SessionChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageSocket.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Set initial value of LastActiveTickCount
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Removed unnecessary setings for System.Diagnostics.DiagnosticSource version in Opc.Ua.Client.csproj
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Set initial value of LastActiveTickCount (#2953)
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update version.json to 1.5.375
  version.json
Due: azure-pipelines.yml

Add more tests
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestServer.Config.xml
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestServerX509Stores.Config.xml
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CRLTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

reenable check of certificate
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines.yml

Update version.json to 1.5.375 (#2960)
  version.json
Due: azure-pipelines.yml

Simplify SetECDsaPublicKey and padd with leading zeros
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added SetECCurve
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Simplify SetECDsaPublicKey and padd with leading zeros (#2962)
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Simplify SetECDsaPublicKey and padd with leading zeros (#2962) (#2963)
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Provide empty collection as fallback in foreach loop
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

initialize predefined nodes in constructor
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

initialize predefined nodes in constructor (#2966)
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
