Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

fix
  Libraries/Opc.Ua.Client/BrowserOptions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add tests to increase Opc.Ua.SourceGeneration.Stack coverage to ~70%
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/CompilationOptionsTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/ExtensionsTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/Opc.Ua.SourceGeneration.Stack.Tests.csproj
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/SourceGeneratorDiagnosticTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/StackGenerationAssemblyTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/StackGenerationOptionsTests.cs
Due: azure-pipelines.yml

Add tests for source generator Extensions and Client options types
  Tests/Opc.Ua.Client.Tests/OptionsContextTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/ExtensionsAdditionalTests.cs
Due: azure-pipelines.yml

Add PubSub coverage tests for encoder, decoder, connection, and error events
  Tests/Opc.Ua.PubSub.Tests/DataSetDecodeErrorEventArgsTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonEncoderAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubConnectionAdditionalTests.cs
Due: azure-pipelines.yml

Add PubSub coverage tests for encoder, decoder, connection, and config helper
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfigurationHelperTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderExtendedTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonEncoderExtendedTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubConnectionExtendedTests.cs
Due: azure-pipelines.yml

Add PubSub JSON encoder/decoder coverage tests
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderFinalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonEncoderFinalTests.cs
Due: azure-pipelines.yml

Fix 7 ignored SecurityConfigurationManager tests
  Stack/Opc.Ua.Core/Stack/Configuration/SecurityConfigurationManager.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/SecurityConfigManagerAdditionalTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/SecurityConfigurationManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix test failures: SessionLessMessage MaxMessageSize bug, CertificateStoreIdentifier assertion, PubSub test setups
  Stack/Opc.Ua.Core/Types/BuiltIn/SessionLessMessage.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateIdentifierTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/SessionLessMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderFinalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Rename CoverageTests files: remove Coverage from names, merge where collisions exist
  Tests/Opc.Ua.Core.Tests/Stack/Client/ConfiguredEndpointCollectionTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ConfiguredEndpointCoverageTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ConfiguredEndpointTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/EndpointBaseTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/ServerBaseCoverageTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/ServerBaseTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateCoverageTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilsAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonDataSetMessageEncodeTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageCoverageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonDecoderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonEncoderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageCoverageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageCoverageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/DataCollectorSetupTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionCoverageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubApplicationTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubDataStoreTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/ExtensionsSourceGenTests.cs
Due: azure-pipelines.yml

update
  Directory.Build.props.override
Due: azure-pipelines.yml

fix: response handling by converting results to lists
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeFieldBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/StructureWithOptionalFields.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonEncoder.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixes
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Stack/Opc.Ua.Types/BuiltIn/EnumHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Another fix
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

More
  Tests/Opc.Ua.Aot.Tests/GdsClientAotTests.cs
  Tests/Opc.Ua.Configuration.Tests/SecurityConfigurationTests.cs
Due: azure-pipelines.yml

Add coverage tests to reach 80% across all assemblies
  Tests/Opc.Ua.Client.Tests/Session/DefaultSessionFactoryTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionStateEncoderTests.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationConfigurationBuilderTests.cs
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Security/Certificates/DirectoryCertificateStoreTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/ConfiguredEndpointsTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/DataGeneratorTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationHelperTests.cs
  Tests/Opc.Ua.Gds.Tests/GdsClientCommonAdditionalTests.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryServerConfigurationTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttClientProtocolConfigurationTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaNetworkMessageTests.cs
  Tests/Opc.Ua.Server.Tests/AggregatorsTests.cs
  Tests/Opc.Ua.Server.Tests/AverageAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/CountAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/ServerInternalDataTests.cs
  Tests/Opc.Ua.Server.Tests/StartEndAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/StdDevAggregateCalculatorTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/ExtensionsAdditionalTests.cs
Due: azure-pipelines.yml

update
  .editorconfig
  Libraries/Opc.Ua.Gds.Common/Design/OpcUaGdsModel.csv
  Libraries/Opc.Ua.Gds.Common/Design/OpcUaGdsModel.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/OpcUaOnboardingModel.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/OpcUaOnboardingModel.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/OpcUaSchedulerModel.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/OpcUaSchedulerModel.xml
  Tools/Opc.Ua.SourceGeneration.Core/Schema/NodeSetToModelDesign.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix Uuid.NewUuid() infinite recursion causing StackOverflow
  Stack/Opc.Ua.Types/BuiltIn/Uuid.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Enable PubSub tests after Uuid.NewUuid fix, fix stream disposal
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaNetworkMessageTests.cs
Due: azure-pipelines.yml

Move encodeable factory types to opc.ua.types
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Directory.Packages.props
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeFieldBuilder.cs
  Stack/Opc.Ua.Types/Encoders/Enumeration.cs
  Stack/Opc.Ua.Types/Encoders/Field.cs
  Stack/Opc.Ua.Types/Encoders/IStructure.cs
  Stack/Opc.Ua.Types/Encoders/IStructureField.cs
  Stack/Opc.Ua.Types/Encoders/Structure.cs
  Stack/Opc.Ua.Types/Encoders/StructureWithOptionalFields.cs
  Stack/Opc.Ua.Types/Encoders/Union.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultComplexTypesBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultComplexTypesCommon.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultComplexTypesEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Revert
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultEnumerationTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.xml
  Tools/Opc.Ua.SourceGeneration.Core/Schema/NodeSetToModelDesign.cs
Due: azure-pipelines.yml

update
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateIdentifierTests.cs
Due: azure-pipelines.yml

update
  Tests/coverlet.runsettings.xml
Due: azure-pipelines.yml

Build fixes
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Libraries/Opc.Ua.Client/Session/SessionStateEncoder.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Stack/Server/SecureChannelContext.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Types/X509IdentityTokenHandler.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/EndpointIncomingRequestTests.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix build
  Tests/Opc.Ua.Client.Tests/Session/SessionStateEncoderTests.cs
Due: azure-pipelines.yml

update
  Libraries/Opc.Ua.Client/CoreClientUtils.NodeSetExport.cs
  Stack/Opc.Ua.Types/Schema/UANodeSet.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetHelpers.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetSerializers.g.cs
  Stack/Opc.Ua.Types/State/NodeStateCollection.cs
  Tests/Opc.Ua.Aot.Tests/NodeSetAotTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: document three approaches for decoding ComplexTypes from OPC UA servers (#3664)
  Docs/ComplexTypes.md
Due: none

serializer update script
  Stack/Opc.Ua.Types/Schema/UANodeSetSerializers.g.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetSerializers.ps1
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Tools/Opc.Ua.SourceGeneration.Stack/Opc.Ua.SourceGeneration.Stack.csproj
  Tools/Opc.Ua.SourceGeneration/Opc.Ua.SourceGeneration.csproj
Due: azure-pipelines.yml

Try fix test issue in devops builds
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilsConversionTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilsFormattingTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/ExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Support UANodeset export / import under AOT (#3667)
  Libraries/Opc.Ua.Client/CoreClientUtils.NodeSetExport.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Stack/Opc.Ua.Types/Schema/UANodeSet.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetHelpers.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetSerializers.g.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetSerializers.ps1
  Stack/Opc.Ua.Types/State/NodeStateCollection.cs
  Tests/Opc.Ua.Aot.Tests/NodeSetAotTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilsConversionTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilsFormattingTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/ExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Stack/Opc.Ua.SourceGeneration.Stack.csproj
  Tools/Opc.Ua.SourceGeneration/Opc.Ua.SourceGeneration.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/SessionSecurityPolicyHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CA2000 warnings in Core.Tests by adding using declarations
  Tests/Opc.Ua.Core.Tests/Schema/SecuredApplicationTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/SecurityConfigManagerAdditionalTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/SecurityConfigurationManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/BaseDataVariableTypeStateSerializationTest.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/ConditionStateTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateCollectionConcurrencyTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateHandlerConcurrencyTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/NullChannelTests.cs
Due: azure-pipelines.yml
