Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Atomic transport refactor S3+S4: validation extensions and ApplicationConfiguration.CertificateManager
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidationExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add V2 TransferSubscriptions integration test for ManagedSession
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionReconnectIntegrationTests.cs
Due: azure-pipelines.yml

Atomic transport refactor S10 (partial): Session.cs (Client) prefers CertificateManager when set
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Atomic transport refactor S10+S11: Session client chain validation + DefaultSessionFactory
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Atomic transport refactor S5+S6+S7: type-swap on transport types and channel consumers
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelQuotas.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Transport/ITransportListener.cs
  Stack/Opc.Ua.Core/Stack/Transport/TransportChannelSettings.cs
  Stack/Opc.Ua.Core/Stack/Transport/TransportListenerSettings.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Atomic transport refactor S8: identity-token handler validator parameter type swap
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Stack/Types/AnonymousIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/IUserIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/IssuedIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/UserNameIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/X509IdentityTokenHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Type-swap ApplicationConfiguration/ServerBase.CertificateValidator to ICertificateValidatorEx (S5 cascade)
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/ConsoleReferenceServer/UAServer.cs
  Applications/McpServer/OpcUaSessionManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Tests/Opc.Ua.Aot.Tests/AotTestFixture.cs
  Tests/Opc.Ua.Aot.Tests/BoilerNodeManagerAotTests.cs
  Tests/Opc.Ua.Aot.Tests/GdsTestFixture.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Drop dedicated CertificateValidator from discovery registration; share CertificateManager (S12)
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Replace transient CertificateValidator with X509Chain in CSR signing path (S14)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix ClientAuditEntryId for ReportAuditOpenSecureChannelEvent
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix subscription publish bug wrongly reporting moreNotifications as false
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Tests/Opc.Ua.Server.Tests/SubscriptionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Mark ApplicationConfiguration/ServerBase legacy properties [Obsolete] (S18)
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/ApplicationConfigurationEncodingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update Certificates docs for full obsolete cascade (S20)
  Docs/CertificateManager.md
  Docs/MigrationGuide.md
Due: none

Enable nullable on Opc.Ua.Gds.Server.Common; revert NodeId? on Gds.Client.Common DefaultGroups
  Libraries/Opc.Ua.Gds.Client.Common/IServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/ApplicationsDatabaseBase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/IApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/JsonApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/LinqApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoveryServerConfiguration.cs
  Libraries/Opc.Ua.Gds.Server.Common/ICertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/ICertificateRequest.cs
  Libraries/Opc.Ua.Gds.Server.Common/Opc.Ua.Gds.Server.Common.csproj
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add global AcceptError property on ICertificateValidatorEx; migrate samples (S15)
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/ConsoleReferenceServer/UAServer.cs
  Applications/McpServer/OpcUaSessionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateValidatorEx.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Document new ICertificateValidatorEx.AcceptError global property
  Docs/CertificateManager.md
Due: none

Server: minimize ! and fix logic inversions introduced by 245e92b1d
  Libraries/Opc.Ua.Server/Aggregates/AggregateManager.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNodeMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroupMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserDatabase/LinqUserDatabase.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Libraries/Opc.Ua.Server/Session/SessionSecurityPolicyHelper.cs
  Libraries/Opc.Ua.Server/Subscription/ISubscriptionManager.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Server: fix 243 logic inversions introduced by 245e92b1d
  Libraries/Opc.Ua.Server/Aggregates/AggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/AverageAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/CountAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/MinMaxAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/StartEndAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/StatusAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/StdDevAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/ParsedNodeId.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CoreNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/EventManager.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/BrowsePathResolver.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNodeMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroup.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroupMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/NodeManager/ResourceManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserDatabase/LinqUserDatabase.cs
  Libraries/Opc.Ua.Server/Server/ReverseConnectServer.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/ServerUtils.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/QueueHandler/DataChangeQueueHandler.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement users needed for GDS CTT Testing
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Applications/Quickstarts.Servers/Quickstarts.Servers.csproj
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
Due: azure-pipelines.yml

Enable nullable on Opc.Ua.Client.ComplexTypes
  Libraries/Opc.Ua.Client.ComplexTypes/Opc.Ua.Client.ComplexTypes.csproj
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/AssemblyModule.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/AttributeExtensions.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeFactory.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeFieldBuilder.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/BaseComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/ComplexTypePropertyInfo.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/OptionalFieldsComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/StructureDefinitionAttribute.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/StructureTypeAttribute.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/UnionComplexType.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Recreate ManagedSession failover in place; wire V2 RecreateSubscriptionsAsync
  Libraries/Opc.Ua.Client/Session/ClassicSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/DefaultSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/ISubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionReconnectIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make CertificateTypesProvider registry-backed when constructed with a CertificateManager (S13)
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add unit tests for SubscriptionManager.DrainAsync drain primitive
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionManagerTests.cs
Due: azure-pipelines.yml

Remove union attribution until c#15
  Stack/Opc.Ua.Types/BuiltIn/ExtensionObject.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  global.json
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add WithTransferSubscriptionsOnRecreate(bool) builder opt-in
  Libraries/Opc.Ua.Client/ClientBuilder/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/ClientBuilder/OpcUaClientServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSessionOptions.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionReconnectIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Directory.Packages.props
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTrustList.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/CryptoUtils.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Stack/Opc.Ua.Core/Security/Constants/AdditionalParameterNames.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicyInfo.cs
  Stack/Opc.Ua.Core/Types/Utils/IDependencyInjectionBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Client] Fixed excessive tasks spawning during session connection loss (cherry pick PR #3707)
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionUnitTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Applications/McpServer/Properties/AssemblyInfo.cs
  Directory.Packages.props
  Libraries/Opc.Ua.Client/Browser.cs
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Server/ReverseConnectServer.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Stack/Diagnostics/DiagnosticsExtensions.cs
  Stack/Opc.Ua.Types/BuiltIn/ExtensionObject.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  Tests/Opc.Ua.Client.Tests/Opc.Ua.Client.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/TemporaryCertValidator.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/UserNameIdentityTokenHandlerTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeManagerGeneratorTests.cs
  common.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use InMemoryUserDatabase
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
Due: azure-pipelines.yml

Add back installation of sdk 8 and 9
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
Due: azure-pipelines.yml

update
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Client/Fluent/IClientBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientOptions.cs
  Libraries/Opc.Ua.Client/Fluent/ServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/BrowsePathResolver.cs
  Libraries/Opc.Ua.Server/Fluent/FluentDelegates.cs
  Libraries/Opc.Ua.Server/Fluent/IFluentDispatcher.cs
  Libraries/Opc.Ua.Server/Fluent/INodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/INodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeManagerAttribute.cs
  Libraries/Opc.Ua.Server/Fluent/NodeManagerBuilder.cs
  Stack/Opc.Ua.Core/Types/Utils/IDependencyInjectionBuilder.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionSubscriptionManagerIntegrationTests.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/OpcUaClientServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/NodeCache/NodeCacheAsyncTest.cs
  Tests/Opc.Ua.Client.Tests/NodeCache/NodeCacheTests.cs
  Tests/Opc.Ua.Client.Tests/ReferenceServerWithLimits.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionReconnectHandlerTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionManagerTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTests.cs
  Tests/Opc.Ua.Client.Tests/Utils/PrioritizedChannelTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CertificateManager: propagate SecurityConfiguration validation flags to per-trust-list validators
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Republish missing messages on first publish after recreate/transfer
  Libraries/Opc.Ua.Client/Subscription/MessageProcessor.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI test regressions
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
Due: azure-pipelines.yml

! reduction Phase 1: ValidateRequest [NotNull] + StandardServer cleanup
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CertificateManager: skip empty trust-list paths in MapFromSecurityConfiguration
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

! reduction Phase 3: fix 13 (expr as Type)! latent bugs
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeFieldBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/ServerSystemContext.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Stack/Opc.Ua.Types/BuiltIn/Argument.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
