Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'Stack/' 
    - 'Libraries/' 

stages:
- stage: nugetpreview
  displayName: 'Push Nuget Preview'
  jobs:
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'

azure-pipelines.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'Docs/*' 
    - 'README.md' 

pr: 
  autoCancel: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 

variables:
  FullBuild: ${{ or(ne(variables['Build.Reason'], 'PullRequest'), ne(variables['System.PullRequest.IsFork'], 'False')) }}
  ScheduledBuild: ${{ eq(variables['Build.Reason'], 'Schedule') }}

stages:
- stage: build
  displayName: 'Build .NET Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
- stage: buildnohttps
  dependsOn: []
  displayName: 'Build NoHttps .NET Core Samples'
  condition: ne(variables.FullBuild, 'False')
  jobs:
  - template: .azurepipelines/ci.yml
    parameters:
      buildoption: '-p:NoHttps=true'
      agents: '@{ linux = "ubuntu-22.04" }'
- stage: solutions
  dependsOn: []
  displayName: 'Build Solutions'
  jobs:
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2022'
      jobnamesuffix: win2022
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2019'
      jobnamesuffix: win2019
- stage: testrelease
  dependsOn: [build]
  displayName: 'Test Core and SDK Release'
  condition: and(succeeded(), ne(variables.FullBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net462
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net462
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net48
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net48  
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: netcoreapp3.1
      jobnamesuffix: core3
- stage: test6release
  dependsOn: [build]
  displayName: 'Test .NET 6 Core and SDK Release'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-22.04"; mac = "macOS-12"}'
      jobnamesuffix: net60
- stage: testreleasepr
  dependsOn: []
  displayName: 'Fast PR Test Core and SDK Release'
  condition: and(eq(variables.FullBuild, 'False'), eq(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-20.04"}'
      jobnamesuffix: net60pr
- stage: testdebug
  dependsOn: [build]
  displayName: 'Test Core and SDK Debug'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      framework: netcoreapp3.1
      configuration: Debug
- stage: coverage
  dependsOn: [testdebug,testrelease]
  displayName: 'Code Coverage'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      poolImage: 'ubuntu-20.04'
      jobnamesuffix: netcore31

Reverted ReadWriteLockSlim to object
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

allow possible 'good' race condition
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
Due: azure-pipelines.yml

faster builds
  common.props
Due: azure-pipelines.yml

only run analyzers in .NET 8
  common.props
Due: azure-pipelines.yml

Improved atomicity
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

up job timeout
  common.props
Due: azure-pipelines.yml

add more Tests for delete and add second crl
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
Due: azure-pipelines.yml

revert breaking change
  .azurepipelines/test.yml
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add null check
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

duplicate ClientTestFixture to run GDS Client Tests also with GDS on Windows
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/TestUtils.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/Common.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.Gds.Tests.csproj
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestClientX509Stores.Config.xml
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestServerX509Stores.Config.xml
Due: azure-pipelines.yml

try new build matrix
  .azurepipelines/test.yml
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
  common.props
Due: azure-pipelines.yml

reduce number of permutations because the log output kills the test runners
  .editorconfig
  Stack/Opc.Ua.Core/Stack/Bindings/ArraySegmentStream.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferManager.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/JsonEncoderTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
  common.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

GDS: Add Audit Events to GDS and missing Events to ServerConfigurationNode (#2554)
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix solution
  UA Core Library.sln
Due: azure-pipelines.yml

Improve ArraySegmentStream with ReadOnlyMemory/Span signatures, avoid extra alloc/copy (#2556)
  .azurepipelines/test.yml
  .editorconfig
  Stack/Opc.Ua.Core/Stack/Bindings/ArraySegmentStream.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferManager.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferSegment.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferSequence.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypesCommon.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/EncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/JsonEncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolverTests.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/BufferManagerBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/BinaryDecoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/BinaryEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncodeableTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderDateTimeBenchmark.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderEscapeStringBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
  common.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

reenable .NET Standard 2.0 builds
  .azurepipelines/signlistDebug.txt
  .azurepipelines/signlistRelease.txt
  Docs/PlatformBuild.md
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/customtest.bat
  azure-pipelines.yml
  targets.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix custom builds
  Tests/customtest.bat
  targets.props
Due: azure-pipelines.yml

fix CertificateTypes Provider & CertificateFactory
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

document changes
  Docs/Certificates.md
  README.md
Due: none

fix Nuget build?
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Revert "fix Nuget build?"
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

client session assync initialize
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add Nuget Package Readme and file
  Docs/NugetREADME.md
  common.props
Due: azure-pipelines.yml

Deprecated Utils.Nonce
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix tests in netstandard2.0
  Tests/Opc.Ua.Core.Tests/Types/Encoders/BinaryDecoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/BinaryEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines.yml

Reenable .NET Standard 2.0 builds for core library (#2570)
  .azurepipelines/signlistDebug.txt
  .azurepipelines/signlistRelease.txt
  Docs/PlatformBuild.md
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Core.Tests/Types/Encoders/BinaryDecoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/BinaryEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
  Tests/customtest.bat
  UA Core Library.sln
  azure-pipelines.yml
  targets.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

handle reconnect activate
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

return BadSecureChannelClosed instead of ObjectDisposed
  Stack/Opc.Ua.Core/Stack/Client/ClientBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove simple Client & Server Examples
  Docs/NugetREADME.md
Due: none

Simplify Nonce.CreateNonce method, added NonceTests UnitTest
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Nonce/NonceTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Removed #if ECC_SUPPORT conditional compilation statements related to Nonce usage
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix stuff that creeped in
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageSocket.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix null server config
  Stack/Opc.Ua.Core/Stack/Configuration/EndpointConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix GetCertificates Method in ServerConfigurationNodeManager
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove unnecessary casts to RoleBasedIdentity when checking for WellKnownRoles
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add Nuget Package Readme and file (#2575)
  Docs/NugetREADME.md
  common.props
Due: azure-pipelines.yml

make IUserIdentity immutable
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleBasedIdentity.cs
  Stack/Opc.Ua.Core/Stack/Client/IUserIdentity.cs
  Stack/Opc.Ua.Core/Stack/Client/UserIdentity.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added KeyFrameCount and DeltaFrame tests
  Tests/Opc.Ua.PubSub.Tests/Encoding/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/WriterGroupPublishedStateTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.cs
Due: azure-pipelines.yml

add temp variable to make operation thread safe
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
