Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

test: cover CrdtClientKeyValueStore round-trip (client redundancy)
  Tests/Opc.Ua.Client.Redundancy.Tests/CrdtClientKeyValueStoreTests.cs
  Tests/Opc.Ua.Client.Redundancy.Tests/Opc.Ua.Client.Redundancy.Tests.csproj
Due: azure-pipelines.yml

feat(sample): add --replicas client replica-set demo (ClientReplicaCoordinator)
  Applications/RedundantClient/Program.cs
  Applications/RedundantClient/README.md
Due: azure-pipelines.yml

fix(ci): dispose reverse-connect channels deterministically (cert leak)
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): re-add explicit DisposeAsync after CloseAsync in ServerBase.StopAsync
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(sessions-tests): warm-up delay before post-restart ReconnectAsync
  Tests/Opc.Ua.Sessions.Tests/ChannelManagerTransparentReconnectIntegrationTests.cs
Due: azure-pipelines.yml

test: consolidate redundancy test projects to mirror source
  Libraries/Opc.Ua.Redundancy.Server/Opc.Ua.Redundancy.Server.csproj
  Tests/Opc.Ua.Redundancy.Client.Tests/ClientReplicaCoordinatorTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/CrdtClientKeyValueStoreTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/Opc.Ua.Redundancy.Client.Tests.csproj
  Tests/Opc.Ua.Redundancy.Client.Tests/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Redundancy.Server.Crdt.Tests/Opc.Ua.Redundancy.Server.Crdt.Tests.csproj
  Tests/Opc.Ua.Redundancy.Server.Crdt.Tests/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Redundancy.Server.Integration.Tests/Opc.Ua.Redundancy.Server.Integration.Tests.csproj
  Tests/Opc.Ua.Redundancy.Server.Integration.Tests/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Opc.Ua.Redundancy.Server.Tests.csproj
  Tests/Opc.Ua.Redundancy.Server.Tests/ReplicatedOptionsTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Sessions/CrdtSessionManagerFactoryTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Sessions/CrdtSharedKeyValueStoreTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/ByteStringCrdtSerializerTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/CrdtAddressSpaceStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/CrdtAddressSpaceSynchronizerTests.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix build-linux-all-tfm: Eth Pcap test under netstandard2.1 pin
  Tests/Opc.Ua.PubSub.Eth.Tests/EthTransportServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.PubSub.Eth.Tests/Opc.Ua.PubSub.Eth.Tests.csproj
Due: azure-pipelines.yml

Fix Docker Reference Server build: copy Opc.Ua.Core.Schema csproj
  Applications/ConsoleReferenceServer/Dockerfile
Due: azure-pipelines.yml

refactor: extract shared CRDT into Opc.Ua.Redundancy; add client CRDT DI
  Libraries/Opc.Ua.Redundancy.Client/ClientRedundancyServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Redundancy.Client/Opc.Ua.Redundancy.Client.csproj
  Libraries/Opc.Ua.Redundancy.Server/Sessions/CrdtSharedKeyValueStore.cs
  Libraries/Opc.Ua.Redundancy.Server/State/ByteStringCrdtSerializer.cs
  Libraries/Opc.Ua.Redundancy/ByteStringCrdtSerializer.cs
  Libraries/Opc.Ua.Redundancy/CrdtSharedKeyValueStore.cs
  Libraries/Opc.Ua.Redundancy/NugetREADME.md
  Libraries/Opc.Ua.Redundancy/Opc.Ua.Redundancy.csproj
  Libraries/Opc.Ua.Redundancy/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Aot.Tests/CrdtAotTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/Opc.Ua.Redundancy.Client.Tests.csproj
  Tests/Opc.Ua.Redundancy.Server.Tests/Sessions/CrdtSharedKeyValueStoreTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/ByteStringCrdtSerializerTests.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(redundancy): add IRaftConsensus seam + in-process backend (Raft phase 1)
  Libraries/Opc.Ua.Redundancy/Raft/IRaftConsensus.cs
  Libraries/Opc.Ua.Redundancy/Raft/InProcessRaftCluster.cs
  Libraries/Opc.Ua.Redundancy/Raft/InProcessRaftConsensus.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/InProcessRaftConsensusTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(redundancy): add linearizable RaftSharedKeyValueStore + RaftLeaderElection (Raft phase 2)
  Libraries/Opc.Ua.Redundancy/Raft/RaftLeaderElection.cs
  Libraries/Opc.Ua.Redundancy/Raft/RaftSharedKeyValueStore.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RaftLeaderElectionTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RaftSharedKeyValueStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(redundancy): add HybridSharedKeyValueStore + RedundancyConsistencyMode (Raft phase 3)
  Libraries/Opc.Ua.Redundancy/Raft/HybridSharedKeyValueStore.cs
  Libraries/Opc.Ua.Redundancy/Raft/RedundancyConsistencyMode.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/HybridSharedKeyValueStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(redundancy): server DI consistency-mode selection UseRedundancyConsistency (Raft phase 4)
  Libraries/Opc.Ua.Redundancy.Server/RedundancyConsistencyBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/RedundancyConsistencyOptions.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RedundancyConsistencyBuilderExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(redundancy): nonce/lease auto-wire over Raft CAS (Raft phase 5)
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RaftPrimitivesIntegrationTests.cs
Due: azure-pipelines.yml

feat(redundancy): client DI AddRaftClientSharedStore + mode-aware store (Raft phase 6)
  Libraries/Opc.Ua.Redundancy.Client/ClientRedundancyServiceCollectionExtensions.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/RaftClientSharedStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(redundancy): scaffold RaftCsConsensus adapter for external RaftCs (Raft phase 7, gated)
  Libraries/Opc.Ua.Redundancy/Raft/RaftCsConsensus.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(redundancy): document Raft consistency modes (Raft phase 8)
  Docs/HighAvailability.md
  Docs/HighAvailabilityKubernetes.md
  Libraries/Opc.Ua.Redundancy/NugetREADME.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3892 review feedback (round 5)
  Libraries/Opc.Ua.PubSub.Adapter/Opc.Ua.PubSub.Adapter.csproj
  Libraries/Opc.Ua.PubSub.Adapter/Session/ServerSession.cs
  Libraries/Opc.Ua.PubSub.Eth/Channels/PcapEthernetFrameChannel.cs
  Libraries/Opc.Ua.PubSub.Eth/Channels/PcapEthernetFrameChannelFactory.cs
  Libraries/Opc.Ua.PubSub.Eth/DependencyInjection/PcapEthTransportBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub.Schema/NugetREADME.md
  Libraries/Opc.Ua.PubSub.Server/Hosting/IPubSubServerBuilder.cs
  Tests/Opc.Ua.Aot.Tests/AotTestFixture.cs
  Tests/Opc.Ua.Aot.Tests/EthAotTests.cs
  Tests/Opc.Ua.Aot.Tests/GdsTestFixture.cs
  Tests/Opc.Ua.Aot.Tests/HistoryAotTests.cs
  Tests/Opc.Ua.Aot.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Aot.Tests/PubSubAotTests.cs
  Tests/Opc.Ua.Aot.Tests/SubscriptionAotTests.cs
  Tests/Opc.Ua.Aot.Tests/WebApiAotFixture.cs
  Tests/Opc.Ua.Aot.Tests/WebApiAotTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ActionMethodMapBrowsePathTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ActionMethodMapTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/AdapterMetricsTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/AdapterTestHelpers.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/BrowsePathResolutionTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/CyclicReadStrategyTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/DataSetMetaDataBuilderTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/FakeDataChangeSubscription.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ModelChangeMetadataRefreshTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/NodeBrowsePathTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/OpcUaPubSubAdapterBuilderCompositionTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/OpcUaPubSubAdapterBuilderExtensionsTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerActionHandlerTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerAdapterIntegrationTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerAdapterReloadCoordinatorTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerAdapterRuntimeTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerConnectionOptionsTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerPublishedDataSetSourceTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerSubscribedDataSetSinkTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerTargetVariableWriterTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/SubscriptionCoordinatorTests.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/SubscriptionReadStrategyTests.cs
  Tests/Opc.Ua.PubSub.Eth.Tests/EthTransportServiceCollectionExtensionsTests.cs
  plans/sa-cert-01-certificate-ownership-redesign.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Consolidate TFM-support warning suppression to common.props (#3927)
  Libraries/Opc.Ua.Client.ComplexTypes/Opc.Ua.Client.ComplexTypes.csproj
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
  Libraries/Opc.Ua.PubSub.Adapter/Opc.Ua.PubSub.Adapter.csproj
  Libraries/Opc.Ua.PubSub.Eth/Opc.Ua.PubSub.Eth.csproj
  Libraries/Opc.Ua.PubSub.Mqtt/Opc.Ua.PubSub.Mqtt.csproj
  Libraries/Opc.Ua.PubSub.Schema/Opc.Ua.PubSub.Schema.csproj
  Libraries/Opc.Ua.PubSub.Server/Opc.Ua.PubSub.Server.csproj
  Libraries/Opc.Ua.PubSub.Udp/Opc.Ua.PubSub.Udp.csproj
  Libraries/Opc.Ua.PubSub/Opc.Ua.PubSub.csproj
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/Opc.Ua.Bindings.Https.WebApi.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  common.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix cert reloading form disk
  Libraries/Opc.Ua.Client/Session/Session.cs
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make certificate & issuer-key registry ownership explicit (caller-owned handles)
  Docs/CertificateManager.md
  Docs/IdentityProviders.md
  Docs/migrate/2.0.x/certificates.md
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/JwtAuthenticator.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateRegistry.cs
  Stack/Opc.Ua.Core/Security/Identity/IIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Security/Identity/JwksIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Security/Identity/StaticIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Security.Certificates/CertificateManager/CertificateEntry.cs
  Stack/Opc.Ua.Security.Certificates/CertificateManager/CertificateEntryCollection.cs
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/RealHttpsListenerIntegrationTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/IssuerVerificationKeyTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/JwksIssuerKeyResolverTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/StaticIssuerKeyResolverTests.cs
  Tests/Opc.Ua.Lds.Tests/LdsTestFixture.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/CertificateEntryTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorRejectionTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make IDataTypeDefinitionSource.GetDataTypeDefinition abstract + non-nullable (#3926)
  Stack/Opc.Ua.Core.Schema/Resolution/EncodeableFactoryDefinitionSource.cs
  Stack/Opc.Ua.Types/Encoders/IDataTypeDefinitionSource.cs
  Stack/Opc.Ua.Types/Encoders/IEncodeableFactory.cs
  Tests/Opc.Ua.Client.Tests/GeneratedDataTypeDefinitionTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BuiltInTypeTestCases.cs
  Tests/Opc.Ua.Types.Tests/Encoders/PooledEncodeableTypeTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceModel.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration/DataTypeCompilation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use CertificateEntry (cert + chain) instead of loading cert/chain separately (#3929)
  Docs/CertificateManager.md
  Docs/migrate/2.0.x/certificates.md
  Libraries/Opc.Ua.Client/Session/ChannelManagerSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateRegistry.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/RealHttpsListenerIntegrationTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address review feedback: rename registry accessors + fix CA2000
  Docs/CertificateManager.md
  Docs/migrate/2.0.x/certificates.md
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateRegistry.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/RealHttpsListenerIntegrationTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/StaticIssuerKeyResolverTests.cs
  Tests/Opc.Ua.Lds.Tests/LdsTestFixture.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorRejectionTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address review feedback: server certificate non-null contract + clearer channel error
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(redundancy): pull RaftCs 1.1.0 + Crdt 1.1.0 and wire the real Raft consensus
  Directory.Packages.props
  Docs/HighAvailability.md
  Libraries/Opc.Ua.Redundancy.Client/ClientRedundancyServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/RedundancyConsistencyBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy/NugetREADME.md
  Libraries/Opc.Ua.Redundancy/Opc.Ua.Redundancy.csproj
  Libraries/Opc.Ua.Redundancy/Raft/RaftCsConsensus.cs
  Tests/Opc.Ua.Aot.Tests/RaftAotTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RaftCsConsensusTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix many-sessions load test: publish-worker backoff, configurable auth lockout, server log severity
  Docs/SessionScalability.md
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Server.Tests/ClientLockoutTests.cs
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Eliminate genuinely-fixable CA2000 suppressions in PR-touched files
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix client instance-certificate handle leak under concurrent sessions
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: note the client instance-certificate handle leak fix in SessionScalability
  Docs/SessionScalability.md
Due: none

fix(redundancy): harden Raft proposal liveness + address-space watch fallback (review)
  Libraries/Opc.Ua.Redundancy.Server/State/InMemoryNodeStateStore.cs
  Libraries/Opc.Ua.Redundancy/Raft/RaftSharedKeyValueStore.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/InMemoryNodeStateStoreTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RaftSharedKeyValueStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(redundancy): add RaftCsConsensus.CreateCluster multi-node factory + 3-node tests (rw-A1/B)
  Libraries/Opc.Ua.Redundancy/Raft/RaftCsConsensus.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RaftCsClusterTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR review feedback: drop load-test env vars, consolidate scalability doc
  Docs/Benchmarks.md
  Docs/README.md
  Docs/SessionScalability.md
  Tests/Opc.Ua.Configuration.Tests/ApplicationConfigurationBuilderTests.cs
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines.yml

feat(redundancy.k8s): add UseKubernetesRaftConsensus multi-pod wiring (rw-A2)
  Libraries/Opc.Ua.Redundancy.K8s/KubernetesRaftBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.K8s/KubernetesRaftConsensusOptions.cs
  Libraries/Opc.Ua.Redundancy.K8s/Opc.Ua.Redundancy.K8s.csproj
  Tests/Opc.Ua.Redundancy.K8s.Tests/KubernetesRaftBuilderExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CA2000: dispose staged issuer collection on all failure paths
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
