Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Remove #region directives from PR-added Part 9 files
  Libraries/Opc.Ua.Client/Alarms/AlarmClient.cs
  Libraries/Opc.Ua.Client/Subscription/Streaming/StreamingSubscription.cs
  Stack/Opc.Ua.Core.Types/State/AlarmConditionState.Methods.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/AlarmConditionStateMethodTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 8E/8F/8G: Software update store + client + DI developer docs
  Applications/MinimalPumpServer/Program.cs
  Applications/MinimalPumpServer/SoftwareUpdate/PumpSoftwareUpdateSeeder.cs
  Docs/Opc.Ua.Di/ClientHelpers.md
  Docs/Opc.Ua.Di/DeviceBuilder.md
  Docs/Opc.Ua.Di/Hosting.md
  Docs/Opc.Ua.Di/LockService.md
  Docs/Opc.Ua.Di/README.md
  Docs/Opc.Ua.Di/SoftwareUpdate.md
  Docs/README.md
  Libraries/Opc.Ua.Di.Client/Hosting/OpcUaClientDiBuilderExtensions.cs
  Libraries/Opc.Ua.Di.Client/SoftwareUpdateClient.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/FileSystemPackageStore.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/ISoftwarePackageStore.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/MemoryPackageStore.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/SoftwarePackage.cs
  Tests/Opc.Ua.Di.Tests/ClientHelpersTests.cs
  Tests/Opc.Ua.Di.Tests/PackageStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove nullable annotation from encodeable test helper
  Tests/Opc.Ua.Types.Tests/BuiltIn/TypeInfoTests.cs
Due: azure-pipelines.yml

Server-side DI integration for identity providers — Phase PI (server)
  Libraries/Opc.Ua.Server/Hosting/JwtIssuerOptions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerIdentityOptions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerOptions.cs
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
  Stack/Opc.Ua.Core/Security/Identity/JwksIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Security/Identity/StaticIssuerKeyResolver.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/JwksIssuerKeyResolverTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/StaticIssuerKeyResolverTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/IdentityHostingTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/JwtIssuerOptionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use activator func in PooledEncodable type
  Stack/Opc.Ua.Types/Encoders/BoundedObjectPool.cs
  Stack/Opc.Ua.Types/Encoders/PooledEncodeableType.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Session close
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

closed fix
  Libraries/Opc.Ua.Client/Session/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Reduce sync-over-async in non-obsolete server APIs
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/IKeyCredentialRequestStore.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Libraries/Opc.Ua.Server/FileSystem/DirectoryObjectState.cs
  Libraries/Opc.Ua.Server/FileSystem/FileSystemNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/ServerSystemContext.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificatePasswordProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Types/UserNameIdentityTokenHandler.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianFluentTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove unused #region/#endregion directives from test files
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.History.Tests/FileSystemTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PublishTests.cs
Due: azure-pipelines.yml

AlarmClient delegates to source-generated *TypeClient proxies
  Applications/ConsoleReferenceClient/AlarmClientSample.cs
  Docs/AlarmsAndConditions.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Client/Alarms/AlarmClient.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmClientFactory.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmClientSessionExtensions.cs
  Tests/Opc.Ua.History.Tests/AlarmClientIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix code style after Part 11 Historical Access merge
  Libraries/Opc.Ua.Server/Historian/HistorianDispatcher.cs
  Libraries/Opc.Ua.Server/Historian/InMemory/InMemoryHistorianProvider.cs
  Libraries/Opc.Ua.Server/NodeManager/ServerSystemContext.cs
  Tests/Opc.Ua.Client.Tests/Historian/HistoryClientTypesTests.cs
  Tests/Opc.Ua.History.Tests/HistoryClientIntegrationTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCaptureSinkAdvancedTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCaptureSinkTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherBranchTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianEventDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianEventFilterTargetTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianFluentInstallerGapsTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianFluentTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianProviderRegistryTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderGapsTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryTransactionalProviderTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncCustomNodeManagerHistoryRoutingTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/TypeInfoTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Client-side DI integration for identity providers — Phase PI (client)
  Libraries/Opc.Ua.Client/Fluent/CompositeClientIdentityProviderBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/IssuedTokenClientIdentityOptions.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientIdentityOptions.cs
  Libraries/Opc.Ua.Client/Fluent/UserNameClientIdentityOptions.cs
  Libraries/Opc.Ua.Client/Fluent/X509ClientIdentityOptions.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/JwtBearerAccessTokenProvider.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/AccessTokenProviderRegistrationTests.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/IdentityProviderConfigurationTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/JwtBearerAccessTokenProviderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Client identity test cleanup — Phase PI follow-up
  Tests/Opc.Ua.Client.Tests/ClientBuilder/IdentityProviderConfigurationTests.cs
  Tests/Opc.Ua.Client.Tests/Session/CompositeClientIdentityProviderTests.cs
  Tests/Opc.Ua.Client.Tests/Session/DefaultClientIdentityProviderTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ProactiveRefreshTests.cs
  Tests/Opc.Ua.Client.Tests/Session/UpdateIdentityAsyncTests.cs
Due: azure-pipelines.yml

GDS-server DI forwarders for IConfiguration / AddJwtIssuer — Phase PI follow-up
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsIdentityForwardingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Identity-provider DI documentation rollup — Phase PI (docs)
  Docs/DependencyInjection.md
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
Due: none

Identity-provider docs: accuracy pass against shipped DI surface
  Docs/DependencyInjection.md
  Docs/IdentityProviders.md
Due: none

Generic Part 16 state-machine API: client + server + alarm alignment
  Docs/AlarmsAndConditions.md
  Docs/MigrationGuide.md
  Docs/README.md
  Docs/StateMachines.md
  Libraries/Opc.Ua.Client/Alarms/AlarmClient.StateMachine.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmClient.cs
  Libraries/Opc.Ua.Client/StateMachines/FiniteStateMachineTypeClientExtensions.cs
  Libraries/Opc.Ua.Client/StateMachines/StateMachineSnapshot.cs
  Libraries/Opc.Ua.Client/StateMachines/StateMachineTypeClientExtensions.cs
  Libraries/Opc.Ua.Server/StateMachines/FluentFiniteStateMachineState.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineDefinition.cs
  Stack/Opc.Ua.Core/Stack/Client/ObjectTypeClient.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

revert
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 9: increase test coverage for new DI/fluent code (+144 tests)
  Tests/Opc.Ua.Di.Tests/DeviceBuilderDeviceStateExtensionsTests.cs
  Tests/Opc.Ua.Di.Tests/DeviceIdentificationDataTests.cs
  Tests/Opc.Ua.Di.Tests/DiDeviceClientTests.cs
  Tests/Opc.Ua.Di.Tests/DiDeviceTopologyTests.cs
  Tests/Opc.Ua.Di.Tests/DiDiscoveryClientTests.cs
  Tests/Opc.Ua.Di.Tests/DiDiscoveryServiceTests.cs
  Tests/Opc.Ua.Di.Tests/DiLockClientTests.cs
  Tests/Opc.Ua.Di.Tests/DiPostSetupContextTests.cs
  Tests/Opc.Ua.Di.Tests/DiTopologyClientTests.cs
  Tests/Opc.Ua.Di.Tests/FunctionalGroupBuilderTests.cs
  Tests/Opc.Ua.Di.Tests/LockingServicesExtensionsTests.cs
  Tests/Opc.Ua.Di.Tests/OpcUaClientDiBuilderExtensionsTests.cs
  Tests/Opc.Ua.Di.Tests/OpcUaServerDiBuilderExtensionsTests.cs
  Tests/Opc.Ua.Di.Tests/SoftwareUpdateClientTests.cs
  Tests/Opc.Ua.Pumps.Tests/PumpSoftwareUpdateSeederTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/InstanceCreationBuilderExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PropertyInitBuilderExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/ReferenceBuilderExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/SimulationRegistryTests.cs
Due: azure-pipelines.yml

Update KeyCredential tests to use async API
  Tests/Opc.Ua.Gds.Tests/KeyCredentialRequestStoreTests.cs
  Tests/Opc.Ua.Gds.Tests/Phase2AbstractionTests.cs
Due: azure-pipelines.yml

update
  plans/StateMachineBuilder.md
Due: azure-pipelines.yml

fix nullable compile issue
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Increase test coverage for newly added Part 9 / 16 code
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientSessionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientStateMachineTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmEventDecoderTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmEventFilterBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmStreamExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/ModelChange/ModelChangeTrackerTests.cs
  Tests/Opc.Ua.Client.Tests/NodeCache/NodeCacheInvalidateNodeTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/FiniteStateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/StateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Streaming/StreamingSubscriptionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Streaming/StreamingSubscriptionTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/EventRecordExtensionsTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/AlarmConditionStateMethodTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmRateTrackerTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmSuppressionEngineTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/FluentFiniteStateMachineStateTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderTests.cs
Due: azure-pipelines.yml

Restore CreateMasterNodeManager (sync) at the call site
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3807 review feedback
  Docs/DependencyInjection.md
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
  Docs/RoleBasedUserManagement.md
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleConfigurationOptions.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleManager.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsIdentityForwardingTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/IdentityHostingTests.cs
  Tests/Opc.Ua.Server.Tests/RoleManagerTests.cs
  Tests/Opc.Ua.Server.Tests/Roles/AccessTokenRoleCriteriaTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR review feedback
  Docs/ModelChangeTracking.md
  Libraries/Opc.Ua.Client/Alarms/AlarmClient.StateMachine.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmEventDecoder.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmStreamExtensions.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/ModelChange/IModelChangeTracker.cs
  Libraries/Opc.Ua.Client/ModelChange/ModelChangeTracker.cs
  Libraries/Opc.Ua.Client/Session/ManagedSessionOptions.cs
  Libraries/Opc.Ua.Client/StateMachines/FiniteStateMachineTypeClientExtensions.cs
  Libraries/Opc.Ua.Client/StateMachines/StateMachineTypeClientExtensions.cs
  Libraries/Opc.Ua.Client/Subscription/Streaming/IStreamingSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/Streaming/StreamingSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/Streaming/StreamingSubscriptionExtensions.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/ModelChangeAggregator.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineDefinition.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientStateMachineTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmStreamExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/ModelChange/ModelChangeTrackerTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/FiniteStateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/StateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmRateTrackerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3808 review feedback
  Applications/MinimalPumpServer/MinimalPumpServer.csproj
  Applications/MinimalPumpServer/Model/Opc.Ua.Di.NodeSet2.xml
  Applications/MinimalPumpServer/PumpNodeManager.Configure.cs
  Applications/MinimalPumpServer/PumpNodeManager.cs
  Applications/MinimalPumpServer/README.md
  Applications/MinimalSoftwareUpdateServer/MinimalSoftwareUpdateServer.csproj
  Applications/MinimalSoftwareUpdateServer/Program.cs
  Applications/MinimalSoftwareUpdateServer/Properties/AssemblyInfo.cs
  Applications/MinimalSoftwareUpdateServer/README.md
  Applications/MinimalSoftwareUpdateServer/SoftwarePackageSeeder.cs
  Docs/CompanionSpecLibraries.md
  Docs/Opc.Ua.Di/ClientHelpers.md
  Docs/Opc.Ua.Di/ComplianceMatrix.md
  Docs/Opc.Ua.Di/DeviceBuilder.md
  Docs/Opc.Ua.Di/Hosting.md
  Docs/Opc.Ua.Di/LockService.md
  Docs/Opc.Ua.Di/README.md
  Docs/Opc.Ua.Di/SoftwareUpdate.md
  Docs/SourceGeneratedNodeManagers.md
  Libraries/Opc.Ua.Di.Client/DiTopologyClient.cs
  Tests/Opc.Ua.Di.Tests/DiTopologyClientTests.cs
  Tests/Opc.Ua.Pumps.Tests/PumpSoftwareUpdateSeederTests.cs
  UA.slnx
  plans/SourceGeneratedCompanionSpecLibraries.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: combine DI guide into single DeviceIntegration.md
  Applications/MinimalSoftwareUpdateServer/README.md
  Docs/DeviceIntegration.md
  Docs/Opc.Ua.Di/ClientHelpers.md
  Docs/Opc.Ua.Di/ComplianceMatrix.md
  Docs/Opc.Ua.Di/DeviceBuilder.md
  Docs/Opc.Ua.Di/Hosting.md
  Docs/Opc.Ua.Di/LockService.md
  Docs/Opc.Ua.Di/README.md
  Docs/Opc.Ua.Di/SoftwareUpdate.md
  Docs/README.md
  plans/SourceGeneratedCompanionSpecLibraries.md
Due: azure-pipelines.yml

Remove residual phase wording from DI test summaries
  Tests/Opc.Ua.Di.Tests/ClientHelpersTests.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderTests.cs
  Tests/Opc.Ua.Di.Tests/PackageStoreTests.cs
Due: azure-pipelines.yml

P11: restore multi-target build for fluent + DI software-update
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/FileSystemPackageStore.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/MemoryPackageStore.cs
  Libraries/Opc.Ua.Server/Fluent/ISimulationBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/SimulationRegistry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Unify state-machine builder: definition + lifecycle modes
  Docs/MigrationGuide.md
  Docs/README.md
  Docs/StateMachines.md
  Libraries/Opc.Ua.Server/StateMachines/FluentFiniteStateMachineState.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilderExtensions.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineDefinition.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/FluentFiniteStateMachineStateTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderLifecycleTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

P1: source-generator cross-namespace prefix mapping
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/CrossNamespacePrefixTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
Due: azure-pipelines.yml

[Server] Make MonitoredNode aware of IAsyncNodeManager and introduce channel-based queueing under load (#3804)
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferMonitoredItem.cs
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferState.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Applications/Quickstarts.Servers/SampleNodeManager/DataChangeMonitoredItem.cs
  Applications/Quickstarts.Servers/SampleNodeManager/MonitoredNode.cs
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Libraries/Opc.Ua.Client/Session/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/IConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/EventManager.cs
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/IMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/INodeNotification.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNodeMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroup.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroupManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroupMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/IMonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Stack/Opc.Ua.Types/Encoders/BoundedObjectPool.cs
  Stack/Opc.Ua.Types/Encoders/PooledEncodeableType.cs
  Tests/Opc.Ua.Client.Tests/Session/LoadTest.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/DurableMonitoredItemTests.cs
  Tests/Opc.Ua.Server.Tests/FilterRetainTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemBenchmarks.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemIsReadyToPublishTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

P2: source-generate Machinery + Pumps inside MinimalPumpServer
  Applications/MinimalPumpServer/MinimalPumpServer.csproj
  Applications/MinimalPumpServer/Model/Opc.Ua.Di.NodeSet2.xml
  Applications/MinimalPumpServer/PumpNodeManager.cs
  Stack/Opc.Ua.Types/Attributes/ModelDependencyAttribute.cs
  Tests/Opc.Ua.Pumps.Tests/PumpsNodeSetLoadingTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/ModelDependencyReference.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/NodeSetToModelDesign.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration/ReferencedModelDependencyScanner.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix 8 skipped tests flagged as suspected bugs
  Stack/Opc.Ua.Types/Polyfills/System.Threading.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Classic/SubscriptionUnitTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionManagerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/JsonEncoderTestsOld.cs
  Tests/Opc.Ua.Types.Tests/Opc.Ua.Types.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Style: format sweep on unified state-machine builder files
  Libraries/Opc.Ua.Server/StateMachines/FluentFiniteStateMachineState.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineDefinition.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/FluentFiniteStateMachineStateTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderLifecycleTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

enablewot
  .azurepipelines/ci.yml
  .azurepipelines/preview.yml
  .azurepipelines/signlistDebug.txt
  .azurepipelines/signlistRelease.txt
  .azurepipelines/sln.yml
  .azurepipelines/test-aot.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  UA Core Library.slnx
  azure-pipelines-preview.yml
  azure-pipelines.yml
Due: azure-pipelines.yml
