Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

test: fix keep-alive mock to return Int32 ServerState
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
Due: azure-pipelines.yml

Namespace
  Applications/ConsoleBoilerServer/ConsoleBoilerServer.csproj
Due: azure-pipelines.yml

Do not support parsing via constructors
  Directory.Packages.props
  Stack/Opc.Ua.Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/QualifiedName.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(sg): always emit ObjectType proxies; rename to OmitObjectMethodProxies
  Libraries/Opc.Ua.Gds.Client.Common/Opc.Ua.Gds.Client.Common.csproj
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ObjectMethodProxyGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectMethodProxyGenerator.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/OPCFoundation.Opc.Ua.SourceGeneration.props
  Tools/Opc.Ua.SourceGeneration/readme.md
  plans/22-objecttype-variable-proxies.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix a bug where a Task.Delay is left over infinitely.
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Stack/Opc.Ua.Types/Attributes/ModelDependencyAttribute.cs
  Tools/Opc.Ua.SourceGeneration.Core/ModelDependencyReference.cs
  Tools/Opc.Ua.SourceGeneration.Core/ReferenceMetadataScanner.cs
  Tools/Opc.Ua.SourceGeneration.Core/SemVer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(gds-client): modernize GDS/Push client surface
  Directory.Packages.props
  Libraries/Opc.Ua.Gds.Client.Common/CertificateWrapper.cs
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/Opc.Ua.Gds.Client.Common.csproj
  Libraries/Opc.Ua.Gds.Client.Common/ServerCapabilities.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/WellKnownServerCapabilities.cs
  Tests/Opc.Ua.Gds.Tests/CertificateWrapperTests.cs
  Tests/Opc.Ua.Gds.Tests/ServerCapabilityTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Source generator: emit and consume ModelDependencyAttribute
  Docs/ModelDependencies.md
  Stack/Opc.Ua.Types/Attributes/ModelDependencyAttribute.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/GeneratorContext.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/IGeneratorContext.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/ModelDependencyReference.cs
  Tools/Opc.Ua.SourceGeneration.Core/NodesetFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Opc.Ua.SourceGeneration.Core.csproj
  Tools/Opc.Ua.SourceGeneration.Core/ReferenceMetadataScanner.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration/ReferencedModelDependencyScanner.cs
  Tools/Opc.Ua.SourceGeneration/SourceGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Source generator: tests for ModelDependencyAttribute flow
  Tests/Opc.Ua.SourceGeneration.Tests/ModelDependencyScannerTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/Opc.Ua.SourceGeneration.Tests.csproj
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
Due: azure-pipelines.yml

Rename ConsoleBoilerServer to MinimalBoilerServer; switch to NodeSet2 input
  Applications/ConsoleBoilerServer/Design/BoilerDesign.csv
  Applications/ConsoleBoilerServer/Design/BoilerDesign.xml
  Applications/MinimalBoilerServer/BoilerNodeManager.Configure.cs
  Applications/MinimalBoilerServer/MinimalBoilerServer.csproj
  Applications/MinimalBoilerServer/Model/Boiler.NodeSet2.xml
  Applications/MinimalBoilerServer/Program.cs
  Docs/README.md
  Docs/SourceGeneratedNodeManagers.md
  Tests/Opc.Ua.Aot.Tests/BoilerNodeManagerAotTests.cs
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  UA.slnx
Due: azure-pipelines.yml

Modernize Opc.Ua.Gds.Client.Common (DI, options, interfaces, async dispose)
  Libraries/Opc.Ua.Gds.Client.Common/GdsClientOptions.cs
  Libraries/Opc.Ua.Gds.Client.Common/GdsClientServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/IGlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ILocalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/IServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/LocalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/RegisteredApplication.cs
  Libraries/Opc.Ua.Gds.Client.Common/RegisteredApplicationExtensions.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/TrustListFileTransferHelper.cs
  Tools/Opc.Ua.SourceGeneration.Stack/StackGeneration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

plan
  plans/23-gds-client-x509-modernization.md
Due: azure-pipelines.yml

Exporter: emit <Models> element in NodeSet2 output
  Stack/Opc.Ua.Types/State/NodeStateCollection.cs
  Tests/Opc.Ua.Types.Tests/State/NodeStateCollectionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Refactor ModelDependencyGenerator to use templating system
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ModelDependencyGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  plans/modeldependencygenerator-templating.md
Due: azure-pipelines.yml

udpate
  plans/design-deps-phase2.md
Due: azure-pipelines.yml

refactor(sg): source-generate WellKnownServerCapabilities; drop runtime CSV parse
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerCapabilities.cs
  Libraries/Opc.Ua.Gds.Client.Common/WellKnownServerCapabilities.cs
  Tests/Opc.Ua.Gds.Tests/ServerCapabilitiesTests.cs
  Tests/Opc.Ua.Gds.Tests/ServerCapabilityTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ServerCapabilitiesGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

ConsoleReferenceClient: --namespace filter for --export
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

Fix CertificateCache double-dispose on eviction
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Refactor ParseLongForm to delegate to Parse(IServiceMessageContext)
  Stack/Opc.Ua.Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/QualifiedName.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/ExpandedNodeIdTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/NodeIdTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/QualifiedNameTests.cs
  plans/parse-vs-parselongform.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate to new API surface, fix naming, add certificate cache
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/DefaultCertificateFactory.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateChangeSubject.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateLifecycleMonitor.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidatorAdapter.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/RejectedCertificateProcessor.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/TrustListTransaction.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateCacheTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateValidatorAdapterTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/TrustListTransactionTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientChannelManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/UserNameIdentityTokenHandlerTests.cs
  Tests/Opc.Ua.Gds.Tests/CertificateWrapperTests.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.Gds.Tests/RegisteredApplicationTests.cs
  Tests/Opc.Ua.Gds.Tests/TrustListValidationTest.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateWrapperTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Pkcs10CertificationRequestTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  plans/parse-vs-parselongform.md
Due: azure-pipelines.yml

refactor(gds): spec-grounded XML docs + Task->ValueTask on GDS client interfaces
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/IGlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ILocalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/IServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/LocalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(migration): document GDS Task->ValueTask and obsolete-API removal
  Docs/MigrationGuide.md
Due: none

refactor(gds): use /// <inheritdoc/> on interface impl members
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(gds): rename WellKnownServerCapabilities -> ServerCapabilities
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerCapabilityCatalog.cs
  Tests/Opc.Ua.Gds.Tests/Common.cs
  Tests/Opc.Ua.Gds.Tests/ServerCapabilityCatalogTests.cs
  Tests/Opc.Ua.Gds.Tests/ServerCapabilityTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ServerCapabilitiesGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(sg): use Template/CodeTemplates pattern in ServerCapabilitiesGenerator
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ServerCapabilitiesGenerator.cs
Due: azure-pipelines.yml

Bump StackGenerator GeneratedSources count to 13
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/StackGeneratorTests.cs
Due: azure-pipelines.yml

Potential fix for pull request finding 'CodeQL / Clear text storage of sensitive information'
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Potential fix for pull request finding 'CodeQL / Clear text storage of sensitive information'
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(sg): rename ObjectMethodProxyGenerator to ObjectTypeProxyGenerator
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ObjectTypeProxyGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/StackGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Stack/StackGeneration.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/OPCFoundation.Opc.Ua.SourceGeneration.props
  Tools/Opc.Ua.SourceGeneration/readme.md
  plans/22-objecttype-variable-proxies.md
Due: azure-pipelines.yml

refactor(gds): rename generated catalog to ServerCapability, restore ServerCapabilities, introduce ServerCapabilityInfo
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerCapabilities.cs
  Tests/Opc.Ua.Gds.Tests/Common.cs
  Tests/Opc.Ua.Gds.Tests/ServerCapabilitiesTests.cs
  Tests/Opc.Ua.Gds.Tests/ServerCapabilityTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/TypeGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ServerCapabilitiesGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fluent builder: NodeFromTypeId for singleton/multi-instance type lookup
  Applications/MinimalBoilerServer/BoilerNodeManager.Configure.cs
  Docs/SourceGeneratedNodeManagers.md
  Libraries/Opc.Ua.Server/NodeManager/Fluent/INodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/Fluent/NodeManagerBuilder.cs
  Tests/Opc.Ua.Server.Tests/Fluent/GeneratedManagerHybridTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/NodeManagerBuilderTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeManagerTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

MinimalBoilerServer: showcase all three fluent addressing modes
  Applications/MinimalBoilerServer/BoilerNodeManager.Configure.cs
Due: azure-pipelines.yml

refactor(sg-tests): remove CS0234 diagnostic filter; fix ExpandedNodeId emission
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/TypeGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
Due: azure-pipelines.yml

Fix: Cannot call method within the ObjectType of the objectId (#3692)
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update dependencies
  Directory.Packages.props
Due: azure-pipelines.yml

Fix
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
Due: azure-pipelines.yml

[PubSub] Fix exceptions logged on graceful MqttPubSubConnection stop (#3691)
  Libraries/Opc.Ua.PubSub/Transport/MqttClientCreator.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Model dependency annotations using source generator + flaky test fixes (#3687)
  Directory.Packages.props
  Docs/ModelDependencies.md
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Types/Attributes/ModelDependencyAttribute.cs
  Stack/Opc.Ua.Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/QualifiedName.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientLockoutIntegrationTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
  Tests/Opc.Ua.Server.Tests/ClientLockoutTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/ModelDependencyGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/StackGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelDependencyScannerTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/Opc.Ua.SourceGeneration.Tests.csproj
  Tests/Opc.Ua.Types.Tests/BuiltIn/ExpandedNodeIdTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/NodeIdTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/QualifiedNameTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/GeneratorContext.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/ModelDependencyReference.cs
  Tools/Opc.Ua.SourceGeneration.Core/NodesetFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Opc.Ua.SourceGeneration.Core.csproj
  Tools/Opc.Ua.SourceGeneration.Core/ReferenceMetadataScanner.cs
  Tools/Opc.Ua.SourceGeneration.Core/SemVer.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration/ReferencedModelDependencyScanner.cs
  Tools/Opc.Ua.SourceGeneration/SourceGenerator.cs
  plans/design-deps-phase2.md
  plans/modeldependencygenerator-templating.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml
