Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

Make UserIdentity Token internally use byte Array instead of password.
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add missing null check
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Revert use of CommunityToolkit.Diagnostics for Guard
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adjustments after rebase
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Tests/Opc.Ua.Client.Tests/DurableSubscriptionTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Set namespace of new classes/interfaces into the main project namespace
  Applications/ConsoleReferenceServer/Program.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Configuration/Extensions/DependencyInjection/ServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Server/Extensions/DependencyInjection/ServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Server/NodeManager/IMainNodeManagerFactory.cs
  Libraries/Opc.Ua.Server/NodeManager/MainNodeManagerFactory.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/ReverseConnectServer.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/ClientTestServerQuotas.cs
  Tests/Opc.Ua.Client.Tests/ContinuationPointInBatchTest.cs
  Tests/Opc.Ua.Client.Tests/DurableSubscriptionTest.cs
  Tests/Opc.Ua.Client.Tests/ReferenceServerWithLimits.cs
  Tests/Opc.Ua.Client.Tests/ReverseConnectTest.cs
  Tests/Opc.Ua.Gds.Tests/Common.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Server.Tests/CustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/MasterNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
  Tests/Opc.Ua.Server.Tests/ServerStartupTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adjust server applications
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceServer/UAServer.cs
  Applications/Quickstarts.Servers/Utils.cs
Due: azure-pipelines.yml

Update package version for Microsoft.Extensions.DependencyInjection
  Libraries/Opc.Ua.Configuration/Opc.Ua.Configuration.csproj
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use <inheritdoc/> where needed
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Configuration/IApplicationInstance.cs
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CoreNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MainNodeManagerFactory.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Rework dispose of ServerInternalData
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add test of server restart
  Tests/Opc.Ua.Server.Tests/ServerStartupTests.cs
Due: azure-pipelines.yml

Improve DI configuration
  Applications/ConsoleReferenceServer/IUAServer.cs
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceServer/UAServer.cs
Due: azure-pipelines.yml

fix uninitialized array
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adress review Feedback
  Applications/Quickstarts.Servers/DurableSubscription/DurableMonitoredItemQueueFactory.cs
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferMonitoredItem.cs
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferState.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Server/NodeManager/EventManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/IStoredMonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/IStoredSubscription.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/StoredMonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/StoredSubscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use Encoding.UTF8 instead of new Utf8Encoding()
  Stack/Opc.Ua.Core/Security/Certificates/EccUtils.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Documentation improvements
  Applications/Quickstarts.Servers/DurableSubscription/SubscriptionStore.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/DataChangeMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/EventMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/IDataChangeMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/IEventMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/IMonitoredItemQueueFactory.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/ISubscriptionStore.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update Readme
  README.md
Due: none

Validate Certificate Store configuration on startup in SecurityConfiguration.Validate. Remove Obsolete CertificateStore Properties.
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTrustList.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove unecessary fields
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTestConfig.xml
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientTests.cs
Due: azure-pipelines.yml

fix client config
  Applications/ConsoleReferenceClient/Quickstarts.ReferenceClient.Config.xml
Due: azure-pipelines.yml

update sampling group manager to work without session
  Libraries/Opc.Ua.Server/NodeManager/SamplingGroup.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove launch settings
  Applications/ConsoleReferenceClient/Properties/launchSettings.json
  Applications/ConsoleReferenceServer/Properties/launchSettings.json
Due: azure-pipelines.yml

Validate Stores by opening them
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix typo
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

check stores instead of storepath
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix ClientTest
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Tests for Validate Mehtod of SecurityConfiguration
  Tests/Opc.Ua.Configuration.Tests/SecurityConfigurationTests.cs
Due: azure-pipelines.yml

Enable queues with file storage
  Applications/Quickstarts.Servers/DurableSubscription/BatchBase.cs
  Applications/Quickstarts.Servers/DurableSubscription/BatchPersistor.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableDataChangeMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableEventMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableMonitoredItemQueueFactory.cs
Due: azure-pipelines.yml

Update ApplicationConfiguration xsd to respect stricter validation
  Applications/ConsoleReferenceClient/Quickstarts.ReferenceClient.Config.xml
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.xsd
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Enforce Valid Certificate Store configuration (#3023)
  Applications/ConsoleReferenceClient/Quickstarts.ReferenceClient.Config.xml
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.xsd
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTrustList.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
  Tests/Opc.Ua.Configuration.Tests/SecurityConfigurationTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTestConfig.xml
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientTests.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement persistent queues
  Applications/Quickstarts.Servers/DurableSubscription/BatchPersistor.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableDataChangeMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableEventMonitoredItemQueue.cs
Due: azure-pipelines.yml

fix issue
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Properties/launchSettings.json
  Applications/ConsoleReferenceServer/Properties/launchSettings.json
  Applications/Quickstarts.Servers/DurableSubscription/BatchPersistor.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableDataChangeMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableEventMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableMonitoredItemQueueFactory.cs
  Applications/Quickstarts.Servers/DurableSubscription/SubscriptionStore.cs
Due: azure-pipelines.yml

undo unwanted changes
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Properties/launchSettings.json
  Applications/ConsoleReferenceServer/Properties/launchSettings.json
Due: azure-pipelines.yml

zero out array before setting the password
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

more fixes
  Applications/Quickstarts.Servers/DurableSubscription/BatchPersistor.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableDataChangeMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableEventMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableMonitoredItemQueueFactory.cs
  Applications/Quickstarts.Servers/DurableSubscription/SubscriptionStore.cs
Due: azure-pipelines.yml

Add Tests, specify needed performance characteristics, make reference implementation more resilient
  Applications/Quickstarts.Servers/DurableSubscription/BatchBase.cs
  Applications/Quickstarts.Servers/DurableSubscription/BatchPersistor.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableDataChangeMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableEventMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/IDataChangeMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/IEventMonitoredItemQueue.cs
  Tests/Opc.Ua.Server.Tests/DurableMonitoredItemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make UserIdentityToken internally use byte Array instead of string for storing unencrypted password. (#3035)
  Stack/Opc.Ua.Core/Security/Certificates/EccUtils.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Core/Stack/Types/UserIdentityToken.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Allow setting the context in a temporary using scope for IEncoder instances
  Stack/Opc.Ua.Core/Types/BuiltIn/MessageContextExtension.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/EncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
