Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

PR feedback (romanett): drop InternalsVisibleTo to Gds.Server.Common
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerIdentityAugmenterRegistration.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerIdentityAuthenticatorRegistration.cs
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

B1.1: StateMachineClient + materialisation helpers
  Libraries/Opc.Ua.Di.Client/StateMachineClient.cs
  Libraries/Opc.Ua.Server/Fluent/StateMachineBuilderExtensions.cs
  Tests/Opc.Ua.Di.Tests/StateMachineClientTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/StateMachineBuilderExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

B4.2 (partial): OnboardingClient
  Libraries/Opc.Ua.Di.Client/OnboardingClient.cs
  Tests/Opc.Ua.Di.Tests/OnboardingClientTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

B3.1 (partial): FileSystemSoftwareFolder
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/FileSystemSoftwareFolder.cs
  Tests/Opc.Ua.Di.Tests/FileSystemSoftwareFolderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback: fluent helpers + Disable*Provider() opt-out
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Client/Identity/ClientIdentityProviderExtensions.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsApplicationSelfAdminProviderOptions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsDefaultIdentityAuthenticatorOptions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsServerHostedService.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/DefaultAuthenticatorOptions.cs
  Libraries/Opc.Ua.Server/Identity/Authenticators/ServerIdentityRegistryExtensions.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/JwtAuthenticator.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/UserNamePasswordAuthenticator.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/X509Authenticator.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientIdentityProviderExtensionsTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsIdentityForwardingTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsServerHostedServiceTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server] Load existing users through IUserDatabase.GetUsers (#3811)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserDatabase/IUserDatabase.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserDatabase/LinqUserDatabase.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserManagement/UserManagement.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/LinqUserDatabaseTests.cs
  Tests/Opc.Ua.Server.Tests/UserManagementTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

R4: fill coverage gaps for identity provider model
  Tests/Opc.Ua.Client.Tests/Session/ClientIdentityProviderExtensionsTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/ServerIdentityRegistryAugmenterTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/EcdsaJwtIssuerEdgeCaseTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/InMemoryKeyCredentialStoreTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorRejectionTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/RegisterDefaultAuthenticatorsTests.cs
Due: azure-pipelines.yml

Fix all build warnings on this branch
  Libraries/Opc.Ua.Client/Subscription/Streaming/StreamingSubscription.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientStateMachineTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmStreamExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/ModelChange/ModelChangeTrackerTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/FiniteStateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/StateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/SubStateMachineClientTests.cs
  Tests/Opc.Ua.Client.Tests/Streaming/StreamingSubscriptionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Streaming/StreamingSubscriptionTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderSubStateTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Unify ModelDependency + ModelSnapshot under single attribute and pipeline
  Docs/ModelDependencies.md
  Stack/Opc.Ua.Types/Attributes/ModelDependencyAttribute.cs
  Stack/Opc.Ua.Types/Attributes/ModelSnapshotAttribute.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Dependency/ModelDependencyV1Tests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Dependency/ModelDependencyV1.cs
  Tools/Opc.Ua.SourceGeneration.Core/DesignFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelSnapshotGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/ModelDependencyReference.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.SnapshotImport.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration/ReferencedModelDependencyScanner.cs
  Tools/Opc.Ua.SourceGeneration/ReferencedModelSnapshotScanner.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Replace hand-rolled AlarmEventDecoder/Builder with source-generated decoders + per-record filter factories
  Docs/AlarmsAndConditions.md
  Libraries/Opc.Ua.Client/Alarms/AlarmEventDecoder.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmStreamExtensions.cs
  Stack/Opc.Ua.Core/Stack/Client/EventFilterFactory.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmEventDecoderTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmEventFilterBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmStreamExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordTemplates.cs
  plans/EventRecordDecoderGenerator.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

RT: implement RefreshToken (RC) end-to-end
  Docs/AuthorizationService.md
  Docs/GDS.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Gds.Client.Common/AuthorizationServiceClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/AuthorizationServiceOptions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/InMemoryAccessTokenProvider.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/InMemoryAccessTokenProviderRefreshTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/RefreshTokenTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/StartRequestTokenTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Second iteration - Split the AOT and legacy.
  BreakingChanges.md
  Libraries/Opc.Ua.Client.ComplexTypes/ComplexTypeSystemFactory.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Builders/AssemblyModule.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Builders/AttributeExtensions.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Builders/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Builders/ComplexTypeBuilderFactory.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Builders/ComplexTypeFieldBuilder.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/ComplexTypesEmitExtensions.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Hosting/OpcUaComplexTypesEmitBuilderExtensions.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Opc.Ua.ComplexTypes.Emit.csproj
  Libraries/Opc.Ua.ComplexTypes.Emit/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Types/BaseComplexType.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Types/ComplexTypePropertyInfo.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Types/IComplexTypeProperties.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Types/OptionalFieldsComplexType.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Types/StructureDefinitionAttribute.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Types/StructureFieldAttribute.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Types/StructureTypeAttribute.cs
  Libraries/Opc.Ua.ComplexTypes.Emit/Types/UnionComplexType.cs
  Libraries/Opc.Ua.Server.ComplexTypes/ServerComplexTypeSystemFactory.cs
  OpcComplexTypesAotEmitSplit.md
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DataDictionaryTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultComplexTypesBuilderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultComplexTypesCommon.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultEnumerationTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultOptionSetTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/NodeCacheResolverTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Opc.Ua.Client.ComplexTypes.Tests.csproj
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypesCommon.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypesTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/EncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/JsonEncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolver.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolverTests.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI failures on PR #3805 after AlarmEventDecoder retirement + master merge
  Tests/Opc.Ua.History.Tests/AlarmClientIntegrationTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/StackGeneratorTests.cs
Due: azure-pipelines.yml

Address PR #3805 review feedback batch 3
  Tests/Opc.Ua.Client.Tests/Alarms/AddAlarmsBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientSessionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientStateMachineTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmStreamExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/ModelChange/ModelChangeTrackerTests.cs
  Tests/Opc.Ua.Client.Tests/NodeCache/NodeCacheInvalidateNodeTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/FiniteStateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/StateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/SubStateMachineClientTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/TypedObjectChildAccessorTests.cs
  Tests/Opc.Ua.Client.Tests/Streaming/StreamingSubscriptionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Streaming/StreamingSubscriptionTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/EventRecordDecoderRegistryTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/EventRecordExtensionsTests.cs
  Tests/Opc.Ua.Features.Tests/AlarmConditionStateMethodTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmRateTrackerTests.cs
  Tests/Opc.Ua.Server.Tests/Alarms/AlarmSuppressionEngineTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/FluentFiniteStateMachineStateTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderGuardTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderLifecycleTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderSubStateTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordTemplates.cs
  plans/EventRecordDecoderGenerator.md
  plans/StateMachineBuilder.md
  plans/StateMachineSubStatesAndGuards.md
  plans/StateMachineV2.md
Due: azure-pipelines.yml

Drive analyzer diagnostics to zero across the solution
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderLifetimeExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderSupportInfoExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderTypeExtensions.cs
  Libraries/Opc.Ua.Di.Server/Onboarding/DeviceRegistrarAdminExtensions.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/FileSystemPackageStore.cs
  Libraries/Opc.Ua.Di.Server/Transfer/TransferServicesExtensions.cs
  Libraries/Opc.Ua.Di/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.Server/Fluent/InstanceCreationBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/ReferenceBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/SimulationRegistry.cs
  Libraries/Opc.Ua.Server/Fluent/StateMachineBuilderExtensions.cs
  Tests/Opc.Ua.Di.Tests/DefaultLockServiceTests.cs
  Tests/Opc.Ua.Di.Tests/HostingIntegrationTests.cs
  Tests/Opc.Ua.Di.Tests/MemoryManagedApplicationRegistryTests.cs
  Tests/Opc.Ua.Di.Tests/MemorySoftwareFolderTests.cs
  Tests/Opc.Ua.Di.Tests/MemoryTicketStoreTests.cs
  Tests/Opc.Ua.Di.Tests/PackageStoreTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/ModelLoaderBuilderTests.cs
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/CompilationOptionsTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelSnapshotScannerTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Dependency/ModelDependencyV1.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelDependencyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add fluent DI software-update facet on device builder
  Applications/MinimalSoftwareUpdateServer/Program.cs
  Docs/SoftwareUpdate.md
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderSoftwareUpdateExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/ISoftwareUpdateBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateContext.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderSoftwareUpdateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Bump version to 2.0 (next release is a major version change)
  .github/agents/opcua-v20-migration.agent.md
  Docs/ComplexTypes.md
  Docs/Observability.md
  Docs/Sessions.md
  README.md
  UA.slnx
  common.props
  nuget/Opc.Ua.Symbols.nuspec
  nuget/Opc.Ua.nuspec
  version.json
Due: azure-pipelines.yml

[Docs] Close 19 audit gaps in 1.5.378 to 2.0 migration guide
  Docs/MigrationGuide.md
Due: none

[Server] Migrate all NodeManagers to AsyncCustomNodeManager (#3817)
  Applications/ConsoleReferenceServer/GdsNodeManagerFactory.cs
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Applications/Quickstarts.Servers/Utils.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsServerHostedService.cs
  Libraries/Opc.Ua.Gds.Server.Common/IManagedApplicationsNodeManager.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/CustomNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI: source-gen FindChild case label + ModelGeneratorTests counts
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
Due: azure-pipelines.yml

Bump version to 2.0 and land 1.5.378 to 2.0 migration guide (#3819)
  .github/agents/opcua-v20-migration.agent.md
  Docs/ComplexTypes.md
  Docs/MigrationGuide.md
  Docs/Observability.md
  Docs/Sessions.md
  README.md
  UA.slnx
  common.props
  nuget/Opc.Ua.Symbols.nuspec
  nuget/Opc.Ua.nuspec
  version.json
Due: azure-pipelines.yml

Event permission gate: cache decisions + close EventManager.ReportEvent bypass
  Docs/ModelChangeTracking.md
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/EventManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/EventPermissionCacheKey.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Tests/Opc.Ua.Server.Tests/EventManagerReportEventAsyncTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

prtemplate
  .github/pull_request_template.md
Due: azure-pipelines.yml

Address PR #3808 review feedback round 3
  Applications/MinimalPumpServer/README.md
  Docs/CompanionSpecLibraries.md
  Docs/DeviceIntegration.md
  Docs/FluentApiGaps.md
  Docs/README.md
  Docs/SourceGeneratedNodeManagers.md
  Docs/StateMachineBuilder.md
  Tests/Opc.Ua.Di.Tests/Opc.Ua.Di.Tests.csproj
  Tests/Opc.Ua.Di.Tests/PumpHostingIntegrationTests.cs
  Tests/Opc.Ua.Di.Tests/PumpNodeManagerFactoryTests.cs
  Tests/Opc.Ua.Di.Tests/PumpsNodeSetLoadingTests.cs
  Tests/Opc.Ua.Pumps.Tests/Opc.Ua.Pumps.Tests.csproj
  UA.slnx
  plans/fluent-api-and-srcgen-followups.md
Due: azure-pipelines.yml

NodeVersion correlation: enforce Part 5 9.32.2 spec compliance
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Docs/ModelChangeTracking.md
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/NodeStateModelChangeExtensions.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3805 review feedback: emit on AddNodeAsync + extend ITestNodeManager
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/NodeStateModelChangeExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3808 review feedback round 4
  Applications/MinimalPumpServer/MinimalPumpServer.csproj
  Applications/MinimalPumpServer/README.md
  Applications/MinimalSoftwareUpdateServer/MinimalSoftwareUpdateServer.csproj
  Docs/ModelDependencies.md
  Docs/SoftwareUpdate.md
  Tests/Opc.Ua.Di.Tests/Opc.Ua.Di.Tests.csproj
  plans/C7-G-closeout.md
  plans/C7-cross-assembly-model-snapshot.md
  plans/SourceGeneratedCompanionSpecLibraries.md
  plans/fluent-api-and-srcgen-followups.md
Due: azure-pipelines.yml

codestyle: fix CA1861 (Group A - lift literal arrays to static readonly fields)
  Tests/Opc.Ua.Client.Tests/ClientBuilder/AccessTokenProviderRegistrationTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/EcdsaJwtIssuerEdgeCaseTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/InMemoryKeyCredentialStoreTests.cs
Due: azure-pipelines.yml

[Tools] Add UA0021 CertificateValidator rename rule and enable NuGet packaging
  Tests/Opc.Ua.CodeFixers.Tests/Analyzers/UA0021Tests.cs
  Tests/Opc.Ua.CodeFixers.Tests/Stubs/OpcUaStubs.cs
  Tools/Opc.Ua.CodeFixers.Shim/Opc.Ua.CodeFixers.Shim.csproj
  Tools/Opc.Ua.CodeFixers/AnalyzerReleases.Unshipped.md
  Tools/Opc.Ua.CodeFixers/Analyzers/UA0021CertificateValidatorRenameAnalyzer.cs
  Tools/Opc.Ua.CodeFixers/Diagnostics/DiagnosticDescriptors.cs
  Tools/Opc.Ua.CodeFixers/Diagnostics/DiagnosticIds.cs
  Tools/Opc.Ua.CodeFixers/NugetREADME.md
  Tools/Opc.Ua.CodeFixers/Opc.Ua.CodeFixers.csproj
  Tools/Opc.Ua.CodeFixers/Opc.Ua.CodeFixers.nuspec
Due: azure-pipelines.yml

codestyle: fix CA2000 in tests (Group B - AccessToken/ApplicationsNodeManager ownership transfer + InProcessCertificateProvider using)
  Tests/Opc.Ua.Client.Tests/ClientBuilder/AccessTokenProviderRegistrationTests.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/IdentityProviderConfigurationTests.cs
  Tests/Opc.Ua.Client.Tests/Session/DefaultClientIdentityProviderTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/EcdsaJwtIssuerEdgeCaseTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/RefreshTokenTests.cs
Due: azure-pipelines.yml

codestyle: fix CA2007 in identity tests (Group C - ConfigureAwait(false) on awaited tasks)
  Tests/Opc.Ua.Client.Tests/Session/ClientIdentityProviderExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Session/CompositeClientIdentityProviderTests.cs
  Tests/Opc.Ua.Client.Tests/Session/DefaultClientIdentityProviderTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/ServerIdentityRegistryAugmenterTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/EcdsaJwtIssuerEdgeCaseTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/InMemoryKeyCredentialStoreTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorRejectionTests.cs
Due: azure-pipelines.yml

codestyle: fix CA2000 in GDS server factories (Group D - MasterNodeManager ownership transfer)
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsServerHostedService.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: fix CA2007 in SamplingGroup.DoSampleAsync fire-and-forget (Group E1)
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroup.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: fix CA2119 by sealing TestableAsyncCustomNodeManager (Group E2)
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
Due: azure-pipelines.yml

codestyle: fix CA2000 in Quickstarts.Servers factories (Group E3 - Alarm/TestData ownership transfer)
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
Due: azure-pipelines.yml

codestyle: dotnet format whitespace sweep (Group F - FINALNEWLINE/CHARSET/trailing whitespace)
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Libraries/Opc.Ua.Client/AliasNames/AliasNameResolver.cs
  Libraries/Opc.Ua.Client/AliasNames/AliasNameResolverOptions.cs
  Libraries/Opc.Ua.Client/AliasNames/Refresh/MonitoredItemAliasNameRefreshStrategy.cs
  Libraries/Opc.Ua.Client/Roles/RoleManagementClient.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Server/Aggregates/StdDevAggregateCalculator.cs
  Libraries/Opc.Ua.Server/AliasNames/PubSub/AliasNamePublisher.cs
  Libraries/Opc.Ua.Server/AliasNames/PubSub/AliasUpdateDataSetFactory.cs
  Libraries/Opc.Ua.Server/AliasNames/PubSub/ServerPortableNodeIdResolver.cs
  Stack/Opc.Ua.Types/BuiltIn/SerializableDataValue.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/AliasNameResolverTests.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/PubSub/AliasNamePubSubBridgeTests.cs
  Tests/Opc.Ua.Core.Security.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/DataValueBenchmarks.cs
  Tests/Opc.Ua.Features.Tests/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Gds.Tests/GdsDepthTests.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.History.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInfoBehavioralTests.cs
  Tests/Opc.Ua.InformationModel.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Lds.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/DataCollectorSetupTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/AliasNameNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/RoleManagerTests.cs
  Tests/Opc.Ua.Sessions.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Stress.Tests/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Stress.Tests/SubscriptionTransferDepthTests.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTransferTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
