Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

reverse connect sample
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
Due: azure-pipelines.yml

fix beginreconnect
  Applications/ConsoleReferenceClient/UAClient.cs
Due: azure-pipelines.yml

Adds server uri to CreateSessionRequest only if server is gateway
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

possible null exception
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

close reverse connect manager
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

calculation order not quite right
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

pr feedback
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add security option
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

Update ReverseConnect.md
  Docs/ReverseConnect.md
Due: none

Update Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add nosecurity, cancel while waiting for reverse connection
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/ConsoleReferenceServer/ConsoleUtils.cs
Due: azure-pipelines.yml

Fix session reconnect exponential backoff (#2185)
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/ConsoleReferenceServer/ConsoleUtils.cs
  Docs/ReverseConnect.md
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionObsolete.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

support custom cert store with flat root location
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanu up
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

better test
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
Due: azure-pipelines.yml

typos
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Support custom cert store with flat directory structure (#2198)
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

make nodecahce read/write from cache multi threadable
  Libraries/Opc.Ua.Client/NodeCache.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

move locks inside
  Libraries/Opc.Ua.Client/NodeCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix special
  Libraries/Opc.Ua.Client/NodeCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix build
  Libraries/Opc.Ua.Client/NodeCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

clean up write lock
  Libraries/Opc.Ua.Client/NodeCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

read protect m_typetree
  Libraries/Opc.Ua.Client/NodeCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

more concurrent tests
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
Due: azure-pipelines.yml

Code review: remove XmlDecoder/Encoder changes, move to encodable.Encode
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

typos and test improvement
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Libraries/Opc.Ua.Client/NodeCache.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make client NodeCache thread safe (#2201)
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Libraries/Opc.Ua.Client/NodeCache.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix build on merged commits
  Applications/ConsoleReferenceClient/UAClient.cs
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix AccessRestriction bug.
  Stack/Opc.Ua.Core/Schema/Opc.Ua.NodeSet2.xml
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Gds.Constants.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Gds.DataTypes.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix messed up GDS files.
  Stack/Opc.Ua.Core/Schema/Opc.Ua.Gds.NodeSet2.xml
  Stack/Opc.Ua.Core/Schema/Opc.Ua.Gds.Types.bsd
  Stack/Opc.Ua.Core/Schema/Opc.Ua.Gds.Types.xsd
Due: azure-pipelines-preview.yml, azure-pipelines.yml

various fixes for CTT
  Libraries/Opc.Ua.Client/SessionClientBatched.cs
  Libraries/Opc.Ua.Server/Diagnostics/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Stack/Opc.Ua.Core/Stack/State/DataTypeState.cs
  Stack/Opc.Ua.Core/Stack/State/ReferenceTypeState.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpReverseConnectChannel.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Libraries/Opc.Ua.Client/SessionClientBatched.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Stack/Opc.Ua.Core/Stack/State/DataTypeState.cs
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

revert TcpReverseConnect
  Stack/Opc.Ua.Core/Stack/Tcp/TcpReverseConnectChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
