Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Fix CA2000 warnings in Libraries/ directory
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurationHelper.cs
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroupManager.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CA2000 warnings in PubSub tests by adding using declarations
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.Publisher.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.StateChangeMethods.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.Subscriber.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubApplicationTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/PubSubJsonEncoderExtendedTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/WriterGroupPublishedStateTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.Mqtts.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpClientCreatorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.Publisher.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.Subscriber.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubApplicationEventTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubApplicationTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubConnectionAdditionalTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubConnectionExtendedTests.cs
Due: azure-pipelines.yml

Minor updates
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/SessionSecurityPolicyHelper.cs
  Stack/Opc.Ua.Core/Schema/SecuredApplicationHelpers.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix tests
  Libraries/Opc.Ua.Client/Session/SessionStateEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed timer leaks in ChannelAsyncOperation.EndAsync (added delay task cancellation)
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add code to check all Endpoints.
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/ConsoleReferenceClient.csproj
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/Quickstarts.ReferenceClient.Config.xml
  Applications/ConsoleReferenceClient/RunConnectAll.cs
  Applications/ConsoleReferenceClient/generate_user_certificate.ps1
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
Due: azure-pipelines.yml

Run code fixers, add missing docs
  Applications/ConsoleReferenceClient/ConsoleReferenceClient.csproj
  Applications/ConsoleReferenceClient/Quickstarts.ReferenceClient.Config.xml
  Applications/ConsoleReferenceClient/RunConnectAll.cs
  Docs/Observability.md
  Libraries/Opc.Ua.Client/ComplexTypes/readme.md
  Stack/Opc.Ua/Opc.Ua.csproj
  Tests/Opc.Ua.Aot.Tests/AotClientSamples.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
  common.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate Opc.Ua.Security.Certificates internals to Certificate type
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509Extensions.cs
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMWriter.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/PEM/PEMWriter.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilderBase.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateCollection.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/ICertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/X509PfxUtils.cs
  Libraries/Opc.Ua.Security.Certificates/X509Crl/CrlBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/X509Crl/X509Crl.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix build
  Stack/Opc.Ua.Types/Schema/BuiltInTypes.xml
  Stack/Opc.Ua.Types/Schema/OPCBinarySchema.xsd
  Stack/Opc.Ua.Types/Schema/UANodeSet.cs
  Stack/Opc.Ua.Types/Schema/UANodeSet.xsd
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Revert removal of using
  Applications/ConsoleReferenceClient/RunConnectAll.cs
  Libraries/Opc.Ua.Client/CoreClientUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixes
  Docs/NativeAoT.md
  Tests/Opc.Ua.Aot.Tests/AotClientSamples.cs
  Tests/Opc.Ua.Aot.Tests/AotTestFixture.cs
Due: azure-pipelines.yml

Added WaitAsync with timeout PolyFill extension for versions <= .NET 6.0
  Stack/Opc.Ua.Types/Polyfills/System.Threading.Tasks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

The ChannelAsyncOperation.EndAsync has been unified across all .NET versions using polyfills for older versions (< .NET 6.0)
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed missing "using" operator
  Stack/Opc.Ua.Types/Polyfills/System.Threading.Tasks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Increase build timeout
  .azurepipelines/ci.yml
Due: azure-pipelines.yml

Fixed timer leaks in ChannelAsyncOperation.EndAsync (#3669)
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
  Stack/Opc.Ua.Types/Polyfills/System.Threading.Tasks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Stack/Opc.Ua.Core/Security/Certificates/CryptoUtils.cs
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicyInfo.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

testpass
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CA2000 dispose warnings in test projects
  Tests/Opc.Ua.Client.Tests/Session/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForECDsa.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForRSA.cs
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
Due: azure-pipelines.yml

Update
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml

Replace SessionStateEncoder with IEncodeable on session/subscription models
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionConfiguration.cs
  Libraries/Opc.Ua.Client/Session/SessionStateEncoder.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemOptions.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemState.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionState.cs
  Tests/Opc.Ua.Client.Tests/OptionsContextTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionStateEncoderTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Source generator: support partial init properties with backing fields
  Tests/Opc.Ua.SourceGeneration.Tests/TypeGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceModel.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration/DataTypeCompilation.cs
Due: azure-pipelines.yml

Update
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/WotConnection.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/WotConnection.xml
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
Due: azure-pipelines.yml

Convert session hierarchy to source-gen IEncodeable
  Libraries/Opc.Ua.Client/Session/SessionConfiguration.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionStateEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: add partial init properties and session state migration sections
  Docs/MigrationGuide.md
  Docs/SourceGeneratedDataTypes.md
Due: none

Revert session/subscription properties to partial init
  Libraries/Opc.Ua.Client/Session/SessionConfiguration.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemOptions.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemState.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add structure-backed OptionSet DataType support in ComplexTypeSystem
  .gitignore
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/ConsoleReferenceClient.csproj
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferencePublisher/ConsoleReferencePublisher.csproj
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Applications/ConsoleReferenceServer/ConsoleUtils.cs
  Applications/ConsoleReferenceSubscriber/ConsoleReferenceSubscriber.csproj
  Docs/ComplexTypes.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/IComplexTypeFactory.cs
  Stack/Opc.Ua/Types/OptionSet.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultOptionSetTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Split validator load/validate; split DesignFileCollection Targets/Dependencies
  Tests/Opc.Ua.SourceGeneration.Core.Tests/DesignFileTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/GenerateCodeTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/GeneratorsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/DesignFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
  Tools/Opc.Ua.SourceGeneration.Tester/Program.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
Due: azure-pipelines.yml

Add interop test agent
  .github/agents/opcua-interop-tester.agent.md
Due: azure-pipelines.yml

Fix CA2000: remove using from CertificateCollection in EncryptedSecret
  Stack/Opc.Ua.Core/Security/Certificates/EncryptedSecret.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix AOT test failures in ValidateFilter and subscription test
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Tests/Opc.Ua.Aot.Tests/SubscriptionAotTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove unused MonitoredItemStateCollection and SubscriptionStateCollection
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemState.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionState.cs
  Tests/Opc.Ua.Client.Tests/OptionsContextTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add structure-backed OptionSet DataType support in ComplexTypeSystem (#3672)
  .gitignore
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/ConsoleReferenceClient.csproj
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferencePublisher/ConsoleReferencePublisher.csproj
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Applications/ConsoleReferenceServer/ConsoleUtils.cs
  Applications/ConsoleReferenceSubscriber/ConsoleReferenceSubscriber.csproj
  Docs/ComplexTypes.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/IComplexTypeFactory.cs
  Stack/Opc.Ua/Types/OptionSet.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultOptionSetTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
