Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

CI: expand PR build matrix to all .slnx; skip macOS tests on draft PRs
  .azurepipelines/sln.yml
  .azurepipelines/test.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

CI: consolidate per-project Directory.Build.targets into a shared root file (PR feedback)
  Applications/McpServer/Directory.Build.targets
  Applications/McpServer/Opc.Ua.Mcp.csproj
  Applications/MinimalBoilerServer/Directory.Build.targets
  Applications/MinimalBoilerServer/MinimalBoilerServer.csproj
  Applications/MinimalCalcServer/Directory.Build.targets
  Applications/MinimalCalcServer/MinimalCalcServer.csproj
  Directory.Build.targets
  Tests/Opc.Ua.Aot.Tests/Directory.Build.targets
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
Due: azure-pipelines.yml

codecov
  codecov.yml
Due: azure-pipelines.yml

CI: default azure-pipelines.yml managedPool back to false
  azure-pipelines.yml
Due: azure-pipelines.yml

Subscription V2: support unbounded monitored items per subscription via automatic partitioning
  Docs/MigrationGuide.md
  Docs/README.md
  Docs/Sessions.md
  Docs/UnboundedSubscriptions.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Subscription/CompositeMonitoredItemCollection.cs
  Libraries/Opc.Ua.Client/Subscription/ILogicalSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/IPartitionedSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionNotificationHandler.cs
  Libraries/Opc.Ua.Client/Subscription/LogicalSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemOptions.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStateSnapshot.cs
  Libraries/Opc.Ua.Client/Subscription/PartitionForwardingHandler.cs
  Libraries/Opc.Ua.Client/Subscription/PartitionPlacementPolicy.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManagerSerializer.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionStateSnapshot.cs
  Tests/Opc.Ua.Aot.Tests/AotTestFixture.cs
  Tests/Opc.Ua.Aot.Tests/SubscriptionAotTests.cs
  Tests/Opc.Ua.Client.Tests/Opc.Ua.Client.Tests.csproj
  Tests/Opc.Ua.Client.Tests/Subscription/CompositeMonitoredItemCollectionTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/LogicalSubscriptionTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/PartitionPlacementPolicyTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/ReactiveFallbackTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SecondaryPartitionIdleDeleteTests.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionFailoverTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/UnboundedSubscriptionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  .github/agents/fuzz-test.agent.md
Due: azure-pipelines.yml

fuzz-test agent: OS detection + opt-in afl-fuzz on Linux
  .github/agents/fuzz-test.agent.md
Due: azure-pipelines.yml

Rename fuzz-test agent to fuzz-tester + document it in Fuzzing.md and Docs/README
  .github/agents/fuzz-tester.agent.md
  Docs/README.md
  Fuzzing/Fuzzing.md
Due: azure-pipelines.yml

Address PR review feedback (#3869)
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Client/Subscription/LogicalSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/PartitionPlacementPolicy.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Tests/Opc.Ua.Client.Tests/Subscription/LogicalSubscriptionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make AddDesiredTriggeredBy/RemoveDesiredTriggeredBy self-synchronizing via CAS
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTriggeringTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

McpServer/readme.md: sync tool inventory with Docs (add PKI/Config/NodeSet/Packet Capture, 64 tools)
  Applications/McpServer/README.md
Due: azure-pipelines.yml

CI: migrate to netstandard Managed DevOps Pool + per-TFM build matrix (#3866)
  .azurepipelines/get-matrix.ps1
  .azurepipelines/sln.yml
  .azurepipelines/test-aot.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  Applications/McpServer/Opc.Ua.Mcp.csproj
  Applications/MinimalBoilerServer/MinimalBoilerServer.csproj
  Applications/MinimalCalcServer/MinimalCalcServer.csproj
  Directory.Build.targets
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
  Tests/Opc.Ua.Client.Tests/AliasNames/Refresh/ManualAndPollingRefreshStrategyTests.cs
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/SimulationBuilderExtensionsTests.cs
  Tools/Opc.Ua.MigrationAnalyzer/Opc.Ua.MigrationAnalyzer.csproj
  azure-pipelines-preview.yml
  azure-pipelines.yml
  codecov.yml
Due: azure-pipelines.yml

Honor ShutdownToken in ChannelEntry reconnect loop (PR #3852 feedback)
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ChannelEntry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix pending-triggering-name cap bug + document SetTriggering cancellation semantics
  Docs/Subscriptions.md
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTriggeringTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implemented add rejected certificates to X509Store
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore/X509CertificateStore.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/X509CertificateStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[security] HttpsTransportChannel: refuse factory path when OPC UA cert validation is required
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[security] stress-test.yml: env-var indirection for workflow_dispatch seed input
  .github/workflows/stress-test.yml
Due: azure-pipelines.yml

[security] buildandtest.yml: add workflow-scoped permissions: contents: read
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml

[security] ClientChannelManagerDiagnostics: do not leak inner-exception detail to Activity tags or EventSource
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ClientChannelManagerDiagnostics.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

ChannelEntry: track tightest IRetryBudget across coalesced joiners; ClampDelayToBudget signals exhaustion
  Stack/Opc.Ua.Core/Stack/Client/Channels/IChannelReconnectPolicy.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ChannelEntry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

ManagedTransportChannelLease: non-blocking sync Dispose (deadlock under sync context)
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ManagedTransportChannelLease.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

RetryBudget: swap Reset() write order to avoid stale-tick race
  Stack/Opc.Ua.Core/Stack/Client/Channels/RetryBudget.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Security: harden MatrixOf<T> ctor against attacker-controlled dimension overflow
  Stack/Opc.Ua.Types/BuiltIn/MatrixOf.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/MatrixOfTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

TcpMessageParsers: bound ReadReverseHelloMessage strings to MaxEndpointUrlLength (audit F1)
  Stack/Opc.Ua.Core/Stack/Tcp/TcpMessageParsers.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/TcpMessageParsersTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

security: address SDL/OPC UA findings on V2 subscription engine (#3869)
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Subscription/CompositeMonitoredItemCollection.cs
  Libraries/Opc.Ua.Client/Subscription/LogicalSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/PartitionPlacementPolicy.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[security] stability-test.yml: read TEST_DURATION_MINUTES as a shell variable, not a workflow expression
  .github/workflows/stability-test.yml
Due: azure-pipelines.yml

[security] McpServer NodeSetExportTools: constrain MCP-tool file paths to an export root
  Applications/McpServer/Tools/NodeSetExportTools.cs
Due: azure-pipelines.yml

[docs] Document the secure-by-default DI HttpClient fallback and the channel-manager diagnostics surface contract
  Docs/DependencyInjection.md
  Docs/Sessions.md
Due: none

Opc.Ua.Core: drop dead InternalsVisibleTo triple for Network.Fuzz assemblies (audit F7)
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fuzz-tester agent: pin tooling + SHA-256 verify + redacted commit template + prompt-injection guard (audit F2/F3/F4/F5/F6)
  .github/agents/fuzz-tester.agent.md
Due: azure-pipelines.yml

Best-effort cancellation of queued V2 triggering operations
  Docs/Subscriptions.md
  Libraries/Opc.Ua.Client/Subscription/ISubscription.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTriggeringTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CI: default managedPool to true in non-preview pipeline
  azure-pipelines.yml
Due: azure-pipelines.yml

Network.Fuzz: drop IndexOutOfRangeException from IsExpected whitelist (audit follow-up #3)
  Fuzzing/Opc.Ua.Network.Fuzz/FuzzableCode.cs
Due: azure-pipelines.yml

Certificates.Fuzz: expand corpus diversity + drop completed assessment doc (audit follow-up #2)
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.ASN1/large-integer.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.ASN1/nested-sequence.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.ASN1/subject-alt-name-many.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.PEM/certificate-ecc.pem
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.PEM/certificate.pem
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.PEM/private-key-ecc.pem
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.PEM/private-key.pem
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509CRL/crl-empty.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509CRL/crl-multi-revoked.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509CRL/crl.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509CSR/request-ecc.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509CSR/request-multi-san.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509CSR/request.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509Cert/certificate-ecc.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509Cert/certificate-expired.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509Cert/certificate-selfsigned.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Corpus/Testcases.X509Cert/certificate.der
  Fuzzing/Opc.Ua.Certificates.Fuzz.Tools/Certificates.Testcases.cs
Due: azure-pipelines.yml

[security] ClientChannelManagerCertRotation: refuse rotation events that cannot be matched to this application's identity (MEDIUM-3)
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ClientChannelManagerCertRotation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[security] Bound the participant metric tag to per-kind cardinality (MEDIUM-4)
  Docs/Sessions.md
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/Internal/ClientChannelManagerMetrics.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[test] Accommodate non-blocking lease Dispose with thread-safe listeners and polling helpers
  Tests/Opc.Ua.Client.Tests/Stack/Client/ClientChannelManagerManagedTests.cs
Due: azure-pipelines.yml

Address open items from PR review: PubSub stub, enum matrix test, service param contract test
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonDecoder.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/GenerateCodeTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/TestDataDesign.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/ModelDesignExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

harden: escape BrowseNames into C# string literals in source generator
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Templating/BrowseNameTemplateExtensionsTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Templating/StringLiteralEscaperTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Templating/TemplateTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ConstantsGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ConstantsTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/BrowseNameTemplateExtensions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/StringLiteralEscaper.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  Tools/Opc.Ua.SourceGeneration.Stack/AnalyzerReleases.Unshipped.md
  Tools/Opc.Ua.SourceGeneration.Stack/SourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration/AnalyzerReleases.Unshipped.md
  Tools/Opc.Ua.SourceGeneration/SourceGenerator.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
