Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

GDS: Tracks E/F/I - Tests, docs, and sample updates
  Applications/ConsoleReferenceServer/GdsNodeManagerFactory.cs
  Docs/CertificateManager.md
  Tests/Opc.Ua.Gds.Tests/KeyCredentialRequestStoreTests.cs
Due: azure-pipelines.yml

GDS: Tracks H/I - Model verification, conformance matrix, version bump
  Docs/Part12Conformance.md
Due: none

UaLens: post-review polish - sticky source-creation failure + minor cleanup
  Applications/Opc.Ua.Lens/Plugins/EventView/EventViewPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/GdsPush/CertificateRequestDialog.axaml.cs
Due: azure-pipelines.yml

netf
  common.props
Due: azure-pipelines.yml

Split historian work out of cttunit-support (-> historianwork branch)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/TestData/HistoryFile.cs
  Applications/Quickstarts.Servers/TestData/IHistoryDataSource.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
Due: azure-pipelines.yml

feat: reuse server notification payloads on ack/evict/dispose
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Quickstarts.ReferenceServer: TestData historian extensions + Historical Access wiring
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/TestData/HistoryFile.cs
  Applications/Quickstarts.Servers/TestData/IHistoryDataSource.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
Due: azure-pipelines.yml

GDS: Track D - Certificate expiration / trust list alarms (Part 12 7.8.3)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Role and User Management SDK + UaLens plugins (Part 18)
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/AddApplicationUriDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/AddApplicationUriDialog.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/AddEndpointDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/AddEndpointDialog.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/AddIdentityDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/AddIdentityDialog.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/AddRoleDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/AddRoleDialog.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/ConfirmDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/ConfirmDialog.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/RoleManagementPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/RoleManagementView.axaml
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/RoleManagementView.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/RoleVm.cs
  Applications/Opc.Ua.Lens/Plugins/UserManagement/AddUserDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/UserManagement/AddUserDialog.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/UserManagement/ChangePasswordDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/UserManagement/ChangePasswordDialog.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/UserManagement/ModifyUserDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/UserManagement/ModifyUserDialog.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/UserManagement/UserManagementPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/UserManagement/UserManagementView.axaml
  Applications/Opc.Ua.Lens/Plugins/UserManagement/UserManagementView.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/UserManagement/UserVm.cs
  Applications/Opc.Ua.Lens/ViewModels/IPlugin.cs
  Applications/Opc.Ua.Lens/ViewModels/PluginRegistry.cs
  Libraries/Opc.Ua.Client/UserManagement/IUserManagementClient.cs
  Libraries/Opc.Ua.Client/UserManagement/UserManagementClient.cs
  Libraries/Opc.Ua.Client/UserManagement/UserManagementUser.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

GDS: Track D - ManagedApplications stub + ConfirmUpdate infrastructure (Part 12 7.7.6, 7.10.16)
  Libraries/Opc.Ua.Gds.Server.Common/IManagedApplicationsNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

GDS: Update conformance matrix for d-alarms and d-managed-apps
  Docs/Part12Conformance.md
Due: none

GDS: Phase 2 - ISecretStore integration + IAccessTokenProvider abstraction
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/IAccessTokenProvider.cs
  Libraries/Opc.Ua.Gds.Server.Common/IKeyCredentialRequestStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: surface Role + User Management in the Tabs->Add+ menu
  Applications/Opc.Ua.Lens/Views/MainWindow.axaml
  Applications/Opc.Ua.Lens/Views/MainWindow.axaml.cs
Due: azure-pipelines.yml

Phase 2: Alarm timer lifecycle (StartAlarmMonitoring/StopAlarmMonitoring)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/IConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: drive Tabs->Add menu + cheat sheet + shortcuts from PluginRegistry
  Applications/Opc.Ua.Lens/ViewModels/PluginRegistry.cs
  Applications/Opc.Ua.Lens/Views/MainWindow.axaml
  Applications/Opc.Ua.Lens/Views/MainWindow.axaml.cs
Due: azure-pipelines.yml

Batch B: Apply collection expression fixers (IDE0028/0301/0305/0306)
  Applications/Quickstarts.Servers/DurableSubscription/DurableDataChangeMonitoredItemQueue.cs
  Applications/Quickstarts.Servers/DurableSubscription/DurableEventMonitoredItemQueue.cs
  Libraries/Opc.Ua.Client/FileSystem/FileSystemClient.cs
  Libraries/Opc.Ua.Lds.Server/LdsServer.cs
  Libraries/Opc.Ua.Lds.Server/RegisteredServerStore.cs
  Libraries/Opc.Ua.Lds.Server/RegistrationEntry.cs
  Libraries/Opc.Ua.Lds.Server/ServerOnNetworkRecord.cs
  Libraries/Opc.Ua.Server/AliasNames/AliasNameMethodDispatcher.cs
  Libraries/Opc.Ua.Server/FileSystem/FileHandle.cs
  Libraries/Opc.Ua.Server/FileSystem/FileSystemNodeManager.cs
  Libraries/Opc.Ua.Server/Fluent/EventSourceRegistry.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetRegistry.cs
  Stack/Opc.Ua.Types/BuiltIn/ArrayOf.cs
  Tests/Opc.Ua.Client.Tests/Roles/RoleManagementClientTests.cs
  Tests/Opc.Ua.Server.Tests/RoleAuthorizationGateTests.cs
  Tests/Opc.Ua.Server.Tests/RoleManagerTests.cs
  Tests/Opc.Ua.Server.Tests/Roles/RoleStateBindingTests.cs
  Tests/Opc.Ua.Server.Tests/SessionManagerRoleResolutionTests.cs
  Tests/Opc.Ua.WotCon.Tests/Client/FileTypeClientExtensionsTests.cs
  Tests/Opc.Ua.WotCon.Tests/Client/WoTAssetFileTypeClientExtensionsTests.cs
  Tests/Opc.Ua.WotCon.Tests/Providers/SimulatedWotAssetProvider.cs
  Tests/Opc.Ua.WotCon.Tests/ThingDescriptionJsonTests.cs
  Tests/Opc.Ua.WotCon.Tests/WotActionMapperTests.cs
  Tests/Opc.Ua.WotCon.Tests/WotAssetFileManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 2: IConfigurationDataStore + DefaultManagedApplicationsNodeManager + tests
  Libraries/Opc.Ua.Gds.Server.Common/IConfigurationDataStore.cs
  Libraries/Opc.Ua.Gds.Server.Common/IManagedApplicationsNodeManager.cs
  Tests/Opc.Ua.Gds.Tests/Phase2AbstractionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 2: Update Part12Conformance.md with extension points
  Docs/Part12Conformance.md
Due: none

PR-4.a: Flip DataValue from class to readonly struct + non-nullable encoder/decoder API
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Stack/Opc.Ua.Types/BuiltIn/DataValueStruct.cs
  Stack/Opc.Ua.Types/BuiltIn/TypeInfo.cs
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Types/BuiltIn/VariantHelper.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
  Stack/Opc.Ua.Types/Encoders/IDecoder.cs
  Stack/Opc.Ua.Types/Encoders/IEncoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Stack/Opc.Ua.Types/State/BaseVariableState.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

WIP PR-4.b/c: Remove Nullable<DataValue> from server APIs (encoders done, queue/aggregator TryGet patterns)
  Applications/Quickstarts.Servers/DurableSubscription/DurableDataChangeMonitoredItemQueue.cs
  Libraries/Opc.Ua.Client/ComplexTypes/NodeCacheResolver.cs
  Libraries/Opc.Ua.Client/NodeCache/NodeCache.cs
  Libraries/Opc.Ua.Client/NodeCache/NodeCacheContext.cs
  Libraries/Opc.Ua.Client/Subscription/Classic/MonitoredItem.cs
  Libraries/Opc.Ua.PubSub/PublishedData/Field.cs
  Libraries/Opc.Ua.Server/Aggregates/AggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/IAggregateCalculator.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/ServerUtils.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/DataChangeMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/IDataChangeMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/QueueHandler/DataChangeQueueHandler.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientBase.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/DataValueBenchmarks.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/DataValueTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR-4.c: Complete server-side Nullable<DataValue> removal + TryGet patterns
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/PublishedData/DataCollector.cs
  Libraries/Opc.Ua.PubSub/PublishedData/Field.cs
  Libraries/Opc.Ua.PubSub/UaPubSubDataStore.cs
  Libraries/Opc.Ua.PubSub/WriterGroupPublishState.cs
  Libraries/Opc.Ua.Server/Aggregates/AggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/IAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroup.cs
  Libraries/Opc.Ua.Server/ServerUtils.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/QueueHandler/DataChangeQueueHandler.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/StoredMonitoredItem.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Batch C: Apply pattern matching / modern syntax fixers
  Libraries/Opc.Ua.Client/AliasNames/PubSub/AliasNamePubSubRefreshStrategy.cs
  Libraries/Opc.Ua.Client/AliasNames/Refresh/MonitoredItemAliasNameRefreshStrategy.cs
  Libraries/Opc.Ua.Client/AliasNames/Refresh/PollingAliasNameRefreshStrategy.cs
  Libraries/Opc.Ua.Client/FileSystem/FileSystemClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/LinqApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Lds.Server/LdsServer.cs
  Libraries/Opc.Ua.Lds.Server/MulticastDiscovery.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
  Libraries/Opc.Ua.Server/AliasNames/AliasNameNodeManager.cs
  Libraries/Opc.Ua.Server/AliasNames/InMemoryAliasNameStore.cs
  Libraries/Opc.Ua.Server/AliasNames/PubSub/AliasUpdateDataSetFactory.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.AliasNames.cs
  Libraries/Opc.Ua.Server/FileSystem/DirectoryObjectState.cs
  Libraries/Opc.Ua.Server/FileSystem/FileSystemNodeId.cs
  Libraries/Opc.Ua.Server/FileSystem/FileSystemNodeManager.cs
  Libraries/Opc.Ua.Server/FileSystem/PhysicalFileSystemProvider.cs
  Libraries/Opc.Ua.Server/Fluent/EventSourceRegistry.cs
  Libraries/Opc.Ua.Server/Fluent/NodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/IdentityRuleValidator.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleStateBinding.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserManagement/UserManagement.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserManagement/UserManagementBinding.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/WotAssetFileManager.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/WotAssetNameValidator.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityNodeManager.cs
  Stack/Opc.Ua.Core.Types/State/ConditionState.cs
  Stack/Opc.Ua.Core.Types/State/FiniteStateMachineState.cs
  Stack/Opc.Ua.Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Types/BuiltIn/QualifiedName.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemClientCrudTests.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemClientPathResolutionTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/AliasNameNodeManagerTests.cs
  Tests/Opc.Ua.WotCon.Tests/Client/FileTypeClientExtensionsTests.cs
  Tests/Opc.Ua.WotCon.Tests/Client/WoTAssetFileTypeClientExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR-4.d: PublishedValuesWrites uses TryReadPublishedDataItem
  Applications/ConsoleReferencePublisher/PublishedValuesWrites.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/DataGeneratorTests.cs
Due: azure-pipelines.yml

PR-4.d: PubSub data store API - TryReadPublishedDataItem + non-nullable Write
  Libraries/Opc.Ua.PubSub/IUaPubSubDataStore.cs
  Libraries/Opc.Ua.PubSub/PublishedData/DataCollector.cs
  Libraries/Opc.Ua.PubSub/UaPubSubDataStore.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubDataStoreTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/DataValueTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/VariantBuilderTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/VariantHelperTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/VariantTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BinaryDecoderTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BinaryEncoderTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BuiltInTypeTestCases.cs
  Tests/Opc.Ua.Types.Tests/Encoders/JsonDecoderTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlEncoderTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlParserTests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeStateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Batch D: Apply expression body fixers (IDE0022/0021/0027/0053/0061/0200)
  Libraries/Opc.Ua.Lds.Server/RegisteredServerStore.cs
  Libraries/Opc.Ua.Server/FileSystem/FileSystemNodeId.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserManagement/UserManagement.cs
  Libraries/Opc.Ua.WotCon.Client/WotAssetClient.cs
  Libraries/Opc.Ua.WotCon.Client/WotConnectivityClient.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/WotAssetFileManager.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityNodeManager.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Types/Schema/UANodeSetHelpers.cs
  Tests/Opc.Ua.Aot.Tests/BoilerNodeManagerAotTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/AliasNameStoreRegistryTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/InMemoryAliasNameStoreTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PublishTests.cs
  Tests/Opc.Ua.Server.Tests/RoleManagerTests.cs
  Tests/Opc.Ua.WotCon.Tests/Client/FileTypeClientExtensionsTests.cs
  Tests/Opc.Ua.WotCon.Tests/Providers/SimulatedWotAssetProvider.cs
  Tests/Opc.Ua.WotCon.Tests/Providers/SimulatedWotDiscoveryProvider.cs
  Tests/Opc.Ua.WotCon.Tests/WotAssetFileManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR-4.e: Migrate PubSub tests + aggregate calculator tests + history APIs to TryGet patterns
  Applications/Quickstarts.Servers/DurableSubscription/DurableMonitoredItemQueueFactory.cs
  Applications/Quickstarts.Servers/SampleNodeManager/DataChangeMonitoredItem.cs
  Applications/Quickstarts.Servers/SampleNodeManager/MonitoredNode.cs
  Applications/Quickstarts.Servers/TestData/HistoryArchive.cs
  Applications/Quickstarts.Servers/TestData/HistoryDataReader.cs
  Applications/Quickstarts.Servers/TestData/HistoryFile.cs
  Applications/Quickstarts.Servers/TestData/IHistoryDataSource.cs
  Tests/Opc.Ua.Aot.Tests/AotClientSamples.cs
  Tests/Opc.Ua.Aot.Tests/DiscoveryAotTests.cs
  Tests/Opc.Ua.Aot.Tests/EncodingAotTests.cs
  Tests/Opc.Ua.Aot.Tests/SecurityAotTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubDataStoreTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/DataCollectorSetupTests.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/WriterGroupPublishedStateTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubDataStoreTests.cs
  Tests/Opc.Ua.Server.Tests/AggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/AverageAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/CountAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/DurableMonitoredItemTests.cs
  Tests/Opc.Ua.Server.Tests/MinMaxAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemValueChangedTests.cs
  Tests/Opc.Ua.Server.Tests/ServerFixtureUtils.cs
  Tests/Opc.Ua.Server.Tests/StartEndAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/StdDevAggregateCalculatorTests.cs
Due: azure-pipelines.yml

Batch E: Remove unused members, add parentheses (IDE0048/0051/0052)
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserManagement/UserManagement.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PublishTests.cs
  Tests/Opc.Ua.Server.Tests/RoleManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR-4.g: Final test assertion + client cast cleanup - full solution builds clean
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionReconnectIntegrationTests.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.Tests/ReconnectWithSavedSessionSecretsTest.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Classic/DurableSubscriptionTest.cs
  Tests/Opc.Ua.Server.Tests/AggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/AverageAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/CountAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
  Tests/Opc.Ua.Server.Tests/DurableMonitoredItemTests.cs
  Tests/Opc.Ua.Server.Tests/DurableSubscriptionSerializationTests.cs
  Tests/Opc.Ua.Server.Tests/MinMaxAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
  Tests/Opc.Ua.Server.Tests/StartEndAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/StdDevAggregateCalculatorTests.cs
Due: azure-pipelines.yml

PR-4.h: Simplify DataValue static helpers + fix test semantics
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/DataValueTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlParserTests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeStateTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR-5: Cleanup - delete DataValueStruct sibling, transitional shims, _Struct benchmarks
  Stack/Opc.Ua.Types/BuiltIn/DataValueStruct.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/DataValueBenchmarkPayloads.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/DataValueBenchmarks.cs
  plans/25-datavalue-struct-vs-class.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix RCS1140/RCS1142 doc diagnostics in Fluent event/builder files
  Libraries/Opc.Ua.Server/Fluent/EventNotifierBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/EventSourceRegistry.cs
  Libraries/Opc.Ua.Server/Fluent/INodeManagerBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix RCS1140/RCS1142 documentation diagnostics in additional files
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Lds.Server/LdsServer.cs
  Libraries/Opc.Ua.Server/Fluent/INodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/IVariableBuilder.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/WotAssetFileManager.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityNodeManager.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityNodeManagerFactory.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix RCS1124: Inline local variables used only once on next statement
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferBrowser.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Server/FileSystem/PhysicalFileSystemProvider.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserManagement/UserManagementBinding.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix NUnit4002, NUnit2046, NUnit2010, RCS1256, TUnit0057 diagnostics
  .editorconfig
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Types/BuiltIn/RelativePath.cs
  Stack/Opc.Ua.Types/Nodes/ReferenceTable.cs
  Tests/Opc.Ua.Aot.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/PubSub/AliasNamePubSubBridgeTests.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/Refresh/ManualAndPollingRefreshStrategyTests.cs
  Tests/Opc.Ua.Client.Tests/Utils/PrioritizedChannelTests.cs
  Tests/Opc.Ua.Gds.Tests/LinqApplicationsDatabaseTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/AliasNameMethodDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/AliasNameNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/PubSub/AliasNamePubSubTests.cs
  Tests/Opc.Ua.Server.Tests/RoleManagerTests.cs
  Tests/Opc.Ua.Server.Tests/Roles/RoleStateBindingTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/ExtensionObjectTests.cs
  Tests/Opc.Ua.WotCon.Tests/Client/FileTypeClientExtensionsTests.cs
  Tests/Opc.Ua.WotCon.Tests/Client/WoTAssetFileTypeClientExtensionsTests.cs
  Tests/Opc.Ua.WotCon.Tests/SimulatedWotAssetProviderTests.cs
  Tests/Opc.Ua.WotCon.Tests/WotAssetFileManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix RCS1189: Add matching region names to #endregion directives
  Tests/Opc.Ua.Server.Tests/Fluent/PublishTests.cs
Due: azure-pipelines.yml

Fix Roslynator documentation diagnostics (RCS1140/RCS1142/RCS1181)
  Libraries/Opc.Ua.Client/AliasNames/AliasNameResolver.cs
  Libraries/Opc.Ua.Client/AliasNames/PubSub/AliasNamePubSubReader.cs
  Libraries/Opc.Ua.Server/AliasNames/InMemoryAliasNameStore.cs
  Libraries/Opc.Ua.Server/FileSystem/PhysicalFileSystemProvider.cs
  Libraries/Opc.Ua.Server/Fluent/NodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/VariableBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleStateBinding.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserManagement/UserManagementBinding.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CryptoUtils.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicies.cs
  Stack/Opc.Ua.Core/Stack/Client/ReverseConnectHost.cs
  Stack/Opc.Ua.Core/Stack/State/ISessionSystemContext.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Utils/ArraySegmentExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix Roslynator RCS1140 and RCS1181 documentation diagnostics
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/ComplexTypePropertyInfo.cs
  Libraries/Opc.Ua.Lds.Server/MulticastDiscovery.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/Refresh/MonitoredItemAliasNameRefreshStrategySignAndEncryptTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
