Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

GetEndpointsOnDiscoveryChannel
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
Due: azure-pipelines.yml

Return AdditionalInfo only to users with permission. (#2124)
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/DiagnosticInfo.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/DiagnosticMasks.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

OnServerStarting - Add null check on validationErrors
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add client example in readme file
  README.md
Due: none

Update readme File with proper client example
  README.md
Due: none

OnServerStarting - Add null check on validationErrors (#2128)
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update version.json
  version.json
Due: azure-pipelines.yml

Update version.json to 372 (#2139)
  version.json
Due: azure-pipelines.yml

Use ICloneable in generated code (#2044)
  Applications/Quickstarts.Servers/Quickstarts.Servers.csproj
  Libraries/Opc.Ua.Client.ComplexTypes/Types/BaseComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/OptionalFieldsComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/UnionComplexType.cs
  Libraries/Opc.Ua.Client/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/Subscription.cs
  Libraries/Opc.Ua.PubSub/PublishedData/DataSet.cs
  Libraries/Opc.Ua.PubSub/PublishedData/Field.cs
  Libraries/Opc.Ua.PubSub/WriterGroupPublishState.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateStoreIdentifier.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.DataTypes.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Gds.DataTypes.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/BuiltInTypeCollections.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/DataValue.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/DiagnosticInfo.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExtensionObject.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/LocalizedText.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Matrix.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/QualifiedName.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/StatusCode.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Uuid.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Core/Types/Encoders/EncodableObject.cs
  Stack/Opc.Ua.Core/Types/Encoders/IEncodable.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Json Encoder: namespace URI handling (#2119)
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix retry
  Applications/ConsoleReferenceClient/ClientSamples.cs
Due: azure-pipelines.yml

Enable dynamic complex types (type info driven instead of .Net types)
  Stack/Opc.Ua.Core/Types/Encoders/EncodeableFactory.cs
  Stack/Opc.Ua.Core/Types/Encoders/IComplexTypeInstance.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

JsonDecoder: actually return json for ExtensionObjects
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

print endpoints
  Applications/ConsoleReferenceServer/UAServer.cs
Due: azure-pipelines.yml

fix
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

clean up
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

random monitored items
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

queuesize and fastdatachangecallback
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

jitter and exponential backoff
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix security config changed on server
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

run subscription endless
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

disable exponential back off by default
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

make minpublishrequestcount configurable
  Libraries/Opc.Ua.Client/ISession.cs
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

XMLDecoder: decode empty arrays
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

support to defer publish response ack
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Libraries/Opc.Ua.Client/ISession.cs
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add exponential backoff limit
  Applications/ConsoleReferenceClient/UAClient.cs
Due: azure-pipelines.yml

transfer setting to new session
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

try to resend publish if Publishing stopped
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Libraries/Opc.Ua.Client/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Allow initiation of reverse connections from all endpoints of the server.
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Allow initiation of reverse connections from all endpoints of the server. (#2152)
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix typos
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Libraries/Opc.Ua.Client/ISession.cs
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

comments
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

formatting
  Applications/ConsoleReferenceClient/ClientSamples.cs
Due: azure-pipelines.yml

use a constant
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

dispose memorystream
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

TCS leaks
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/AsyncResultBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix typo
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix possible memory leak of CancellationTokenSource (#2156)
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/AsyncResultBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

JsonDecoder: ReadExtensionObject returns partial JSON for some types (#2155)
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
