Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'Stack/' 
    - 'Libraries/' 

stages:
- stage: nugetpreview
  displayName: 'Push Nuget Preview'
  jobs:
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'

azure-pipelines.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'Docs/*' 
    - 'README.md' 

pr: 
  autoCancel: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 

variables:
  FullBuild: ${{ or(ne(variables['Build.Reason'], 'PullRequest'), ne(variables['System.PullRequest.IsFork'], 'False')) }}
  ScheduledBuild: ${{ eq(variables['Build.Reason'], 'Schedule') }}

stages:
- stage: build
  displayName: 'Build .NET Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
- stage: buildnohttps
  dependsOn: []
  displayName: 'Build NoHttps .NET Core Samples'
  condition: ne(variables.FullBuild, 'False')
  jobs:
  - template: .azurepipelines/ci.yml
    parameters:
      buildoption: '-p:NoHttps=true'
      agents: '@{ linux = "ubuntu-22.04" }'
- stage: solutions
  dependsOn: []
  displayName: 'Build Solutions'
  jobs:
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2022'
      jobnamesuffix: win2022
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2019'
      jobnamesuffix: win2019
- stage: testrelease
  dependsOn: [build]
  displayName: 'Test Core and SDK Release'
  condition: and(succeeded(), ne(variables.FullBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net462
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net462
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net48
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net48  
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: netcoreapp3.1
      jobnamesuffix: core3
- stage: test6release
  dependsOn: [build]
  displayName: 'Test .NET 6 Core and SDK Release'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-22.04"; mac = "macOS-12"}'
      jobnamesuffix: net60
- stage: testreleasepr
  dependsOn: []
  displayName: 'Fast PR Test Core and SDK Release'
  condition: and(eq(variables.FullBuild, 'False'), eq(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-20.04"}'
      jobnamesuffix: net60pr
- stage: testdebug
  dependsOn: [build]
  displayName: 'Test Core and SDK Debug'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      framework: netcoreapp3.1
      configuration: Debug
- stage: coverage
  dependsOn: [testdebug,testrelease]
  displayName: 'Code Coverage'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      poolImage: 'ubuntu-20.04'
      jobnamesuffix: netcore31

asset cmd line
  Libraries/Opc.Ua.Client/INodeCache.cs
  Libraries/Opc.Ua.Client/NodeCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add DI constants
  Applications/ConsoleReferenceClient/Opc.Ua.DI.Constants.cs
Due: azure-pipelines.yml

support fetch tree without clear
  Applications/ConsoleReferenceClient/ClientSamples.cs
Due: azure-pipelines.yml

Fix for handling complex type client special cases (#2009)
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/AttributeExtensions.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/BaseComplexType.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improve INodeCache API, error handling (#2016)
  Libraries/Opc.Ua.Client/INodeCache.cs
  Libraries/Opc.Ua.Client/NodeCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

bouncy castle doesn't preserve ASN.1 encoding of the Subject
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateFactoryX509Name.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

null check of discovery url
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add only policy none
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix warning for property that may not everywhere be supported
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Discovery Url null check in PatchEndpointUrl, fix AddUnsecurePolicyNone and MaxConnectionsPerServer warning (#2019)
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CSR doesn't preserve ASN.1 encoding of the Subject for GDS push (#2018)
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateFactoryX509Name.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add a few tests
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509AuthorityKeyIdentifierExtension.cs
  Libraries/Opc.Ua.Security.Certificates/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Allow CA-signed certs to be automatically accepted by servers with the auto-trust setting.
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add web server
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
Due: azure-pipelines.yml

typos
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509AuthorityKeyIdentifierExtension.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Certificate Validator Tests for Authority Key Identifier and chain loops (#2022)
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509AuthorityKeyIdentifierExtension.cs
  Libraries/Opc.Ua.Security.Certificates/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

exclude embedio if assembly is signed
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
Due: azure-pipelines.yml

formatting
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
Due: azure-pipelines.yml

draft for opc.https support
  Applications/ClientControls.Net4/Endpoints/ConfiguredServerDlg.cs
  Applications/ReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportChannel.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
  Stack/Opc.Ua.Core/Stack/Client/UaChannelBase.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Configuration/EndpointDescription.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
  Tests/Opc.Ua.Server.Tests/ServerFixture.cs
  Tests/Opc.Ua.Server.Tests/ServerStartupTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add tls cert validator
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/TransportChannelSettings.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add data generator
  Applications/Quickstarts.Servers/TestData/ScalarValueVariableState.cs
  Applications/Quickstarts.Servers/TestData/TestData.Classes.cs
  Applications/Quickstarts.Servers/TestData/TestData.Constants.cs
  Applications/Quickstarts.Servers/TestData/TestData.NodeSet.xml
  Applications/Quickstarts.Servers/TestData/TestData.NodeSet2.xml
  Applications/Quickstarts.Servers/TestData/TestData.PredefinedNodes.uanodes
  Applications/Quickstarts.Servers/TestData/TestData.PredefinedNodes.xml
  Applications/Quickstarts.Servers/TestData/TestData.Types.xsd
  Applications/Quickstarts.Servers/TestData/TestDataDesign.csv
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataObjectState.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
  Applications/Quickstarts.Servers/TestData/TestDataVariableState.cs
Due: azure-pipelines.yml

update docker build
  .dockerignore
  .github/dependabot.yml
  .github/workflows/buildandtest.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-image.yml
  Applications/ConsoleReferenceServer/Dockerfile
  Applications/ConsoleReferenceServer/dockerbuild.bat
  Applications/ConsoleReferenceServer/dockerbuild.sh
Due: azure-pipelines.yml

fix versions
  .github/workflows/docker-image.yml
  Applications/ConsoleReferenceServer/Dockerfile
Due: azure-pipelines.yml

versions
  Applications/ConsoleReferenceServer/Dockerfile
Due: azure-pipelines.yml

fix docker version
  .github/workflows/docker-image.yml
  Applications/ConsoleReferenceServer/Dockerfile
  Applications/ConsoleReferenceServer/dockerbuild.bat
  version.props
Due: azure-pipelines.yml

Improve ref server docker build (#2035)
  .dockerignore
  .github/dependabot.yml
  .github/workflows/buildandtest.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-image.yml
  Applications/ConsoleReferenceServer/Dockerfile
  Applications/ConsoleReferenceServer/dockerbuild.bat
  Applications/ConsoleReferenceServer/dockerbuild.sh
  version.props
Due: azure-pipelines.yml

Add an API to ComplexTypeSystem to retreive data type definitions that were created during type building.
  Libraries/Opc.Ua.Client.ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client.ComplexTypes/DataTypeDefinitionExtension.cs
  Libraries/Opc.Ua.Client.ComplexTypes/IComplexTypeFactory.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix a typo
  Stack/Opc.Ua.Core/Types/Utils/OpcUaCoreEventSource.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix docker tag version
  .github/workflows/docker-image.yml
Due: azure-pipelines.yml

fix browse samples
  Applications/ClientControls.Net4/ClientUtils.cs
  Applications/ConsoleReferenceClient/ClientSamples.cs
Due: azure-pipelines.yml

Update ContainerReferenceServer.md
  Docs/ContainerReferenceServer.md
Due: none

refactor JsonEncodeable
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
  Stack/Opc.Ua.Core/Types/Encoders/IEncoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/IJsonDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/IJsonEncoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update README.md
  README.md
Due: none

Update README.md (#2043)
  README.md
Due: none

update benchmark/codecoverage batch files, fix benchmark run for client
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/benchmarks.cmd
  Tests/codecoverage.cmd
Due: azure-pipelines.yml

dependabot for actions
  .github/dependabot.yml
Due: azure-pipelines.yml

reenable icloneable where supported
  Applications/Quickstarts.Servers/Quickstarts.Servers.csproj
  Libraries/Opc.Ua.Client.ComplexTypes/Types/BaseComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/OptionalFieldsComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/UnionComplexType.cs
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.DataTypes.cs
  Stack/Opc.Ua.Core/Stack/Generated/Opc.Ua.Gds.DataTypes.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

support ICloneable across the board
  Libraries/Opc.Ua.Client/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription.cs
  Libraries/Opc.Ua.PubSub/PublishedData/DataSet.cs
  Libraries/Opc.Ua.PubSub/PublishedData/Field.cs
  Libraries/Opc.Ua.PubSub/WriterGroupPublishState.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateStoreIdentifier.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/BuiltInTypeCollections.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/DataValue.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/DiagnosticInfo.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExtensionObject.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/LocalizedText.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Matrix.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/NodeId.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/QualifiedName.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/StatusCode.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Uuid.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Core/Types/Encoders/EncodableObject.cs
  Stack/Opc.Ua.Core/Types/Encoders/IEncodable.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

split github build
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml

fix version
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml
