Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

fix review feedback
  Applications/ConsoleReferenceServer/UAServer.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/IConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CoreNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/IMainNodeManagerFactory.cs
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MainNodeManagerFactory.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Tests/Opc.Ua.Server.Tests/ServerFixture.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix ServerSourceTimestamp
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix OperationLimits not being set for ReferenceServer
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix two bugs in MonitoredItem (client side) (#3447)
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemState.cs
  Tests/Opc.Ua.Client.Tests/MonitoredItemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server] Add several interfaces to improve testability & prepare for Dependency Injection (#3448)
  Applications/ConsoleReferenceServer/UAServer.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Applications/Quickstarts.Servers/Utils.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Configuration/IApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/IConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/IDiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CoreNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/ICoreNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/IMainNodeManagerFactory.cs
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MainNodeManagerFactory.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/IStandardServer.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.Client.Tests/ReferenceServerWithLimits.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Server.Tests/ServerFixture.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix ObjectDisposedException in SubscriptionManager background tasks on shutdown (#3456)
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix Server/ServerStatus/State SourceTimestamp. Fix Reference Server config, not loading OperationLimits due to wrong order. (#3454)
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Handle BadRequestTimeout gracefully in Publish error handling (#3460)
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Suppress expected keepalive errors during test shutdown (#3458)
  Tests/Opc.Ua.Client.Tests/ClientFixture.cs
Due: azure-pipelines.yml

Fix session reconnect handler
  Libraries/Opc.Ua.Client/Session/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Allow status code variant creation from uint
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update Libraries/Opc.Ua.Client/Session/SessionReconnectHandler.cs
  Libraries/Opc.Ua.Client/Session/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Allow status code variant creation from uint (#3472)
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/BuiltInTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix session reconnect handler (#3471)
  Libraries/Opc.Ua.Client/Session/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Set correct target framework
  .github/workflows/stability-test.yml
Due: azure-pipelines.yml

update
  .github/workflows/stability-test.yml
Due: azure-pipelines.yml

fix timestamp for scalar values
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Tests/Opc.Ua.Client.Tests/ClientFixture.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

create a proper fix
  Stack/Opc.Ua.Types/State/BaseVariableState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Split long and short haul tests but maintain most of the current code
  Tests/Opc.Ua.Client.Tests/ConnectionStabilityTest.cs
Due: azure-pipelines.yml

Fix OperationLimits remarks
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Set correct target framework for long running test (#3474)
  .github/workflows/stability-test.yml
  Tests/Opc.Ua.Client.Tests/ConnectionStabilityTest.cs
Due: azure-pipelines.yml

Change license reference in copilot agents file
  .github/copilot-instructions.md
Due: azure-pipelines.yml

Change license reference in copilot agents file (#3479)
  .github/copilot-instructions.md
Due: azure-pipelines.yml

Allow SignatureData.Algorithm to be NULL or Empty.
  Applications/ConsoleReferenceClient/generate_user_certificate.ps1
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityPolicies.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add Order parameter to test to check the timestamp before an explicit write was done
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines.yml

Fix SourceTimestamp for variables without explicit timestamps in BaseVariableState (#3451)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Stack/Opc.Ua.Types/State/BaseVariableState.cs
  Tests/Opc.Ua.Client.Tests/ClientFixture.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Document certificate validation workflow with chain building and configuration details (#3481)
  Docs/Certificates.md
Due: none

Update
  Directory.Packages.props
Due: azure-pipelines.yml

Add async callback support to TrustList implementation (#3483)
  Libraries/Opc.Ua.Server/Configuration/TrustList.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add per-namespace NodeSet2 export and CLI option
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

Add NodeSetExportOptions for flexible NodeSet2 export
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Libraries/Opc.Ua.Client/CoreClientUtils.NodeSetExport.cs
  Tests/Opc.Ua.Client.Tests/NodeSetExportTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Refactor NodeSet export options for minimal default output
  Libraries/Opc.Ua.Client/CoreClientUtils.NodeSetExport.cs
  Tests/Opc.Ua.Client.Tests/NodeSetExportTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove unused BitVector32 import
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

Add ExportUserContext option to NodeSet2 export
  Applications/ConsoleReferenceClient/Program.cs
  Libraries/Opc.Ua.Client/CoreClientUtils.NodeSetExport.cs
  Tests/Opc.Ua.Client.Tests/NodeSetExportTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix unit test
  Tests/Opc.Ua.Client.Tests/NodeSetExportTest.cs
Due: azure-pipelines.yml

Extend NodeSet Export (#3491)
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
  Libraries/Opc.Ua.Client/CoreClientUtils.NodeSetExport.cs
  Tests/Opc.Ua.Client.Tests/NodeSetExportTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Change DebugCheck conditional compilation from DEBUG to CHECKED (#3496)
  Stack/Opc.Ua.Types/Diagnostics/TelemetryExtensions.cs
  Stack/Opc.Ua.Types/Diagnostics/TelemetryUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Point to concrete classes instead of interfaces
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.Client.Tests/ReferenceServerWithLimits.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Pkcs10CertificationRequestTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server] Use Classes instead of Interfaces for NodeManagers to ensure compatibility for 1.5.378 (#3497)
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.Client.Tests/ReferenceServerWithLimits.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Pkcs10CertificationRequestTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
