Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Update ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added PublisherMqttClientOptions and SubscriberMqttClientOptions for allowing custom configuration (#2672)
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

improve a comment
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove default rejected store creation (#2696)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add a review comment
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix a comment
  Libraries/Opc.Ua.Client/Session/SessionConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update Opc.Ua.Encoders.Fuzz.Tests.csproj
  Fuzzing/Encoders/Fuzz.Tests/Opc.Ua.Encoders.Fuzz.Tests.csproj
Due: azure-pipelines.yml

Revert "Bump NunitXml.TestLogger from 3.1.20 to 4.0.254 (#2691)"
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
Due: azure-pipelines.yml

[Server] Limit Access to server diagnostics array to Admin User (#2695)
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove a dependency
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
Due: azure-pipelines.yml

Updated to more intelligent enabling of events
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

Fix bug in MonitoredItem QueueEvent
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed an error in the node cache test cases of ContinuationPointInBatchTest test. Added some changes due to feedback.
  Fuzzing/Encoders/libfuzzer-dotnet-windows.exe
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/TraceableSession.cs
  Tests/Opc.Ua.Client.Tests/ClientFixture.cs
  Tests/Opc.Ua.Client.Tests/ContinuationPointInBatchTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

removed libfuzzer-dotnet-windows.exe. Don't know how this got into the repo.
  Fuzzing/Encoders/libfuzzer-dotnet-windows.exe
Due: azure-pipelines.yml

Code Review Feedback
  Applications/ConsoleReferenceClient/Program.cs
Due: azure-pipelines.yml

Moved Public methods to Public region
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Removed the switch for using the Managed Browse method, and now always use it (specifically in FetchReferences(Async)
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
  Tests/Opc.Ua.Client.Tests/ContinuationPointInBatchTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Changed some implementation details in response to peer Feedack.
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/TraceableSession.cs
  Tests/Opc.Ua.Client.Tests/ClientFixture.cs
  Tests/Opc.Ua.Client.Tests/ContinuationPointInBatchTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

simplify a few tests and reduce log output, fix benchmarks, default to net8
  Fuzzing/Encoders/Fuzz.Tests/EncoderTests.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheAsyncTest.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
  Tests/Opc.Ua.Server.Tests/CommonTestWorkers.cs
  Tests/benchmarks.cmd
  common.props
  targets.props
Due: azure-pipelines.yml

add net6 app target
  targets.props
Due: azure-pipelines.yml

dictionary benchmarks
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Stack/Opc.Ua.Core/Stack/Bindings/BufferManager.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/DictionaryKeyBenchmark.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI Build flaky tests by reducing log output, default tests to net8.0, (#2704)
  Fuzzing/Encoders/Fuzz.Tests/EncoderTests.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheAsyncTest.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheTest.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderCommon.cs
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
  Tests/Opc.Ua.Server.Tests/CommonTestWorkers.cs
  Tests/benchmarks.cmd
  common.props
  targets.props
Due: azure-pipelines.yml

fix a few pipeline builds
  azure-pipelines.yml
Due: azure-pipelines.yml

add fixes for skipped cibuild
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Core/Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Core/Types/Utils/OpcUaCoreEventSource.cs
  Tests/customtest.bat
  azure-pipelines.yml
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix missed lines
  Libraries/Opc.Ua.Server/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix build
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderTests.cs
Due: azure-pipelines.yml

fix .NET Framework build
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderTests.cs
Due: azure-pipelines.yml

Add a 1.05 update notice
  README.md
Due: none

fix issue in netstandard2.1 encoder
  Stack/Opc.Ua.Core/Types/Encoders/BinaryEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix .net framework and netstandard2.0 build
  Stack/Opc.Ua.Core/Types/Encoders/BinaryEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update version.props
  version.props
Due: azure-pipelines.yml

Update get-version.ps1
  .azurepipelines/get-version.ps1
Due: azure-pipelines.yml

Removed the duplicate code in ManagedBrowse and now call ManagedBrowseAsync instead.
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add tolerance to timestamp validation to reduce excessive future timestamp warnings (#2710)
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added some peer feedback to ManagedBrowseAsync.
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added some optimization, cleaned up the test order.
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
  Tests/Opc.Ua.Client.Tests/ContinuationPointInBatchTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Cleaned up an interface call
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

removed some hopefully unnecessary artifacts (the nullByte check for Continuation Points and the dispose Definition in the CPBatchTestMemoryWrtiter class)
  Applications/ConsoleReferenceClient/Properties/launchSettings.json
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
  Tests/Opc.Ua.Client.Tests/ContinuationPointInBatchTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

The status code bad was ignored at one place when calling browseNext. Fixed.
  Libraries/Opc.Ua.Client/Session/SessionAsync.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
