Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'Stack/' 
    - 'Libraries/' 

stages:
- stage: nugetpreview
  displayName: 'Push Nuget Preview'
  jobs:
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'

azure-pipelines.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'Docs/*' 
    - 'README.md' 

pr: 
  autoCancel: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 

variables:
  FullBuild: ${{ or(ne(variables['Build.Reason'], 'PullRequest'), ne('$(LOCALPR)', 'secret')) }}

stages:
- stage: build
  displayName: 'Build .Net Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
- stage: buildnohttps
  dependsOn: []
  displayName: 'Build NoHttps .Net Core Samples'
  condition: and(succeeded(), eq(variables.FullBuild, 'true'))
  jobs:
  - template: .azurepipelines/ci.yml
    parameters:
      buildoption: '-p:NoHttps=true'
      agents: '@{ linux = "ubuntu-18.04" }'
- stage: solutions
  dependsOn: []
  displayName: 'Build Solutions'
  jobs:
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2022'
      jobnamesuffix: win2022
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2019'
      jobnamesuffix: win2019
- stage: testrelease
  dependsOn: [build]
  displayName: 'Test Core and SDK Release'
  condition: and(succeeded(), ne(variables.FullBuild, 'false'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net462
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net462
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: netcoreapp3.1
      jobnamesuffix: core3
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-20.04"; mac = "macOS-11"}'
      jobnamesuffix: net60
- stage: testreleasepr
  dependsOn: []
  displayName: 'Fast PR Test Core and SDK Release'
  condition: and(succeeded(), eq(variables.FullBuild, 'false'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-20.04"}'
      jobnamesuffix: net60pr
- stage: testdebug
  dependsOn: [build]
  displayName: 'Test Core and SDK Debug'
  condition: and(succeeded(), ne(variables.FullBuild, 'false'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      framework: netcoreapp3.1
      configuration: Debug
- stage: coverage
  dependsOn: [testdebug,testrelease]
  displayName: 'Code Coverage'
  condition: and(succeeded(), ne(variables.FullBuild, 'false'))
  jobs:
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      poolImage: 'ubuntu-20.04'
      jobnamesuffix: netcore31

reduce build steps
  .editorconfig
  azure-pipelines.yml
Due: azure-pipelines.yml

reduce coverage
  azure-pipelines.yml
Due: azure-pipelines.yml

fixes
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestClient.Config.xml
  common.props
Due: azure-pipelines.yml

Update SubscriptionTest.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines.yml

Update ReverseConnectTest.cs
  Tests/Opc.Ua.Client.Tests/ReverseConnectTest.cs
Due: azure-pipelines.yml

Update buildandtest.yml
  .github/workflows/buildandtest.yml
Due: azure-pipelines.yml

fix CurrentSubscriptionCount at CloseSession() with active subscriptions
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Changed the access modifiers for a few members
  Libraries/Opc.Ua.Client/DataDictionary.cs
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test a cve cert
  Tests/Opc.Ua.Security.Certificates.Tests/Assets/cert-CVE-2022-0778.der
Due: azure-pipelines.yml

Offload .NET 6 tests and code coverage to github actions (#1730)
  .github/workflows/buildandtest.yml
  Tests/Opc.Ua.Client.Tests/ReverseConnectTest.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines.yml

Cleanup Debug messages, and prepare for pull request
  Applications/Quickstarts.Servers/Alarms/AlarmControllers/AlarmController.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AcknowledgeableConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AlarmHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/ConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/NonExclusiveLevelHolder.cs
  Applications/Quickstarts.Servers/Alarms/Alarms.cs
Due: azure-pipelines.yml

fix warning
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add required Interface Method
  Applications/Quickstarts.Servers/Alarms/AlarmDefines.cs
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
Due: azure-pipelines.yml

fix SByte vs Byte collection
  Stack/Opc.Ua.Core/Types/BuiltIn/BuiltInTypeCollections.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove Unused Code - Replaced by Core Branching
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AcknowledgeableConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AlarmConditionTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/AlarmHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/BaseEventTypeHolder.cs
  Applications/Quickstarts.Servers/Alarms/AlarmHolders/ConditionTypeHolder.cs
Due: azure-pipelines.yml

Added Pem Resolver for pem certificate support, application error message for accepting any custom messages
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/IPemResolver.cs
  Stack/Opc.Ua.Core/Security/Certificates/InvokePemResolver.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Modified the Load method
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix SByte vs Byte collection (#1740)
  Stack/Opc.Ua.Core/Types/BuiltIn/BuiltInTypeCollections.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed session recreate TransferSubscriptions bug.
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Changes for testing and fixing git bug 1694
  Applications/ReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Removed the duplicate server address differing by port number
  Applications/ReferenceServer/Quickstarts.ReferenceServer.Config.xml
Due: azure-pipelines.yml

Changes for testing and fixing git bug #1694 (#1747)
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Reworked PubSub AreClientsConnected() summaries and always return true in UDP implementation as UDP is a connectionless protocol
  Libraries/Opc.Ua.PubSub/IUaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update README.md
  README.md
Due: none

Log update and TransferSubscriptions update.
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix session recreate TransferSubscriptions bug. (#1746)
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix the nuget versions
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

revert targetframework
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
Due: azure-pipelines.yml

avoid build warning
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adapt logging abstractions version to target framework (#1751)
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Updated according to review comments and adaptations to changes in main.
  Libraries/Opc.Ua.Client/Session.cs
  Stack/Opc.Ua.Core/Stack/Client/SessionChannel.cs
  Tests/Opc.Ua.Client.Tests/ClientFixture.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

move a function to simplify code review
  Libraries/Opc.Ua.Client/Session.cs
  Stack/Opc.Ua.Core/Stack/Client/SessionChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix coding convention
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Create issue_report.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Due: azure-pipelines.yml

Update issue_report.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Due: azure-pipelines.yml

Create pull_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
Due: azure-pipelines.yml

add PR template (#1754)
  .github/ISSUE_TEMPLATE/issue_report.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
  Applications/ConsoleReferenceServer/ConsoleReferenceServer.csproj
  Libraries/Opc.Ua.Client/Session.cs
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Opc.Ua.Client.ComplexTypes.Tests.csproj
  Tests/Opc.Ua.Client.Tests/Opc.Ua.Client.Tests.csproj
  Tests/Opc.Ua.Configuration.Tests/Opc.Ua.Configuration.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.Gds.Tests.csproj
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  Tests/Opc.Ua.Server.Tests/Opc.Ua.Server.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Expose actual network client connected states in IUaPubSubConnections (#1725)
  Libraries/Opc.Ua.PubSub/IUaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubApplication.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
