Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

Fix client certificate leak on unsecured channels
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: cover redundancy/HA in WhatsNew + Profiles; accuracy pass
  Docs/HighAvailability.md
  Docs/Kubernetes.md
  Docs/Profiles.md
  Docs/README.md
  Docs/WhatsNewIn2.0.md
Due: none

Fix Server test: reflect SentMessageQueue.SentMessages property after queue extraction
  Tests/Opc.Ua.Server.Tests/SubscriptionLifecycleTests.cs
Due: azure-pipelines.yml

Add unit tests for PeerDirectionPublishStartupTask and NodeStateStoreRegistry
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/PeerDirectionPublishStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/NodeStateStoreRegistryTests.cs
Due: azure-pipelines.yml

Honor SecurityConfiguration in GDS push UpdateCertificate validation (#3932)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Security.Certificates/CertificateManager/CertificateValidationOptions.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Promote V2 SubscriptionManager to ISession.TryGetSubscriptionManager (#3925) (#3933)
  Docs/Sessions.md
  Docs/Subscriptions.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Session/ISession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.Streaming.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSessionOptions.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.PubSub.Adapter/Session/ServerSession.cs
  Tests/Opc.Ua.Client.TestFramework/Extensions.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerSessionCapabilityGuardTests.cs
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionReconnectIntegrationTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Chaos/SubscriptionSurvivalChaosTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/ManagedSessionSubscriptionManagerIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionEngineIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improve patch coverage for the certificate-entry work
  Libraries/Opc.Ua.Client/Session/Session.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Load client instance certificate entry directly from the certificate manager
  Libraries/Opc.Ua.Client/Session/ChannelManagerSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Honor async value read handlers in monitored-node change snapshot
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3918 review feedback: HA/Kubernetes docs, CA2000, plan
  Docs/HighAvailability.md
  Docs/Kubernetes.md
  Tests/Opc.Ua.Aot.Tests/DistributedRedundancyAotTests.cs
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines.yml

Make the server change-notification push path fully async
  Docs/AsyncServerSupport.md
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredentialPushSubject.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Stack/Opc.Ua.Types/State/BaseInstanceState.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeStateChangeNotificationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Honor SendCertificateChain in the channel-manager/factory connect paths
  Libraries/Opc.Ua.Client/Session/ChannelManagerSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: rerun session-scalability load test with real numbers; extend load-test cases
  Docs/Benchmarks.md
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines.yml

Implement 4 HA client follow-ups: transparent ISession DI, single compose, client demo, sample suite
  Applications/RedundantClient/Program.cs
  Applications/RedundantClient/RedundantClient.csproj
  Applications/RedundantServer/README.md
  Applications/RedundantServer/active-active-eventual.env
  Applications/RedundantServer/active-active-strong.env
  Applications/RedundantServer/active-passive.env
  Applications/RedundantServer/docker-compose.active-active.yml
  Applications/RedundantServer/docker-compose.active-passive.yml
  Applications/RedundantServer/docker-compose.yml
  Docs/HighAvailability.md
  Libraries/Opc.Ua.Redundancy.Client/ClientRedundancyServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Redundancy.Client/Opc.Ua.Redundancy.Client.csproj
  Libraries/Opc.Ua.Redundancy.Client/RedundantClientSession.cs
  Libraries/Opc.Ua.Redundancy.Client/RedundantClientSessionBuilder.cs
  Libraries/Opc.Ua.Redundancy.Client/RedundantClientSessionOptions.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/RedundantClientSessionTests.cs
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update HA remaining-work plan: add facade integration-test + optional enhancements, fix stale compose refs
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines.yml

Track HA remaining items 1 and 2 as issues #3938 and #3939
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines.yml

Fix #3937: resolve ModelDesign references to NodeSet2-defined types
  Docs/SourceGeneratedNodeManagers.md
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/Priklad02-EquipmentInstancesModelDesign.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/Priklad02-EquipmentTypes.xml
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/NodesetFile.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/readme.md
Due: azure-pipelines.yml

Load client instance certificate independently, not from the certificate manager
  Libraries/Opc.Ua.Client/Session/ChannelManagerSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

HA items 3 and 4: facade failover integration test, dynamic gossip scaling, Warm/Hot client standby
  Applications/RedundantClient/Program.cs
  Applications/RedundantClient/README.md
  Applications/RedundantServer/Program.cs
  Applications/RedundantServer/README.md
  Applications/RedundantServer/docker-compose.scale.yml
  Tests/Opc.Ua.Sessions.Tests/Opc.Ua.Sessions.Tests.csproj
  Tests/Opc.Ua.Sessions.Tests/RedundantClientSessionFailoverIntegrationTests.cs
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines.yml

Follow-up: async event source-report path + remaining flush migration
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredentialPushSubject.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use synthetic models for the #3937 cross-model regression test
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/CrossModelInstances.ModelDesign.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/CrossModelTypes.NodeSet2.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/Priklad02-EquipmentInstancesModelDesign.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/Priklad02-EquipmentTypes.xml
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
Due: azure-pipelines.yml

Docs: make mixing ModelDesign+NodeSet2 XML snippet valid
  Docs/SourceGeneratedNodeManagers.md
Due: none

Address PR #3918 review feedback: compose folders, doc refs to issues, diagram + client-HA simplification, multiprocess client
  Applications/RedundantClient/Program.cs
  Applications/RedundantClient/README.md
  Applications/RedundantServer/README.md
  Applications/RedundantServer/docker-compose.scale.yml
  Applications/RedundantServer/docker-compose.yml
  Applications/RedundantServer/loaddirection/docker-compose.yml
  Applications/RedundantServer/scale/docker-compose.yml
  Applications/RedundantServer/transparent/docker-compose.yml
  Applications/RedundantServer/transparent/nginx.conf
  Docs/HighAvailability.md
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines.yml

Merge master: implement ISession.TryGetSubscriptionManager in redundant facade; accept BadSessionIdInvalid in durable close race
  Libraries/Opc.Ua.Redundancy.Client/RedundantClientSession.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Performance improvements to support > 500 concurrent server sessions plus load test (#3922)
  Docs/Benchmarks.md
  Docs/README.md
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationConfigurationBuilderTests.cs
  Tests/Opc.Ua.Server.Tests/ClientLockoutTests.cs
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address review feedback and fix in-parameter Moq matcher in MonitoredNode2 tests
  Docs/AsyncServerSupport.md
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Caller-owned certificate handles + use CertificateEntry chain (fixes #3928, #3929) (#3930)
  .editorconfig
  Docs/CertificateManager.md
  Docs/IdentityProviders.md
  Docs/migrate/2.0.x/certificates.md
  Libraries/Opc.Ua.Client/Session/ChannelManagerSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/JwtAuthenticator.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManagerExtensions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateRegistry.cs
  Stack/Opc.Ua.Core/Security/Identity/IIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Security/Identity/JwksIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Security/Identity/StaticIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Security.Certificates/CertificateManager/CertificateEntry.cs
  Stack/Opc.Ua.Security.Certificates/CertificateManager/CertificateEntryCollection.cs
  Tests/Opc.Ua.Bindings.Https.WebApi.Tests/RealHttpsListenerIntegrationTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/IssuerVerificationKeyTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/JwksIssuerKeyResolverTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/StaticIssuerKeyResolverTests.cs
  Tests/Opc.Ua.Lds.Tests/LdsTestFixture.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/CertificateEntryTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorRejectionTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix #3937: resolve ModelDesign references to NodeSet2-defined types (#3940)
  Docs/SourceGeneratedNodeManagers.md
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/CrossModelInstances.ModelDesign.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/CrossModelTypes.NodeSet2.xml
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/NodesetFile.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/readme.md
Due: azure-pipelines.yml

Docs: add Server Session Scalability analysis (beyond 2000 sessions)
  Docs/Benchmarks.md
  Docs/README.md
  Docs/ServerScalability.md
Due: none

Rate limiting (P1+P2 core): TCP connection admission + session establishment
  Directory.Packages.props
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
  Libraries/Opc.Ua.Server/RateLimiting/DefaultServerRateLimiterProvider.cs
  Libraries/Opc.Ua.Server/RateLimiting/IServerRateLimiterProvider.cs
  Libraries/Opc.Ua.Server/RateLimiting/ServerRateLimitOptions.cs
  Libraries/Opc.Ua.Server/RateLimiting/TokenBucketConnectionRateLimiter.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Transport/IConnectionRateLimiter.cs
  Stack/Opc.Ua.Core/Stack/Transport/TransportListenerSettings.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add unit tests for server rate-limiting foundation (8 tests)
  Tests/Opc.Ua.Server.Tests/RateLimiting/ServerRateLimiterTests.cs
Due: azure-pipelines.yml

Wire server rate-limiting into the DI hosting path (ConfigureRateLimits + IServerRateLimiterProvider resolution)
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerOptions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix net48: use classic ArgumentNullException guard (ThrowIfNull is net6+)
  Libraries/Opc.Ua.Server/RateLimiting/DefaultServerRateLimiterProvider.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Client (P4 core): server-signal-aware reconnect backoff
  Libraries/Opc.Ua.Client/Session/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/IAdaptiveReconnectPolicy.cs
  Libraries/Opc.Ua.Client/Session/ReconnectPolicy.cs
  Tests/Opc.Ua.Client.Tests/AdaptiveReconnectPolicyTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: add RateLimiting.md; link from README; mark B1/B2 addressed in ServerScalability.md
  Docs/README.md
  Docs/RateLimiting.md
  Docs/ServerScalability.md
Due: none

Add unit tests raising diff coverage for Redundancy libraries (Client facade, Server state/sessions/load-direction, Kubernetes) from 66.5% toward >80%
  Tests/Opc.Ua.Redundancy.Client.Tests/ClientRedundancyServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/RedundantClientSessionFacadeTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/Client/KubernetesApiClientFactoryTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/Client/KubernetesHttpApiClientCertificateTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/Client/KubernetesHttpApiClientTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/Client/NotInClusterKubernetesApiClientTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/Health/KubernetesReadinessServerHttpTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/Health/KubernetesReadinessStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/KubernetesRaftBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/KubernetesServerBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/LeaderElection/KubernetesLeaseLeaderElectionTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/PeerDiscovery/KubernetesPeerDiscoveryStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/PeerDiscovery/KubernetesPeerDiscoveryTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/AddressSpaceSynchronizerTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/InMemoryNodeStateStoreTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/NodeStateSerializerTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/DiagnosticsServerHarness.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/DistributedBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/DistributedBuilderTestHelpers.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/LoadDirectionStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/PeerDirectionPublishStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/RedundancySmallTypesTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/ServerLoadDirectorErrorPathTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/ServiceLevelStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/NodeStateStoreRegistryTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/ReplicatedAddressSpaceSynchronizerTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Subscriptions/SharedKeyValueSubscriptionStoreTests.cs
Due: azure-pipelines.yml

Scaffold Opc.Ua.PubSub.Kafka library (#3942)
  Directory.Packages.props
  Libraries/Opc.Ua.PubSub.Kafka/KafkaProfiles.cs
  Libraries/Opc.Ua.PubSub.Kafka/NugetREADME.md
  Libraries/Opc.Ua.PubSub.Kafka/Opc.Ua.PubSub.Kafka.csproj
  Libraries/Opc.Ua.PubSub.Kafka/Properties/AssemblyInfo.cs
  UA.slnx
Due: azure-pipelines-preview.yml, azure-pipelines.yml

P2/B4: move CreateSession server-nonce RSA signing out of m_semaphoreSlim
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
