Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'Stack/' 
    - 'Libraries/' 

stages:
- stage: nugetpreview
  displayName: 'Push Nuget Preview'
  jobs:
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'

azure-pipelines.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: 
  autoCancel: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'Docs/*' 
    - 'README.md' 

stages:
- stage: build
  displayName: 'Build .Net Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
- stage: buildnohttps
  dependsOn: []
  displayName: 'Build NoHttps .Net Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
    parameters:
      buildoption: '-p:NoHttps=true'
      agents: '@{ linux = "ubuntu-18.04" }'
- stage: solutions
  dependsOn: []
  displayName: 'Build Solutions'
  jobs:
  - template: .azurepipelines/sln.yml
- stage: testrelease
  dependsOn: []
  displayName: 'Test Core and SDK Release'
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net462
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net462
  - template: .azurepipelines/test.yml
    parameters:
      framework: netcoreapp2.1
      configuration: Release
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: netcoreapp3.1
      agents: '@{ windows = "windows-2019"; mac = "macOS-10.15" }'
      jobnamesuffix: core3
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      poolImage: 'ubuntu-18.04'
      jobnamesuffix: netcore31
- stage: testdebug
  dependsOn: []
  displayName: 'Test Core and SDK Debug'
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      framework: netcoreapp3.1
      configuration: Debug

fix codecov?
  .azurepipelines/testcc.yml
  .editorconfig
Due: azure-pipelines.yml

Revert "Bump Microsoft.NET.Test.Sdk from 16.9.1 to 16.9.4 (#1349)"
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Opc.Ua.Client.ComplexTypes.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.Gds.Tests.csproj
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.Disabled.csproj
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
Due: azure-pipelines.yml

no malware
  .azurepipelines/preview.yml
Due: azure-pipelines.yml

first version of pub sub documentation
  Docs/PubSub.md
Due: none

add link to PubSub documentation
  README.md
Due: none

add nore md documentation for Pubsub
  Docs/Images/MessageOrienbtedMiddleware.png
  Docs/Images/PubSubConfigClasses.png
  Docs/Images/PubSubOverview.png
  Docs/Images/PubSubStateObjects.png
  Docs/Images/PubSubStateStateMachine.png
  Docs/Images/UaPubSubApplication.png
  Docs/Images/UaPubSubConfigurator.png
  Docs/PubSub.md
  Docs/PubSubState.md
  Docs/PubSub_UaPubSubApplication.md
  Docs/PubSub_UaPubSubConfigurator.md
Due: none

fix formatting
  Docs/PubSub_UaPubSubApplication.md
Due: none

Fix sStatusCode in UaDataSetMessage
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Codecov update (#1359)
  .azurepipelines/preview.yml
  .azurepipelines/testcc.yml
  .editorconfig
  .gitignore
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Opc.Ua.Client.ComplexTypes.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.Gds.Tests.csproj
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.Disabled.csproj
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  Tests/codecoverage.cmd
  common.props
Due: azure-pipelines.yml

Fixes of lgtm Alerts related to PubSub library
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientCreator.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientUnicast.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove unused usings and cleanup blanks
  Libraries/Opc.Ua.PubSub/Encoding/UadpNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/IUaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/SubscribedDataEventArgs.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientCreator.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientBroadcast.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientCreator.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientMulticast.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/UaNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/UaPubSubApplication.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubDataStore.cs
  Libraries/Opc.Ua.PubSub/UaPublisher.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Small refactor of files grouping.
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.Publisher.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.StateChangeMethods.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.Subscriber.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubApplicationTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubDataStoreTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
  Tests/Opc.Ua.PubSub.Tests/PublishedData/DataCollectorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpClientCreatorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.Publisher.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.cs
Due: azure-pipelines.yml

pub sub documentation updrates
  Docs/Images/DataSet.png
  Docs/Images/IUaPubSubDataStore.png
  Docs/Images/MessageOrientedMiddleware.png
  Docs/Images/UaPubSubApplication.png
  Docs/Images/UadpAndMqttNetworkMessages.png
  Docs/PubSub.md
  Docs/PubSubState.md
  Docs/PubSub_UaPubSubApplication.md
  Docs/PubSub_UaPubSubConfigurator.md
  README.md
Due: none

Remove obsolete classes from Diagnostics\V10
  Libraries/Opc.Ua.Server/Diagnostics/v10/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/v10/DataChangeMonitoredItem.cs
  Libraries/Opc.Ua.Server/Diagnostics/v10/MonitoredNode.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improved Event message creation
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

first draft of samples config help
  Applications/ConsoleReferencePublisher/README.md
  Applications/ConsoleReferenceSubscriber/README.md
  Docs/Images/PublisherConfigClasses.png
  Docs/PubSub.md
  README.md
Due: azure-pipelines.yml

feat: add node cache interface
  Libraries/Opc.Ua.Client/NodeCache.cs
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove obsolete classes from Diagnostics\V10 (#1362)
  Libraries/Opc.Ua.Server/Diagnostics/v10/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/v10/DataChangeMonitoredItem.cs
  Libraries/Opc.Ua.Server/Diagnostics/v10/MonitoredNode.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix: inheritdoc
  Libraries/Opc.Ua.Client/NodeCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add interface for NodeCache (#1364)
  Libraries/Opc.Ua.Client/NodeCache.cs
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

small cleanup
  Applications/ConsoleReferencePublisher/Program.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup PubSub.test project
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
Due: azure-pipelines.yml

change ifdef to support Net5.0 build
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509SubjectAltNameExtension.cs
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateFactoryRandomGenerator.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateFactoryX509Name.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMWriter.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Extensions.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509SignatureFactory.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/PEM/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/PEM/PEMWriter.cs
  Libraries/Opc.Ua.Security.Certificates/System.Security.Cryptography.X509Certificates/RSAPkcs1X509SignatureGenerator.cs
  Libraries/Opc.Ua.Security.Certificates/System.Security.Cryptography.X509Certificates/X509SignatureGenerator.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

updates to samples pubsub help
  Applications/ConsoleReferencePublisher/README.md
  Applications/ConsoleReferenceSubscriber/README.md
  Docs/Images/SubscriberConfigClasses.png
Due: azure-pipelines.yml

Update as per Code Review
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Final update to return correct error for bad monitored item id
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement ConditionRefresh2 (#1353)
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Server/IServerInternal.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add ifdef to support Net5.0 build with ECC support (#1367)
  Libraries/Opc.Ua.Security.Certificates/Extensions/X509SubjectAltNameExtension.cs
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateBuilder.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateFactoryRandomGenerator.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/CertificateFactoryX509Name.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/PEMWriter.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Extensions.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509SignatureFactory.cs
  Libraries/Opc.Ua.Security.Certificates/Org.BouncyCastle/X509Utils.cs
  Libraries/Opc.Ua.Security.Certificates/PEM/PEMReader.cs
  Libraries/Opc.Ua.Security.Certificates/PEM/PEMWriter.cs
  Libraries/Opc.Ua.Security.Certificates/System.Security.Cryptography.X509Certificates/RSAPkcs1X509SignatureGenerator.cs
  Libraries/Opc.Ua.Security.Certificates/System.Security.Cryptography.X509Certificates/X509SignatureGenerator.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509CertificateStore.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

spaces cleanup
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientCreator.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientBroadcast.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientMulticast.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improved ProcessMqttMessage queueName, topic message logic (Mircea)
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use constant strings from Utils in MqttPubSubConnection.GetMqttClientOptions()
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

changes for dtdprocessing
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Nodes/NodeSet.cs
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
  Stack/Opc.Ua.Core/Stack/State/NodeStateCollection.cs
  Stack/Opc.Ua.Core/Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add command line arguments to publisher and subscriber, update the readme docs, remove todos from pub sub library
  Applications/ConsoleReferencePublisher/ConsoleReferencePublisher.csproj
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferencePublisher/Properties/launchSettings.json
  Applications/ConsoleReferencePublisher/README.md
  Applications/ConsoleReferenceSubscriber/ConsoleReferenceSubscriber.csproj
  Applications/ConsoleReferenceSubscriber/Program.cs
  Applications/ConsoleReferenceSubscriber/Properties/launchSettings.json
  Applications/ConsoleReferenceSubscriber/README.md
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurator.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

prohibit dtd processing (CA3075)
  .editorconfig
  Stack/Opc.Ua.Core/Schema/UANodeSetHelpers.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/SecurityConfigurationManager.cs
  Stack/Opc.Ua.Core/Stack/Nodes/NodeSet.cs
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
  Stack/Opc.Ua.Core/Stack/State/NodeStateCollection.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExtensionObject.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Core/Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/EncodableObject.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Core/Types/Schemas/SchemaValidator.cs
  Stack/Opc.Ua.Core/Types/Schemas/XmlSchemaValidator.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix warning
  Stack/Opc.Ua.Core/Types/Utils/TypeInfo.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Rename KeyValuePairs to ConnectionProperties
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
  Libraries/Opc.Ua.PubSub/ITransportProtocolConfiguration.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix tests after KeyValuePairs rename
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix default
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

minor documentation update.
  README.md
Due: none
