Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Fix all test failures: restore encoding file for load path
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfigurationEncoding.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Configuration/SecurityConfigurationManager.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Replace DataContractSerializer with XmlParser/XmlEncoder for SecuredApplication
  Stack/Opc.Ua.Core/Schema/SecuredApplicationEncoding.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ISecurityConfigurationManager.cs
  Stack/Opc.Ua.Core/Stack/Configuration/SecurityConfigurationManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Stack/Opc.Ua.Types/BuiltIn/EnumValue.cs
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientFixture.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/VariantTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/JsonDecoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/TypeSourceGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/ModelDesignExtensionsTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignExtensions.cs
  add_datatype_attrs.py
Due: azure-pipelines.yml

Fix SaveToFile and ArrayOf<T> migration issues in ApplicationConfiguration
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroupMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/Server/ReverseConnectServer.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfigurationEncoding.cs
  Stack/Opc.Ua.Core/Schema/SecuredApplicationHelpers.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTrustList.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTypesProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Bindings/ITransportBindings.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServiceHost.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Tests/Opc.Ua.Aot.Tests/AotServerFixture.cs
  Tests/Opc.Ua.Aot.Tests/GdsTestFixture.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientFixture.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientTest.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/ServerBaseTests.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
  Tests/Opc.Ua.Server.Tests/ServerFixture.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server] Assign TrustedApplication role automatically per OPC UA Part 3 4.9 Roles (#3652)
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/GdsRole.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleBasedIdentity.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Tests/Opc.Ua.Client.Tests/ConnectionStabilityTest.cs
  Tests/Opc.Ua.Server.Tests/TrustedApplicationRoleTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfigurationEncoding.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Configuration/SecurityConfigurationManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix build
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleBasedIdentity.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferConfiguration.cs
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManagerConfiguration.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurationHelper.cs
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurator.cs
  Libraries/Opc.Ua.PubSub/UaPubSubApplication.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Stack/Opc.Ua.Types/BuiltIn/DataContractSurrogates.cs
  Stack/Opc.Ua.Types/Nodes/NodeSet.cs
  Stack/Opc.Ua.Types/State/NodeStateCollection.cs
  Stack/Opc.Ua.Types/Utils/CoreUtils.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.Gds.Tests.csproj
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/DataContractSerializerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Tests/Opc.Ua.Types.Tests/BuiltIn/ByteStringTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/EnumValueTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/ExpandedNodeIdTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/NodeIdTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/TypeInfoTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BinaryDecoderTests.cs
  Tests/Opc.Ua.Types.Tests/Nodes/NodeTableTests.cs
  Tests/Opc.Ua.Types.Tests/Nodes/ReferenceTableTests.cs
  Tests/Opc.Ua.Types.Tests/Nodes/TypeTableTests.cs
  Tests/Opc.Ua.Types.Tests/State/MethodStateTests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeStateCollectionTests.cs
  Tests/Opc.Ua.Types.Tests/State/NodeStateTests.cs
  Tests/Opc.Ua.Types.Tests/State/ReferenceTypeStateTests.cs
  Tests/Opc.Ua.Types.Tests/State/ViewStateTests.cs
  Tests/Opc.Ua.Types.Tests/Utils/CoreUtilsTests.cs
  Tests/Opc.Ua.Types.Tests/Utils/FileSystem/VirtualFileSystemEdgeCaseTests.cs
Due: azure-pipelines.yml

Enhance role-based access control and add permission tests (#3653)
  Libraries/Opc.Ua.Server/Configuration/SystemConfigurationIdentity.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleBasedIdentity.cs
  Stack/Opc.Ua.Core/Stack/Client/UserIdentity.cs
  Tests/Opc.Ua.Server.Tests/MasterNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improve runtime of Client Tests via fixture-level parallelization and fix parallel test isolation (#3655)
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Tests/Opc.Ua.Client.Tests/ClientBatchTest.cs
  Tests/Opc.Ua.Client.Tests/ClientFixture.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/LoadTest.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheAsyncTest.cs
  Tests/Opc.Ua.Client.Tests/ReconnectWithSavedSessionSecretsTest.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
  Tests/Opc.Ua.Client.Tests/TransferSubscriptionTest.cs
  Tests/Opc.Ua.Gds.Tests/Common.cs
  Tests/Opc.Ua.Server.Tests/ServerFixture.cs
  Tests/Opc.Ua.Server.Tests/ServerFixtureUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client/ComplexTypes/DataTypeDefinitionExtension.cs
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeFactory.cs
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeFieldBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/Field.cs
  Libraries/Opc.Ua.Client/ComplexTypes/IComplexTypeFactory.cs
  Libraries/Opc.Ua.Client/ComplexTypes/IComplexTypeResolver.cs
  Libraries/Opc.Ua.Client/ComplexTypes/Structure.cs
  Libraries/Opc.Ua.Client/ComplexTypes/StructureWithOptionalFields.cs
  Libraries/Opc.Ua.Client/ComplexTypes/Union.cs
  Tests/Opc.Ua.Aot.Tests/AotServerFixture.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Opc.Ua.Client.ComplexTypes.Tests.csproj
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DataDictionaryTests.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultComplexTypesBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultComplexTypesCommon.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultComplexTypesEncoderTests.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultEnumerationTests.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/NodeCacheResolverTests.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.Tests/Opc.Ua.Client.Tests.csproj
  Tests/Opc.Ua.Types.Tests/Encoders/BinaryDecoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeFieldBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/Structure.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/TypeSystemClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Applications/Quickstarts.Servers/Utils.cs
  Tests/Opc.Ua.Aot.Tests/AotTestFixture.cs
  Tests/Opc.Ua.Aot.Tests/ComplexTypeAotTests.cs
  Tests/Opc.Ua.Aot.Tests/GdsClientAotTests.cs
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
Due: azure-pipelines.yml

Update
  Stack/Opc.Ua/State/ConditionState.cs
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Applications/Quickstarts.Servers/TestData/TestDataObjectState.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
  Stack/Opc.Ua.Core/Types/Utils/DataGenerator.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/Session/ConnectionStabilityTest.cs
  Tests/Opc.Ua.Client.Tests/Session/LoadTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/ModelDesignExtensionsTests.cs
Due: azure-pipelines.yml

Update
  Applications/Quickstarts.Servers/DurableSubscription/DurableMonitoredItemQueueFactory.cs
  Applications/Quickstarts.Servers/DurableSubscription/SubscriptionStore.cs
  Applications/Quickstarts.Servers/Quickstarts.Servers.csproj
  Applications/Quickstarts.Servers/Utils.cs
Due: azure-pipelines.yml

cleanup
  Tests/Opc.Ua.Types.Tests/Opc.Ua.Types.UnitTests.csproj
Due: azure-pipelines.yml

remove
  .azurepipelines/get-matrix.ps1
  .azurepipelines/preview.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
Due: azure-pipelines.yml

devops
  .azurepipelines/get-matrix.ps1
  .azurepipelines/test-aot.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Thread CancellationToken through CreateAddressSpace to OnAfterCreate
  Applications/Quickstarts.Servers/Boiler/BoilerState.cs
  Applications/Quickstarts.Servers/Boiler/BoilerStateMachineState.cs
  Applications/Quickstarts.Servers/TestData/AnalogArrayValueObjectState.cs
  Applications/Quickstarts.Servers/TestData/AnalogScalarValueObjectState.cs
  Applications/Quickstarts.Servers/TestData/ArrayValueObjectState.cs
  Applications/Quickstarts.Servers/TestData/MethodTestState.cs
  Applications/Quickstarts.Servers/TestData/ScalarStructureVariableState.cs
  Applications/Quickstarts.Servers/TestData/ScalarValueObjectState.cs
  Applications/Quickstarts.Servers/TestData/StructureValueObjectState.cs
  Applications/Quickstarts.Servers/TestData/TestDataObjectState.cs
  Applications/Quickstarts.Servers/TestData/TestSystemConditionState.cs
  Applications/Quickstarts.Servers/TestData/UserArrayValueObjectState.cs
  Applications/Quickstarts.Servers/TestData/UserScalarValueObjectState.cs
  Applications/Quickstarts.Servers/TestData/VectorVariableState.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Stack/Opc.Ua/State/AcknowledgeableConditionState.cs
  Stack/Opc.Ua/State/AlarmConditionState.cs
  Stack/Opc.Ua/State/ConditionState.cs
  Stack/Opc.Ua/State/DialogConditionState.cs
  Stack/Opc.Ua/State/ExclusiveLimitStateMachineState.cs
  Stack/Opc.Ua/State/FiniteStateMachineState.cs
  Stack/Opc.Ua/State/ProgramStateMachineState.cs
  Stack/Opc.Ua/State/ShelvedStateMachineState.cs
  Tests/Opc.Ua.Client.Tests/NodeCache/NodeCacheAsyncTest.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientTestFramework.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

More data contract cleanup
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferConfiguration.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManagerConfiguration.cs
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.Obsolete.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Configuration/IApplicationInstance.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Configuration/SecurityConfigurationManager.cs
  Tests/Opc.Ua.Configuration.Tests/SecurityConfigurationTests.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Modernize ApplicationInstance for hosted service patterns
  Applications/ConsoleReferenceServer/Program.cs
  Applications/ConsoleReferenceServer/UAServer.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Configuration/IApplicationInstance.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientTestFramework.cs
  Tests/Opc.Ua.Server.Tests/ServerFixture.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/IApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Stack/Opc.Ua.Core/Schema/SecuredApplicationEncoding.cs
  Stack/Opc.Ua.Core/Schema/SecuredApplicationHelpers.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Configuration/OAuth2Credential.cs
  Stack/Opc.Ua.Core/Stack/Configuration/SecurityConfigurationManager.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Stack/Opc.Ua.Core/Types/Utils/UtilsObsolete.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/TypeSystemClientTest.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/ServerConfigurationPushTestClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Docs/MigrationGuide.md
Due: none

Fix build
  Applications/ConsoleReferenceServer/UAServer.cs
Due: azure-pipelines.yml

Update
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystem.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  TestXml.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs
  Applications/ConsoleReferenceServer/Program.cs
  Docs/ComplexTypes.md
  Docs/README.md
  Docs/SourceGeneratedDataTypes.md
  Libraries/Opc.Ua.Client.ComplexTypes/Types/BaseComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/ComplexTypePropertyInfo.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/IComplexTypeProperties.cs
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client/ComplexTypes/Field.cs
  Libraries/Opc.Ua.Client/ComplexTypes/IStructureField.cs
  Libraries/Opc.Ua.Client/ComplexTypes/Structure.cs
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/ApplicationsDatabaseBase.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Stack/Opc.Ua.Types/BuiltIn/EnumValue.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Tests/Opc.Ua.Aot.Tests/ComplexTypeAotTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/DefaultComplexTypesBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientBatchTest.cs
  Tests/Opc.Ua.Client.Tests/Session/ConnectionStabilityTest.cs
  Tests/Opc.Ua.Client.Tests/Session/LoadTest.cs
  Tests/Opc.Ua.Client.Tests/TransferSubscriptionTest.cs
  Tests/Opc.Ua.Configuration.Tests/SecurityConfigurationTests.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Server.Tests/MasterNodeManagerTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/TypeSourceGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration/DataTypeCompilation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Docs/ComplexTypes.md
Due: none

EmitDefault
  Applications/Quickstarts.Servers/TestData/TestDataNodeManagerConfiguration.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoveryServerConfiguration.cs
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonEncoder.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Types/Attributes/DataTypeFieldAttribute.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
  Stack/Opc.Ua.Types/Encoders/IDecoder.cs
  Stack/Opc.Ua.Types/Encoders/IEncoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Tests/Opc.Ua.Configuration.Tests/ConfigurationRoundTripTests.cs
  Tests/Opc.Ua.Configuration.Tests/Opc.Ua.Configuration.Tests.csproj
  Tests/Opc.Ua.Configuration.Tests/test-security-defaults.xml
  Tests/Opc.Ua.Configuration.Tests/test-server-defaults.xml
  Tests/Opc.Ua.Configuration.Tests/test-server-explicit.xml
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceModel.cs
  Tools/Opc.Ua.SourceGeneration/DataTypeCompilation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/ApplicationsDatabaseBase.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.Tests/ComplexTypes/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientBatchTest.cs
  Tests/Opc.Ua.Client.Tests/Session/LoadTest.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Types/Attributes/DataTypeFieldAttribute.cs
  Stack/Opc.Ua.Types/Attributes/DefaultValueHandling.cs
  Stack/Opc.Ua.Types/Attributes/StructureHandling.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/TypeSourceGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceModel.cs
  Tools/Opc.Ua.SourceGeneration/DataTypeCompilation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Docs/SourceGeneratedDataTypes.md
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Tools/Opc.Ua.SourceGeneration.Core/Design/StandardTypes.csv
  Tools/Opc.Ua.SourceGeneration.Core/Design/StandardTypes.xml
  Tools/Opc.Ua.SourceGeneration.Core/Design/UA Core Services.xml
Due: azure-pipelines.yml
