Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .Net Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .Net Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
        buildoption: -p:NoHttps=true
  ...

minor fixes in json decode, some alterations in automated json encode/decode tests
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaNetworkMessage.cs
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageEncoding.cs
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.Disabled.csproj
  Tests/Opc.Ua.PubSub.Tests/UadpNetworkMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add fieldContentMask parameter to ValidateMessageHeaderAndDataSetClassIdWithFieldContentMaskParameter method as proof of concept
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
Due: azure-pipelines.yml

JsonNetworkMessageTests refactor.
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
Due: azure-pipelines.yml

refactor some tests & enable decode for json message without network header
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

improve decoding for single dataset message without headers (payload content)
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update compliance test project for latest CTT -ver. 1.4.340.396
  Applications/UAReferenceServer.ctt.xml
Due: azure-pipelines.yml

JsonNetworkMessageTests changes
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
Due: azure-pipelines.yml

refactor test methods to avoid using class members when performing ests and create the needed objects on the fly
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/IUaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/PublishedData/DataCollector.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix decoding of message that has single dataset with dataset header
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update compliance test project for latest CTT -ver. 1.4.340.396 (#1317)
  Applications/UAReferenceServer.ctt.xml
Due: azure-pipelines.yml

code arrange
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Stick with EndpointDescription if SecPol is null for the UserToken
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Extend encode/decode json tests
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
Due: azure-pipelines.yml

Fixes #1300 - Minor fix in NodeId constructor comment.
  Stack/Opc.Ua.Core/Types/BuiltIn/NodeId.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Minor fix in NodeId constructor comment.
  Stack/Opc.Ua.Core/Types/BuiltIn/NodeId.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Small changes to tests
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
Due: azure-pipelines.yml

Json encode/decode tests
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
Due: azure-pipelines.yml

Extend the Dataset definition for tests
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
Due: azure-pipelines.yml

Fix decode logic for guessing payload and make all json network message tests pass
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Check for empty string also.
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added array option in datasets
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
Due: azure-pipelines.yml

Added support for certificate stores, validation of certificates is done by stack
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Handle one dimension arrays - json encoding & other fixes
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Started MQTT with UADP tests
  Tests/Opc.Ua.PubSub.Tests/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/MqttUadpNetworkMessageTests.cs
Due: azure-pipelines.yml

rename class to resempble the MqttUadpNetworkMessageTests class
  Tests/Opc.Ua.PubSub.Tests/MqttJsonNetworkMessageTests.cs
Due: azure-pipelines.yml

Add more mqtt with uadp tests
  Tests/Opc.Ua.PubSub.Tests/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MqttUadpNetworkMessageTests.cs
Due: azure-pipelines.yml

bugfix in RelativePath.ParseName(..): update variable last for loop increment statement to keep it for further processing
  Stack/Opc.Ua.Core/Types/Utils/RelativePath.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix commands and .NET-version in README
  README.md
Due: none

update Path to ConsoleReferenceServer
  README.md
Due: none

Fixed missing sourcePicoseconds in DataValue compare
  Stack/Opc.Ua.Core/Types/BuiltIn/DataValue.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed possible FormatException
  Applications/ClientControls.Net4/Common/Client/CallRequestListViewCtrl.cs
  Applications/ClientControls.Net4/Common/Client/EditComplexValueCtrl.cs
  Libraries/Opc.Ua.Client/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CoreNodeManager.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Nodes/ContentFilter.cs
  Stack/Opc.Ua.Core/Stack/Types/ContentFilter.Evaluate.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/DiagnosticInfo.cs
  Stack/Opc.Ua.Core/Types/Utils/DataComparer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix for duplicated HistoryServerCapabilities node in DiagnosticsNodeManager. Fixes #1320.
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added two-dimensions publishing data on tests.
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MqttUadpNetworkMessageTests.cs
Due: azure-pipelines.yml

Fixed FormatException
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed missing sourcePicoseconds in DataValue Equals
  Stack/Opc.Ua.Core/Types/BuiltIn/DataValue.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improved Certificate validation process while establishing TLS connections
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixes in matrix initialization for tetsts, fixes for issues found while testing
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpDataSetMessage.cs
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/MqttUadpNetworkMessageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add validation of rececived dataset messages
  Tests/Opc.Ua.PubSub.Tests/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MqttUadpNetworkMessageTests.cs
Due: azure-pipelines.yml

adapt .NET-Versions in Readme
  README.md
Due: none

Change the matrix loading definitions.
  Tests/Opc.Ua.PubSub.Tests/MessagesHelper.cs
  Tests/Opc.Ua.PubSub.Tests/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/MqttUadpNetworkMessageTests.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
