Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .Net Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .Net Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
        buildoption: -p:NoHttps=true
  ...

fix lgtm warnings
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilTests.cs
Due: azure-pipelines.yml

Prohibit Xml Dtd processing (#1370)
  .editorconfig
  Stack/Opc.Ua.Core/Schema/UANodeSetHelpers.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/SecurityConfigurationManager.cs
  Stack/Opc.Ua.Core/Stack/Nodes/NodeSet.cs
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
  Stack/Opc.Ua.Core/Stack/State/NodeStateCollection.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExtensionObject.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Core/Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/EncodableObject.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Core/Types/Schemas/SchemaValidator.cs
  Stack/Opc.Ua.Core/Types/Schemas/XmlSchemaValidator.cs
  Stack/Opc.Ua.Core/Types/Utils/TypeInfo.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/UtilTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix perf warnings
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Security/Audit.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Bindings/TransportBindingsBase.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Configuration/OAuth2Credential.cs
  Stack/Opc.Ua.Core/Stack/Nodes/ContentFilter.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServiceHost.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExpandedNodeId.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/ExtensionObject.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/SessionLessServiceMessage.cs
  Stack/Opc.Ua.Core/Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Core/Types/Schemas/BinarySchemaValidator.cs
  Stack/Opc.Ua.Core/Types/Utils/ReadOnlyList.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypesCommon.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.PubSub.Tests/UadpPubSubConnectionTests.Subscriber.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CRLTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForECDsa.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForRSA.cs
  Tests/Opc.Ua.Security.Certificates.Tests/TestUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove unused UaPuSubConnection.InternalInitialize() method
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix json decode problem for structured value
  Stack/Opc.Ua.Core/Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Complex data types fix for passing TypeId to IComplexTypeInstance
  Stack/Opc.Ua.Core/Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Complex data types fix for passing TypeId to IComplexTypeInstance (#1371)
  Stack/Opc.Ua.Core/Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Core/Types/Encoders/XmlDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add fast path
  Libraries/Opc.Ua.Client.ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/BaseComplexType.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added ConfigureAwait(false) to missing await calls
  Libraries/Opc.Ua.PubSub/Transport/MqttClientCreator.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor CertificateValidator
  Libraries/Opc.Ua.PubSub/Enums.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Move enums in Enums.cs
  Libraries/Opc.Ua.PubSub/Enums.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpClientCreator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove launchSettings.json from PubSub samples
  Applications/ConsoleReferencePublisher/Properties/launchSettings.json
  Applications/ConsoleReferenceSubscriber/Properties/launchSettings.json
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

changes in pub sub doicumentation
  Applications/ConsoleReferenceSubscriber/README.md
  Docs/Images/PubSubConnection.png
  Docs/PubSub.md
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

minor doc fix
  Docs/PubSub.md
Due: none

Reject SHA1SignedCertificates by default.
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix build warnings
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.Subscriber.cs
Due: azure-pipelines.yml

try build fix for missing config xml file in PubSub tests
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.Subscriber.cs
Due: azure-pipelines.yml

disable UdpClientBroadcast test from cloud run.
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpClientCreatorTests.cs
Due: azure-pipelines.yml

more permissive values in PublishIntevalDeviation test
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
Due: azure-pipelines.yml

fix config.xml files path for linux tests
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubConfiguratorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubStateMachineTests.Publisher.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubApplicationTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/PublishedData/DataCollectorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpClientCreatorTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.cs
Due: azure-pipelines.yml

Skip ValidateUdpClientCreatorUrlHostname() test on mac OS
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpClientCreatorTests.cs
Due: azure-pipelines.yml

temporary disable ValidateUaPublisherPublishIntevalDeviation() test
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
Due: azure-pipelines.yml

factor out a complex type resolver interface
  Libraries/Opc.Ua.Client.ComplexTypes/ComplexTypeSystem.cs
  Libraries/Opc.Ua.Client.ComplexTypes/DataTypeDefinitionExtension.cs
  Libraries/Opc.Ua.Client.ComplexTypes/IComplexTypeResolver.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/AssemblyModule.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/AttributeExtensions.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeFieldBuilder.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeResolver/NodeCacheResolver.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/BaseComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/OptionalFieldsComplexType.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/StructureDefinitionAttribute.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/StructureFieldAttribute.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/StructureTypeAttribute.cs
  Libraries/Opc.Ua.Client.ComplexTypes/Types/UnionComplexType.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

tests formatting
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypesCommon.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypesTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/EncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/JsonEncoderTests.cs
Due: azure-pipelines.yml

add event handler for broker certificate validation in UaPubSubApplication
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubApplication.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove commented line
  Applications/ConsoleReferenceSubscriber/Program.cs
Due: azure-pipelines.yml

cr fix
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cr fixes - use nameof() instead of constant string where possible
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use 'k' prefix for consts
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/UadpNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/UaPublisher.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix for SingleDataSetMessage
  Libraries/Opc.Ua.PubSub/Encoding/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/JsonNetworkMessage.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add -url command line argument in ReferencePublisher/Subscriber
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

minor fix in OptionSet for Publisher/Subscriber
  Applications/ConsoleReferencePublisher/Program.cs
  Applications/ConsoleReferenceSubscriber/Program.cs
Due: azure-pipelines.yml

Implement AutoAcceptUntrustedCertificates flag for Client side also. Fixes #1228
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement AutoAcceptUntrustedCertificates flag for Client side also. Fixes #1228 (#1380)
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

SingleDataSetMessage flag logic to send multiple messages if needed.
  Libraries/Opc.Ua.PubSub/IUaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPublisher.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpDataSetMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/UadpNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/MqttPubSubConnectionTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.Publisher.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.Subscriber.cs
  Tests/Opc.Ua.PubSub.Tests/Transport/UdpPubSubConnectionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

disable flaky test (again)
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
