Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'Stack/' 
    - 'Libraries/' 

stages:
- stage: nugetpreview
  displayName: 'Push Nuget Preview'
  jobs:
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'

azure-pipelines.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'Docs/*' 
    - 'README.md' 

pr: 
  autoCancel: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 

variables:
  FullBuild: ${{ or(ne(variables['Build.Reason'], 'PullRequest'), ne(variables['System.PullRequest.IsFork'], 'False')) }}
  ScheduledBuild: ${{ eq(variables['Build.Reason'], 'Schedule') }}

stages:
- stage: build
  displayName: 'Build .NET Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
- stage: buildnohttps
  dependsOn: []
  displayName: 'Build NoHttps .NET Core Samples'
  condition: ne(variables.FullBuild, 'False')
  jobs:
  - template: .azurepipelines/ci.yml
    parameters:
      buildoption: '-p:NoHttps=true'
      agents: '@{ linux = "ubuntu-22.04" }'
- stage: solutions
  dependsOn: []
  displayName: 'Build Solutions'
  jobs:
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2022'
      jobnamesuffix: win2022
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2019'
      jobnamesuffix: win2019
- stage: testrelease
  dependsOn: [build]
  displayName: 'Test Core and SDK Release'
  condition: and(succeeded(), ne(variables.FullBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net462
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net462
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net48
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net48  
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: netcoreapp3.1
      jobnamesuffix: core3
- stage: test6release
  dependsOn: [build]
  displayName: 'Test .NET 6 Core and SDK Release'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-22.04"; mac = "macOS-12"}'
      jobnamesuffix: net60
- stage: testreleasepr
  dependsOn: []
  displayName: 'Fast PR Test Core and SDK Release'
  condition: and(eq(variables.FullBuild, 'False'), eq(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-20.04"}'
      jobnamesuffix: net60pr
- stage: testdebug
  dependsOn: [build]
  displayName: 'Test Core and SDK Debug'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      framework: netcoreapp3.1
      configuration: Debug
- stage: coverage
  dependsOn: [testdebug,testrelease]
  displayName: 'Code Coverage'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      poolImage: 'ubuntu-20.04'
      jobnamesuffix: netcore31

Ensure no callbacks are called inside locks.
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Removed lock usage from getter where it is not needed.
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implemented test case that reproduces the concurrency issues and verifies the fix.
  Tests/Opc.Ua.Core.Tests/Stack/State/BaseVariableStateConcurrencyTests.cs
Due: azure-pipelines.yml

Small enhancements to the unit test
  Tests/Opc.Ua.Core.Tests/Stack/State/BaseVariableStateConcurrencyTests.cs
Due: azure-pipelines.yml

Some handlers still had concurrency problems. Fixed.
  Stack/Opc.Ua.Core/Stack/State/BaseVariableTypeState.cs
  Stack/Opc.Ua.Core/Stack/State/DataTypeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implemented more test cases for the fix.
  Tests/Opc.Ua.Core.Tests/Stack/State/BaseVariableStateConcurrencyTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateCollectionConcurrencyTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateHandlerConcurrencyTests.cs
Due: azure-pipelines.yml

Fixed NullReferenceException caused by moving RemoveReference outside of the lock.
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed to use correct lock variable.
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Prevented calling a method that takes a lock from inside a lock.
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Removed extra empty lines.
  Stack/Opc.Ua.Core/Stack/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added eccServerEphemeralKeu to saved session secrets
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
  Libraries/Opc.Ua.Client/SessionConfiguration.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Addapt code to merge changes
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added ReentrantSlimSemaphore
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/ReentrantSemaphoreSlim.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

improve async implementation
  Libraries/Opc.Ua.Client/ISession.cs
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
  Libraries/Opc.Ua.Client/Subscription.cs
  Libraries/Opc.Ua.Client/TraceableSession.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheAsyncTest.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove duplicate closeasync
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix .NET 8 build and warning
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  Tests/benchmarks.cmd
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Added EccProfiles.md
  Docs/EccProfiles.md
Due: none

fix .NET 8 build and warning (#2395)
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorAlternate.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  Tests/benchmarks.cmd
Due: azure-pipelines-preview.yml, azure-pipelines.yml

dupe closeasync
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

mor info
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines.yml

more updates
  Libraries/Opc.Ua.Client/TraceableSession.cs
  Tests/Opc.Ua.Client.Tests/ClientTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix session.equals
  Applications/ConsoleReferenceClient/UAClient.cs
  Libraries/Opc.Ua.Client/TraceableSession.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR fixes
  Libraries/Opc.Ua.Client/TraceableSessionFactory.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Support for subclassing of client sessions, subscriptions and monitored items (#2384)
  Applications/ConsoleReferenceClient/UAClient.cs
  Libraries/Opc.Ua.Client/ISession.cs
  Libraries/Opc.Ua.Client/ISessionInstantiator.cs
  Libraries/Opc.Ua.Client/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
  Libraries/Opc.Ua.Client/SessionConfiguration.cs
  Libraries/Opc.Ua.Client/SessionObsolete.cs
  Libraries/Opc.Ua.Client/Subscription.cs
  Libraries/Opc.Ua.Client/TraceableSession.cs
  Libraries/Opc.Ua.Client/TraceableSessionFactory.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientBase.cs
  Stack/Opc.Ua.Core/Types/Schemas/BinarySchemaValidator.cs
  Tests/Opc.Ua.Client.Tests/ClientFixture.cs
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/ReverseConnectTest.cs
  Tests/Opc.Ua.Client.Tests/SessionClientBatchTest.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
  Tests/Opc.Ua.Client.Tests/TestableSession.cs
  Tests/Opc.Ua.Client.Tests/TestableSessionFactory.cs
  Tests/Opc.Ua.Client.Tests/TestableSessionInstantiator.cs
  Tests/Opc.Ua.Core.Tests/Types/Bindings/BufferManager.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

implement republish async
  Libraries/Opc.Ua.Client/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/ISession.cs
  Libraries/Opc.Ua.Client/ISessionFactory.cs
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
  Libraries/Opc.Ua.Client/Subscription.cs
  Libraries/Opc.Ua.Client/TraceableSession.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fixes
  Applications/ConsoleReferenceClient/UAClient.cs
  Tests/Opc.Ua.Client.Tests/ClientTestFramework.cs
Due: azure-pipelines.yml

add Users database to the GDS
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoveryServerConfiguration.cs
  Libraries/Opc.Ua.Gds.Server.Common/IUsersDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/JsonUsersDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/LinqUsersDatabase.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Gds.Tests/Opc.Ua.GlobalDiscoveryTestServer.Config.xml
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add unit tests for Class LinqUsersDatabase improve ArgumentExceptions for LinqUsersDatabase remove unecesarry interface IPasswordHasher fix bug in Change
  Libraries/Opc.Ua.Gds.Server.Common/IUsersDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/LinqUsersDatabase.cs
  Tests/Opc.Ua.Gds.Tests/LinqUsersDatabaseTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use GetTempPath() to make the test work on linux
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
Due: azure-pipelines.yml

use %LocalApplicationData%
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
Due: azure-pipelines.yml

use single path
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
Due: azure-pipelines.yml

clean up in dispose method
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
Due: azure-pipelines.yml

small improvements for keep alive time stop
  Applications/ConsoleReferenceClient/UAClient.cs
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix build
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

do not dispose here
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

switch validation checks to SHA256
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/X509PfxUtils.cs
  Stack/Opc.Ua.Core/Security/Certificates/RsaUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement async reconnect (#2399)
  Applications/ConsoleReferenceClient/UAClient.cs
  Libraries/Opc.Ua.Client/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/ISession.cs
  Libraries/Opc.Ua.Client/ISessionFactory.cs
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
  Libraries/Opc.Ua.Client/SessionReconnectHandler.cs
  Libraries/Opc.Ua.Client/Subscription.cs
  Libraries/Opc.Ua.Client/TraceableSession.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Tests/Opc.Ua.Client.Tests/NodeCacheAsyncTest.cs
  Tests/Opc.Ua.Client.Tests/SubscriptionTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fixes for cert tests
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/X509PfxUtils.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForECDsa.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForRSA.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

SHA-1 signatures will no longer be trusted by default (#2406)
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/X509PfxUtils.cs
  Stack/Opc.Ua.Core/Security/Certificates/RsaUtils.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForECDsa.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForRSA.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

add custom builds
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  common.props
  targets.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml
