Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

Replaced logToStdErr with isStdIoTransport flag
  Applications/McpServer/Program.cs
Due: azure-pipelines.yml

Add paired aggregate history nodes for CTT Aggregate conformance (#3960)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/UAReferenceServer.ctt.xml
  Tests/Opc.Ua.History.Tests/AggregateTests.cs
Due: azure-pipelines.yml

Populate ServerCapabilities.ConformanceUnits from the declared profiles (#3960)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInfoCapabilitiesTests.cs
Due: azure-pipelines.yml

Update Dekaf to 1.0.0, consolidate Kafka package entries, bump packages (review feedback)
  Directory.Packages.props
  Libraries/Opc.Ua.PubSub.Kafka/Internal/DekafKafkaClientAdapter.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Advertise Historical Raw Data + Aggregate server facets (#3875)
  Applications/ConsoleReferenceServer/Ctt.ReferenceServer.Config.xml
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Docs/Profiles.md
Due: azure-pipelines.yml

Use conditional operator to configure LogToStandardErrorThreshold.
  Applications/McpServer/Program.cs
Due: azure-pipelines.yml

Integrate merge: adapt client complex-type factory to upstream ComplexTypeSystem API
  Libraries/Opc.Ua.Client/ComplexTypes/DefaultComplexTypeSystemFactory.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add fluent active/active DI API and dynamic peer discovery (PR #3918 follow-ups)
  Applications/RedundantServer/Program.cs
  Applications/RedundantServer/README.md
  Docs/DependencyInjection.md
  Docs/HighAvailability.md
  Docs/Kubernetes.md
  Libraries/Opc.Ua.Redundancy.Kubernetes/KubernetesServerBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Kubernetes/PeerDiscovery/KubernetesPeerDiscoveryAdapter.cs
  Libraries/Opc.Ua.Redundancy.Server/ActiveActiveRedundancyOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/CompositeRedundantServerSetProvider.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/DiscoveredPeer.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/DiscoveredRedundantServerSetProvider.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/DnsPeerDiscovery.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/DnsPeerDiscoveryOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/GossipPeerRegistry.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/IGossipPeerSink.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/IPeerDiscovery.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/LdsPeerDiscovery.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/LdsPeerDiscoveryOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/PeerDiscoveryBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/PeerDiscoveryOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/PeerDiscoveryStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/PeerSetTracker.cs
  Libraries/Opc.Ua.Redundancy.Server/Discovery/StaticPeerDiscovery.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/ServerRedundancyBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/ReplicatedGossipOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/ReplicatedServerBuilderExtensions.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/PeerDiscovery/KubernetesPeerDiscoveryAdapterTests.cs
  Tests/Opc.Ua.Redundancy.Kubernetes.Tests/PeerDiscovery/KubernetesPeerDiscoveryStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Discovery/PeerDiscoveryBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Discovery/PeerDiscoveryTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/ActiveActiveRedundancyBuilderExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Suppress Dekaf 1.0.0 assembly-level AOT rollup warning in the AOT test (CI)
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
Due: azure-pipelines.yml

Promote transcoded DataSet fields into Kafka record headers
  Docs/PubSub.md
  Libraries/Opc.Ua.PubSub.Kafka/KafkaBrokerTransport.cs
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaHeaderTransportTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix HistoryRead continuation status to Good and empty interval to GoodNoData
  Libraries/Opc.Ua.Server/Historian/HistorianDispatcher.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Install HistoricalDataConfiguration on historizing reference-server nodes
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Libraries/Opc.Ua.Server/Historian/HistoricalDataConfigurationInstaller.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianFluentInstallerGapsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add tests covering new peer-discovery/active-active code paths
  Tests/Opc.Ua.Redundancy.Server.Tests/Discovery/PeerDiscoveryBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Discovery/PeerDiscoveryTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/ReplicatedOptionsTests.cs
Due: azure-pipelines.yml

test(server): add ContinuationPoint coverage tests and shared mock helper
  Tests/Opc.Ua.Server.Tests/NodeManager/ContinuationPointTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/DeterministicServerMock.cs
Due: azure-pipelines.yml

test(server): add EventManager coverage tests
  Tests/Opc.Ua.Server.Tests/NodeManager/EventManagerTests.cs
Due: azure-pipelines.yml

test(server): add CustomNodeManager CallAsync coverage tests
  Tests/Opc.Ua.Server.Tests/NodeManager/CustomNodeManagerCallAsyncTests.cs
Due: azure-pipelines.yml

test(server): add SamplingGroupMonitoredItemManager coverage tests
  Tests/Opc.Ua.Server.Tests/NodeManager/SamplingGroupMonitoredItemManagerTests.cs
Due: azure-pipelines.yml

test(server): add SamplingGroup coverage tests
  Tests/Opc.Ua.Server.Tests/NodeManager/SamplingGroupTests.cs
Due: azure-pipelines.yml

Cover LoadDirectionBuilderExtensions and RegistryBackedDistributedValueCache
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/LoadDirectionBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Values/RegistryBackedDistributedValueCacheTests.cs
Due: azure-pipelines.yml

test(server): add SamplingGroupManager coverage tests
  Tests/Opc.Ua.Server.Tests/NodeManager/SamplingGroupManagerTests.cs
Due: azure-pipelines.yml

test(server): fix nullable context and NUnit4002 in sampling tests
  Tests/Opc.Ua.Server.Tests/NodeManager/SamplingGroupMonitoredItemManagerTests.cs
Due: azure-pipelines.yml

test(server): add TrustList coverage tests and finalize sampling fix
  Tests/Opc.Ua.Server.Tests/Configuration/TrustListTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/SamplingGroupManagerTests.cs
Due: azure-pipelines.yml

test(server): use session-based context for SamplingGroup accept path
  Tests/Opc.Ua.Server.Tests/NodeManager/SamplingGroupTests.cs
Due: azure-pipelines.yml

Increase PR coverage: cover SessionEngineContext, CertificateManagerExtensions, and Server support types
  Tests/Opc.Ua.Client.Tests/Session/SessionEngineContextTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerFactoryTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PublishTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/KeyCredentialBridgeAuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/ContinuationPointTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/PredefinedNodesAddressSpaceTests.cs
  Tests/Opc.Ua.Server.Tests/Subscription/SentMessageQueueTests.cs
Due: azure-pipelines.yml

Docs: reword 'remain available' to 'are available' per review
  Docs/HighAvailability.md
Due: none

Document that audit-event subscribers must hold SecurityAdmin (ReceiveEvents)
  Docs/Diagnostics.md
Due: none

Revert SourceGenerator.Foundations 2.0.16 -> 2.0.14 (broken analyzer, CI)
  Directory.Packages.props
Due: azure-pipelines.yml

Add DI/fluent builder patch-coverage tests
  Tests/Opc.Ua.Client.Tests/ClientBuilder/OpcUaClientBuilderExtensionsCoverageTests.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/OpcUaSubClientBuilderExtensionsCoverageTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/OpcUaGdsClientBuilderCoverageTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/OpcUaGdsServerBuilderCoverageTests.cs
  Tests/Opc.Ua.Lds.Tests/Hosting/OpcUaLdsServerBuilderCoverageTests.cs
  Tests/Opc.Ua.PubSub.Tests/DependencyInjection/PubSubSecurityServiceCollectionExtensionsCoverageTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpTransportServiceCollectionExtensionsCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/FluentNodeManagerFactoryCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/OpcUaServerBuilderExtensionsCoverageTests.cs
  Tests/Opc.Ua.WotCon.Tests/Hosting/OpcUaWotConServerBuilderCoverageTests.cs
Due: azure-pipelines.yml

Deterministic wait in PubSub failover tests (fix net48 flake, CI)
  Tests/Opc.Ua.PubSub.Tests/Redundancy/PubSubActivationFailoverTests.cs
Due: azure-pipelines.yml

Fix net48 build in coverage tests: use new ValueTask<T> instead of ValueTask.FromResult
  Tests/Opc.Ua.Client.Tests/ClientBuilder/OpcUaClientBuilderExtensionsCoverageTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/OpcUaGdsServerBuilderCoverageTests.cs
Due: azure-pipelines.yml

test(server): add coverage for ModellingRulesManager, OpcUaServerEventSource, ResourceManager
  Tests/Opc.Ua.Server.Tests/ModellingRulesManagerTests.cs
  Tests/Opc.Ua.Server.Tests/OpcUaServerEventSourceTests.cs
  Tests/Opc.Ua.Server.Tests/ResourceManagerCoverageTests.cs
Due: azure-pipelines.yml

test(server): add coverage for DataTypeSchemaRegistrationExtensions
  Tests/Opc.Ua.Server.Tests/DataTypeSchemaRegistrationExtensionsTests.cs
Due: azure-pipelines.yml

test(server): add ReverseConnectServer and StandardServer coverage tests
  Tests/Opc.Ua.Server.Tests/ReverseConnectServerCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/StandardServerCoverageTests.cs
Due: azure-pipelines.yml

test(server): add UserManagementBinding and ServerIdentityRegistry coverage tests
  Tests/Opc.Ua.Server.Tests/Identity/RegisterDefaultAuthenticatorsTests.cs
  Tests/Opc.Ua.Server.Tests/UserManagementBindingTests.cs
Due: azure-pipelines.yml

test(server): add SessionManager coverage tests
  Tests/Opc.Ua.Server.Tests/SessionManagerCoverageTests.cs
Due: azure-pipelines.yml

test(server): add Session direct-construction coverage tests
  Tests/Opc.Ua.Server.Tests/SessionCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/SessionManagerCoverageTests.cs
Due: azure-pipelines.yml

test: add PhysicalFileSystemProvider and FileSystemNodeId coverage tests
  Tests/Opc.Ua.Server.Tests/FileSystem/FileSystemNodeIdRoundTripTests.cs
  Tests/Opc.Ua.Server.Tests/FileSystem/PhysicalFileSystemProviderTests.cs
Due: azure-pipelines.yml

Fix HistoryRead raw status codes: BadHistoryOperationInvalid and BadIndexRangeNoData
  Libraries/Opc.Ua.Server/Historian/HistorianDispatcher.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncCustomNodeManagerHistoryRoutingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix source generator dropping BaseAnalogType children on concrete instances (#3964)
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeStateGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/AnalogInstance.NodeSet2.xml
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
