Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

PR feedback (romanett, marcschier): docs cleanup + identity refactors
  Docs/AuthorizationService.md
  Docs/DependencyInjection.md
  Docs/GDS.md
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
  Docs/README.md
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/AuthorizationServiceManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsApplicationSelfAdminProviderOptions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsServerHostedService.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/CertificateJwtIssuer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/GdsApplicationSelfAdminProvider.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/CertificateJwtIssuerEdgeCaseTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/CertificateJwtIssuerTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/InMemoryAccessTokenProviderRefreshTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/RefreshTokenTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/StartRequestTokenTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsIdentityForwardingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Generator: emit typed StateIds/TransitionIds classes per FiniteStateMachineType subtype (B1.2)
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateStateMachineDispatcher.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/StateMachineIdsGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

plans: prune completed + indefinitely-deferred plan files
  plans/22-objecttype-variable-proxies.md
  plans/24-subscription-v2-gc-reduction.md
  plans/25-datavalue-struct-vs-class.md
  plans/StateMachineV2.md
  plans/bang-audit.md
  plans/design-deps-phase2.md
  plans/modeldependencygenerator-templating.md
Due: azure-pipelines.yml

MinimalPumpServer: materialise Pump #1 as a PumpType instance under DeviceSet
  Applications/MinimalPumpServer/PumpNodeManager.Configure.cs
  Applications/MinimalPumpServer/PumpNodeManager.cs
  Applications/MinimalPumpServer/README.md
Due: azure-pipelines.yml

PR #3824 review fixes - 12 of 15 comments addressed
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/Classic/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItemContext.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscription.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStateSnapshot.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionBridge.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManagerSerializer.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionStateSnapshot.cs
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeMonitoredItemContext.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionFailoverV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/V2FollowUpCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Tools] Phase 11 - address dogfood findings (F1/F2/F3 + UA0022)
  Tests/Opc.Ua.CodeFixers.Shim.Tests/DataValueObsoleteShimTests.cs
  Tests/Opc.Ua.CodeFixers.Tests/AnalyzerHarness.cs
  Tests/Opc.Ua.CodeFixers.Tests/Analyzers/UA0021Tests.cs
  Tests/Opc.Ua.CodeFixers.Tests/Analyzers/UA0022Tests.cs
  Tests/Opc.Ua.CodeFixers.Tests/Stubs/OpcUaStubs.cs
  Tools/Opc.Ua.CodeFixers.Shim/Shims/Types/BuiltIn/BuiltInType.cs
  Tools/Opc.Ua.CodeFixers/AnalyzerReleases.Unshipped.md
  Tools/Opc.Ua.CodeFixers/Analyzers/UA0021CertificateValidatorRenameAnalyzer.cs
  Tools/Opc.Ua.CodeFixers/Analyzers/UA0022CertificateValidatorPropertyRenameAnalyzer.cs
  Tools/Opc.Ua.CodeFixers/CodeFixes/UA0022CertificateValidatorPropertyRenameCodeFix.cs
  Tools/Opc.Ua.CodeFixers/Diagnostics/DiagnosticDescriptors.cs
  Tools/Opc.Ua.CodeFixers/Diagnostics/DiagnosticIds.cs
  Tools/Opc.Ua.CodeFixers/NugetREADME.md
  Tools/Opc.Ua.CodeFixers/OPCFoundation.NetStandard.Opc.Ua.CodeFixers.props
  Tools/Opc.Ua.CodeFixers/OPCFoundation.Opc.Ua.CodeFixers.props
  Tools/Opc.Ua.CodeFixers/Opc.Ua.CodeFixers.csproj
  Tools/Opc.Ua.CodeFixers/Opc.Ua.CodeFixers.nuspec
Due: azure-pipelines.yml

MinimalPumpServer: add Machinery/Pumps NodeSet2 CSVs as AdditionalFiles
  Applications/MinimalPumpServer/MinimalPumpServer.csproj
  Applications/MinimalPumpServer/Model/Opc.Ua.Machinery.NodeSet2.csv
  Applications/MinimalPumpServer/Model/Opc.Ua.Pumps.NodeSet2.csv
Due: azure-pipelines.yml

Add V2 ManagedSession short/long haul tests (closes #3744)
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionStabilityTest.cs
Due: azure-pipelines.yml

[Tools] Add 1.5.378-compatible obsolete ctor to GlobalDiscoverySampleServer
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback: address @marcschier review comments (round 1)
  Applications/MinimalPumpServer/PumpNodeManager.Configure.cs
  Applications/MinimalPumpServer/PumpNodeManager.cs
  Applications/MinimalPumpServer/README.md
  Tools/Opc.Ua.SourceGeneration.Core/Generators/StateMachineIdsGenerator.cs
Due: azure-pipelines.yml

PR #3824 review round 2 - 10 of 10 new comments addressed
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItemContext.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscription.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionManagerContext.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStateSnapshot.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionLoadState.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionStateSnapshot.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeManagedSubscription.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeMonitoredItemContext.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/V2FollowUpCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

FB-2: extract NodeState lookup helpers from PumpNodeManager
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/NodeStateLookupExtensions.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/NodeStateLookupExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

FB-9: remove ModelLoaderBuilder (Option A)
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
  Docs/DeviceIntegration.md
  Docs/SourceGeneratedNodeManagers.md
  Libraries/Opc.Ua.Server/Fluent/IModelLoaderBuilder.cs
  Tests/Opc.Ua.Server.Tests/Fluent/ModelLoaderBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

FB-7: disambiguate Device Integration (DI) vs .NET DI in docs
  Docs/DeviceIntegration.md
  Docs/SoftwareUpdate.md
  Docs/SourceGeneratedNodeManagers.md
  Docs/StateMachines.md
Due: none

FB-5: auto-invoke PostSetupRunner from DiNodeManager base class
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
  Docs/DeviceIntegration.md
  Libraries/Opc.Ua.Di.Server/DiNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Tools] Split CodeFixers into analyzer + code-fix DLLs (Roslyn 4.x API)
  .github/agents/opcua-v20-migration.agent.md
  Tests/Opc.Ua.CodeFixers.Tests/Opc.Ua.CodeFixers.Tests.csproj
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0002RemovedCollectionTypeCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0003NullCheckOnStructTypeCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0004ConditionalAccessOnStructCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0005ByteArrayToByteStringCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0006ObsoleteVariantCtorCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0007ObsoleteNodeIdStringCtorCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0008SessionCallParamsObjectCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0009DataContractToDataTypeCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0010RemoveDisposableCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0012CertificateFactoryStaticToInstanceCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0014DataValueIsGoodCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0019DataValueStatusCodeCtorCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0020EncodeableFactoryRenameCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/CodeFixes/UA0022CertificateValidatorPropertyRenameCodeFix.cs
  Tools/Opc.Ua.CodeFixers.CodeFixes/Opc.Ua.CodeFixers.CodeFixes.csproj
  Tools/Opc.Ua.CodeFixers.CodeFixes/Properties/AssemblyInfo.cs
  Tools/Opc.Ua.CodeFixers/Analyzers/UA0008SessionCallParamsObjectAnalyzer.cs
  Tools/Opc.Ua.CodeFixers/Analyzers/UA0020EncodeableFactoryRenameAnalyzer.cs
  Tools/Opc.Ua.CodeFixers/Diagnostics/WellKnownProperties.cs
  Tools/Opc.Ua.CodeFixers/NugetREADME.md
  Tools/Opc.Ua.CodeFixers/OPCFoundation.NetStandard.Opc.Ua.CodeFixers.props
  Tools/Opc.Ua.CodeFixers/Opc.Ua.CodeFixers.csproj
  Tools/Opc.Ua.CodeFixers/Opc.Ua.CodeFixers.nuspec
  UA.slnx
Due: azure-pipelines.yml

FB-6: wire DI DeviceHealth to pump supervision simulation
  Applications/PumpDeviceIntegrationServer/Program.cs
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.Configure.cs
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
  Tests/Opc.Ua.Di.Tests/PumpDeviceHealthMappingTests.cs
Due: azure-pipelines.yml

Soften ConditionRefreshOnUncreatedItemThrowsAsync race for Windows CI
  Tests/Opc.Ua.Subscriptions.Tests/MonitoredItemConditionRefreshV2Test.cs
Due: azure-pipelines.yml

FB-8: migrate StateMachineIdsGenerator to template infrastructure
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/StateMachineIdsGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/StateMachineIdsGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/StateMachineIdsTemplates.cs
Due: azure-pipelines.yml

PR feedback (romanett): drop dead role-options plumbing + redundant CertificateValidator option
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/DefaultAuthenticatorOptions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

FB-3 (phase 1): cross-namespace path-resolution fallback
  Libraries/Opc.Ua.Server/Fluent/BrowsePathResolver.cs
  Tests/Opc.Ua.Server.Tests/Fluent/BrowsePathResolverTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

FB-3 (phase 2): materialise pump subtree, drop try/catch in sample
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.Configure.cs
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
  Applications/PumpDeviceIntegrationServer/README.md
Due: azure-pipelines.yml

ci(test): update GenerateAndCompileDemoModelNodeSetsTest expected source count to 19
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
Due: azure-pipelines.yml

ci(test): update StackGeneratorTests expected source count to 17
  Tests/Opc.Ua.SourceGeneration.Stack.Tests/StackGeneratorTests.cs
Due: azure-pipelines.yml

Use [DataType] source-generator codecs for V2 subscription snapshots
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStateSnapshot.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManagerSerializer.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionStateSnapshot.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix FakeManagedSubscription after SubscriptionStateSnapshot.Options became read-only projection
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeManagedSubscription.cs
Due: azure-pipelines.yml

ci(test): fix net48 compile error in SU test helpers (await using Stream)
  Tests/Opc.Ua.Di.Tests/SoftwareUpdateClientUploadIntegrationTests.cs
  Tests/Opc.Ua.Di.Tests/SoftwareUpdateFileTransferTests.cs
Due: azure-pipelines.yml

Fix net48 Interlocked.Exchange overload mismatch in haul test
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionStabilityTest.cs
Due: azure-pipelines.yml

[Server]: Queue Events from the Server Node using multiple channel consumers (#3823)
  Libraries/Opc.Ua.Server/Fluent/INodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/NodeManagerBuilder.cs
  Libraries/Opc.Ua.Server/NodeManager/Adapters/AsyncNodeManagerAdapter.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/INodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNodeMonitoredItemManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroupMonitoredItemManager.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredNode2Tests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

ci(analyzer): add typeparam XML doc to 16 fluent/DI sites for RCS1142
  Libraries/Opc.Ua.Di.Client/DiDeviceClient.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderLifetimeExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderSupportInfoExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderTypeExtensions.cs
  Libraries/Opc.Ua.Di.Server/DiNodeManager.cs
  Libraries/Opc.Ua.Di.Server/Hosting/IDiPostSetupContext.cs
  Libraries/Opc.Ua.Di.Server/Hosting/OpcUaServerDiBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/AlarmBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/EngineeringUnitsBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/InstanceCreationBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/PropertyInitBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/ReferenceBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/StateMachineBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/StateMachineBuilderExtensions.cs
  Tests/Opc.Ua.Di.Tests/Opc.Ua.Di.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR #3824 review batch 3 - 11 of 18 feedback items
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItemContext.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscription.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStateSnapshot.cs
  Libraries/Opc.Ua.Client/Subscription/Streaming/IStreamingSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/Streaming/StreamingSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionLoadState.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionStateSnapshot.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeManagedSubscription.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeMonitoredItemContext.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeSubscriptionManagerContext.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/V2FollowUpCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR #3824 review batch 4 - V2 aliases, V2 file rename, workflow enum
  .github/workflows/buildandtest.yml
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeMonitoredItemManagerContext.cs
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionReconnectIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionStabilityTest.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableClassicTests.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableTests.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/ClassicOnEngineBridgeGapTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/ManagedSessionSubscriptionManagerIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/MonitoredItemConditionRefreshLiveTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/MonitoredItemConditionRefreshTest.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionEngineIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionFailoverTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionTests.cs
  plans/26-v2-subscription-parity.md
Due: azure-pipelines.yml

Update packages
  Directory.Packages.props
Due: azure-pipelines.yml

FB-3 phase 3: per-ObjectType typed accessor extension generator
  Applications/PumpDeviceIntegrationServer/PumpDeviceIntegrationServer.csproj
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.Configure.cs
  Libraries/Opc.Ua.Server/Fluent/ITypedAccessors.cs
  Libraries/Opc.Ua.Server/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/TypedAccessorExtensions.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/FluentBuilderGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/OPCFoundation.Opc.Ua.SourceGeneration.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Tools] Add MigrationGenerator to source-generate <Type>Collection shims
  .github/agents/opcua-v20-migration.agent.md
  Docs/MigrationGuide.md
  Tests/Opc.Ua.MigrationAnalyzer.Tests/Generators/MigrationGeneratorTests.cs
  Tests/Opc.Ua.MigrationAnalyzer.Tests/Opc.Ua.MigrationAnalyzer.Tests.csproj
  Tools/Opc.Ua.MigrationAnalyzer.Generator/CollectionShimCatalog.cs
  Tools/Opc.Ua.MigrationAnalyzer.Generator/Diagnostics/GeneratorDiagnostics.cs
  Tools/Opc.Ua.MigrationAnalyzer.Generator/MigrationGenerator.cs
  Tools/Opc.Ua.MigrationAnalyzer.Generator/Opc.Ua.MigrationAnalyzer.Generator.csproj
  Tools/Opc.Ua.MigrationAnalyzer.Generator/Properties/AssemblyInfo.cs
  Tools/Opc.Ua.MigrationAnalyzer/NugetREADME.md
  Tools/Opc.Ua.MigrationAnalyzer/OPCFoundation.NetStandard.Opc.Ua.MigrationAnalyzer.props
  Tools/Opc.Ua.MigrationAnalyzer/Opc.Ua.MigrationAnalyzer.csproj
  Tools/Opc.Ua.MigrationAnalyzer/Opc.Ua.MigrationAnalyzer.nuspec
  Tools/Roslyn.slnx
  UA.slnx
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
