Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Test: make issuer-KeyUsage suppression test cross-platform
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

Fix Kafka Docker integration test endpoint construction (CI)
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaIntegrationDockerTests.cs
Due: azure-pipelines.yml

Validate issuer/CA certificate KeyUsage (keyCertSign, cRLSign) [master378 backport] (#3948)
  Docs/Certificates.md
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Test: avoid empty-KeyUsage cert that macOS AppleCrypto cannot load
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

S1: right-size load-test worker pool and refresh benchmark scalability numbers
  Docs/Benchmarks.md
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines.yml

Address PR review feedback (rate limiting / retry-after)
  Docs/RetryAfterSignaling.md
  Libraries/Opc.Ua.Server/RateLimiting/ServerRateLimitOptions.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Stack/Client/ClientBase.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientBaseTests.cs
  Tests/Opc.Ua.Server.Tests/SessionAdmissionRateLimitTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: address maintainer review feedback on rate-limiting/retry-after docs
  Docs/Benchmarks.md
  Docs/README.md
  Docs/RateLimiting.md
  Docs/RetryAfterSignaling.md
  Docs/ServerScalability.md
  Docs/Sessions.md
  Docs/proposals/RetryAfter.md
Due: none

Fix RedundancySample documented setups: enable None endpoint + per-node PKI store (server); load client config from base dir + V2 subscription monitoring with publishing enabled (client)
  Applications/RedundantClient/Program.cs
  Applications/RedundantServer/Program.cs
Due: azure-pipelines.yml

Fix active/active sample startup: opt into unauthenticated gossip + NullRecordProtector for the isolated demo (production uses mutual TLS + HA_RECORD_KEY)
  Applications/RedundantServer/Program.cs
Due: azure-pipelines.yml

Add regression test: V2 subscription delivers data changes with monitored item + PublishingEnabled (covers RedundantClient monitoring fix)
  Tests/Opc.Ua.Subscriptions.Tests/ManagedSessionSubscriptionManagerIntegrationTests.cs
Due: azure-pipelines.yml

docs(RedundantServer): add Known limitations (external Crdt.Transport aa-convergence bug + sample Counter is process-local on failover) and inline caveats
  Applications/RedundantServer/README.md
Due: azure-pipelines.yml

Use a Kafka 4.0 broker for the Kafka Docker integration test (CI)
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaIntegrationDockerTests.cs
Due: azure-pipelines.yml

Register IDistributedValueCache in DI for UseDistributedAddressSpace (registry-backed, injectable; direct-construct fallback retained)
  Libraries/Opc.Ua.Redundancy.Server/DistributedServerBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/Values/RegistryBackedDistributedValueCache.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Sample: wire HA Counter through DistributedValueParticipation so value is shared across replicas and continues on failover (seed-on-promotion + write-through)
  Applications/RedundantServer/HaSampleNodeManager.cs
Due: azure-pipelines.yml

Sample: secure-by-default HA (HA_INSECURE explicit opt-out + warning; fail closed without key); demo env files set HA_INSECURE with secure-run guidance
  Applications/RedundantServer/Program.cs
  Applications/RedundantServer/active-active-eventual.env
  Applications/RedundantServer/active-active-strong.env
  Applications/RedundantServer/active-passive.env
Due: azure-pipelines.yml

Add coverage: cross-replica value continuity, IDistributedValueCache DI registration + not-started fail-fast, warm-standby pre-connect
  Tests/Opc.Ua.Redundancy.Client.Tests/ClientReplicaCoordinatorTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/DistributedBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Values/DistributedValueParticipationTests.cs
Due: azure-pipelines.yml

docs: document distributed value cache / DistributedValueParticipation and secure-by-default HA_INSECURE; strong-Raft Counter continuity now works (README + HighAvailability.md)
  Applications/RedundantServer/README.md
  Docs/HighAvailability.md
Due: azure-pipelines.yml

Tests: improve reliability and accuracy of the existing test suite
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAcknowledgeTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsTestFixture.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateTestsForECDsa.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemTests.cs
  Tests/Opc.Ua.Sessions.Tests/ClientTest.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
Due: azure-pipelines.yml

Add Server library coverage tests for Aggregates, ConfigurationNodeManager and SystemConfigurationIdentity
  Tests/Opc.Ua.Server.Tests/AggregateCalculatorCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/AggregateManagerTests.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerPushTests.cs
  Tests/Opc.Ua.Server.Tests/StartEndAggregateCalculatorEdgeTests.cs
  Tests/Opc.Ua.Server.Tests/StdDevAggregateCalculatorRegressionTests.cs
  Tests/Opc.Ua.Server.Tests/SystemConfigurationIdentityTests.cs
Due: azure-pipelines.yml

Add Server coverage tests for AuditEvents, ParsedNodeId and NodeManager adapters
  Tests/Opc.Ua.Server.Tests/Diagnostics/AuditEventsTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncNodeManagerAdapterDelegationTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/SyncNodeManagerAdapterTests.cs
  Tests/Opc.Ua.Server.Tests/ParsedNodeIdTests.cs
Due: azure-pipelines.yml

Add Server library coverage tests for under-tested components (#3952)
  Tests/Opc.Ua.Server.Tests/AggregateCalculatorCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/AggregateManagerTests.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerPushTests.cs
  Tests/Opc.Ua.Server.Tests/Diagnostics/AuditEventsTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncNodeManagerAdapterDelegationTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/SyncNodeManagerAdapterTests.cs
  Tests/Opc.Ua.Server.Tests/ParsedNodeIdTests.cs
  Tests/Opc.Ua.Server.Tests/StartEndAggregateCalculatorEdgeTests.cs
  Tests/Opc.Ua.Server.Tests/StdDevAggregateCalculatorRegressionTests.cs
  Tests/Opc.Ua.Server.Tests/SystemConfigurationIdentityTests.cs
Due: azure-pipelines.yml

Validate issuer/CA certificate KeyUsage (keyCertSign, cRLSign) (#3947)
  Docs/Certificates.md
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationHelpers.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Security: fix three high-severity audit findings
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/AuthorizationServiceManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/AuthorizationServiceOptions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/InMemoryAccessTokenProvider.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Stack/Opc.Ua.Types/Schema/BinarySchemaValidator.cs
  Stack/Opc.Ua.Types/Schema/SchemaValidator.cs
  Stack/Opc.Ua.Types/Schema/XmlSchemaValidator.cs
  Stack/Opc.Ua.Types/Utils/FileSystem/NullFileSystem.cs
  Tests/Opc.Ua.Core.Schema.Tests/BsdSchemaValidationTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/InMemoryAccessTokenProviderRefreshTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/StartRequestTokenTests.cs
  Tests/Opc.Ua.PubSub.Tests/Connections/PubSubConnectionSecurityReceiveTests.cs
  Tests/Opc.Ua.Types.Tests/Utils/FileSystem/NullFileSystemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Server: restore monitored-item data/event queues on failover (#3939)
  Applications/Quickstarts.Servers/DurableSubscription/SubscriptionStore.cs
  Docs/HighAvailability.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/DistributedSubscriptionBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/MirroringDataChangeMonitoredItemQueue.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/MirroringEventMonitoredItemQueue.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/SharedKeyValueMonitoredItemQueueFactory.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/SharedKeyValueSubscriptionStore.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/DataChangeMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/Queue/EventMonitoredItemQueue.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/IStoredMonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/ISubscriptionStore.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/StoredMonitoredItem.cs
  Tests/Opc.Ua.Aot.Tests/DistributedRedundancyAotTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Subscriptions/SharedKeyValueMonitoredItemQueueFactoryTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemQueueRestoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Tests: raise NumericRange and Variant coverage to >88% (Opc.Ua.Types.Tests)
  Tests/Opc.Ua.Types.Tests/BuiltIn/NumericRangeCoverageTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/VariantCoverageTests.cs
Due: azure-pipelines.yml

test: raise coverage on schema validators, NodeSet and JSON/XML decoders
  Tests/Opc.Ua.Core.Schema.Tests/BinarySchemaValidatorTests.cs
  Tests/Opc.Ua.Core.Schema.Tests/TypeDictionaryValidatorTests.cs
  Tests/Opc.Ua.Core.Schema.Tests/XmlSchemaValidatorCoverageTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/JsonDecoderCoverageTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/XmlDecoderCoverageTests.cs
  Tests/Opc.Ua.Types.Tests/Nodes/NodeSetTests.cs
Due: azure-pipelines.yml

Address review feedback on security fixes
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/AuthorizationServiceManager.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Stack/Opc.Ua.Types/Utils/FileSystem/NullFileSystem.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/StartRequestTokenTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix net48 build: replace ValueTask.CompletedTask with default(ValueTask)
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncNodeManagerAdapterDelegationTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/SyncNodeManagerAdapterTests.cs
Due: azure-pipelines.yml

test: raise coverage on ComplexTypes client units and PubSub config builder
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypeSystemUnitTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/DataTypeDefinitionExtensionTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/PubSubConfigurationBuilderTests.cs
Due: azure-pipelines.yml

Server: load complex types by default in StandardServer (PR feedback)
  Docs/ComplexTypes.md
  Docs/SchemaGeneration.md
  Docs/migrate/2.0.x/encoders.md
  Libraries/Opc.Ua.Server/ComplexTypes/ComplexTypeStandardServer.cs
  Libraries/Opc.Ua.Server/ComplexTypes/ServerComplexTypeOptions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerComplexTypesBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make Kafka Docker round-trip test resilient to consumer-assignment race (CI)
  Tests/Opc.Ua.PubSub.Kafka.Tests/KafkaIntegrationDockerTests.cs
Due: azure-pipelines.yml

test: raise coverage on source-gen validators and client channel/reconnect
  Tests/Opc.Ua.Client.Tests/Session/ChannelManagerSessionFactoryTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionReconnectHandlerCoverageTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/ModelDesignValidatorTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/NodeSetToModelDesignTests.cs
Due: azure-pipelines.yml

Fix macOS CI: avoid empty-KeyUsage test cert (#3953)
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

Add coverage tests for transcoding bridge, egress, builder, and primitives
  Tests/Opc.Ua.PubSub.Tests/Transcoding/TranscodeUnitCoverageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Transcoding/TranscodingWiringCoverageTests.cs
Due: azure-pipelines.yml

ComplexTypes: move shared types to root Opc.Ua namespace (PR feedback)
  Applications/ConsoleReferenceClient/ClientSamples.cs
  Applications/ConsoleReferenceClient/Program.cs
  Docs/ComplexTypes.md
  Docs/migrate/2.0.x/encoders.md
  Libraries/Opc.Ua.Client.ComplexTypes/ComplexTypeSystemFactory.cs
  Libraries/Opc.Ua.Client.ComplexTypes/OpcUaComplexTypesBuilderExtensions.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeBuilder.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeFactory.cs
  Libraries/Opc.Ua.Client.ComplexTypes/TypeBuilder/ComplexTypeFieldBuilder.cs
  Libraries/Opc.Ua.Client/ComplexTypes/ComplexTypeSystemClientExtensions.cs
  Libraries/Opc.Ua.Client/ComplexTypes/NodeCacheResolver.cs
  Libraries/Opc.Ua.Server/ComplexTypes/AddressSpaceComplexTypeResolver.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/ComplexTypeSystem.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DataDictionary.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DataTypeDefinitionExtension.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DataTypeException.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DefaultComplexTypeBuilder.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DefaultComplexTypeFactory.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/DefaultComplexTypeFieldBuilder.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/IComplexTypeFactory.cs
  Stack/Opc.Ua.Core.Schema/ComplexTypes/IComplexTypeResolver.cs
  Tests/Opc.Ua.Aot.Tests/ComplexTypeAotTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DataDictionaryTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultComplexTypesBuilderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultComplexTypesCommon.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultEnumerationTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultOptionSetTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/NodeCacheResolverTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypesCommon.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolver.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolverTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Server complex types: harden enum property lookup, DI idempotency, error context (PR feedback)
  Libraries/Opc.Ua.Server/ComplexTypes/AddressSpaceComplexTypeResolver.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerComplexTypesBuilderExtensions.cs
  Tests/Opc.Ua.Server.Tests/ServerComplexTypeSystemTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
