Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

harden: bound persisted-TD loader against DoS at startup
  Docs/WoTConnectivity.md
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetRegistry.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityServerOptions.cs
  Tests/Opc.Ua.WotCon.Tests/AssetRegistryPersistenceBoundsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

harden: validate WoT TD child names before they enter the address space
  Docs/WoTConnectivity.md
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetRegistry.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/WotChildNameValidator.cs
  Tests/Opc.Ua.WotCon.Tests/WotChildNameValidatorTests.cs
  Tests/Opc.Ua.WotCon.Tests/WotConnectivityNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

harden: SSRF allow-list + per-operation timeout for WoT endpoints
  Docs/WoTConnectivity.md
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetEndpointPolicy.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetEndpointValidator.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetRegistry.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityServerOptions.cs
  Tests/Opc.Ua.WotCon.Tests/AssetEndpointValidatorTests.cs
  Tests/Opc.Ua.WotCon.Tests/AssetRegistrySsrfTests.cs
  Tests/Opc.Ua.WotCon.Tests/WotConnectivityNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

harden: sanitise WoT AssetRegistry exceptions before they reach clients
  Docs/WoTConnectivity.md
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetRegistry.cs
  Tests/Opc.Ua.WotCon.Tests/AssetRegistryExceptionSanitisationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

harden: enforce WoT management access policy on standard methods
  Docs/MigrationGuide.md
  Docs/WoTConnectivity.md
  Libraries/Opc.Ua.WotCon.Server/Hosting/OpcUaWotConServerBuilderExtensions.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityNodeManager.cs
  Libraries/Opc.Ua.WotCon.Server/WotConnectivityServerOptions.cs
  Libraries/Opc.Ua.WotCon.Server/WotManagementAccessPolicy.cs
  Tests/Opc.Ua.WotCon.Tests/WotManagementAccessPolicyTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

ci: add unit tests to lift patch coverage above codecov threshold
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Tests/Opc.Ua.Client.Tests/Subscription/PartitionPlacementPolicyTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SnapshotGroupValidationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

McpServerOptions: DI-driven NodeSetExportRoot + PcapBaseFolder
  Applications/McpServer/McpServerOptions.cs
  Applications/McpServer/Program.cs
  Applications/McpServer/Tools/NodeSetExportTools.cs
  Applications/McpServer/Tools/PacketDecodeTools.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/McpServerTools/McpServerOptionsTests.cs
Due: azure-pipelines.yml

PR feedback: reword security-bar prose, drop SAST paragraph, collapse empty doc lines, add /// <inheritdoc/> on EncryptedKeyLogStream overrides
  Docs/PacketCapture.md
  Stack/Opc.Ua.Bindings.Pcap/Audit/HashChainedAuditFileSink.cs
  Stack/Opc.Ua.Bindings.Pcap/KeyLog/EncryptedKeyLogStream.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI: bump TestDataDesign generator file count assertion 8 -> 9
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
Due: azure-pipelines.yml

Fix net48/net472 build of MixedCancellation test
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTriggeringTests.cs
Due: azure-pipelines.yml

CI: skip _BuildShimAllTfmsBeforePack when NoBuild=true
  Tools/Opc.Ua.MigrationAnalyzer/Opc.Ua.MigrationAnalyzer.csproj
Due: azure-pipelines.yml

CI: scope Pack Nuget Legacy glob to nuget/ to skip MigrationAnalyzer.nuspec
  .azurepipelines/preview.yml
Due: azure-pipelines.yml

CI: fix nightly UA.slnx restore (NU1903) + Tools/Roslyn netstandard2.0 build (NETSDK1005)
  Directory.Packages.props
  Tools/Opc.Ua.MigrationAnalyzer/Opc.Ua.MigrationAnalyzer.csproj
Due: azure-pipelines.yml

Opc.Ua.Bindings.Pcap: honor CustomTestTarget + RestrictForLegacyTfm
  Stack/Opc.Ua.Bindings.Pcap/Opc.Ua.Bindings.Pcap.csproj
  Tests/Opc.Ua.Bindings.Pcap.Tests/Opc.Ua.Bindings.Pcap.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[ci] Stress.Tests: produce a placeholder assembly for net48/472/netstandard2.0 matrix entries
  Tests/Opc.Ua.Stress.Tests/Opc.Ua.Stress.Tests.csproj
Due: azure-pipelines.yml

Quickstart: filter expected ObjectDisposedException in ReferenceNodeManager.DoSimulation
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
Due: azure-pipelines.yml

Tests: bump Alarms event-wait timeout to 30 s via shared constant
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAcknowledgeTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsAlarmTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsConfirmTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsEnableTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsNonExclusiveLimitTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsTestFixture.cs
Due: azure-pipelines.yml

CI: wrap test.yml forwarded condition in succeeded() so cancel propagates
  .azurepipelines/test.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Certificates.Fuzz: catch NotSupportedException in PKCS#10 fuzz target (fix CI build 14591 net48 failure)
  Fuzzing/Opc.Ua.Certificates.Fuzz/FuzzableCode.Pkcs10.cs
Due: azure-pipelines.yml

Tests: retry Branch alarm tests on transient secure-channel close
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsBranchTests.cs
Due: azure-pipelines.yml

Add V2 subscription triggering (SetTriggering) with N:M support and recreate replay (#3854)
  .github/workflows/buildandtest.yml
  Directory.Packages.props
  Docs/AlarmsAndConditions.md
  Docs/Profiles.md
  Docs/README.md
  Docs/StateMachines.md
  Docs/StreamingSubscription.md
  Docs/Subscriptions.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItemContext.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscription.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemOptions.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStateSnapshot.cs
  Libraries/Opc.Ua.Client/Subscription/SetTriggeringResult.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionLoadState.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Tests/Opc.Ua.Aot.Tests/SubscriptionAotTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeManagedSubscription.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeMonitoredItemContext.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTriggeringTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SetTriggeringFluentHelperTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/ClassicOnEngineBridgeGapTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTests.cs
  Tools/MigrationAnalyzer.slnx
  Tools/SourceGeneration.slnx
  UA.slnx
  plans/26-v2-subscription-parity.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CI: add --blame-hang-timeout to dotnet test so silent hangs surface a test name
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
Due: azure-pipelines.yml

[ci] Fix compile errors in upstream-merged test files
  Tests/Opc.Ua.Bindings.Pcap.Tests/Frame/PcapFileReaderBoundsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/Replay/ReplayUrlSchemeValidationTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Tcp/ListenerEventVisibilityTests.cs
Due: azure-pipelines.yml

Generate MatrixOf<T> properties for OneOrMoreDimension types (#3625) (#3868)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/TestData/Generated/TestDataDesign.xml
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonDecoder.cs
  Stack/Opc.Ua.Types/BuiltIn/MatrixOf.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/IDecoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/GenerateCodeTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeStateGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/DemoModel.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/TestDataDesign.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/TestModel.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Schema/ModelDesignExtensionsTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/MatrixOfTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/EncodeableMatrixRoundTripTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ClientApiGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ServerApiGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CI: default managedPool back to false in non-preview pipeline
  azure-pipelines.yml
Due: azure-pipelines.yml

Docs: rename ALiasNames.md to AliasNames.md
  Docs/AliasNames.md
Due: none

Docs: add WhatsNewIn2.0.md (1.5.378 -> 2.0 highlights)
  Docs/README.md
  Docs/WhatsNewIn2.0.md
Due: none

Docs: rewrite Profiles.md to reflect master implementation
  Docs/Profiles.md
Due: none

[ci] Fix ChannelManagerMaxChannelsTests using-alias for nested IChannel
  Tests/Opc.Ua.Client.Tests/Channels/ChannelManagerMaxChannelsTests.cs
Due: azure-pipelines.yml

Docs: split MigrationGuide.md into per-version sub-docs (#3745)
  .agents/skills/opcua-v20-migration/README.md
  .agents/skills/opcua-v20-migration/SKILL.md
  .agents/skills/opcua-v20-migration/references/analyzer-rules.md
  .agents/skills/opcua-v20-migration/references/migration-patterns.md
  .agents/skills/opcua-v20-migration/references/source-generator.md
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
  Docs/Profiles.md
  Docs/Sessions.md
  Docs/WhatsNewIn2.0.md
  Docs/migrate/2.0.x/README.md
  Docs/migrate/2.0.x/alarms-model-change.md
  Docs/migrate/2.0.x/certificates.md
  Docs/migrate/2.0.x/configuration.md
  Docs/migrate/2.0.x/encoders.md
  Docs/migrate/2.0.x/identity.md
  Docs/migrate/2.0.x/node-states.md
  Docs/migrate/2.0.x/packages.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
  Docs/migrate/2.0.x/source-generation.md
  Docs/migrate/2.0.x/telemetry.md
  Docs/migrate/2.0.x/timeprovider.md
  Docs/migrate/2.0.x/types.md
  Tools/Opc.Ua.MigrationAnalyzer/AnalyzerReleases.Unshipped.md
  Tools/Opc.Ua.MigrationAnalyzer/Analyzers/UA0021CertificateValidatorRenameAnalyzer.cs
  Tools/Opc.Ua.MigrationAnalyzer/Diagnostics/DiagnosticDescriptors.cs
  Tools/Opc.Ua.MigrationAnalyzer/Diagnostics/DiagnosticIds.cs
  Tools/Opc.Ua.MigrationAnalyzer/NugetREADME.md
Due: azure-pipelines.yml

Docs: rewrite repo-root README.md for 2.0
  README.md
Due: none

Docs: address PR #3874 review feedback on README.md
  README.md
Due: none

Docs: address PR #3874 review feedback (17 inline comments)
  Docs/Profiles.md
  Docs/WhatsNewIn2.0.md
  Docs/migrate/2.0.x/README.md
Due: none

CI: decouple test execution from test-result publishing in test.yml
  .azurepipelines/test.yml
Due: azure-pipelines.yml

style: fix whitespace formatting (WHITESPACE)
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTriggeringTests.cs
Due: azure-pipelines.yml

Docs: rewrite migration section per PR #3874 review feedback
  README.md
Due: none

CI: scope FuzzingArtifacts download/extract/publish to Fuzz.Tests matrix entry
  .azurepipelines/test.yml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
