Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

Address PR #3805 review feedback: clarify ModelChangeEvent migration text
  Docs/MigrationGuide.md
Due: none

codestyle: silence IDE0240 (broken dotnet format fixer)
  .editorconfig
Due: azure-pipelines.yml

codestyle: dotnet format RCS0010/RCS0027 (blank line and binary operator placement)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServerConfigurationNodeManager.cs
  Libraries/Opc.Ua.Client/Historian/HistoryClient.Extras.cs
  Libraries/Opc.Ua.Client/Historian/HistoryClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/InMemoryAccessTokenProvider.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Historian/HistorianCaptureSink.cs
  Libraries/Opc.Ua.Server/Historian/HistorianDispatcher.cs
  Tests/Opc.Ua.Client.TestFramework/ClientFixture.cs
  Tests/Opc.Ua.Client.TestFramework/TestFixture.cs
  Tests/Opc.Ua.Core.Security.Tests/AuditingOperationTests.cs
  Tests/Opc.Ua.Core.Security.Tests/PushCertManagementDepthTests.cs
  Tests/Opc.Ua.Core.Security.Tests/PushCertManagementTests.cs
  Tests/Opc.Ua.Core.Security.Tests/RoleManagementDepthTests.cs
  Tests/Opc.Ua.Core.Security.Tests/RoleManagementTests.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertValidationDepthTests.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertValidationTests.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertificateTests.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityPolicyDepthTests.cs
  Tests/Opc.Ua.Core.Security.Tests/UserManagementDepthTests.cs
  Tests/Opc.Ua.Core.Security.Tests/WellKnownRoleNodeIds.cs
  Tests/Opc.Ua.Features.Tests/HistoricalFileSystemTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/EcdsaJwtIssuerEdgeCaseTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsRefreshTests.cs
  Tests/Opc.Ua.InformationModel.Tests/AddressSpaceModelExtendedTests.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInfoBehavioralTests.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInfoDataTypeTests.cs
  Tests/Opc.Ua.Lds.Tests/LdsFixtureSmokeTests.cs
  Tests/Opc.Ua.Lds.Tests/LdsTestFixture.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCaptureSinkTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderGapsTests.cs
  Tests/Opc.Ua.Sessions.Tests/SessionBaseTests.cs
  Tests/Opc.Ua.Stress.Tests/SubscriptionTransferDepthTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTransferTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove unreachable abstract certificate type fallback branches
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: dotnet format IDE0016/0017/0019/0031/0056/0057/0074/0078/0090/0270 (pattern matching, modern syntax)
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/IManagedApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/EcdsaJwtIssuer.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
  Libraries/Opc.Ua.Lds.Server/MulticastDiscovery.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Historian/HistoricalDataConfigurationInstaller.cs
  Libraries/Opc.Ua.Server/Hosting/JwtIssuerOptions.cs
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredentialPushSubject.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleManager.cs
  Stack/Opc.Ua.Core/Security/Identity/AccessToken.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/IssuedTokenIdentityProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/JwtBearerAccessTokenProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/UserNamePasswordIdentityProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/X509ClientIdentityProvider.cs
  Stack/Opc.Ua.Core/Security/Identity/IIssuerKeyResolver.cs
  Stack/Opc.Ua.Core/Security/Identity/JwksIssuerKeyResolver.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Tests/Opc.Ua.Client.TestFramework/MockResponseController.cs
  Tests/Opc.Ua.Client.Tests/Session/ProactiveRefreshTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/JwksIssuerKeyResolverTests.cs
  Tests/Opc.Ua.InformationModel.Tests/ViewBasic2Tests.cs
  Tests/Opc.Ua.Lds.Tests/LdsMeConformanceTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherBranchTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherTests.cs
  Tests/Opc.Ua.Sessions.Tests/SessionBaseTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: dotnet format IDE0021/0022/0053/0200 (expand expression bodies per project policy)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Historian/HistorianProviderBase.cs
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityNoneSession10Tests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Diagnostics/OpcUaServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/DataValueBenchmarks.cs
  Tests/Opc.Ua.History.Tests/AggregateBaseTests.cs
  Tests/Opc.Ua.History.Tests/AlarmsAndConditionsPlaceholderTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCaptureSinkAdvancedTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCaptureSinkTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/CombinedHostingTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/JwtIssuerOptionsTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/MonitorTriggeringTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/PooledEncodeableTypeTests.cs
  Tests/Opc.Ua.WotCon.Tests/Hosting/OpcUaWotConBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: dotnet format RCS1260 (remove trailing commas)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Libraries/Opc.Ua.Client/Historian/HistoryClient.Extras.cs
  Libraries/Opc.Ua.Client/Historian/HistoryClient.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Historian/HistorianBuilder.cs
  Libraries/Opc.Ua.Server/Historian/HistorianCaptureOptions.cs
  Libraries/Opc.Ua.Server/Historian/HistorianCaptureSink.cs
  Libraries/Opc.Ua.Server/Historian/HistorianContinuationState.cs
  Libraries/Opc.Ua.Server/Historian/HistorianDispatcher.cs
  Libraries/Opc.Ua.Server/Historian/HistorianNodeCapabilities.cs
  Libraries/Opc.Ua.Server/Historian/InMemory/InMemoryHistorianProvider.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Tests/Opc.Ua.Aot.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Client.Tests/Historian/HistoryClientUnitTests.cs
  Tests/Opc.Ua.History.Tests/AggregateBaseTests.cs
  Tests/Opc.Ua.History.Tests/HistoryClientIntegrationTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCaptureSinkAdvancedTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCaptureSinkTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianConcurrencyTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherBranchTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianEventDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianEventFilterTargetTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianFluentInstallerGapsTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianFluentTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderGapsTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryTransactionalProviderTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncCustomNodeManagerHistoryRoutingTests.cs
  Tests/Opc.Ua.Test.Common/LeakDetectionHelpers.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: dotnet format misc IDE rules (IDE0018/0024/0025/0034/0039/0044/0048/0052/0054/0059/0063/0160/0241/0390/2000)
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/EcdsaJwtIssuer.cs
  Libraries/Opc.Ua.Server/Aggregates/AverageAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/CountAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/StartEndAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/StatusAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Aggregates/StdDevAggregateCalculator.cs
  Libraries/Opc.Ua.Server/Historian/HistorianBuilder.cs
  Libraries/Opc.Ua.Server/Historian/InMemory/InMemoryHistorianProvider.cs
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Tests/Opc.Ua.Client.Tests/Historian/HistoryClientUnitTests.cs
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertValidationTests.cs
  Tests/Opc.Ua.Gds.Tests/Identity/GdsApplicationSelfAdminProviderTests.cs
  Tests/Opc.Ua.Gds.Tests/Phase2AbstractionTests.cs
  Tests/Opc.Ua.InformationModel.Tests/ViewBasic2Tests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubDataStoreTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncCustomNodeManagerHistoryRoutingTests.cs
  Tests/Opc.Ua.Sessions.Tests/SessionBaseTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: dotnet format RCS1090 (add ConfigureAwait(false))
  Tests/Opc.Ua.Client.Tests/AliasNames/Refresh/ManualAndPollingRefreshStrategyTests.cs
  Tests/Opc.Ua.History.Tests/HistoryClientIntegrationTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCoverageTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherBranchTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianEventDispatcherTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderGapsTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryTransactionalProviderTests.cs
Due: azure-pipelines.yml

codestyle: dotnet format RCS1249 (remove unnecessary null-forgiving)
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.NodeManagement.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpDiscoveryPublisher.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/Authenticators/JwtAuthenticator.cs
  Stack/Opc.Ua.Types/Encoders/XmlEncoder.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianEventDispatcherTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: promote CA1859/CA1068/CA1825 to error severity
  .editorconfig
Due: azure-pipelines.yml

Resolve merge conflicts with origin/master (Alarms & Conditions PR #3805)
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: RCS1078 use string.Empty (4 sites, 4 files)
  Tests/Opc.Ua.Core.Tests/Security/Identity/AuthorizationServerMetadataTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/IssuerVerificationKeyTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/EcdsaJwtIssuerEdgeCaseTests.cs
  Tests/Opc.Ua.Gds.Tests/Phase2AbstractionTests.cs
Due: azure-pipelines.yml

codestyle: RCS1118 mark local as const (10 sites, 7 files)
  Tests/Opc.Ua.Core.Security.Tests/SecurityCertValidationTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/JwtBearerAccessTokenProviderTests.cs
  Tests/Opc.Ua.History.Tests/HistoryClientIntegrationTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianFluentInstallerGapsTests.cs
  Tests/Opc.Ua.Server.Tests/Historian/InMemoryHistorianProviderTests.cs
  Tests/Opc.Ua.Server.Tests/Hosting/JwtIssuerOptionsTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorRejectionTests.cs
Due: azure-pipelines.yml

codestyle: RCS1124 inline single-use locals (7 sites, 7 files)
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Server/FileSystem/FileSystemNodeManager.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/UserNamePasswordIdentityProvider.cs
  Tests/Opc.Ua.Core.Tests/Stack/Diagnostics/OpcUaServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Stress.Tests/SubscriptionTransferDepthTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTransferTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: RCS1181 convert comments to XML doc on declarations (8 sites, 5 files)
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Tests/Opc.Ua.Core.Tests/Types/BuiltIn/DataValueBenchmarks.cs
  Tests/Opc.Ua.History.Tests/HistoryClientIntegrationTests.cs
  Tests/Opc.Ua.Lds.Tests/DiscoveryRegisterTestsImpl.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianCaptureSinkTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: RCS1142 add missing <typeparam> tags (6 sites, 4 files)
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/HistorianFluentExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Tests/Opc.Ua.Client.Tests/Subscription/PooledNotificationDispatchTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: RCS1140 add <exception> tags to 6 small files (23 sites)
  Libraries/Opc.Ua.Client/Identity/ClientIdentityProviderExtensions.cs
  Libraries/Opc.Ua.Server/Historian/HistorianBuilder.cs
  Libraries/Opc.Ua.Server/Identity/Authenticators/KeyCredentialBridgeAuthenticator.cs
  Libraries/Opc.Ua.Server/Identity/Authenticators/ServerIdentityRegistryExtensions.cs
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredentialPushSubject.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: IDE0005 remove unused usings in 11 previously-excluded files
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DataDictionaryTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultComplexTypesCommon.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/DefaultComplexTypesEncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/ComplexTypesCommon.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/EncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/JsonEncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolverTests.cs
  Tests/Opc.Ua.InformationModel.Tests/BaseInfoEnabledFlagToggleTests.cs
  Tests/Opc.Ua.Lds.Tests/LdsTestFixture.cs
  Tests/Opc.Ua.Sessions.Tests/ClientLockoutIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/SecurityPolicyBenchmarks.cs
Due: azure-pipelines.yml

codestyle: IDE0001/IDE0008 in 2 previously-excluded files
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Tests/Opc.Ua.Gds.Tests/Phase2AbstractionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: promote RCS1142 to warning (0 hits after Phase 4 cleanup)
  .editorconfig
Due: azure-pipelines.yml

codestyle: RCS1142 add <typeparam> tags in StreamingSubscriptionExtensions
  Libraries/Opc.Ua.Client/Subscription/Streaming/StreamingSubscriptionExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: IDE0005 sort using directives in Alarms/StateMachines/ModelChange (11 files)
  Libraries/Opc.Ua.Client/Alarms/AlarmClient.StateMachine.cs
  Libraries/Opc.Ua.Client/Alarms/AlarmStreamExtensions.cs
  Libraries/Opc.Ua.Client/ModelChange/ModelChangeTracker.cs
  Libraries/Opc.Ua.Client/StateMachines/FiniteStateMachineTypeClientExtensions.cs
  Libraries/Opc.Ua.Client/StateMachines/StateMachineTypeClientExtensions.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmClientStateMachineTests.cs
  Tests/Opc.Ua.Client.Tests/Alarms/AlarmStreamExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/ModelChange/ModelChangeTrackerTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/FiniteStateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/StateMachineTypeClientExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/SubStateMachineClientTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: RCS1249 remove redundant null! initializer in Subscription/StateMachineBuilder
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

codestyle: IDE0005 remove unused 'using Opc.Ua.Client' in ClientLockoutIntegrationTests
  Tests/Opc.Ua.Sessions.Tests/ClientLockoutIntegrationTests.cs
Due: azure-pipelines.yml

codestyle: RCS1140 add <exception> tags in CompositeClientIdentityProviderBuilder
  Libraries/Opc.Ua.Client/Fluent/CompositeClientIdentityProviderBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback (marcschier): docs cleanup in IdentityProviders/MigrationGuide
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
Due: none

WIP: split Subscriptions.Tests + V2 engine parity
  .github/workflows/buildandtest.yml
  Libraries/Opc.Ua.Client/Opc.Ua.Client.csproj
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscription.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManagerSerializer.cs
  Tests/Opc.Ua.Client.TestFramework/ClientFixture.cs
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Client.TestFramework/RecordingSubscriptionHandler.cs
  Tests/Opc.Ua.Client.TestFramework/TestableSession.cs
  Tests/Opc.Ua.Client.TestFramework/TraceableRequestHeaderClientSession.cs
  Tests/Opc.Ua.Client.TestFramework/TraceableRequestHeaderClientSessionFactory.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeManagedSubscription.cs
  Tests/Opc.Ua.Subscriptions.Classic.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Subscriptions.Classic.Tests/Opc.Ua.Subscriptions.Classic.Tests.csproj
  Tests/Opc.Ua.Subscriptions.Classic.Tests/Properties/AssemblyInfo.cs
  Tests/Opc.Ua.Subscriptions.Classic.Tests/SubscriptionEngineIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Classic.Tests/SubscriptionTest.cs
  Tests/Opc.Ua.Subscriptions.Classic.Tests/TransferSubscriptionTest.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionEngineV2IntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionV2Tests.cs
  UA.slnx
  plans/26-v2-subscription-parity.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

DI: migrate SU state machines to Part 16 client API + add server-side state-change hooks
  Docs/SoftwareUpdate.md
  Docs/StateMachines.md
  Libraries/Opc.Ua.Di.Client/SoftwareUpdateClient.StateMachine.cs
  Libraries/Opc.Ua.Di.Client/SoftwareUpdateClient.cs
  Libraries/Opc.Ua.Di.Client/StateMachineClient.cs
  Libraries/Opc.Ua.Di.Server/Builders/ISoftwareUpdateBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateBuilder.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateStateMachineDispatcher.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderSoftwareUpdateStateChangeTests.cs
  Tests/Opc.Ua.Di.Tests/SoftwareUpdateClientStateMachineTests.cs
  Tests/Opc.Ua.Di.Tests/StateMachineClientTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

V2 subscription engine - final parity round (V2 design)
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Session/DefaultSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/IMonitoredItemContext.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscription.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionManagerContext.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionNotificationHandler.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItem.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemStateSnapshot.cs
  Libraries/Opc.Ua.Client/Subscription/Streaming/StreamingSubscription.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionBridge.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionLoadState.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManagerSerializer.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionStateSnapshot.cs
  Tests/Opc.Ua.Client.TestFramework/RecordingSubscriptionHandler.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeManagedSubscription.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeMonitoredItemContext.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeSubscriptionManagerContext.cs
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionReconnectIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/ManagedSessionSubscriptionManagerIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/MonitoredItemConditionRefreshLiveV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/MonitoredItemConditionRefreshV2Test.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionFailoverV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionSnapshotV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionV2Tests.cs
  Tests/Opc.Ua.Subscriptions.Tests/V2FollowUpCoverageTests.cs
  plans/26-v2-subscription-parity.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

V2 parity review fixes - bridge scaffolding + Variant.TryGetValue
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Subscription/Classic/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionBridge.cs
  Tests/Opc.Ua.Subscriptions.Tests/ClassicOnV2EngineBridgeGapTests.cs
  plans/26-v2-subscription-parity.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

DI: wire PackageLoadingType.FileTransfer to ISoftwarePackageStore + add SoftwareUpdateClient.UploadPackageAsync
  Docs/SoftwareUpdate.md
  Libraries/Opc.Ua.Di.Client/SoftwareUpdateClient.Upload.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFacetWiring.cs
  Libraries/Opc.Ua.Di.Server/Builders/SoftwareUpdateFileTransferManager.cs
  Tests/Opc.Ua.Di.Tests/DiInProcessSessionBridge.cs
  Tests/Opc.Ua.Di.Tests/SoftwareUpdateClientUploadIntegrationTests.cs
  Tests/Opc.Ua.Di.Tests/SoftwareUpdateClientUploadTests.cs
  Tests/Opc.Ua.Di.Tests/SoftwareUpdateFileTransferTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
