Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

style: dotnet format analyzers RCS1249 RCS1252
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: dotnet format analyzers RCS0027 RCS0029
  Libraries/Opc.Ua.Server/Fluent/NodeManagerBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua/Types/Extensions/EncodeableFactoryExtensions.cs
  Tests/Opc.Ua.Aot.Tests/HistoryAotTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolver.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: dotnet format analyzers RCS0050 RCS1186
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleBasedIdentity.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Stack/Server/ServerBase.cs
  Tests/Opc.Ua.Client.Tests/Session/DefaultSubscriptionEngineTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/ApplicationConfigurationTests.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(certs): route CertificateManager + GDS push through resolver
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: dotnet format analyzers NUnit2009 NUnit2010
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateWrapperTests.cs
Due: azure-pipelines.yml

docs: add skill.md for the dotnet format cleanup recipe
  Docs/skill.md
Due: none

update
  Docs/skill.md
Due: none

fix(certs): in-memory CertificateIdentifier(cert) fallback in resolver
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(certs): migrate UserIdentity, GDS server, ConsoleReferenceClient off identifier cache
  Applications/ConsoleReferenceClient/Program.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Stack/Opc.Ua.Core/Stack/Client/UserIdentity.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(certs): restore in-memory cert fast-path in resolver LoadPrivateKeyAsync
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 1e: route trust list / validator / SecurityConfiguration through Resolver
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateTrustList.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 2-validator: replace CertificateIdentifier issuer wrappers with CertificateIssuerReference record
  Libraries/Opc.Ua.Client/Session/Session.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateIssuerReference.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateRegistry.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 2-collection + p2-secconfig: refactor CertificateIdentifierCollectionStore + AddTrustedPeer
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 3+4+5: strip CertificateIdentifier cache, migrate consumers, update docs
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/Program.cs
  Docs/CertificateManager.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Schema/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Schema/SecuredApplicationHelpers.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifier.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/SecurityConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateIdentifierTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTest.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/ClientTests.cs
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
  Tests/Opc.Ua.Gds.Tests/Common.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestServer.cs
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(codeql): wrap certificate log args in Redact.Create
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(codeql): wrap StorePath log args in Redact.Create
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Stricter validation and error handling in GDS server
  Applications/ConsoleReferenceServer/Ctt.ReferenceServer.Config.xml
  Applications/ConsoleReferenceServer/GdsNodeManagerFactory.cs
  Applications/ConsoleReferenceServer/Quickstarts.ReferenceServer.Config.xml
  Applications/UAReferenceServer.ctt.xml
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/ApplicationsDatabaseBase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/LinqApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/ParsedNodeId.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(certs): add CertificateValidationResult.ThrowIfInvalid()
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateValidationResult.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationResult.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/CertificateValidationResultTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(certs): clarify default TrustListIdentifier in ValidateAsync
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateValidatorEx.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(certs): replace stale references to removed legacy types
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateValidationOptions.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateLifecycle.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateRegistry.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateValidatorEx.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(certs): partial Phase 9 test gaps (issuer mutation, refcount, AcceptError)
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateValidatorTest.cs
Due: azure-pipelines.yml

test(certs): add coverage for CertificateIdentifierResolver and CertificateIssuerReference
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateIdentifierResolverTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateIssuerReferenceTests.cs
Due: azure-pipelines.yml

refactor(identity): convert IUserIdentityTokenHandler operations to async
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Stack/Opc.Ua.Core/Stack/Types/AnonymousIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/IUserIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/IssuedIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/UserNameIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/X509IdentityTokenHandler.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/UserNameIdentityTokenHandlerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/X509IdentityTokenHandlerTests.cs
  Tests/Opc.Ua.Gds.Tests/CertificateGroupTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(secrets): add Secret/SecretIdentifier/ISecretStore infrastructure
  Stack/Opc.Ua.Core/Security/Secrets/ISecret.cs
  Stack/Opc.Ua.Core/Security/Secrets/ISecretRegistry.cs
  Stack/Opc.Ua.Core/Security/Secrets/ISecretStore.cs
  Stack/Opc.Ua.Core/Security/Secrets/InMemorySecretStore.cs
  Stack/Opc.Ua.Core/Security/Secrets/SecretIdentifier.cs
  Stack/Opc.Ua.Core/Security/Secrets/SecretRegistry.cs
  Tests/Opc.Ua.Core.Tests/Security/Secrets/SecretStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(certs): wire CertificatePasswordProvider through ISecretRegistry
  Stack/Opc.Ua.Core/Security/Certificates/CertificatePasswordProvider.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(certs): add cache-first ICertificateProvider on CertificateManager
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateProvider.cs
  Stack/Opc.Ua.Core/Security/Certificates/ICertificateProvider.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateProviderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(identity): add CertificateIdentifier ctor on X509IdentityTokenHandler
  Stack/Opc.Ua.Core/Stack/Client/UserIdentity.cs
  Stack/Opc.Ua.Core/Stack/Types/X509IdentityTokenHandler.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/X509IdentityTokenHandlerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(identity): drop IDisposable from UserIdentity and IUserIdentityTokenHandler
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/ICertificateManager.cs
  Stack/Opc.Ua.Core/Stack/Client/UserIdentity.cs
  Stack/Opc.Ua.Core/Stack/Types/AnonymousIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/IUserIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/IssuedIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/UserNameIdentityTokenHandler.cs
  Stack/Opc.Ua.Core/Stack/Types/X509IdentityTokenHandler.cs
  Tests/Opc.Ua.Client.Tests/ReconnectWithSavedSessionSecretsTest.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientLockoutIntegrationTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ClientTest.cs
  Tests/Opc.Ua.Client.Tests/Session/DefaultSessionFactoryTests.cs
  Tests/Opc.Ua.Client.Tests/Session/InProcessCertificateProvider.cs
  Tests/Opc.Ua.Client.Tests/Session/ReverseConnectTest.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionExtensionsTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
  Tests/Opc.Ua.Client.Tests/Session/TokenValidatorMock.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Classic/DurableSubscriptionTest.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/UserNameIdentityTokenHandlerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/X509IdentityTokenHandlerTests.cs
  Tests/Opc.Ua.Gds.Tests/AdminCredentialsTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationHelperTests.cs
  Tests/Opc.Ua.Server.Tests/DiagnosticsNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/TrustedApplicationRoleTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(migration): document Phase 10 IUserIdentity refactor
  Docs/MigrationGuide.md
Due: none

test(certs): guard CertificateProvider warm-path assertion behind NET6_0_OR_GREATER
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateProviderTests.cs
Due: azure-pipelines.yml

style(certs): wrap LogInformation call in DirectoryCertificateStore
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

update
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateChangeEvent.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/CertificateEntry.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/DefaultCertificateFactory.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/ICertificateFactory.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/ICertificateIssuer.cs
  Libraries/Opc.Ua.Security.Certificates/CertificateManager/TrustListIdentifier.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/Certificate.cs
  Libraries/Opc.Ua.Security.Certificates/X509Certificate/CertificateBuilder.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateChangeSubject.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateLifecycleMonitor.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style(fmt): batch 1 RCS auto-fix safe set
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateIdentifierResolver.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Core/Security/Certificates/Nonce.cs
  Stack/Opc.Ua.Core/Security/Secrets/InMemorySecretStore.cs
  Tests/Opc.Ua.Aot.Tests/GdsClientAotTests.cs
  Tests/Opc.Ua.Client.Tests/Session/SessionTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Configuration/SecurityConfigManagerAdditionalTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/State/NodeStateTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Types/UserNameIdentityTokenHandlerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/JsonNetworkMessageTests.cs
  Tests/Opc.Ua.Server.Tests/AggregatorsTests.cs
  Tests/Opc.Ua.Server.Tests/CountAggregateCalculatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style(fmt): batch 2 RCS structural (RCS1181, RCS1189)
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateManager/CertificateManagerTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/HttpsTransportListenerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style(fmt): batch 3 RCS manual triage (RCS1130, RCS1213)
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPubSubConfiguratorCrudTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
Due: azure-pipelines.yml

style(fmt): batch 4 NUnit (NUnit2010, NUnit2014, NUnit2043, NUnit2046, NUnit4002)
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionBuilderTests.cs
  Tests/Opc.Ua.Client.Tests/ClientBuilder/ManagedSessionSubscriptionManagerIntegrationTests.cs
  Tests/Opc.Ua.Client.Tests/Session/BrowserTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
  Tests/Opc.Ua.Configuration.Tests/ConfigurationRoundTripTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/DirectoryCertificateStoreTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Buffers/ArraySegmentStreamTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/Server/EndpointBaseTests.cs
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateWrapperTests.cs
  Tests/Opc.Ua.Server.Tests/AggregatorsTests.cs
  Tests/Opc.Ua.Server.Tests/CommonTestWorkers.cs
  Tests/Opc.Ua.Server.Tests/CountAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/BrowsePathResolverTests.cs
  Tests/Opc.Ua.Server.Tests/MinMaxAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/ReferenceServerTest.cs
  Tests/Opc.Ua.Server.Tests/ServerInternalDataTests.cs
  Tests/Opc.Ua.Server.Tests/StartEndAggregateCalculatorTests.cs
  Tests/Opc.Ua.Server.Tests/SubscriptionLifecycleTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/ExpandedNodeIdTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/NodeIdTests.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/QualifiedNameTests.cs
Due: azure-pipelines.yml

style(fmt): batch 10 CA2025 false-positive suppressions
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Tests/Opc.Ua.Client.Tests/ReconnectWithSavedSessionSecretsTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix access
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeManagerGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/TestModel.csv
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Resources/TestModel.xml
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
Due: azure-pipelines.yml

style(fmt): batch 11 CA2213 + CA1001 disposable patterns
  Applications/ConsoleReferencePublisher/PublishedValuesWrites.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientProtocolConfiguration.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttMetadataPublisher.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpDiscoverySubscriber.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
  Stack/Opc.Ua.Core/Stack/Https/HttpsTransportChannel.cs
  Tests/Opc.Ua.Client.Tests/ReconnectWithSavedSessionSecretsTest.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/MonitoredItemBenchmarks.cs
  Tests/Opc.Ua.Server.Tests/ServerFixture.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style(fmt): batch 12 CA2007 file-level suppressions in test projects
  Tests/Opc.Ua.Client.Tests/Session/ConnectionStateMachineTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MessageProcessorTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/MonitoredItemManagerTests.cs
  Tests/Opc.Ua.Configuration.Tests/ApplicationInstanceTests.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Server.Tests/CreateSessionApplicationUriValidationTests.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
