Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

sample(redundancy): demonstrate strong (Raft) consistency in RedundantServer (rw-C)
  Applications/RedundantServer/Program.cs
  Applications/RedundantServer/README.md
  Applications/RedundantServer/RedundantServer.csproj
  Applications/RedundantServer/docker-compose.raft.yml
Due: azure-pipelines.yml

docs(redundancy): document CreateCluster + UseKubernetesRaftConsensus multi-node wiring (rw-A3)
  Docs/HighAvailability.md
  Docs/HighAvailabilityKubernetes.md
  Libraries/Opc.Ua.Redundancy.K8s/NugetREADME.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

test(redundancy): cover K8s durable file-WAL Raft path (rw-D)
  Tests/Opc.Ua.Redundancy.K8s.Tests/KubernetesRaftBuilderExtensionsTests.cs
Due: azure-pipelines.yml

Rename option to AllowCertificateDownload; focus key-size tests
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateValidationCore.cs
  Stack/Opc.Ua.Security.Certificates/CertificateManager/CertificateValidationOptions.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add CertificateEntryCollection edge-case tests (null-check, enumerators, idempotent dispose)
  Tests/Opc.Ua.Security.Certificates.Tests/CertificateManager/CertificateEntryTests.cs
Due: azure-pipelines.yml

Fix CI cert failures: restore master's FindApplicationCertificateAsync in LoadInstanceCertificateAsync
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Promote V2 SubscriptionManager to ISession.TryGetSubscriptionManager (#3925)
  Docs/Sessions.md
  Docs/Subscriptions.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.Client/Session/ISession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.Streaming.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSessionOptions.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.PubSub.Adapter/Session/ServerSession.cs
  Tests/Opc.Ua.Client.TestFramework/Extensions.cs
  Tests/Opc.Ua.Sessions.Tests/ManagedSessionReconnectIntegrationTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Chaos/SubscriptionSurvivalChaosTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/ManagedSessionSubscriptionManagerIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionEngineIntegrationTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionTests.cs
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3933 review feedback
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionExtensions.cs
  Libraries/Opc.Ua.PubSub.Adapter/Session/ServerSession.cs
  Tests/Opc.Ua.Subscriptions.Tests/SubscriptionCoverageTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR review: extract continuation-point and sent-message handling
  Applications/RedundantServer/README.md
  Docs/HighAvailability.md
  Docs/Kubernetes.md
  Docs/README.md
  Libraries/Opc.Ua.Redundancy.K8s/NugetREADME.md
  Libraries/Opc.Ua.Redundancy.Server/NugetREADME.md
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionContinuationPoints.cs
  Libraries/Opc.Ua.Server/Subscription/SentMessageQueue.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Tests/Opc.Ua.Server.Tests/SubscriptionLifecycleTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix shared client-certificate handle race on channel reconnect/retry
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(plans): consolidate distributed-HA plans 28-32 into a single remaining-work file
  plans/28-distributed-ha-node-state.md
  plans/28-distributed-ha-remaining.md
  plans/29-distributed-ha-followup.md
  plans/30-distributed-ha-session-security.md
  plans/31-distributed-ha-session-manager.md
  plans/32-distributed-ha-followup-2.md
Due: azure-pipelines.yml

Fix net4x/netstandard2.0 build: replace ArgumentNullException.ThrowIfNull in test helper
  Tests/Opc.Ua.Client.TestFramework/Extensions.cs
Due: azure-pipelines.yml

Cover classic-engine V2-only throw branches to raise PR diff coverage
  Tests/Opc.Ua.Subscriptions.Tests/ManagedSessionSubscriptionManagerIntegrationTests.cs
Due: azure-pipelines.yml

Client: self-heal transient subscription apply + reconnect recreate fallback
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Subscription/MonitoredItemManager.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Load test: size server request pool to the session count
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines.yml

Suppress verified false-positive CA2000/CA2213 in client Session
  Libraries/Opc.Ua.Client/Session/ChannelManagerSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/Session.ChannelManager.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Disable CA2007/CA2000 for test projects (editorconfig)
  .editorconfig
Due: azure-pipelines.yml

feat(redundancy): GetEndpoints load direction across a RedundantServerSet
  Docs/HighAvailability.md
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/BandedServerDirectionPolicy.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/ConstantLoadWeightProvider.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/ILoadWeightProvider.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/IPeerDirectionPublisher.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/IPeerDirectionView.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/IPeerEndpointDirectory.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/IPeerEndpointPublisher.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/IServerDirectionPolicy.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/LoadDirectionBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/LoadDirectionOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/LoadDirectionRandom.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/LoadDirectionStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/PeerDirectionCodec.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/PeerDirectionPublishStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/PeerDirectionRecord.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/PeerEndpointCodec.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/ServerLoadDirector.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/SharedPeerDirectionPublisher.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/SharedPeerDirectionView.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/SharedPeerEndpointDirectory.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/SharedPeerEndpointPublisher.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Server/IGetEndpointsDirector.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/BandedServerDirectionPolicyTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/PeerDirectionViewTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/PeerEndpointDirectoryTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/ServerLoadDirectorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Server: verify ActivateSession client signature outside the global session lock
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Cover ServerSession V2-capability guard branches (PR diff coverage)
  Libraries/Opc.Ua.PubSub.Adapter/Session/ServerSession.cs
  Tests/Opc.Ua.PubSub.Adapter.Tests/ServerSessionCapabilityGuardTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(redundancy): load-direction strong routing, e2e test, sample (R1/R2/R4)
  Applications/RedundantServer/Program.cs
  Applications/RedundantServer/README.md
  Applications/RedundantServer/docker-compose.loaddirection.yml
  Libraries/Opc.Ua.Redundancy.Server/IStrongKeyspaceProvider.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/LoadDirectionBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/LoadDirectionOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/LoadDirection/LoadDirectionStrongKeyspaceProvider.cs
  Libraries/Opc.Ua.Redundancy.Server/RedundancyConsistencyBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy/Raft/HybridSharedKeyValueStore.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/LoadDirectionServerIntegrationTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Redundancy/LoadDirectionStrongRoutingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Make ISubscriptionStore definition-persistence async (breaking)
  Applications/Quickstarts.Servers/DurableSubscription/SubscriptionStore.cs
  Docs/HighAvailability.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/SharedKeyValueSubscriptionStore.cs
  Libraries/Opc.Ua.Server/Subscription/Persistence/ISubscriptionStore.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Tests/Opc.Ua.Aot.Tests/DistributedRedundancyAotTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Subscriptions/SharedKeyValueSubscriptionStoreTests.cs
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add transparent-redundancy worked sample (single virtual endpoint)
  Applications/RedundantServer/Program.cs
  Applications/RedundantServer/README.md
  Applications/RedundantServer/docker-compose.transparent.yml
  Applications/RedundantServer/nginx.transparent.conf
  Docs/HighAvailability.md
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines.yml

Stream variable values in bulk during address-space hydration
  Docs/HighAvailability.md
  Libraries/Opc.Ua.Redundancy.Server/State/AddressSpaceSynchronizer.cs
  Libraries/Opc.Ua.Redundancy.Server/State/INodeStateStore.cs
  Libraries/Opc.Ua.Redundancy.Server/State/InMemoryNodeStateStore.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/InMemoryNodeStateStoreTests.cs
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Server: make CreateSession scale - coalesce diagnostics scan + init outside lock
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

HA hydration: add write sequence + snapshot/delta-log store primitives
  Libraries/Opc.Ua.Redundancy.Server/State/DistributedAddressSpaceStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/State/INodeStateSnapshotStore.cs
  Libraries/Opc.Ua.Redundancy.Server/State/InMemoryNodeStateStore.cs
  Libraries/Opc.Ua.Redundancy.Server/State/NodeStateChange.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/InMemoryNodeStateStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

HA hydration: snapshot fast-path hydration + writer snapshot policy
  Libraries/Opc.Ua.Redundancy.Server/State/AddressSpaceSynchronizer.cs
  Libraries/Opc.Ua.Redundancy.Server/State/DictionaryAddressSpace.cs
  Libraries/Opc.Ua.Redundancy.Server/State/InMemoryNodeStateStore.cs
  Libraries/Opc.Ua.Server/NodeManager/ILocalAddressSpace.cs
  Libraries/Opc.Ua.Server/NodeManager/PredefinedNodesAddressSpace.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Server: scale steady-state publish delivery for many subscriptions
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Test: parameterize the many-sessions load test (500 and 2000)
  Tests/Opc.Ua.Client.TestFramework/ClientTestFramework.cs
  Tests/Opc.Ua.Sessions.Tests/LoadTest.cs
Due: azure-pipelines.yml

HA hydration: snapshot correctness + benchmark tests
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/AddressSpaceSynchronizerTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/SnapshotHydrationBenchmarkTests.cs
Due: azure-pipelines.yml

docs(HA): document snapshot+delta hydration; scope remaining fault-in
  Docs/HighAvailability.md
  plans/28-distributed-ha-remaining.md
Due: azure-pipelines.yml

docs: document server session scalability observations and the 500/2000 load-test cases
  Docs/Benchmarks.md
Due: none

PR feedback: docs, nullable, InternalsVisibleTo, hashing, RaftCs rename
  Applications/RedundantClient/Program.cs
  Applications/RedundantClient/Properties/AssemblyInfo.cs
  Applications/RedundantServer/Program.cs
  Directory.Packages.props
  Docs/HighAvailability.md
  Docs/Kubernetes.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Redundancy.Client/ClientRedundancyServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Redundancy.Client/Opc.Ua.Redundancy.Client.csproj
  Libraries/Opc.Ua.Redundancy.Client/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.Redundancy.K8s/KubernetesRaftBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.K8s/KubernetesRaftConsensusOptions.cs
  Libraries/Opc.Ua.Redundancy.K8s/Opc.Ua.Redundancy.K8s.csproj
  Libraries/Opc.Ua.Redundancy.K8s/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.Redundancy.Server/Opc.Ua.Redundancy.Server.csproj
  Libraries/Opc.Ua.Redundancy.Server/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/RedundantPeer.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/RequestServerStateChangeOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/RequestServerStateChangeStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/Redundancy/ServerRedundancyOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/RedundancyConsistencyBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/RedundancyConsistencyOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Sessions/DistributedSessionManager.cs
  Libraries/Opc.Ua.Redundancy.Server/Sessions/DistributedSessionMirroringBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/State/DistributedAddressSpaceOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/DeterministicEventIdProvider.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/DistributedSubscriptionBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/Subscriptions/SharedKeyValueSubscriptionStore.cs
  Libraries/Opc.Ua.Redundancy/NugetREADME.md
  Libraries/Opc.Ua.Redundancy/Opc.Ua.Redundancy.csproj
  Libraries/Opc.Ua.Redundancy/Properties/AssemblyInfo.cs
  Libraries/Opc.Ua.Redundancy/Raft/DefaultRaftConsensus.cs
  Libraries/Opc.Ua.Server/NodeManager/NodeStateLookupExtensions.cs
  Tests/Opc.Ua.Aot.Tests/RaftAotTests.cs
  Tests/Opc.Ua.Redundancy.K8s.Tests/KubernetesRaftBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.K8s.Tests/KubernetesServerBuilderExtensionsTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RaftCsClusterTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Raft/RaftCsConsensusTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback: rename Crdt-prefixed classes to Replicated
  Libraries/Opc.Ua.Redundancy.Client/ClientRedundancyServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Redundancy.Client/NugetREADME.md
  Libraries/Opc.Ua.Redundancy.Server/RedundancyConsistencyOptions.cs
  Libraries/Opc.Ua.Redundancy.Server/ReplicatedServerBuilderExtensions.cs
  Libraries/Opc.Ua.Redundancy.Server/Sessions/ReplicatedSessionManagerFactory.cs
  Libraries/Opc.Ua.Redundancy.Server/State/ReplicatedAddressSpaceStartupTask.cs
  Libraries/Opc.Ua.Redundancy.Server/State/ReplicatedAddressSpaceSynchronizer.cs
  Libraries/Opc.Ua.Redundancy/NugetREADME.md
  Libraries/Opc.Ua.Redundancy/Raft/HybridSharedKeyValueStore.cs
  Libraries/Opc.Ua.Redundancy/Raft/RaftSharedKeyValueStore.cs
  Libraries/Opc.Ua.Redundancy/Raft/RedundancyConsistencyMode.cs
  Libraries/Opc.Ua.Redundancy/ReplicatedSharedKeyValueStore.cs
  Tests/Opc.Ua.Aot.Tests/ReplicatedAotTests.cs
  Tests/Opc.Ua.Redundancy.Client.Tests/ReplicatedClientKeyValueStoreTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/AddressSpace/InMemoryNodeStateStoreTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Sessions/ReplicatedSessionManagerFactoryTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/Sessions/ReplicatedSharedKeyValueStoreTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/ReplicatedAddressSpaceStartupTaskTests.cs
  Tests/Opc.Ua.Redundancy.Server.Tests/State/ReplicatedAddressSpaceSynchronizerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback: canonical active/passive compose + client monitors replicated value
  Applications/RedundantClient/Program.cs
  Applications/RedundantServer/README.md
  Applications/RedundantServer/docker-compose.active-passive.yml
  Applications/RedundantServer/docker-compose.loaddirection.yml
  Applications/RedundantServer/docker-compose.raft.yml
  Docs/HighAvailability.md
Due: azure-pipelines.yml

PR feedback: remove dead codecov ignore entries for Kubernetes IO
  codecov.yml
Due: azure-pipelines.yml

Server: do not record a brute-force auth attempt for non-authentication activate failures
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Client: use bounded exponential backoff in the publish worker
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs: drop the Bottlenecks table from the session-scalability section
  Docs/Benchmarks.md
Due: none
