Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

P5 + P6 + P9: DI builder extensions for §5.15 / §5.4 / §10.6
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderLifetimeExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderSupportInfoExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilderTypeExtensions.cs
  Libraries/Opc.Ua.Di.Server/Builders/LifetimeIndicationKind.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderLifetimeExtensionsTests.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderSupportInfoExtensionsTests.cs
  Tests/Opc.Ua.Di.Tests/DeviceBuilderTypeExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

P12: docs consolidation
  Docs/CompanionSpecLibraries.md
  Docs/DeviceIntegration.md
  Docs/ModelDependencies.md
  Docs/README.md
Due: none

Pass managed-pool config as template parameters
  .azurepipelines/ci.yml
  .azurepipelines/preview.yml
  .azurepipelines/sln.yml
  .azurepipelines/test-aot.yml
  .azurepipelines/test.yml
  .azurepipelines/testcc.yml
  azure-pipelines-preview.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Bound assembly-level finalizer sweep with a 30s watchdog
  Tests/Opc.Ua.Aot.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Client.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Configuration.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Core.Security.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Core.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Features.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Gds.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.History.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.InformationModel.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Lds.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.PubSub.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Security.Certificates.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  Tests/Opc.Ua.Server.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Sessions.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Stress.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Subscriptions.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Test.Common/LeakDetectionHelpers.cs
Due: azure-pipelines.yml

C7 phases A-E: cross-assembly model snapshot foundation
  Stack/Opc.Ua.Types/Attributes/ModelSnapshotAttribute.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Snapshot/ModelSnapshotV1Tests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelGeneratorTests.cs
  Tests/Opc.Ua.SourceGeneration.Tests/ModelSnapshotScannerTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelSnapshotGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Snapshot/ModelSnapshotV1.cs
  Tools/Opc.Ua.SourceGeneration/ReferencedModelSnapshotScanner.cs
  plans/C7-cross-assembly-model-snapshot.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix TypeInfo for generic IEncodeable types (#3801)
  Tests/Opc.Ua.Types.Tests/BuiltIn/TypeInfoTests.cs
Due: azure-pipelines.yml

Source-generate event-record decoders alongside records
  Docs/AlarmsAndConditions.md
  Libraries/Opc.Ua.Client/Alarms/AlarmEventDecoder.cs
  Stack/Opc.Ua.Core/Stack/Client/EventRecordDecoderRegistry.cs
  Stack/Opc.Ua.Core/Stack/Client/EventRecordFieldReaders.cs
  Tests/Opc.Ua.Core.Tests/Stack/Client/EventRecordDecoderRegistryTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordTemplates.cs
  plans/EventRecordDecoderGenerator.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

C7 Phase F: validator integration for cross-assembly snapshots
  Applications/MinimalPumpServer/MinimalPumpServer.csproj
  Tools/Opc.Ua.SourceGeneration.Core/DesignFile.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.SnapshotImport.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelSourceGenerator.cs
Due: azure-pipelines.yml

Drop warm-up interval in ValidateMetaDataUpdateTimeNonZeroIsSentPeriodically
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
Due: azure-pipelines.yml

C7 Phase G (partial): extend snapshot wire format with InstanceDesign children
  Applications/MinimalPumpServer/MinimalPumpServer.csproj
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Snapshot/ModelSnapshotV1Tests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelSnapshotGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.SnapshotImport.cs
  Tools/Opc.Ua.SourceGeneration.Core/Snapshot/ModelSnapshotV1.cs
Due: azure-pipelines.yml

Sub-state machines + per-transition guards for state-machine builder
  Docs/StateMachines.md
  Libraries/Opc.Ua.Client/StateMachines/FiniteStateMachineTypeClientExtensions.cs
  Libraries/Opc.Ua.Client/StateMachines/StateMachineSnapshot.cs
  Libraries/Opc.Ua.Server/StateMachines/FluentFiniteStateMachineState.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
  Stack/Opc.Ua.Core/Stack/Client/EventRecordDecoderRegistry.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/SubStateMachineClientTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderGuardTests.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderSubStateTests.cs
  plans/StateMachineSubStatesAndGuards.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Mark OldMessagesAbandonedAfterRepublishTimeoutInSequentialModeAsync as [Explicit]
  Tests/Opc.Ua.Client.Tests/Subscription/Classic/SubscriptionUnitTests.cs
Due: azure-pipelines.yml

Cover the OldMessagesAbandoned scenario against the V2 subscription engine
  Tests/Opc.Ua.Client.Tests/Subscription/MessageProcessorTests.cs
Due: azure-pipelines.yml

Part 16 state machines v2: transitive sub-SM observation + typed Object-child accessors
  Docs/StateMachines.md
  Libraries/Opc.Ua.Client/StateMachines/FiniteStateMachineTypeClientExtensions.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/SubStateMachineClientTests.cs
  Tests/Opc.Ua.Client.Tests/StateMachines/TypedObjectChildAccessorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
  plans/StateMachineV2.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

C7 Phase G close-out: full DI NodeSet2 removal from MinimalPumpServer
  Applications/MinimalPumpServer/MinimalPumpServer.csproj
  Applications/MinimalPumpServer/Model/Opc.Ua.Di.NodeSet2.xml
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Snapshot/ModelSnapshotV1Tests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ModelSnapshotGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Schema/ModelDesignValidator.SnapshotImport.cs
  Tools/Opc.Ua.SourceGeneration.Core/Snapshot/ModelSnapshotV1.cs
  Tools/Opc.Ua.SourceGeneration/CompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/OPCFoundation.Opc.Ua.SourceGeneration.props
  plans/C7-G-closeout.md
Due: azure-pipelines.yml

G2: enable two previously-ignored P4 identity tests
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Tests/Opc.Ua.Client.Tests/Session/DefaultClientIdentityProviderTests.cs
  Tests/Opc.Ua.Client.Tests/Session/ProactiveRefreshTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

G1: wire identity authenticators in GdsServerHostedService
  Docs/DependencyInjection.md
  Docs/IdentityProviders.md
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsServerHostedService.cs
  Libraries/Opc.Ua.Server/Opc.Ua.Server.csproj
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsIdentityForwardingTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsServerHostedServiceTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

P5: migrate in-box samples to identity-provider registry
  Applications/ConsoleReferenceClient/ConnectTester.cs
  Applications/ConsoleReferenceClient/Program.cs
  Applications/ConsoleReferenceClient/UAClient.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Server/Session/ISessionManager.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Tests/Opc.Ua.Client.TestFramework/TokenValidatorMock.cs
  Tests/Opc.Ua.Gds.Tests/GdsTestFixture.cs
  Tests/Opc.Ua.Server.Tests/Session/ImpersonateUserObsoleteWarningTest.cs
  Tests/Opc.Ua.Server.Tests/SessionManagerRoleResolutionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix NUnit4002: use Is.Zero instead of Is.EqualTo(0)
  Tests/Opc.Ua.Client.Tests/Subscription/MessageProcessorTests.cs
Due: azure-pipelines.yml

P8: documentation finalization + sibling-package design notes
  Docs/AuthorizationService.md
  Docs/DependencyInjection.md
  Docs/GDS.md
  Docs/IdentityProviders.AspNetCore.md
  Docs/IdentityProviders.Entra.md
  Docs/IdentityProviders.Oidc.md
  Docs/IdentityProviders.Windows.md
  Docs/IdentityProviders.md
  Docs/KeyCredentialService.md
  Docs/MigrationGuide.md
  Docs/README.md
  Docs/RoleBasedUserManagement.md
Due: none

P6: modern Part 12 v1.05 AuthorizationService.StartRequestToken flow
  Docs/AuthorizationService.md
  Docs/GDS.md
  Libraries/Opc.Ua.Gds.Client.Common/AuthorizationServiceClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/GdsAccessTokenProvider.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/AuthorizationServiceManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/AuthorizationServiceOptions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsServerHostedService.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Libraries/Opc.Ua.Gds.Server.Common/IAccessTokenProvider.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/EcdsaJwtIssuer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/InMemoryAccessTokenProvider.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/EcdsaJwtIssuerTests.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationService/StartRequestTokenTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

P7: KeyCredential Push model + experimental bridge authenticator
  Docs/KeyCredentialService.md
  Libraries/Opc.Ua.Client/Identity/GdsKeyCredentialAccessTokenProvider.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Configuration/IConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Hosting/KeyCredentialPushOptions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Identity/Authenticators/KeyCredentialBridgeAuthenticator.cs
  Libraries/Opc.Ua.Server/Identity/Authenticators/KeyCredentialBridgeOptions.cs
  Libraries/Opc.Ua.Server/KeyCredential/IKeyCredentialStore.cs
  Libraries/Opc.Ua.Server/KeyCredential/InMemoryKeyCredentialStore.cs
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredential.cs
  Libraries/Opc.Ua.Server/KeyCredential/KeyCredentialPushSubject.cs
  Tests/Opc.Ua.Gds.Tests/KeyCredential/KeyCredentialEndToEndTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/KeyCredentialBridgeAuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/KeyCredential/KeyCredentialPushTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

G3: restore ApplicationSelfAdmin via IIdentityAugmenter provider model
  Docs/DependencyInjection.md
  Docs/GDS.md
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/GdsServerHostedService.cs
  Libraries/Opc.Ua.Gds.Server.Common/Hosting/OpcUaGdsServerBuilderExtensions.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/GdsApplicationSelfAdminProvider.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerIdentityAugmenterRegistration.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
  Stack/Opc.Ua.Core/Security/Identity/IIdentityAugmenter.cs
  Stack/Opc.Ua.Core/Security/Identity/IServerIdentityRegistry.cs
  Stack/Opc.Ua.Core/Security/Identity/IUserTokenAuthenticator.cs
  Stack/Opc.Ua.Core/Security/Identity/ServerIdentityRegistry.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/ServerIdentityRegistryAugmenterTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsServerHostedServiceTests.cs
  Tests/Opc.Ua.Gds.Tests/Identity/GdsApplicationSelfAdminProviderTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/JwtAuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/UserNamePasswordAuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/X509AuthenticatorTests.cs
  Tests/Opc.Ua.Server.Tests/Roles/AccessTokenRoleCriteriaTests.cs
  Tests/Opc.Ua.Server.Tests/Roles/ClaimsTestIdentity.cs
  Tests/Opc.Ua.Server.Tests/Roles/GroupIdCriteriaTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3808 review feedback round 2
  Applications/MinimalPumpServer/README.md
  Docs/CompanionSpecLibraries.md
  Docs/DeviceIntegration.md
  Docs/SourceGeneratedNodeManagers.md
  Libraries/Opc.Ua.Di.Client/DiDiscoveryClient.cs
  Libraries/Opc.Ua.Di.Client/Hosting/DiDiscoveryService.cs
  Libraries/Opc.Ua.Di.Client/Hosting/IDiDiscoveryService.cs
  Libraries/Opc.Ua.Di.Server/Topology/DiDeviceTopology.cs
  Tests/Opc.Ua.Di.Tests/DiDiscoveryClientTests.cs
  Tests/Opc.Ua.Di.Tests/DiDiscoveryServiceTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3805 review feedback
  Docs/MigrationGuide.md
  Docs/ModelChangeTracking.md
  Docs/StateMachines.md
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
  Tests/Opc.Ua.Server.Tests/StateMachines/StateMachineBuilderLifecycleTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use Array.Sort instead of Enumerable.Order for cross-framework PubSub tests
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttJsonNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/MqttUadpNetworkMessageTests.cs
Due: azure-pipelines.yml

B1 P3: Fluent state-machine builder
  Docs/README.md
  Docs/StateMachineBuilder.md
  Libraries/Opc.Ua.Server/Fluent/IStateMachineBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/StateMachineBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/StateMachineBuilderExtensions.cs
  Tests/Opc.Ua.Server.Tests/Fluent/StateMachineBuilderExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI failures on PR #3805
  Libraries/Opc.Ua.Client/StateMachines/FiniteStateMachineTypeClientExtensions.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilderExtensions.cs
  Stack/Opc.Ua.Core/Stack/Client/EventRecordDecoderRegistry.cs
  Stack/Opc.Ua.Core/Stack/Client/ObjectTypeClient.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/CompilerUtils.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/ObjectTypeProxyTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

R1: catch up identity validation tests
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsIdentityForwardingTests.cs
Due: azure-pipelines.yml

B2 P8: TransferServices (DI §10.4 parameter set transfer)
  Libraries/Opc.Ua.Di.Server/Transfer/DefaultTransferService.cs
  Libraries/Opc.Ua.Di.Server/Transfer/ITransferService.cs
  Libraries/Opc.Ua.Di.Server/Transfer/ParameterSet.cs
  Libraries/Opc.Ua.Di.Server/Transfer/TransferServicesExtensions.cs
  Tests/Opc.Ua.Di.Tests/DefaultTransferServiceTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

B3 P7: SoftwareFolder (DI §10.3.5 multi-version repository)
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/ISoftwareFolder.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/MemorySoftwareFolder.cs
  Tests/Opc.Ua.Di.Tests/MemorySoftwareFolderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

R2a: adopt rubber-duck critique fixes
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/EcdsaJwtIssuer.cs
  Libraries/Opc.Ua.Gds.Server.Common/Identity/GdsApplicationSelfAdminProvider.cs
  Libraries/Opc.Ua.Server/Identity/Authenticators/KeyCredentialBridgeAuthenticator.cs
  Stack/Opc.Ua.Core/Security/Identity/IIdentityAugmenter.cs
  Stack/Opc.Ua.Core/Security/Identity/ServerIdentityRegistry.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/ServerIdentityRegistryAugmenterTests.cs
  Tests/Opc.Ua.Core.Tests/Security/Identity/ServerIdentityRegistryTests.cs
  Tests/Opc.Ua.Gds.Tests/Hosting/GdsServerHostedServiceTests.cs
  Tests/Opc.Ua.Gds.Tests/Identity/GdsApplicationSelfAdminProviderTests.cs
  Tests/Opc.Ua.Server.Tests/Identity/KeyCredentialBridgeAuthenticatorTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

B4 (partial) P10: Onboarding ticket store
  Libraries/Opc.Ua.Di.Server/Onboarding/ITicketStore.cs
  Libraries/Opc.Ua.Di.Server/Onboarding/MemoryTicketStore.cs
  Tests/Opc.Ua.Di.Tests/MemoryTicketStoreTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix memory leak: dispose linked CancellationTokenSource in ChannelAsyncOperation.EndAsync (#3812)
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

R3: preserve database-assigned roles in ReferenceServer.VerifyPassword
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
Due: azure-pipelines.yml

PR feedback (marcschier): docs cleanup
  Docs/AuthorizationService.md
  Docs/GDS.md
  Docs/IdentityProviders.AspNetCore.md
  Docs/IdentityProviders.Entra.md
  Docs/IdentityProviders.Oidc.md
  Docs/IdentityProviders.Windows.md
  Docs/IdentityProviders.md
  Docs/KeyCredentialService.md
  Docs/MigrationGuide.md
  Docs/README.md
Due: none

B4.1: DeviceRegistrar wiring + IManagedApplicationRegistry
  Libraries/Opc.Ua.Di.Server/Onboarding/DeviceRegistrarAdminExtensions.cs
  Libraries/Opc.Ua.Di.Server/Onboarding/IManagedApplicationRegistry.cs
  Libraries/Opc.Ua.Di.Server/Onboarding/MemoryManagedApplicationRegistry.cs
  Tests/Opc.Ua.Di.Tests/DeviceRegistrarAdminExtensionsTests.cs
  Tests/Opc.Ua.Di.Tests/MemoryManagedApplicationRegistryTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

B2.1: DiTransferClient — client-side TransferServicesType wrapper
  Libraries/Opc.Ua.Di.Client/DiTransferClient.cs
  Tests/Opc.Ua.Di.Tests/DiTransferClientTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Style: convert expression-body methods to block body in AlarmClient
  Libraries/Opc.Ua.Client/Alarms/AlarmClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
