Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'Stack/' 
    - 'Libraries/' 

stages:
- stage: nugetpreview
  displayName: 'Push Nuget Preview'
  jobs:
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/preview.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'

azure-pipelines.yml:

# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'Docs/*' 
    - 'README.md' 

pr: 
  autoCancel: 'true'
  branches:
    include:
    - '*'
  paths:
    include:
    - '*' 

variables:
  FullBuild: ${{ or(ne(variables['Build.Reason'], 'PullRequest'), ne(variables['System.PullRequest.IsFork'], 'False')) }}
  ScheduledBuild: ${{ eq(variables['Build.Reason'], 'Schedule') }}

stages:
- stage: build
  displayName: 'Build .NET Core Samples'
  jobs:
  - template: .azurepipelines/ci.yml
- stage: buildnohttps
  dependsOn: []
  displayName: 'Build NoHttps .NET Core Samples'
  condition: ne(variables.FullBuild, 'False')
  jobs:
  - template: .azurepipelines/ci.yml
    parameters:
      buildoption: '-p:NoHttps=true'
      agents: '@{ linux = "ubuntu-22.04" }'
- stage: solutions
  dependsOn: []
  displayName: 'Build Solutions'
  jobs:
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2022'
      jobnamesuffix: win2022
  - template: .azurepipelines/sln.yml
    parameters:
      poolImage: 'windows-2019'
      jobnamesuffix: win2019
- stage: testrelease
  dependsOn: [build]
  displayName: 'Test Core and SDK Release'
  condition: and(succeeded(), ne(variables.FullBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net462
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net462
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net48
      agents: '@{ windows = "windows-2019" }'
      jobnamesuffix: net48  
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: netcoreapp3.1
      jobnamesuffix: core3
- stage: test6release
  dependsOn: [build]
  displayName: 'Test .NET 6 Core and SDK Release'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-22.04"; mac = "macOS-12"}'
      jobnamesuffix: net60
- stage: testreleasepr
  dependsOn: []
  displayName: 'Fast PR Test Core and SDK Release'
  condition: and(eq(variables.FullBuild, 'False'), eq(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      configuration: Release
      framework: net6.0
      agents: '@{ windows = "windows-2022"; linux="ubuntu-20.04"}'
      jobnamesuffix: net60pr
- stage: testdebug
  dependsOn: [build]
  displayName: 'Test Core and SDK Debug'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/test.yml
    parameters:
      framework: netcoreapp3.1
      configuration: Debug
- stage: coverage
  dependsOn: [testdebug,testrelease]
  displayName: 'Code Coverage'
  condition: and(succeeded(), ne(variables.ScheduledBuild, 'False'))
  jobs:
  - template: .azurepipelines/testcc.yml
    parameters:
      configuration: Release
      poolImage: 'ubuntu-20.04'
      jobnamesuffix: netcore31

bump version
  version.json
Due: azure-pipelines.yml

revert change for other PR
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

updated testcase and fixed Threadlocal case
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines.yml

EscapeString updated evaluating the benchmark results
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

cleanup
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

more cleanup
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fixed formating
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Remove lock from IServiceMessageContext (#2532)
  Stack/Opc.Ua.Core/Types/Utils/IServiceMessageContext.cs
  Stack/Opc.Ua.Core/Types/Utils/ServiceMessageContext.cs
  version.json
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Typos in names of functions. Breaking change! (#2523)
  Applications/ClientControls.Net4/Configuration/CertificateListCtrl.cs
  Applications/ClientControls.Net4/Configuration/CertificateListFilter.cs
  Applications/ClientControls.Net4/Configuration/Common (OLD)/GuiUtils.cs
  Applications/ClientControls.Net4/Configuration/ViewCertificateDlg.cs
  Applications/ClientControls.Net4/Endpoints/ConfiguredServerDlg.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Client.Common/CertificateWrapper.cs
  Libraries/Opc.Ua.Gds.Client.Common/RegisteredApplicationExtensions.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateValidator.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Tests/Opc.Ua.Configuration.Tests/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateFactoryTest.cs
  Tests/Opc.Ua.Core.Tests/Security/Certificates/CertificateStoreTypeTest.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncodeableTests.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.Gds.Tests/X509TestUtils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

highlight code fix links
  Docs/RoleBasedUserManagement.md
Due: none

fix linebreaks
  Docs/RoleBasedUserManagement.md
Due: none

updated to use escape string inline version instead of index version and changed .net conditionals supporting Span<T>
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fixed warnings (CA1305) related to ToString() method
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/JsonEncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolverTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
Due: azure-pipelines.yml

cleanup
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fixed WriteSpan and test conditional
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Improve JsonEncoder.EscapeString and fix test warnings for ToString() (#2527)
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/TypeSystemClientTest.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/JsonEncoderTests.cs
  Tests/Opc.Ua.Client.ComplexTypes.Tests/Types/MockResolverTests.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fixed missed update from merge
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

document role based user mangement (#2528)
  Docs/README.md
  Docs/RoleBasedUserManagement.md
  README.md
Due: none

remove second identity policy get -> should never be null after the first call
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

reuse the identity policy in the reconnect that has been used in the connect (#2526)
  Applications/ConsoleReferenceClient/UAClient.cs
  Libraries/Opc.Ua.Client/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

updated benchmark for const vs static readonly scenario
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
Due: azure-pipelines.yml

deprecated netstandard20
  .azurepipelines/signlistDebug.txt
  .azurepipelines/signlistRelease.txt
  Docs/PlatformBuild.md
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  Tests/customtest.bat
  azure-pipelines.yml
  targets.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

reverting as per review suggestion
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
Due: azure-pipelines.yml

push minor code cleanup
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/GdsRole.cs
  Tests/Opc.Ua.Gds.Tests/ClientTest.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

check on some warnings
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/LinqApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoveryServerConfiguration.cs
  Libraries/Opc.Ua.Gds.Server.Common/ICertificateGroup.cs
  Stack/Opc.Ua.Core/Security/Certificates/X509Utils.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Deprecate .NET Standard 2.0 from Nuget packages and builds (#2533)
  .azurepipelines/signlistDebug.txt
  .azurepipelines/signlistRelease.txt
  Docs/PlatformBuild.md
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  Tests/customtest.bat
  azure-pipelines.yml
  targets.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

use discard for unused parameter
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

small cleanup
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
Due: azure-pipelines.yml

fix Guids
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

targtes
  targets.props
Due: azure-pipelines.yml

fix GDSTestClient
  Libraries/Opc.Ua.Gds.Server.Common/CertificateGroup.cs
  Tests/Opc.Ua.Gds.Tests/GlobalDiscoveryTestClient.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

remove extra lines
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Only call JsonEncoder.EscapeString from WriteSimpleField if necessary (#2530)
  Libraries/Opc.Ua.Configuration/Opc.Ua.Configuration.csproj
  Libraries/Opc.Ua.Security.Certificates/Opc.Ua.Security.Certificates.csproj
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/JsonEncoderBenchmarks.cs
  Tests/Opc.Ua.Security.Certificates.Tests/Opc.Ua.Security.Certificates.Tests.csproj
  targets.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

improve calls to authorizationHelper to be cleaner
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add JSON encoding.
  Stack/Opc.Ua.Core/Security/Constants/SecurityConstants.cs
  Stack/Opc.Ua.Core/Stack/Server/SecureChannelContext.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

polish
  Libraries/Opc.Ua.Client/Session.cs
  Libraries/Opc.Ua.Client/SessionAsync.cs
  Libraries/Opc.Ua.Client/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

revert asenumerable
  Libraries/Opc.Ua.Client/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix errors introduced in JsonEncoder by merge into master.
  Stack/Opc.Ua.Core/Opc.Ua.Core.csproj
  Stack/Opc.Ua.Core/Types/Encoders/JsonEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml
