Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md

Batch I: Remove trailing commas (RCS1260)
  Libraries/Opc.Ua.Client/AliasNames/AliasNameResolver.cs
  Libraries/Opc.Ua.Client/AliasNames/AliasNameResolverOptions.cs
  Libraries/Opc.Ua.Client/AliasNames/Refresh/MonitoredItemAliasNameRefreshStrategy.cs
  Libraries/Opc.Ua.Client/Roles/RoleManagementClient.cs
  Libraries/Opc.Ua.Server/AliasNames/PubSub/AliasNamePublisher.cs
  Libraries/Opc.Ua.Server/AliasNames/PubSub/AliasUpdateDataSetFactory.cs
  Libraries/Opc.Ua.Server/AliasNames/PubSub/ServerPortableNodeIdResolver.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/AliasNameResolverTests.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/PubSub/AliasNamePubSubBridgeTests.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/Refresh/MonitoredItemAliasNameRefreshStrategyIntegrationTests.cs
  Tests/Opc.Ua.Client.Tests/AliasNames/Refresh/MonitoredItemAliasNameRefreshStrategySignAndEncryptTests.cs
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/AliasNameNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/RoleManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI failures: encoder semantics for default DataValue + source generator template
  Libraries/Opc.Ua.PubSub/Encoding/PubSubJsonEncoder.cs
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Tests/Opc.Ua.Core.Tests/Types/Encoders/EncoderTests.cs
  Tests/Opc.Ua.PubSub.Tests/UaPubSubDataStoreTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/TypeSourceGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: SubscriptionBench plug-in for subscription scale testing
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchView.axaml
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchView.axaml.cs
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/VariablePoolPickerDialog.axaml
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/VariablePoolPickerDialog.axaml.cs
  Applications/Opc.Ua.Lens/ViewModels/IPlugin.cs
  Applications/Opc.Ua.Lens/ViewModels/PluginRegistry.cs
Due: azure-pipelines.yml

Fix flaky PushTest: include domain names in self-signed cert SAN
  Tests/Opc.Ua.Gds.Tests/PushTest.cs
Due: azure-pipelines.yml

UaLens: hide tab body while disconnected so Connect... placeholder is not overlaid
  Applications/Opc.Ua.Lens/Views/MainWindow.axaml
Due: azure-pipelines.yml

feat: use pooled activators for server notification types
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: address-space context menu -> Subscription Bench
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchPlugin.cs
  Applications/Opc.Ua.Lens/ViewModels/MainViewModel.cs
  Applications/Opc.Ua.Lens/Views/AddressSpaceView.axaml
  Applications/Opc.Ua.Lens/Views/AddressSpaceView.axaml.cs
  Applications/Opc.Ua.Lens/Views/MainWindow.axaml.cs
Due: azure-pipelines.yml

Phase 1: Re-run auto-fixers for re-emerged IDE diagnostics
  Libraries/Opc.Ua.Client/AliasNames/AliasNameClient.cs
  Libraries/Opc.Ua.Client/AliasNames/AliasNameResolver.cs
  Libraries/Opc.Ua.Client/FileSystem/FileSystemClient.cs
  Libraries/Opc.Ua.Client/Roles/RoleManagementClient.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Server/AliasNames/InMemoryAliasNameStore.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/FileSystem/FileObjectState.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/AssetRegistry.cs
  Stack/Opc.Ua.Core/Stack/Nodes/ViewTable.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
  Tests/Opc.Ua.Aot.Tests/LeakDetectionSetup.cs
  Tests/Opc.Ua.Client.Tests/FileSystem/FileSystemClientEnumerationTests.cs
  Tests/Opc.Ua.Client.Tests/Roles/RoleManagementClientTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/InMemoryAliasNameStoreTests.cs
  Tests/Opc.Ua.Server.Tests/AliasNames/PubSub/AliasNamePubSubTests.cs
  Tests/Opc.Ua.WotCon.Tests/SimulatedWotAssetProviderTests.cs
  Tests/Opc.Ua.WotCon.Tests/ThingDescriptionJsonTests.cs
  Tests/Opc.Ua.WotCon.Tests/WotConnectivityNodeManagerTests.cs
  Tests/Opc.Ua.WotCon.Tests/WotPropertyMapperTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: notify every plug-in of connect/disconnect transitions
  Applications/Opc.Ua.Lens/Plugins/EventView/EventViewPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/FileSystem/FileSystemPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/GdsManagement/GdsManagementPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/GdsPush/GdsPushPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/Historian/HistorianPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/Performance/PerformancePlugin.cs
  Applications/Opc.Ua.Lens/Plugins/RoleManagement/RoleManagementPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/UserManagement/UserManagementPlugin.cs
  Applications/Opc.Ua.Lens/ViewModels/IPlugin.cs
  Applications/Opc.Ua.Lens/ViewModels/MainViewModel.cs
Due: azure-pipelines.yml

UaLens: show legend on Subscription Bench chart
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchView.axaml.cs
Due: azure-pipelines.yml

Address PR review feedback
  Libraries/Opc.Ua.Gds.Common/readme.md
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/ApplicationsDatabaseBase.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR review: DataValue.Null, IsGood/IsBad properties, cosmetic fixes
  Applications/McpServer/Tools/AttributeServiceTools.cs
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Libraries/Opc.Ua.Client/NodeCache/NodeCacheContext.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/QueueHandler/DataChangeQueueHandler.cs
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Stack/Opc.Ua.Types/BuiltIn/TypeInfo.cs
  Tests/Opc.Ua.Types.Tests/BuiltIn/DataValueTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Obsolete static extension
  Stack/Opc.Ua.Types/BuiltIn/BuiltInType.Obsolete.cs
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR review: reorder DataValue members; move readonly-struct comment to summary
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: two-axis scale-out for Subscription Bench
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchView.axaml
Due: azure-pipelines.yml

PR review: introduce IsNull sentinel on DataValue (default vs explicit empty)
  Stack/Opc.Ua.Types/BuiltIn/DataValue.cs
  Stack/Opc.Ua.Types/BuiltIn/Variant.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: subscription + monitored-item settings on the bench
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchPlugin.cs
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchView.axaml
  Applications/Opc.Ua.Lens/Views/MonitoredItemSettingsDialog.axaml
  Applications/Opc.Ua.Lens/Views/MonitoredItemSettingsDialog.axaml.cs
Due: azure-pipelines.yml

GC reduction via IPooledEncodeable activator pooling (#3793)
  Docs/MigrationGuide.md
  Docs/Sessions.md
  Docs/perf/PooledNotificationBenchmarks.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/ServiceCollectionExtensions.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSessionOptions.cs
  Libraries/Opc.Ua.Client/Subscription/IMessageAckQueue.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionManager.cs
  Libraries/Opc.Ua.Client/Subscription/ISubscriptionNotificationHandler.cs
  Libraries/Opc.Ua.Client/Subscription/MessageProcessor.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Stack/Opc.Ua.Core/Stack/Server/EndpointBase.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Types/Encoders/BoundedObjectPool.cs
  Stack/Opc.Ua.Types/Encoders/IPooledEncodeable.cs
  Stack/Opc.Ua.Types/Encoders/PooledEncodeableType.cs
  Tests/Opc.Ua.Client.Tests/Session/ManagedSessionComplianceTests.cs
  Tests/Opc.Ua.Client.Tests/Subscription/Fakes/FakeMessageAckQueue.cs
  Tests/Opc.Ua.Client.Tests/Subscription/PooledNotificationBenchmarks.cs
  Tests/Opc.Ua.Client.Tests/Subscription/PooledNotificationDispatchTests.cs
  Tests/Opc.Ua.Types.Tests/Encoders/PooledEncodeableTypeTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/DataTypeTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR review: pass DataValue as 'in' parameter; remove redundant DataValue? wrappers
  Applications/Quickstarts.Servers/SampleNodeManager/DataChangeMonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/IMonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/QueueHandler/DataChangeQueueHandler.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR review: add DataValue migration section to the migration guide
  Docs/MigrationGuide.md
Due: none

Fix review findings: fail-closed auth check + IGdsUserDatabase
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Gds.Server.Common/IGdsUserDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
  Tests/Opc.Ua.Gds.Tests/AuthorizationHelperTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Restructure GDS documentation with developer guides
  Libraries/Opc.Ua.Gds.Common/AuthorizationService.md
  Libraries/Opc.Ua.Gds.Common/KeyCredentialService.md
  Libraries/Opc.Ua.Gds.Common/readme.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix: update pooling tests and benchmarks for DataValue readonly struct
  Docs/perf/PooledNotificationBenchmarks.md
  Tests/Opc.Ua.Client.Tests/Subscription/PooledNotificationDispatchTests.cs
Due: azure-pipelines.yml

Fix PooledNotificationDispatchTests for readonly struct DataValue
  Tests/Opc.Ua.Client.Tests/Subscription/PooledNotificationDispatchTests.cs
Due: azure-pipelines.yml

Move GDS docs to Docs/ folder and link from README
  Docs/ALiasNames.md
  Docs/AuthorizationService.md
  Docs/GDS.md
  Docs/KeyCredentialService.md
  Docs/README.md
Due: none

Revert GeneratesEvent references in OpcUaGdsModel.xml
  Libraries/Opc.Ua.Gds.Common/Design/OpcUaGdsModel.xml
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Phase 3: Apply remaining RCS analyzer fixers
  Libraries/Opc.Ua.Client/AliasNames/AliasNameClient.cs
  Libraries/Opc.Ua.Client/AliasNames/AliasNameResolver.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsDatabase/LinqApplicationsDatabase.cs
  Libraries/Opc.Ua.Gds.Server.Common/ApplicationsNodeManager.cs
  Libraries/Opc.Ua.Server/AliasNames/AliasNameNodeManager.cs
  Libraries/Opc.Ua.Server/FileSystem/PhysicalFileSystemProvider.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/RoleManager.cs
  Libraries/Opc.Ua.Server/RoleBasedUserManagement/UserManagement/UserManagementBinding.cs
  Libraries/Opc.Ua.WotCon.Server/ThingDescriptions/ThingDescriptionJsonContext.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfiguredEndpoints.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Asymmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Types/BuiltIn/TypeInfo.cs
  Stack/Opc.Ua.Types/Nodes/NodeSet.cs
  Stack/Opc.Ua.Types/State/DataTypeState.cs
  Tests/Opc.Ua.Client.Tests/Roles/RoleManagementIntegrationTests.cs
  Tests/Opc.Ua.Gds.Tests/ApplicationsDatabaseBaseTests.cs
  Tests/Opc.Ua.Server.Tests/Fluent/PublishTests.cs
  Tests/Opc.Ua.WotCon.Tests/Client/FileTypeClientExtensionsTests.cs
  Tests/Opc.Ua.WotCon.Tests/WotConnectivityNodeManagerTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix HasAuthenticatedSecureChannel to match ServerSystemContext
  Libraries/Opc.Ua.Gds.Server.Common/RoleBasedUserManagement/AuthorizationHelper.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: initialize bench IsConnected at ctor time
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchPlugin.cs
Due: azure-pipelines.yml

update
  Stack/Opc.Ua.Types/Utils/ServiceMessageContext.cs
  __pycache__/fix_configure_await.cpython-313.pyc
  common.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

UaLens: switch Subscription Bench to V2 SubscriptionManager API
  Applications/Opc.Ua.Lens/Plugins/SubscriptionBench/SubscriptionBenchPlugin.cs
Due: azure-pipelines.yml

Historian: fluent server-API integration (builder.Variable<T>().Historize())
  Applications/MinimalBoilerServer/BoilerNodeManager.Configure.cs
  Docs/HistoricalAccess.md
  Libraries/Opc.Ua.Server/Fluent/HistorianFluentExtensions.cs
  Tests/Opc.Ua.Server.Tests/Historian/HistorianFluentTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR review: encoder/decoder construction efficiency + ValueChanged 'in' parameter
  Docs/MigrationGuide.md
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Stack/Opc.Ua.Types/Encoders/JsonDecoder.cs
  Stack/Opc.Ua.Types/Encoders/JsonEncoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlDecoder.cs
  Stack/Opc.Ua.Types/Encoders/XmlParser.cs
  Stack/Opc.Ua.Types/State/NodeState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR #3797 review feedback
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Libraries/Opc.Ua.Client/Historian/HistoryClient.Extras.cs
  Tests/Opc.Ua.Aot.Tests/HistoryAotTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix CI: route TestData HistoryRead to its in-memory historian
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
Due: azure-pipelines.yml
