Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

Fix Client.Tests CI flake: poll PublishWorkerCount + idempotent DisposeAsync
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Tests/Opc.Ua.Client.Tests/Subscription/SubscriptionManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PR feedback round 3 batch 2: DI -> Device Integration in docs (#4)
  Docs/DeviceIntegration.md
Due: none

Fix durable transfer flake: await recreate completion after fallback
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Tests/Opc.Ua.Subscriptions.Durable.Tests/SubscriptionDurableTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Opc.Ua.Core (Phase 0+1 of #2458)
  Directory.Packages.props
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateLifecycleMonitor.cs
  Stack/Opc.Ua.Core/Security/Certificates/CertificateManager/CertificateManager.cs
  Stack/Opc.Ua.Core/Security/Identity/Defaults/JwtBearerAccessTokenProvider.cs
  Stack/Opc.Ua.Core/Stack/Configuration/ConfigurationWatcher.cs
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelAsyncOperation.cs
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelToken.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpListenerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpReverseConnectChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpServerChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpTransportListener.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.Symmetric.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryClientChannel.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryTransportChannel.cs
  Stack/Opc.Ua.Core/Stack/Transport/AsyncResultBase.cs
  Stack/Opc.Ua.Core/Types/Utils/TimeProviderExtensions.cs
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
  Tests/Opc.Ua.Core.Tests/Security/Identity/JwksIssuerKeyResolverTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in AlarmConditionState (Phase 2 of #2458)
  Stack/Opc.Ua.Core.Types/Opc.Ua.Core.Types.csproj
  Stack/Opc.Ua.Core.Types/State/AlarmConditionState.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Skills] Add opcua-v20-migration shareable skill under .agents/skills/
  .agents/skills/opcua-v20-migration/README.md
  .agents/skills/opcua-v20-migration/SKILL.md
  .agents/skills/opcua-v20-migration/assets/Directory.Build.targets.example.xml
  .agents/skills/opcua-v20-migration/assets/PackageReference.example.xml
  .agents/skills/opcua-v20-migration/references/analyzer-rules.md
  .agents/skills/opcua-v20-migration/references/compatibility-matrix.md
  .agents/skills/opcua-v20-migration/references/known-gaps.md
  .agents/skills/opcua-v20-migration/references/migration-patterns.md
  .agents/skills/opcua-v20-migration/references/package-install.md
  .agents/skills/opcua-v20-migration/references/runtime-shim.md
  .agents/skills/opcua-v20-migration/references/source-generator.md
  .agents/skills/opcua-v20-migration/scripts/apply-codefixes.ps1
Due: azure-pipelines.yml

[Skills] Remove redundant agent.md; skill now contains all content standalone
  .agents/skills/opcua-v20-migration/README.md
  .agents/skills/opcua-v20-migration/SKILL.md
  .agents/skills/opcua-v20-migration/references/compatibility-matrix.md
  .agents/skills/opcua-v20-migration/references/migration-patterns.md
  .agents/skills/opcua-v20-migration/references/package-install.md
  .github/agents/opcua-v20-migration.agent.md
  UA.slnx
Due: azure-pipelines.yml

Adopt TimeProvider in Server foundation (Phase 3a+b of #2458)
  Libraries/Opc.Ua.Server/Server/ITimeProviderProvider.cs
  Libraries/Opc.Ua.Server/Server/RequestManager.cs
  Libraries/Opc.Ua.Server/Server/ReverseConnectServer.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Stabilize TransferViaSaveLoadV2Async: tolerate transient close codes
  Tests/Opc.Ua.Subscriptions.Tests/TransferSubscriptionTests.cs
Due: azure-pipelines.yml

fix(server-fluent): implement AllowMultipleEventConsumers on AdHoc INodeBuilder shims
  Libraries/Opc.Ua.Server/Fluent/InstanceCreationBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/ReferenceBuilderExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Server subscription pipeline (Phase 3c of #2458)
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/MonitoredItem.cs
  Libraries/Opc.Ua.Server/Subscription/MonitoredItem/QueueHandler/DataChangeQueueHandler.cs
  Libraries/Opc.Ua.Server/Subscription/Subscription.cs
  Stack/Opc.Ua.Core/Types/Utils/TimeProviderExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Server session/lockout (Phase 3d of #2458)
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Libraries/Opc.Ua.Server/Session/ISession.cs
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix NRE race in ModelChangeTracker.StartTrackingAsync
  Libraries/Opc.Ua.Client/ModelChange/ModelChangeTracker.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Server sampling/alarm rate (Phase 3e of #2458)
  Libraries/Opc.Ua.Server/Alarms/AlarmRateTracker.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/MonitoredNode.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroup.cs
  Libraries/Opc.Ua.Server/NodeManager/MonitoredItem/SamplingGroupManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Server diagnostics/configuration/state machines (Phase 3f of #2458)
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/StateMachines/StateMachineBuilder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Server subscription/hosted-service plumbing (Phase 3g of #2458)
  Libraries/Opc.Ua.Server/Hosting/OpcUaServerHostedService.cs
  Libraries/Opc.Ua.Server/ServerUtils.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix OutOfOrderArrivalsReorderedByPriorityChannelAsync flake
  Tests/Opc.Ua.Client.Tests/Subscription/MessageProcessorTests.cs
Due: azure-pipelines.yml

Fix #3768: stop emitting unimplemented Optional children on singleton instances
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Libraries/Opc.Ua.Server/Server/ServerInternalData.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Opc.Ua.Client and add polyfill helpers (Phase 4 of #2458)
  Libraries/Opc.Ua.Client/AliasNames/Refresh/PollingAliasNameRefreshStrategy.cs
  Libraries/Opc.Ua.Client/ComplexTypes/NodeCacheResolver.cs
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Fluent/OpcUaClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/Identity/GdsKeyCredentialAccessTokenProvider.cs
  Libraries/Opc.Ua.Client/ReverseConnectManager.cs
  Libraries/Opc.Ua.Client/Session/DefaultSessionFactory.cs
  Libraries/Opc.Ua.Client/Session/DefaultSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/DefaultSubscriptionEngineFactory.cs
  Libraries/Opc.Ua.Client/Session/ISession.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Client/Session/SessionReconnectHandler.cs
  Libraries/Opc.Ua.Client/Subscription/Classic/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/MessageProcessor.cs
  Libraries/Opc.Ua.Client/Subscription/Subscription.cs
  Libraries/Opc.Ua.Client/Subscription/SubscriptionManager.cs
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Subscription/SessionPublishQueue.cs
  Libraries/Opc.Ua.Server/Subscription/SubscriptionManager.cs
  Stack/Opc.Ua.Core/Types/Utils/TimeProviderExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Opc.Ua.PubSub IntervalRunner pipeline (Phase 5 of #2458)
  Libraries/Opc.Ua.PubSub/IntervalRunner.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttMetadataPublisher.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpDiscoverySubscriber.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPubSubApplication.cs
  Libraries/Opc.Ua.PubSub/UaPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/UaPublisher.cs
  Tests/Opc.Ua.PubSub.Tests/IntervalRunnerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Opc.Ua.PubSub.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(pump-sample): batch A polish — split Configure phases + fluent builder + ad-hoc functional group
  Applications/PumpDeviceIntegrationServer/Program.cs
  Applications/PumpDeviceIntegrationServer/PumpNodeManager.cs
  Docs/DeviceIntegration.md
  Libraries/Opc.Ua.Server/Fluent/FluentNodeManagerBase.cs
  Libraries/Opc.Ua.Server/Fluent/FluentNodeManagerBuilderExtensions.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style(pr-code): batch B - convert arrow-bodied methods to block bodies (=> to {})
  Libraries/Opc.Ua.Di.Client/DiLockClient.cs
  Libraries/Opc.Ua.Di.Client/DiTopologyClient.cs
  Libraries/Opc.Ua.Di.Client/DiTransferClient.cs
  Libraries/Opc.Ua.Di.Server/Builders/DeviceBuilder.cs
  Libraries/Opc.Ua.Di.Server/Hosting/DiPostSetupContext.cs
  Libraries/Opc.Ua.Di.Server/Hosting/OpcUaServerDiBuilderExtensions.cs
  Libraries/Opc.Ua.Di.Server/SoftwareUpdate/FileSystemSoftwareFolder.cs
  Libraries/Opc.Ua.Server/Fluent/InstanceCreationBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/PropertyInitBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/ReferenceBuilderExtensions.cs
  Libraries/Opc.Ua.WotCon.Server/Assets/WotAssetNameValidator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/EventRecordTemplates.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Adopt TimeProvider in Lds.Server, GDS clients, DirectoryCertificateStore, ConnectionStateMachine, ClassicSubscriptionEngine, and PubSub stragglers (Phase 6 of #2458)
  Libraries/Opc.Ua.Client/Session/ClassicSubscriptionEngine.cs
  Libraries/Opc.Ua.Client/Session/ClassicSubscriptionEngineFactory.cs
  Libraries/Opc.Ua.Client/Session/ConnectionStateMachine.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/Session/Session.cs
  Libraries/Opc.Ua.Gds.Client.Common/GlobalDiscoveryServerClient.cs
  Libraries/Opc.Ua.Gds.Client.Common/ServerPushConfigurationClient.cs
  Libraries/Opc.Ua.Lds.Server/LdsServer.cs
  Libraries/Opc.Ua.Lds.Server/RegisteredServerStore.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttClientCreator.cs
  Libraries/Opc.Ua.PubSub/Transport/MqttPubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpDiscoveryPublisher.cs
  Libraries/Opc.Ua.PubSub/Transport/UdpPubSubConnection.cs
  Stack/Opc.Ua.Core/Security/Certificates/DirectoryCertificateStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Migrate remaining HiResClock and new Timer callers to TimeProvider (Phase 7a of #2458)
  Applications/ConsoleReferencePublisher/PublishedValuesWrites.cs
  Applications/Quickstarts.Servers/Alarms/AlarmNodeManager.cs
  Applications/Quickstarts.Servers/Boiler/BoilerState.cs
  Applications/Quickstarts.Servers/MemoryBuffer/MemoryBufferState.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataNodeManager.cs
  Applications/Quickstarts.Servers/TestData/TestDataSystem.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/UaPublisherTests.cs
  Tests/Opc.Ua.Server.Tests/SubscriptionTests.cs
Due: azure-pipelines.yml

Mark HiResClock obsolete and document TimeProvider migration (Phase 7b of #2458)
  Docs/MigrationGuide.md
  Stack/Opc.Ua.Core/Stack/Configuration/ApplicationConfiguration.cs
  Stack/Opc.Ua.Core/Stack/Tcp/ChannelToken.cs
  Stack/Opc.Ua.Core/Stack/Tcp/UaSCBinaryChannel.cs
  Stack/Opc.Ua.Core/Types/Utils/HiResClock.cs
  Stack/Opc.Ua.Core/Types/Utils/TimeProviderExtensions.cs
  Tests/Opc.Ua.Core.Tests/Types/Utils/HiResClock.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Refactor node creation in ConfigurationNodeManager and DiagnosticsNodeManager for improved clarity and consistency
  Libraries/Opc.Ua.Server/Configuration/ConfigurationNodeManager.cs
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

refactor(di-client): batch C-proxy - DiLockClient + DiTransferClient via generated ObjectType proxies
  Libraries/Opc.Ua.Di.Client/DiLockClient.cs
  Libraries/Opc.Ua.Di.Client/DiTransferClient.cs
  Tests/Opc.Ua.Di.Tests/DiLockClientTests.cs
  Tests/Opc.Ua.Di.Tests/DiTransferClientTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix Race condition in OnPublishComplete
  Libraries/Opc.Ua.Client/Session/Session.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Fix-feedback] Address PR #3820 review comments
  .agents/skills/opcua-v20-migration/README.md
  Applications/ConsoleReferenceClient/Program.cs
  Libraries/Opc.Ua.Configuration/ApplicationConfigurationBuilder.cs
  Libraries/Opc.Ua.Configuration/ApplicationInstance.cs
  Libraries/Opc.Ua.Gds.Server.Common/GlobalDiscoverySampleServer.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Stack/Opc.Ua.Core/Stack/Configuration/TraceConfiguration.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Fix-feedback] Trim CollectionShimCatalog to rename-only entries; update docs; wire MigrationAnalyzer into preview.yml
  .agents/skills/opcua-v20-migration/SKILL.md
  .agents/skills/opcua-v20-migration/references/source-generator.md
  Tests/Opc.Ua.MigrationAnalyzer.Tests/Generators/MigrationGeneratorTests.cs
  Tools/Opc.Ua.MigrationAnalyzer.Core/readme.md
  Tools/Opc.Ua.MigrationAnalyzer.Generator/CollectionShimCatalog.cs
  Tools/Opc.Ua.MigrationAnalyzer/NugetREADME.md
  UA Core Library.slnx
Due: azure-pipelines.yml

Make singleton-instance gate transitive for Variable/Method optionals
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Update Profiles.md to document v2 improvements and new security profiles (#3832)
  Docs/Profiles.md
Due: none

[CI] Skip TFM compat check on Core ProjectReference
  Tools/Opc.Ua.MigrationAnalyzer/Opc.Ua.MigrationAnalyzer.csproj
Due: azure-pipelines.yml

feat(types): batch D - relocate IComponentAccessor/IPropertyAccessor to Core + opt-out OmitFluentApi
  Applications/PumpDeviceIntegrationServer/PumpDeviceIntegrationServer.csproj
  Libraries/Opc.Ua.Di/Opc.Ua.Di.csproj
  Libraries/Opc.Ua.Gds.Common/Opc.Ua.Gds.Common.csproj
  Libraries/Opc.Ua.Server/Fluent/INodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/ITypedAccessors.cs
  Libraries/Opc.Ua.Server/Fluent/InstanceCreationBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/NodeBuilder.cs
  Libraries/Opc.Ua.Server/Fluent/ReferenceBuilderExtensions.cs
  Libraries/Opc.Ua.Server/Fluent/TypedAccessorExtensions.cs
  Libraries/Opc.Ua.WotCon/Opc.Ua.WotCon.csproj
  Stack/Opc.Ua.Types/State/TypedAccessors.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/FluentBuilderGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/GeneratorOptions.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/FluentBuilderGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Stack/StackGeneration.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilation.cs
  Tools/Opc.Ua.SourceGeneration/ModelCompilationOptions.cs
  Tools/Opc.Ua.SourceGeneration/OPCFoundation.Opc.Ua.SourceGeneration.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server] Implement NodeManagement service set and fix DeleteAddressSpace
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceNodeManager.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.NodeManagement.cs
  Applications/Quickstarts.Servers/ReferenceServer/ReferenceServer.cs
  Applications/Quickstarts.Servers/SampleNodeManager/SampleNodeManager.cs
  Docs/MigrationGuide.md
  Docs/NodeManagement.md
  Docs/README.md
  Libraries/Opc.Ua.Server/Diagnostics/AuditEvents.cs
  Libraries/Opc.Ua.Server/FileSystem/FileSystemNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/AsyncCustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/CustomNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/IMasterNodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/INodeManager.cs
  Libraries/Opc.Ua.Server/NodeManager/MasterNodeManager.cs
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
  Tests/Opc.Ua.InformationModel.Tests/NodeManagementAddRefTests.cs
  Tests/Opc.Ua.Server.Tests/AsyncCustomNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/NodeManager/AsyncCustomNodeManagerNodeManagementTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[CI] Make AnalyzerHarness work on .NET Framework
  Tests/Opc.Ua.MigrationAnalyzer.Tests/AnalyzerHarness.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
