Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

chore(editorconfig): batch I - lock in NUnit2046, NUnit4002 -> error
  .editorconfig
Due: azure-pipelines.yml

chore(editorconfig): batch J - lock in TUnit0057 -> error
  .editorconfig
Due: azure-pipelines.yml

Docs: merge UnboundedSubscriptions.md into Subscriptions.md (per PR #3874 review)
  Docs/README.md
  Docs/Sessions.md
  Docs/Subscriptions.md
  Docs/UnboundedSubscriptions.md
Due: none

fix(packaging): address PR #3880 review feedback on per-package READMEs
  Applications/Quickstarts.Servers/NugetREADME.md
  Libraries/Opc.Ua.Client.ComplexTypes/NugetREADME.md
  Libraries/Opc.Ua.Client/NugetREADME.md
  Libraries/Opc.Ua.Configuration/NugetREADME.md
  Libraries/Opc.Ua.Di.Client/NugetREADME.md
  Libraries/Opc.Ua.Di.Server/NugetREADME.md
  Libraries/Opc.Ua.Di/NugetREADME.md
  Libraries/Opc.Ua.Gds.Client.Common/NugetREADME.md
  Libraries/Opc.Ua.Gds.Common/NugetREADME.md
  Libraries/Opc.Ua.Gds.Server.Common/NugetREADME.md
  Libraries/Opc.Ua.Lds.Server/NugetREADME.md
  Libraries/Opc.Ua.PubSub/NugetREADME.md
  Libraries/Opc.Ua.Server/NugetREADME.md
  Libraries/Opc.Ua.WotCon.Client/NugetREADME.md
  Libraries/Opc.Ua.WotCon.Server/NugetREADME.md
  Libraries/Opc.Ua.WotCon/NugetREADME.md
  Stack/Opc.Ua.Bindings.Https/NugetREADME.md
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/NugetREADME.md
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/Opc.Ua.Bindings.Kestrel.Tcp.csproj
  Stack/Opc.Ua.Core.Types/NugetREADME.md
  Stack/Opc.Ua.Core/NugetREADME.md
  Stack/Opc.Ua.Security.Certificates/NugetREADME.md
  common.props
Due: azure-pipelines-preview.yml, azure-pipelines.yml

style: fix import ordering surfaced by tightened editorconfig
  Stack/Opc.Ua.Bindings.Pcap/Replay/MockClientReplay.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Chaos/SubscriptionSurvivalChaosTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Contract/RetryBudgetEnforcementTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Integration/FailoverLeaseSwapTests.cs
  Tests/Opc.Ua.Stress.Tests/Channels/Soak/MemoryStabilitySoakTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): AOT trim warning + HTTPS auto-discovery for non-DI fallback path
  Stack/Opc.Ua.Core/Stack/Bindings/DefaultTransportBindingRegistry.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): register in-Core HTTPS channel factories in WithDefaultBindings
  Stack/Opc.Ua.Core/Stack/Bindings/DefaultTransportBindingRegistry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): net48 build - use string.Substring instead of AsSpan in WithDefaultBindings
  Stack/Opc.Ua.Core/Stack/Bindings/DefaultTransportBindingRegistry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Revert SessionManager/Session validation changes to avoid BadSecureChannelIdInvalid on reconnect
  Libraries/Opc.Ua.Server/Session/Session.cs
  Libraries/Opc.Ua.Server/Session/SessionManager.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Split MigrationGuide.md, add What's New in 2.0, rewrite Profiles.md and Landing page (#3745) (#3874)
  .agents/skills/opcua-v20-migration/README.md
  .agents/skills/opcua-v20-migration/SKILL.md
  .agents/skills/opcua-v20-migration/references/analyzer-rules.md
  .agents/skills/opcua-v20-migration/references/migration-patterns.md
  .agents/skills/opcua-v20-migration/references/source-generator.md
  Docs/AliasNames.md
  Docs/IdentityProviders.md
  Docs/MigrationGuide.md
  Docs/Profiles.md
  Docs/README.md
  Docs/Sessions.md
  Docs/Subscriptions.md
  Docs/UnboundedSubscriptions.md
  Docs/WhatsNewIn2.0.md
  Docs/migrate/2.0.x/README.md
  Docs/migrate/2.0.x/alarms-model-change.md
  Docs/migrate/2.0.x/certificates.md
  Docs/migrate/2.0.x/configuration.md
  Docs/migrate/2.0.x/encoders.md
  Docs/migrate/2.0.x/identity.md
  Docs/migrate/2.0.x/node-states.md
  Docs/migrate/2.0.x/packages.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
  Docs/migrate/2.0.x/source-generation.md
  Docs/migrate/2.0.x/telemetry.md
  Docs/migrate/2.0.x/timeprovider.md
  Docs/migrate/2.0.x/types.md
  README.md
  Tools/Opc.Ua.MigrationAnalyzer/AnalyzerReleases.Unshipped.md
  Tools/Opc.Ua.MigrationAnalyzer/Analyzers/UA0021CertificateValidatorRenameAnalyzer.cs
  Tools/Opc.Ua.MigrationAnalyzer/Diagnostics/DiagnosticDescriptors.cs
  Tools/Opc.Ua.MigrationAnalyzer/Diagnostics/DiagnosticIds.cs
  Tools/Opc.Ua.MigrationAnalyzer/NugetREADME.md
Due: azure-pipelines.yml

feat(rest): Tier-1 follow-up — UseSession wrapper, auth/contributor tests, real-listener integration
  Libraries/Opc.Ua.Client/Rest/IRestApiSession.cs
  Libraries/Opc.Ua.Client/Rest/RestApiClient.cs
  Libraries/Opc.Ua.Client/Rest/RestApiSession.cs
  Libraries/Opc.Ua.Client/Rest/RestApiSessionExtensions.cs
  Libraries/Opc.Ua.Client/Rest/RestApiSessionOptions.cs
  Stack/Opc.Ua.Bindings.Https/Opc.Ua.Bindings.Https.csproj
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/IHttpsListenerStartupContributor.cs
  Stack/Opc.Ua.Bindings.Rest/Authentication/BasicAuthenticationHandler.cs
  Stack/Opc.Ua.Bindings.Rest/Opc.Ua.Bindings.Rest.csproj
  Stack/Opc.Ua.Bindings.Rest/RestApiHttpsStartupContributor.cs
  Stack/Opc.Ua.Bindings.Rest/RestApiServer.cs
  Tests/Opc.Ua.Bindings.Rest.Tests/Authentication/BasicAuthenticationHandlerTests.cs
  Tests/Opc.Ua.Bindings.Rest.Tests/Authentication/DefaultSessionlessIdentityProviderTests.cs
  Tests/Opc.Ua.Bindings.Rest.Tests/Authentication/RestApiAuthExtensionsTests.cs
  Tests/Opc.Ua.Bindings.Rest.Tests/HttpsListenerStartupContributorTests.cs
  Tests/Opc.Ua.Bindings.Rest.Tests/Opc.Ua.Bindings.Rest.Tests.csproj
  Tests/Opc.Ua.Bindings.Rest.Tests/RealHttpsListenerIntegrationTests.cs
  Tests/Opc.Ua.Bindings.Rest.Tests/RestApiControllerIntegrationTests.cs
  Tests/Opc.Ua.Bindings.Rest.Tests/RestApiSessionTests.cs
  Tests/Opc.Ua.Sessions.Tests/HttpsRestApiIntegrationTests.cs
  Tests/Opc.Ua.Sessions.Tests/Opc.Ua.Sessions.Tests.csproj
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(webapi): integrate WebApi into ManagedSession + fluent builder
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/WebApi/IWebApiClient.cs
  Libraries/Opc.Ua.Client/WebApi/IWebApiSession.cs
  Libraries/Opc.Ua.Client/WebApi/OpcUaWebApiClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiClient.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiSession.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiSessionExtensions.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiSessionOptions.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiTransportChannel.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiTransportChannelFactory.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Stack/WebApi/WebApiBodyCodec.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiSessionTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiTransportChannelTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/WebApi/WebApiBodyCodecTests.cs
  Tests/Opc.Ua.Sessions.Tests/HttpsWebApiIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(openapi): discovery emission + Profiles rename + ManagedSession activation fix
  Docs/Profiles.md
  Docs/Transports.md
  Docs/WebApi.md
  Docs/migrate/2.0.x/README.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/WebApi/OpcUaWebApiClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiTransportChannel.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiTransportChannelFactory.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsServiceHost.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Bindings.WebApi/WebApiHttpsStartupContributor.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityConstants.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiTransportChannelTests.cs
  Tests/Opc.Ua.Core.Tests/Stack/WebApi/WebApiMediaTypeTests.cs
  Tests/Opc.Ua.Sessions.Tests/HttpsWebApiIntegrationTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Port session activation race condition fix from master378 to master (#3846)
  Libraries/Opc.Ua.Server/Server/StandardServer.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(review): trim sessions-subscriptions.md to migration-only content + rename AddOpcUaBindingsPcap → AddPcapBinding
  Applications/McpServer/Program.cs
  Docs/PacketCapture.md
  Docs/migrate/2.0.x/sessions-subscriptions.md
  Stack/Opc.Ua.Bindings.Pcap/Bindings/ChannelCaptureRegistry.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/PcapBindings.cs
  Stack/Opc.Ua.Bindings.Pcap/Bindings/PcapTransportChannelBinding.cs
  Stack/Opc.Ua.Bindings.Pcap/DependencyInjection/PcapServiceCollectionExtensions.cs
  Stack/Opc.Ua.Bindings.Pcap/KeyLog/IKeyEscrowProvider.cs
  Stack/Opc.Ua.Bindings.Pcap/NugetREADME.md
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapOptionsDiagnosticsToolsGateTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/DependencyInjection/PcapServiceCollectionExtensionsTests.cs
  Tests/Opc.Ua.Bindings.Pcap.Tests/KeyLog/KeyEscrowProviderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(openapi): WSS opcua+openapi sub-protocol + client/server + bearer token
  Docs/Profiles.md
  Docs/Transports.md
  Docs/WebApi.md
  Docs/migrate/2.0.x/README.md
  Libraries/Opc.Ua.Client/Fluent/ManagedSessionBuilder.cs
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/WebApi/OpcUaWebApiClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannel.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannelFactory.cs
  Stack/Opc.Ua.Bindings.Https/Stack/Https/HttpsTransportListener.cs
  Stack/Opc.Ua.Core/Security/Constants/SecurityConstants.cs
  Stack/Opc.Ua.Core/Stack/Client/Channels/ClientChannelManager.cs
  Stack/Opc.Ua.Core/Types/Utils/Utils.cs
  Tests/Opc.Ua.Sessions.Tests/WssOpenApiIntegrationTests.cs
  plans/25-wss-openapi-subprotocols.md
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix #3546: assertive FuzzCrashAssets + BinaryDecoder hardens matrix dimensions
  .github/agents/fuzz-tester.agent.md
  Fuzzing/Common/Fuzz.Tests/FuzzTargetTestsBase.cs
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Binary/datatypenodemessage.bin
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Binary/variablenodemessage.bin
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Json/datatypenodemessage.json
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Json/variablenodemessage.json
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Xml/datatypenodemessage.xml
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Xml/variablenodemessage.xml
  Fuzzing/Opc.Ua.Encoders.Fuzz.Tests/Issue3546RoundTripTests.cs
  Fuzzing/Opc.Ua.Encoders.Fuzz.Tools/Encoders.Testcases.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BinaryDecoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

CI: add GitHub Actions parity for .azurepipelines/preview.yml → GitHub Packages
  .github/workflows/preview-publish.yml
Due: azure-pipelines.yml

feat(webapi): JwtClaim sessionless identity provider + WSS channel unit tests
  Docs/WebApi.md
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannel.cs
  Stack/Opc.Ua.Bindings.WebApi/Authentication/JwtClaimSessionlessIdentityProvider.cs
  Stack/Opc.Ua.Bindings.WebApi/DependencyInjection/OpcUaWebApiAuthenticationBuilderExtensions.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Authentication/JwtClaimSessionlessIdentityProviderTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiWssTransportChannelTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(review): CA2000 / CA1845 / using simplification / redundant nullable directives
  Stack/Opc.Ua.Bindings.Https/Stack/Https/SharedKestrelHostRegistry.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpConnectionHandler.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/KestrelTcpTransportListener.cs
  Stack/Opc.Ua.Bindings.Kestrel.Tcp/PipeByteTransport.cs
  Stack/Opc.Ua.Core/Stack/Bindings/DefaultTransportBindingRegistry.cs
  Stack/Opc.Ua.Core/Stack/Tcp/TcpByteTransport.cs
  Tests/Opc.Ua.Core.Tests/Stack/Transport/SharedKestrelHostTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

[Server] Dispatch singleton-instance NodeIds inside type-level factories
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Tests/Opc.Ua.Core.Security.Tests/WellKnownRoleNodeIds.cs
  Tests/Opc.Ua.Server.Tests/ConfigurationNodeManagerTests.cs
  Tests/Opc.Ua.Server.Tests/DiagnosticsNodeManagerTests.cs
  Tests/Opc.Ua.SourceGeneration.Core.Tests/Generators/NodeStateGeneratorTests.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(ci): pcap test regression — revert CA1845 span-Concat in DefaultTransportBindingRegistry
  Stack/Opc.Ua.Core/Stack/Bindings/DefaultTransportBindingRegistry.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Address PR review feedback
  Libraries/Opc.Ua.Server/Diagnostics/DiagnosticsNodeManager.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateGenerator.cs
  Tools/Opc.Ua.SourceGeneration.Core/Generators/NodeStateTemplates.cs
  Tools/Opc.Ua.SourceGeneration.Core/Templating/Tokens.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix #3546: re-enable FuzzCrashAssets and harden BinaryDecoder (#3884)
  .github/agents/fuzz-tester.agent.md
  Fuzzing/Common/Fuzz.Tests/FuzzTargetTestsBase.cs
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Binary/datatypenodemessage.bin
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Binary/variablenodemessage.bin
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Json/datatypenodemessage.json
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Json/variablenodemessage.json
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Xml/datatypenodemessage.xml
  Fuzzing/Opc.Ua.Encoders.Fuzz.Corpus/Testcases.Xml/variablenodemessage.xml
  Fuzzing/Opc.Ua.Encoders.Fuzz.Tests/Issue3546RoundTripTests.cs
  Fuzzing/Opc.Ua.Encoders.Fuzz.Tools/Encoders.Testcases.cs
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
  Tests/Opc.Ua.Types.Tests/Encoders/BinaryDecoderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

feat(webapi): migrate to Minimal API for NativeAOT compatibility
  Docs/NativeAoT.md
  Docs/WebApi.md
  Docs/migrate/2.0.x/README.md
  Stack/Opc.Ua.Bindings.WebApi/Authentication/JwtClaimSessionlessIdentityProvider.cs
  Stack/Opc.Ua.Bindings.WebApi/Controllers/AttributeController.cs
  Stack/Opc.Ua.Bindings.WebApi/Controllers/DiscoveryController.cs
  Stack/Opc.Ua.Bindings.WebApi/Controllers/MethodController.cs
  Stack/Opc.Ua.Bindings.WebApi/Controllers/MonitoredItemController.cs
  Stack/Opc.Ua.Bindings.WebApi/Controllers/SessionController.cs
  Stack/Opc.Ua.Bindings.WebApi/Controllers/SubscriptionController.cs
  Stack/Opc.Ua.Bindings.WebApi/Controllers/ViewController.cs
  Stack/Opc.Ua.Bindings.WebApi/Controllers/WebApiControllerBase.cs
  Stack/Opc.Ua.Bindings.WebApi/DependencyInjection/OpcUaWebApiBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.WebApi/Endpoints/WebApiEndpointDispatcher.cs
  Stack/Opc.Ua.Bindings.WebApi/Endpoints/WebApiEndpointRouteBuilderExtensions.cs
  Stack/Opc.Ua.Bindings.WebApi/IWebApiServer.cs
  Stack/Opc.Ua.Bindings.WebApi/Opc.Ua.Bindings.WebApi.csproj
  Stack/Opc.Ua.Bindings.WebApi/WebApiHttpsStartupContributor.cs
  Tests/Opc.Ua.Aot.Tests/Opc.Ua.Aot.Tests.csproj
  Tests/Opc.Ua.Aot.Tests/StubWebApiServer.cs
  Tests/Opc.Ua.Aot.Tests/WebApiAotFixture.cs
  Tests/Opc.Ua.Aot.Tests/WebApiAotTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Endpoints/WebApiEndpointDispatcherTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Opc.Ua.Bindings.WebApi.Tests.csproj
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiEndpointIntegrationTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiTransportChannelTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(webapi): address PR #3882 review feedback
  Docs/WebApi.md
Due: none

docs(migrate): drop 'Smaller renames' section per review comment 3414722851
  Docs/migrate/2.0.x/README.md
Due: none

fix(webapi): address PR #3882 review feedback on regions + Web API discovery
  Libraries/Opc.Ua.Client/Session/ManagedSession.cs
  Libraries/Opc.Ua.Client/WebApi/IWebApiClient.cs
  Stack/Opc.Ua.Bindings.WebApi/Endpoints/WebApiEndpointRouteBuilderExtensions.cs
  Tests/Opc.Ua.Aot.Tests/WebApiAotTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Authentication/JwtClaimSessionlessIdentityProviderTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/Endpoints/WebApiEndpointDispatcherTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiEndpointIntegrationTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiTransportChannelTests.cs
  Tests/Opc.Ua.Bindings.WebApi.Tests/WebApiWssTransportChannelTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

fix(webapi): batch follow-ups on PR #3882 second-round review
  .github/copilot-instructions.md
  Libraries/Opc.Ua.Client/WebApi/IWebApiClient.cs
  Libraries/Opc.Ua.Client/WebApi/OpcUaWebApiClientBuilderExtensions.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiClient.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiTransportChannel.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiTransportChannelFactory.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannel.cs
  Libraries/Opc.Ua.Client/WebApi/WebApiWssTransportChannelFactory.cs
  Stack/Opc.Ua.Bindings.WebApi/Endpoints/WebApiEndpointDispatcher.cs
  Stack/Opc.Ua.Bindings.WebApi/Endpoints/WebApiEndpointRouteBuilderExtensions.cs
  Stack/Opc.Ua.Core/Stack/WebApi/WebApiServiceRoutes.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

docs(webapi): remove Tooling notes section per PR #3882 review
  Docs/WebApi.md
Due: none

fix(review): drop issue-#3288 reference and stale 'now' wording in docs
  Docs/PacketCapture.md
  Docs/Profiles.md
Due: none

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
