Repository OPCFoundation/UA-.NETStandard: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-preview.yml:
  stages:
  - stage: nugetpreview
    displayName: Push Nuget Preview
    jobs:
    - template: .azurepipelines/preview.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: Release
    - template: .azurepipelines/preview.yml
      parameters:
  ...

azure-pipelines.yml:
  stages:
  - stage: build
    displayName: Build .NET Core Samples
    jobs:
    - template: .azurepipelines/ci.yml
  - stage: buildnohttps
    dependsOn: []
    displayName: Build NoHttps .NET Core Samples
    condition: ne(variables.FullBuild, 'False')
    jobs:
    - template: .azurepipelines/ci.yml
      parameters:
  ...

PubSub Actions S5 + S6: server method binding + DI/fluent responder wiring
  Libraries/Opc.Ua.PubSub.Server/DependencyInjection/OpcUaServerBuilderPubSubExtensions.cs
  Libraries/Opc.Ua.PubSub.Server/DependencyInjection/PubSubServerBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubActionMethodRegistrar.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubActionMethodRegistration.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManager.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManagerFactory.cs
  Libraries/Opc.Ua.PubSub.Server/ServerMethodActionHandler.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplicationBuilder.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/IPubSubBuilder.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/OpcUaPubSubBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/PubSubBuilder.cs
  Tests/Opc.Ua.PubSub.Server.Tests/OpcUaServerBuilderPubSubExtensionsTests.cs
  Tests/Opc.Ua.PubSub.Server.Tests/ServerMethodActionHandlerTests.cs
  Tests/Opc.Ua.PubSub.Tests/DependencyInjection/PubSubActionResponderBuilderTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

PubSub Actions S7: MCP PubSubActionTools
  Applications/McpServer/Program.cs
  Applications/McpServer/PubSubRuntimeManager.cs
  Applications/McpServer/Tools/PubSubActionTools.cs
Due: azure-pipelines.yml

Docs: reflect implemented future-work optimizations in Benchmarks.md
  Docs/Benchmarks.md
Due: none

PubSub Actions S8: docs + mark plans/28 implemented
  Docs/McpServer.md
  Docs/PubSub.md
  plans/28-pubsub-actions.md
Due: azure-pipelines.yml

Fix PubSubConnection private-method test reflection ambiguity
  Tests/Opc.Ua.PubSub.Tests/Connections/PubSubConnectionPrivateMethodTests.cs
Due: azure-pipelines.yml

Docs: add 'Optimizations delivered' summary to Benchmarks.md
  Docs/Benchmarks.md
Due: none

Docs: reframe Benchmarks.md as current-state per review
  Docs/Benchmarks.md
Due: none

fix(tests): add skip-remaining-teardowns pattern to TestFixture
  Tests/Opc.Ua.Client.TestFramework/TestFixture.cs
Due: azure-pipelines.yml

Remove RecyclableMemoryStream test dependency
  Directory.Packages.props
  Tests/Opc.Ua.Core.Encoders.Tests/BinaryEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Encoders.Tests/EncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Encoders.Tests/EncoderTests.cs
  Tests/Opc.Ua.Core.Encoders.Tests/JsonEncoderBenchmarks.cs
  Tests/Opc.Ua.Core.Encoders.Tests/JsonEncoderEscapeStringBenchmarks.cs
  Tests/Opc.Ua.Core.Encoders.Tests/JsonEncoderTests.cs
  Tests/Opc.Ua.Core.Encoders.Tests/Opc.Ua.Core.Encoders.Tests.csproj
  Tests/Opc.Ua.Core.TestFramework/EncoderCommon.cs
  Tests/Opc.Ua.Core.TestFramework/Opc.Ua.Core.TestFramework.csproj
  Tests/Opc.Ua.Core.Tests/Opc.Ua.Core.Tests.csproj
Due: azure-pipelines.yml

Optimize BinaryDecoder buffer reads
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Optimize BinaryEncoder buffer writes
  Stack/Opc.Ua.Types/Encoders/BinaryEncoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add bulk numeric array reads
  Stack/Opc.Ua.Types/Encoders/BinaryDecoder.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix PubSub MQTT topics and discovery encoding
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/MqttClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttBrokerTransport.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttConnectionOptions.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttEndpointParser.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttTopicBuilder.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttTopicOptions.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDiscoveryCoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDiscoveryProbeFilter.cs
  Libraries/Opc.Ua.PubSub/Transports/IPubSubTopicProvider.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttConnectionOptionsTests.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttEndpointParserTests.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttTopicBuilderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Application/MetaDataPublisherTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpDiscoveryFamilyTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix PubSub message encoding conformance
  Libraries/Opc.Ua.PubSub/Encoding/DataSetField.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonActionNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDataSetMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDiscoveryMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonFieldEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonNetworkMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/ExtendedFlags1EncodingMask.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionCoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionRequestMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionResponseMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpFieldDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpFieldEncoder.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonActionNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonDiscoveryMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonEncoderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonSingleMessageModeTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonSingleNetworkMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpActionTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpDiscoveryTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpEncoderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpFlagsTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpPublisherIdTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpRawDataPaddingTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: reflect BinaryEncoder/Decoder BinaryPrimitives + bulk-read work
  Docs/Benchmarks.md
Due: none

Fix PubSub config model state handling
  Libraries/Opc.Ua.PubSub.Server/PubSubMethodHandlers.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManager.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Configuration/ConfigurationVersionUtils.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/DataSets/PublishedDataSet.cs
  Libraries/Opc.Ua.PubSub/Groups/ReaderGroup.cs
  Libraries/Opc.Ua.PubSub/Groups/WriterGroup.cs
  Libraries/Opc.Ua.PubSub/StateMachine/PubSubStateMachine.cs
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubNodeManagerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Configuration/ConfigurationVersionUtilsTests.cs
  Tests/Opc.Ua.PubSub.Tests/Groups/ReaderGroupTests.cs
  Tests/Opc.Ua.PubSub.Tests/StateMachine/PubSubStateMachineTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Implement PubSub SKS push and key rotation
  Libraries/Opc.Ua.PubSub.Server/DependencyInjection/OpcUaServerBuilderPubSubExtensions.cs
  Libraries/Opc.Ua.PubSub.Server/DependencyInjection/PubSubServerBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubMethodHandlers.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManager.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManagerFactory.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubServerOptions.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/PubSubSecurityServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/IPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/InMemoryPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/OpcUaSecurityKeyServiceClient.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/PushSecurityKeyProvider.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksSecurityGroup.cs
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubMethodHandlersTests.cs
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubNodeManagerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/InMemoryPubSubKeyServiceServerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/OpcUaSecurityKeyServiceClientTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Complete MQTT discovery status wiring
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/MqttClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttBrokerTransport.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttPubSubTransportFactory.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpEndpointParser.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDiscoveryMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpApplicationStatus.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDiscoveryCoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDiscoveryResponseMessage.cs
  Libraries/Opc.Ua.PubSub/Transports/IPubSubLastWillConfigurator.cs
  Libraries/Opc.Ua.PubSub/Transports/IPubSubTopicProvider.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttBrokerTransportLifecycleTests.cs
  Tests/Opc.Ua.PubSub.Tests/Application/MetaDataPublisherTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpDiscoveryFamilyTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpDatagramTransportV2Tests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpEndpointParserTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Complete PubSub configuration model methods
  Libraries/Opc.Ua.PubSub.Server/PubSubMethodHandlers.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManager.cs
  Libraries/Opc.Ua.PubSub/Configuration/UaPubSubConfigurationHelper.cs
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubMethodHandlersFullCoverageTests.cs
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubMethodHandlersMutationTests.cs
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Finish PubSub discovery announcements
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/MqttClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Libraries/Opc.Ua.PubSub/Transports/IPubSubDiscoveryAnnouncementTransport.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttClientAdapterGuardTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpEndpointParserTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix down-level (net48/netstandard) compatibility in merged PubSub conformance work
  Libraries/Opc.Ua.PubSub.Server/PubSubMethodHandlers.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Document Part 14 v1.05.07 PubSub conformance changes
  Docs/PubSub.md
  Docs/migrate/2.0.x/pubsub.md
Due: none

Improve session benchmark fidelity
  Stack/Opc.Ua.Core/Stack/Client/DiscoveryClient.cs
  Tests/Opc.Ua.Sessions.Tests/SecurityPolicyBenchmarks.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Docs: correct encoder allocation claim + note apples-to-apples session benchmark
  Docs/Benchmarks.md
Due: none

Docs: sharpen encoder parity future-work with profile finding
  Docs/Benchmarks.md
Due: none

Docs: finalize Benchmarks.md for accuracy and consistency
  Docs/Benchmarks.md
Due: none

Fix PubSub round 2 encoding conformance
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Json/JsonEncoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/PubSubNetworkMessageContext.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionCoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionRequestMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpActionResponseMessage.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpDecoder.cs
  Libraries/Opc.Ua.PubSub/Encoding/Uadp/UadpEncoder.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonDecoderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonDiscoveryMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonEncoderTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Json/JsonMetaDataMessageTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpActionTests.cs
  Tests/Opc.Ua.PubSub.Tests/Encoding/Uadp/UadpTestUtilities.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix PubSub dynamic address space routing
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManager.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Configuration/ConfigurationVersionUtils.cs
  Libraries/Opc.Ua.PubSub/StateMachine/PubSubStateMachine.cs
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubNodeManagerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Harden PubSub SKS key handling
  Libraries/Opc.Ua.PubSub.Server/DependencyInjection/PubSubServerBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubMethodHandlers.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/InMemoryPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksSecurityGroup.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Fix PubSub transport remediation gaps
  Libraries/Opc.Ua.PubSub.Mqtt/Internal/MqttClientAdapter.cs
  Libraries/Opc.Ua.PubSub.Mqtt/MqttEndpointParser.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpDatagramTransport.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpEndpointParser.cs
  Libraries/Opc.Ua.PubSub/Connections/PubSubConnection.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttClientAdapterGuardTests.cs
  Tests/Opc.Ua.PubSub.Mqtt.Tests/MqttEndpointParserTests.cs
  Tests/Opc.Ua.PubSub.Tests/Connections/PubSubConnectionPrivateMethodTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpDatagramTransportV2Tests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpEndpointParserTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add DTLS profile registry
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsProfile.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsProfileRegistry.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsProfileRegistryTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add DTLS transport scaffolding
  Libraries/Opc.Ua.PubSub.Udp/DependencyInjection/UdpTransportServiceCollectionExtensions.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DefaultDtlsContextFactory.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsTransportOptions.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/IDtlsContextFactory.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpTransportServiceCollectionExtensionsTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Wire opc.dtls endpoints into UDP transport
  Docs/PubSub.md
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsDatagramTransport.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpEndpoint.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpEndpointParser.cs
  Libraries/Opc.Ua.PubSub.Udp/UdpPubSubTransportFactory.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/UdpEndpointParserTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add DTLS record protection mechanics
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsAntiReplayWindow.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsHkdf.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsRecordProtection.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsRecordProtectionTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Add TLS 1.3 DTLS key schedule
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsKeySchedule.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsTranscriptHash.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsKeyScheduleTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Keep DTLS crypto helpers cross-TFM safe
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsCryptographicOperations.cs
  Libraries/Opc.Ua.PubSub.Udp/Security/Dtls/DtlsRecordProtection.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Use DTLS crypto wrapper in tests
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsKeyScheduleTests.cs
Due: azure-pipelines.yml

Materialize PubSub SKS address-space nodes
  Libraries/Opc.Ua.PubSub.Server/PubSubMethodHandlers.cs
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManager.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/IPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/InMemoryPubSubKeyServiceServer.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksMethodHandler.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/SksSecurityGroup.cs
  Tests/Opc.Ua.PubSub.Server.Tests/PubSubNodeManagerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/InMemoryPubSubKeyServiceServerTests.cs
  Tests/Opc.Ua.PubSub.Tests/Security/Sks/SksMethodHandlerTests.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Keep DTLS crypto tests on supported TFMs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsKeyScheduleTests.cs
  Tests/Opc.Ua.PubSub.Udp.Tests/Security/Dtls/DtlsRecordProtectionTests.cs
Due: azure-pipelines.yml

Add PubSub HA provider contracts
  Docs/PubSub.md
  Libraries/Opc.Ua.PubSub.Server/PubSubNodeManager.cs
  Libraries/Opc.Ua.PubSub/Application/PubSubApplication.cs
  Libraries/Opc.Ua.PubSub/Configuration/IPubSubIdAllocator.cs
  Libraries/Opc.Ua.PubSub/Configuration/IPubSubRuntimeStateStore.cs
  Libraries/Opc.Ua.PubSub/Configuration/InMemoryPubSubStores.cs
  Libraries/Opc.Ua.PubSub/Configuration/XmlPubSubConfigurationStore.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/IPubSubBuilder.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/OpcUaPubSubBuilderExtensions.cs
  Libraries/Opc.Ua.PubSub/DependencyInjection/PubSubBuilder.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/IPubSubSecurityKeyStore.cs
  Libraries/Opc.Ua.PubSub/Security/Sks/InMemoryPubSubSecurityKeyStore.cs
Due: azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-preview.yml: any of: Stack, Libraries
  azure-pipelines.yml: any of: *, but not: Docs, README.md
